Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[ai][go] cover the LiDAR CLI applets and replay harness error paths
  internal/cmd/lidar/replay.go
  internal/cmd/lidar/replay_test.go
  internal/lidar/replayeval/replayeval_pcap_test.go
Due: format-go

[docs] Update performance regression testing and state estimation plans with recovery checkpoints and status improvements
  docs/lidar/operations/performance-regression-testing.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
Due: format-markdown

[py] Add lidar jump candidates extractor and corresponding unit tests
  scripts/lidar-jump-candidates.py
  scripts/test_lidar_jump_candidates.py
Due: none

[ai][go][docs] make host class a dimension of the performance matrix
  Makefile
  docs/lidar/operations/performance-regression-testing.md
  internal/cmd/lidar/bench.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/perf/baseline/baseline-kirk0-full-mac.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only-mac.json
Due: format-go, format-markdown

[docs] Update backlog with new Pi performance benchmark automation and static binary details
  docs/BACKLOG.md
Due: format-markdown

[docs] Add Pi performance benchmark runbook for capturing and refreshing baselines
  docs/lidar/operations/pi-benchmark-runbook.md
Due: format-markdown

[cfg] Add max_sample_points parameter to configuration files for DBSCAN
  config/CONFIG.md
  config/profiles/detect.json
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
Due: format-markdown

[go] L4/L5 Add L4BObserve and L4Perception modules with tests for evidence handling and clustering
  internal/lidar/l4bobserve/observation.go
  internal/lidar/l4bobserve/observation_test.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/l4perception/retention_test.go
  internal/lidar/l4perception/types.go
  internal/lidar/l5tracks/residuals.go
  internal/lidar/l5tracks/residuals_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_update.go
Due: format-go

[go] Add max_sample_points to L4Common configuration and validation
  internal/config/tuning.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_validate.go
Due: format-go

[go] Add debug recording options and enhance tracking baseline handling
  internal/cmd/lidar/replay.go
  internal/cmd/lidar/replay_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/replayeval/replay_window_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: format-go

[go] L9 Enhance diagnostic data handling and add sample points support in frame processing
  internal/lidar/l9endpoints/adapter.go
  internal/lidar/l9endpoints/adapter_test.go
  internal/lidar/l9endpoints/debug_proto.go
  internal/lidar/l9endpoints/debug_proto_test.go
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server_test.go
  internal/lidar/l9endpoints/recorder/proto_codec.go
Due: format-go

[go] add max_sample_points to the remaining L4 config fixtures
  cmd/tools/config-migrate/main_test.go
  cmd/tools/config-validate/main_test.go
  internal/config/tuning_test.go
Due: format-go

[go] fix a broken import in replay_test.go
  internal/cmd/lidar/replay_test.go
Due: format-go

[docs] update various plans with retention details, recovery checkpoints, and observation model progress
  config/CONFIG.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
Due: format-markdown

[cfg] update baseline performance metrics and timestamps for kirk0 configurations
  internal/lidar/perf/baseline/baseline-kirk0-full-mac.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only-mac.json
Due: none

[go] refactor replay evaluation runtime and enhance error handling in tests
  internal/cmd/lidar/replay_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_test.go
  internal/lidar/replayeval/runtime.go
  internal/lidar/replayeval/runtime_pcap_test.go
Due: format-go

[go] enhance Record structure with SchemaVersion and CalibrationID; add Primitives type for geometric data
  internal/lidar/l4bobserve/observation.go
  internal/lidar/l4bobserve/observation_test.go
Due: format-go

refactor test assertions for improved readability and consistency
  public_html/src/js/__tests__/scene-playback.test.mjs
  public_html/src/js/__tests__/scene-speed-stats.test.mjs
  public_html/src/js/__tests__/scene-timeline.test.mjs
  public_html/src/js/scene-playback.js
Due: none

[lidar][web] import multi-file archive replay cases
  cmd/tools/import-s2-site-index/main.go
  internal/lidar/capindex/capindex_test.go
  internal/lidar/capindex/indexer.go
  internal/lidar/capindex/scan.go
  internal/lidar/server/capture_api.go
  internal/lidar/server/capture_api_test.go
  internal/lidar/server/replay_case_files_test.go
  internal/lidar/server/scene_api.go
  internal/lidar/storage/sqlite/capture_store.go
  web/src/lib/api.ts
  web/src/lib/types/captures.ts
  web/src/routes/lidar/captures/+page.svelte
  web/src/routes/lidar/replay-cases/+page.svelte
Due: format-go, format-web

[lidar] replay immutable multi-file cases
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/l3grid/ground_surface.go
  internal/lidar/l3grid/ground_surface_test.go
  internal/lidar/l4perception/surface_filter.go
  internal/lidar/l4perception/surface_filter_test.go
  internal/lidar/l4perception/types.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/replay_observation_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_test.go
Due: format-go, format-markdown

[lidar] add immutable observation replay foundation
  cmd/tools/import-s2-site-index/main.go
  cmd/tools/import-s2-site-index/main_test.go
  docs/plans/lidar-state-estimation-plan.md
  internal/db/migrations/000047_lidar_observations.down.sql
  internal/db/migrations/000047_lidar_observations.up.sql
  internal/db/schema.sql
  internal/lidar/l4bobserve/identity.go
  internal/lidar/l4bobserve/identity_test.go
  internal/lidar/l4bobserve/primitives.go
  internal/lidar/l4bobserve/primitives_test.go
  internal/lidar/pipeline/observation_sink.go
  internal/lidar/pipeline/observation_sink_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/observation_store.go
  internal/lidar/storage/sqlite/observation_store_test.go
  tools/s2-archive/state-estimation-phase01-corpus.json
Due: format-go, format-markdown, format-sql

[lidar] use OBB centre measurement provenance
  docs/plans/lidar-state-estimation-plan.md
  internal/db/migrations/000048_track_observation_measurement_provenance.down.sql
  internal/db/migrations/000048_track_observation_measurement_provenance.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/measurement.go
  internal/lidar/l5tracks/measurement_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/storage/sqlite/track_store_test.go
Due: format-go, format-markdown, format-sql

[docs] Add SQLite schema v2 freeze-and-cleanup plan documentation
  docs/plans/data-sqlite-schema-v2-freeze-plan.md
Due: format-markdown

Document deterministic scene capture milestones
  docs/BACKLOG.md
Due: format-markdown

[lidar] persist versioned state estimates and residuals
  docs/plans/lidar-state-estimation-plan.md
  internal/db/migrations/000049_lidar_track_state_records.down.sql
  internal/db/migrations/000049_lidar_track_state_records.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/measurement.go
  internal/lidar/l5tracks/measurement_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/pipeline/state_estimate_sink.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/state_estimate_store.go
  internal/lidar/storage/sqlite/state_estimate_store_test.go
Due: format-go, format-markdown, format-sql

[py] cleanup
  scripts/lidar-jump-candidates.py
  scripts/test_lidar_jump_candidates.py
Due: none

[lidar] add identified measurement gate replay
  cmd/tools/lidar-state-estimation-baseline/main.go
  internal/lidar/l5tracks/measurement.go
  internal/lidar/l5tracks/measurement_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/replayeval/replayeval.go
  tools/s2-archive/export-static-pcaps.py
  tools/state-estimation-gate.py
Due: format-go, format-python

[pcap] prepare static captures for Hugging Face
  Makefile
  internal/lidar/pcapsplit/export_test.go
  internal/lidar/pcapsplit/run.go
  internal/lidar/pcapsplit/split.go
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/export-static-pcaps.py
  tools/s2-archive/huggingface-dataset-layout.md
  tools/s2-archive/organise-static-pcaps.mjs
  tools/s2-archive/site-index.json
  tools/s2-archive/stage-huggingface-dataset.mjs
  tools/s2-archive/test_export_static_pcaps.py
Due: format-go, format-python, format-markdown

[lidar] export settled static site captures
  internal/lidar/replayeval/replay_observation_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/export-static-pcaps.py
  tools/s2-archive/site-index.json
Due: format-go, format-python, format-markdown

[lidar] batch immutable frame evidence
  docs/BACKLOG.md
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
  docs/plans/lidar-lossless-observation-persistence-batching-plan.md
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/pipeline/observation_sink.go
  internal/lidar/pipeline/state_estimate_sink.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/storage/sqlite/frame_evidence_store.go
  internal/lidar/storage/sqlite/observation_store.go
  internal/lidar/storage/sqlite/observation_store_test.go
  internal/lidar/storage/sqlite/state_estimate_store.go
Due: format-go, format-markdown

[pcap] externalise Hugging Face dataset card
  tools/s2-archive/huggingface-dataset-README.md
  tools/s2-archive/stage-huggingface-dataset.mjs
Due: format-markdown

[lidar] stabilise state-estimation replay
  cmd/tools/lidar-state-estimation-baseline/main.go
  internal/lidar/l4perception/voxel.go
  internal/lidar/l4perception/voxel_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_test.go
Due: format-go

[docs] restore backlog release-list format
  docs/BACKLOG.md
Due: format-markdown

Update BACKLOG.md with enhanced formatting guidelines and project milestones
  docs/BACKLOG.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-bodies-in-motion-plan.md
  docs/plans/lidar-deterministic-scene-capture-plan.md
  docs/plans/lidar-ml-classifier-training-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-test-corpus-plan.md
  docs/plans/lidar-visualiser-stream-robustness-plan.md
  docs/plans/lidar-visualiser-trails-and-uncertainty-visualisation-plan.md
  docs/plans/metrics-registry-and-observability-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/radar-serial-line-classification-and-command-response-plan.md
  docs/plans/speed-percentile-aggregation-alignment-plan.md
Due: format-markdown

[lidar] add existing source manifest verification and improve source manifest handling
  cmd/tools/lidar-state-estimation-baseline/main.go
  cmd/tools/lidar-state-estimation-baseline/source_manifest.go
  cmd/tools/lidar-state-estimation-baseline/source_manifest_test.go
Due: format-go

[go] replace sql.Open with OpenReadOnly for safer database access test: add unit test for OpenReadOnly to ensure read-only behavior
  cmd/tools/lidar-evidence-oracle/main.go
  internal/lidar/storage/sqlite/dbconn.go
  internal/lidar/storage/sqlite/dbconn_test.go
Due: format-go

[feat] implement lidar-evidence-oracle and source manifest handling
  cmd/tools/lidar-evidence-oracle/main.go
  cmd/tools/lidar-state-estimation-baseline/main.go
  cmd/tools/lidar-state-estimation-baseline/source_manifest.go
  cmd/tools/lidar-state-estimation-baseline/source_manifest_test.go
  internal/lidar/storage/sqlite/evidence_oracle.go
  internal/lidar/storage/sqlite/evidence_oracle_test.go
Due: format-go

[lidar] streamline corpus replay preparation
  cmd/tools/lidar-state-estimation-baseline/main.go
  cmd/tools/lidar-state-estimation-baseline/source_manifest_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_test.go
Due: format-go

[go] enhance FrameEvidenceStore with prepared statements and cleanup logic
  internal/lidar/replayeval/replayeval.go
  internal/lidar/storage/sqlite/frame_evidence_store.go
  internal/lidar/storage/sqlite/observation_store_test.go
Due: format-go

[lidar] profile frame evidence persistence
  internal/lidar/storage/sqlite/frame_evidence_store.go
  internal/lidar/storage/sqlite/observation_store_test.go
  internal/lidar/storage/sqlite/test_helpers.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
