Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] Enhance tests for SerialPortManager: improve channel management and verification
  internal/api/serial_reload_test.go
Due: format-go

Add test coverage for hot-reload endpoint implementation (#105)
  docs/reload/IMPLEMENTATION_VERIFIED.md
  docs/reload/README_P1_FIX.md
  internal/api/serial_reload_test.go
Due: format-go

[ci] trigger Python CI on changes to root Python files
  .github/workflows/python-tests.yml
Due: none

[ci] update paths in web CI trigger to include package.json and pnpm-lock.yaml
  .github/workflows/web-tests.yml
Due: none

[ci] rename {python,web}-tests to *-ci
  .github/workflows/python-ci.yml
  .github/workflows/web-ci.yml
Due: none

[ci] check repo root py/js files (#118)
  .github/workflows/python-ci.yml
  .github/workflows/web-ci.yml
Due: none

[ai] Apply suggestions from code review
  internal/api/serial_testing.go
  web/src/routes/settings/serial/+page.svelte
Due: format-go, format-web

[js] use resolve function for serial configuration link in settings page
  web/src/routes/settings/+page.svelte
Due: format-web

Implement serial reload manager and apply DB port settings (#102)
  cmd/radar/radar.go
  docs/features/serial-configuration-ui.md
  internal/api/serial_reload.go
  internal/api/server.go
  internal/serialmux/factory.go
  internal/serialmux/options.go
  internal/serialmux/serialmux.go
Due: format-go

[js] use resolve function for navigation paths in layout
  web/src/routes/+layout.svelte
Due: format-web

[go] refactor, add canLoadDatabaseSerialConfig function for clarity and reuse in main logic
  cmd/radar/radar.go
Due: format-go

[go] enhance isValidPortPath function: add validation for empty paths and improve security checks against symlink escape attacks
  internal/api/serial_config.go
Due: format-go

[go] refactor baud rate validation: extract standard baud rates to a constant and improve error messaging
  internal/serialmux/options.go
Due: format-go

[sql] lint
  data/migrations/20250826_rename_tables_column.sql
  data/migrations/20250827_migrate_ro_to_unix_timestamp.sql
  data/migrations/20251106_create_radar_serial_config.sql
Due: none

[ai] apply suggestions from code review
  data/migrations/20251106_create_radar_serial_config.sql
  internal/api/serial_testing.go
Due: format-go

[js] refactor imports in +page.svelte: reorganize and clean up component and API imports
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] add Tailwind CSS support: configure PostCSS and Tailwind settings
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.js
  web/tailwind.config.ts
  web/vite.config.ts
Due: format-web

[js] refactor +page.svelte: replace SelectField components with native select elements for improved performance and usability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: simplify label generation for port path options
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: streamline imports, enhance data loading, and replace SelectField with native select elements for improved performance
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: enhance state management and replace select elements with SelectField for improved usability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: enhance notification display and improve table styling for better readability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] bump svelte-check from 4.3.3 to 4.3.4
  web/package.json
  web/pnpm-lock.yaml
Due: format-web

[docs] remove MIGRATIONS.md as part of migration system overhaul
  MIGRATIONS.md
Due: none

[docs] remove design documents section and related files from README
  docs/README.md
Due: none

[js] bump svelte-check from 4.3.3 to 4.3.4 (#119)
  web/package.json
  web/pnpm-lock.yaml
Due: format-web

[ai] apply suggestions from code review
  docs/database-migration-system-design.md
Due: none

[docs] update setup guide with improved clarity and corrected commands
  docs/src/guides/setup.md
Due: none

[docs] enhance setup guide with improved clarity, structure, and additional details for building the privacy-first speed radar
  docs/src/guides/setup.md
Due: none

[docs] update web dashboard port from 8000 to 8080 in setup guide
  docs/src/guides/setup.md
Due: none

[docs] expand setup guide with detailed instructions and parts list for building a privacy-first speed radar
  docs/src/guides/setup.md
Due: none

[docs] init setup guide for Citizen Radar deployment
  docs/src/guides/setup.md
Due: none

[docs] correct start_time value in vehicle object JSON output
  docs/src/guides/setup.md
Due: none

[docs] improve clarity and conciseness in setup guide content
  docs/src/guides/setup.md
Due: none

[docs] enhance setup guide with detailed deployment options and sensor configurations
  docs/src/guides/setup.md
Due: none

[docs] improve formatting, enhance clarity, and reorganize deployment options
  docs/src/guides/setup.md
Due: none

[docs] remove expansion ideas section from setup guide for clarity
  docs/src/guides/setup.md
Due: none

[docs] enhance setup guide clarity: update section titles and add estimated times for each step
  docs/src/guides/setup.md
Due: none

Stop requiring cosine error angle when creating sites
  internal/api/server.go
Due: format-go
