Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] allow opt-in Tailscale ACLs for admin/view access
  docs/platform/operations/tailscale-remote-access.md
  internal/api/auth.go
  internal/api/auth_test.go
  internal/api/server.go
  internal/cmd/server/radar.go
  internal/tailscale/manager.go
  internal/tailscale/manager_test.go
  internal/tailscale/peercaps.go
  internal/tailscale/peercaps_test.go
  scripts/check-relative-links.py
Due: format-go, format-markdown

[ai][go] address CoPilot review on Tailscale ACL gate
  docs/platform/operations/tailscale-remote-access.md
  internal/api/auth.go
  internal/api/auth_test.go
  internal/api/server.go
  internal/tailscale/manager.go
  internal/tailscale/peercaps.go
  internal/tailscale/peercaps_test.go
Due: format-go, format-markdown

[go] tailscale: implement install command and update management logic
  internal/cmd/device/main.go
  internal/cmd/device/tailscale.go
  internal/cmd/device/tailscale_test.go
  internal/tailscale/manager.go
  internal/tailscale/manager_test.go
  internal/tailscaleinstall/installer.go
  internal/tailscaleinstall/installer_test.go
Due: format-go

[img] update Tailscale integration and remove installation script
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/07-velocity-tailscale/01-run.sh
Due: none

[docs] remove Tailscale apt installation and implement in-binary static installer
  docs/BACKLOG.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  docs/plans/qemu-arm64-pi-image-dev-vm-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
  docs/platform/operations/tailscale-remote-access.md
  image/README.md
Due: format-markdown

[fix] allow velocity to execute Tailscale payload
  internal/tailscaleinstall/installer.go
  internal/tailscaleinstall/installer_test.go
Due: format-go

[docs] clarify instructions for Tailscale state removal in deployment plan
  docs/plans/deploy-single-binary-image-consolidation-plan.md
Due: format-markdown

[ver] bump version to 0.5.1-pre29 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[fix] address Tailscale installer review
  internal/cmd/device/tailscale.go
  internal/cmd/device/tailscale_test.go
  internal/tailscaleinstall/installer.go
  internal/tailscaleinstall/installer_test.go
Due: format-go

[img] embed Tailscale installer (#551)
  Makefile
  docs/BACKLOG.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  docs/plans/qemu-arm64-pi-image-dev-vm-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
  docs/platform/operations/tailscale-remote-access.md
  image/README.md
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/07-velocity-tailscale/01-run.sh
  internal/cmd/device/main.go
  internal/cmd/device/tailscale.go
  internal/cmd/device/tailscale_test.go
  internal/tailscale/manager.go
  internal/tailscale/manager_test.go
  internal/tailscaleinstall/installer.go
  internal/tailscaleinstall/installer_test.go
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: format-go, format-markdown

fix(web): keep TypeScript compatible with eslint
  web/package.json
  web/pnpm-lock.yaml
Due: format-web

test(lidar): wait for replay EOF pause
  internal/lidar/l9endpoints/replay_test.go
Due: format-go

[docs] standardise key docs, opening tl;dr's, headings
  ARCHITECTURE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  COMMANDS.md
  CONTRIBUTING.md
  DEBUGGING.md
  MAGIC_NUMBERS.md
  README.md
  TENETS.md
  data/QUESTIONS.md
  data/structures/MATRIX.md
  docs/DEVLOG.md
  docs/VISION.md
  docs/ui/DESIGN.md
Due: format-markdown

[docs] update backlog, add pr number
  docs/BACKLOG.md
Due: format-markdown

[docs] update README to relocate code coverage image and clarify description
  README.md
Due: format-markdown

[docs] update DEVLOG with recent changes, including documentation standardisation and Tailscale installer integration
  docs/DEVLOG.md
Due: format-markdown

docs: graduate completed plans
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/api-multi-sensor-capabilities-plan.md
  docs/plans/discord-community-onboarding-plan.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/plans/pcap-motion-detection-and-split-plan.md
  docs/plans/pcap-split-tool-plan.md
  docs/plans/qemu-arm64-pi-image-dev-vm-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
  docs/plans/radar-serial-line-classification-and-command-response-plan.md
  docs/plans/release-json-automation-plan.md
  docs/plans/ui-project-butterfly-net.md
  docs/plans/velocity-lidar-namespace-plan.md
  docs/platform/architecture/canonical-plan-graduation.md
  docs/platform/architecture/runtime-pipeline-correctness.md
  docs/platform/operations/qemu-headscale-dev-vm.md
Due: format-markdown

[docs] standardise key docs, devlog catch-up for 0.5.1 (#552)
  ARCHITECTURE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  COMMANDS.md
  CONTRIBUTING.md
  DEBUGGING.md
  MAGIC_NUMBERS.md
  README.md
  TENETS.md
  data/QUESTIONS.md
  data/structures/MATRIX.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/VISION.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/api-multi-sensor-capabilities-plan.md
  docs/plans/discord-community-onboarding-plan.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/plans/pcap-motion-detection-and-split-plan.md
  docs/plans/pcap-split-tool-plan.md
  docs/plans/qemu-arm64-pi-image-dev-vm-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
  docs/plans/radar-serial-line-classification-and-command-response-plan.md
  docs/plans/release-json-automation-plan.md
  docs/plans/ui-project-butterfly-net.md
  docs/plans/velocity-lidar-namespace-plan.md
  docs/platform/architecture/canonical-plan-graduation.md
  docs/platform/architecture/runtime-pipeline-correctness.md
  docs/platform/operations/qemu-headscale-dev-vm.md
  docs/ui/DESIGN.md
Due: format-markdown

[ai][go][py] add coverage for tune sweep + tailscale API, drop dead label store
  internal/api/server_tailscale_test.go
  internal/cmd/tune/sweep_test.go
  internal/lidar/storage/sqlite/label_store.go
  internal/lidar/storage/sqlite/label_store_test.go
  scripts/loc-coverage-chart.py
  scripts/test_loc_coverage_chart.py
Due: format-go

[ai][go] cover self-check, version, font assets and fatal log path
  internal/cmd/server/selfcheck_test.go
  internal/lidar/l9endpoints/recorder/debug_test.go
  internal/lidar/server/debug_test.go
  internal/report/chart/assets/fonts_test.go
  internal/version/version_test.go
Due: format-go

[ai][go] cover serial test handler, port validation and error suggestions
  internal/api/serial_coverage_test.go
Due: format-go

[ai][py][make] add per-file Go coverage gate with reviewed exclusions
  Makefile
  scripts/check_go_coverage.py
  scripts/coverage_exclusions.json
  scripts/test_check_go_coverage.py
Due: none

[ai][go] cover docsite handler and mount, drop dead palette helper
  internal/docsite/docsite_coverage_test.go
  internal/report/chart/palette.go
Due: format-go

[ai][go][py] cover capture stats, temp-exec seam and backup dest clearing
  internal/db/backup_test.go
  internal/lidar/pcapsplit/capturestats_coverage_test.go
  internal/report/typst/typstbin/deps.go
  internal/report/typst/typstbin/deps_test.go
  scripts/coverage_exclusions.json
Due: format-go

[ai][go] cover packet-forwarder drop reporting and radar.go helpers
  internal/cmd/server/radar_coverage_test.go
  internal/lidar/l1packets/network/forwarder_coverage_test.go
Due: format-go

[ai][py] exclude device-bound functions from the coverage gate
  scripts/check_go_coverage.py
  scripts/coverage_exclusions.json
  scripts/test_check_go_coverage.py
Due: none

[ai][go][py][make] replay kirk0.pcapng in settlingeval, build the gate with pcap
  Makefile
  internal/cmd/server/selfcheck_nopcap_test.go
  internal/cmd/server/selfcheck_test.go
  internal/lidar/settlingeval/settlingeval_pcap_test.go
  scripts/check_go_coverage.py
  scripts/coverage_exclusions.json
  scripts/test_check_go_coverage.py
Due: format-go

[ai][go][py] cover the lidar benchmark engine end to end
  internal/lidar/lidarbench/lidarbench_run_test.go
  scripts/coverage_exclusions.json
Due: format-go

[ai][go] cover the lidar bench and pcap-split CLI applets
  internal/cmd/lidar/bench_test.go
  internal/cmd/lidar/split_test.go
Due: format-go

[ai][go] cover the pcap-split analysis and writer passes
  internal/lidar/pcapsplit/fixture_run_test.go
Due: format-go

[ai][go][py] cover the hero scene builder, exclude server-lifecycle entrypoints
  cmd/tools/lidar-scene-extract/main_test.go
  scripts/coverage_exclusions.json
Due: format-go

[ai][go] cover db admin handler error paths and unexercised exported helpers
  internal/db/db_admin_errors_test.go
  internal/db/db_exported_test.go
Due: format-go

[ai][go] cover the ring-elevation backfill wrapper and its skip paths
  cmd/tools/backfill_ring_elevations/backfill_errors_test.go
  internal/db/db_admin_errors_test.go
Due: format-go

[ai][go] cover radar.go's visualiser and HINT bridge adapters
  internal/cmd/server/radar_adapters_test.go
Due: format-go

[ai][go] cover hintRunCreator's sweep-request construction
  internal/cmd/server/radar_adapters_test.go
Due: format-go

[ai][go][py] cover the zip archive reader-side failures
  internal/report/archive_errors_test.go
  scripts/coverage_exclusions.json
Due: format-go

[ai][go] cover the Tailscale installer's guard and failure paths
  internal/tailscaleinstall/installer_coverage_test.go
Due: format-go

[ai][go] cover the installer's link and unit-file writers
  internal/tailscaleinstall/installer_coverage_test.go
Due: format-go

[ai][go] cover the Debian-family host check
  internal/tailscaleinstall/installer_coverage_test.go
Due: format-go

[ai][go] cover ctl release selection and the read-only check path
  internal/ctl/manager_coverage_test.go
Due: format-go
