Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[docs] enhance DEVLOG with links to plans for classification maths, Python venv consolidation, and PDF generation migration
  docs/DEVLOG.md
Due: format-markdown

Potential fix for pull request finding
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

[py][ci][make] add script to check and fix header metadata format in Markdown files
  .github/workflows/lint-autofix.yml
  Makefile
  scripts/check-doc-header-metadata.py
Due: none

[py] enhance header metadata checks to ban date keys and strip date suffixes
  scripts/check-doc-header-metadata.py
Due: none

[docs] remove dates from metadata
  data/explore/convergence-neighbour/convergence-findings.md
  data/explore/convergence-neighbour/convergence-neighbour-closeness-findings.md
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260222-obb-heading-stability-review.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/lidar/operations/lidar-foreground-tracking-status.md
  docs/lidar/operations/track-labelling-auto-aware-tuning.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/lidar-bodies-in-motion-plan.md
  docs/plans/lidar-l2-dual-representation-plan.md
  docs/plans/lidar-l7-scene-plan.md
  docs/plans/lidar-layer-dependency-hygiene-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

[py] enhance date key handling in header metadata processing
  scripts/check-doc-header-metadata.py
Due: none

[ci][docs] update coding standards to enforce no date metadata in documentation headers
  .github/knowledge/coding-standards.md
  .github/workflows/lint-autofix.yml
Due: format-markdown

[docs] update HINT sweep mode summary to reflect implementation status and polish completion
  docs/lidar/operations/hint-sweep-mode.md
Due: format-markdown

[docs] update documentation standardisation status and completion checklist
  docs/BACKLOG.md
  docs/plans/platform-documentation-standardisation-plan.md
Due: format-markdown

Apply suggestions from code review
  .github/knowledge/coding-standards.md
Due: format-markdown

[py] add functionality to ensure a blank line after metadata in documentation headers
  scripts/check-doc-header-metadata.py
Due: none

[docs] update headers in documentation for consistency and clarity
  docs/lidar/operations/settling-time-optimisation.md
  docs/plans/platform-quality-coverage-improvement-plan.md
Due: format-markdown

[py] enhance metadata processing to absorb continuation lines for bare/colon-outside/H2 patterns
  scripts/check-doc-header-metadata.py
Due: none

[docs] correct formatting of the introduction in settling time optimisation document
  docs/lidar/operations/settling-time-optimisation.md
Due: format-markdown

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] update BACKLOG.md with new tasks for v0.5.2 and v0.6
  docs/BACKLOG.md
Due: format-markdown

[docs] update BACKLOG.md for v0.5.1, v0.5.2 and v0.5.3 with new tasks and restructured sections
  docs/BACKLOG.md
Due: format-markdown

[docs] update BACKLOG.md with design document links for v0.5.1 and v0.5.2 tasks
  docs/BACKLOG.md
Due: format-markdown

[docs] update BACKLOG.md to remove `transit-backfill` and consolidate metrics/stats/frontend
  docs/BACKLOG.md
Due: format-markdown

[docs] update DECISIONS.md to correct removal phase for simplification and adjust implementation version for time-partitioned data tables
  docs/DECISIONS.md
Due: format-markdown

[docs] update BACKLOG.md to remove design document links from task descriptions for clarity
  docs/BACKLOG.md
Due: format-markdown

[docs] update BACKLOG.md to remove design document link from macOS app signing readiness task for clarity
  docs/BACKLOG.md
Due: format-markdown

[docs] update DECISIONS.md to clarify removal timeline for simplification & deprecation scope
  docs/DECISIONS.md
Due: format-markdown

[docs] Flo weekly backlog prune (#396)
  docs/BACKLOG.md
  docs/DECISIONS.md
Due: format-markdown

[go] implement coalescing of buffered frames for VRLog replay and add corresponding test
  internal/lidar/visualiser/grpc_server.go
Due: format-go

Apply suggestions from code review
  data/maths/README.md
  data/maths/pipeline-review-open-questions.md
Due: format-markdown

[ai][python] format: remove unused import
  scripts/check-doc-header-metadata.py
Due: none

[ai][docs][python] format: prettier markdown, remove unused import
  data/maths/pipeline-review-open-questions.md
  scripts/check-doc-header-metadata.py
Due: format-markdown

[ai][docs][python] format: prettier markdown, remove unused imports
  docs/plans/line-width-standardisation-plan.md
  scripts/check-doc-header-metadata.py
  scripts/check-prose-line-width.py
Due: format-markdown

[ai][go][docs][python] format: gofmt, prettier markdown, remove unused import
  data/structures/BACKEND_SURFACE_MATRIX.md
  data/structures/README.md
  docs/plans/schema-simplification-migration-030-plan.md
  docs/plans/speed-percentile-aggregation-alignment-plan.md
  docs/plans/unpopulated-data-structures-remediation-plan.md
  internal/lidar/storage/sqlite/analysis_run.go
  scripts/check-doc-header-metadata.py
Due: format-go, format-markdown

[docs] add HINT Metric Observability Plan: outline goals, implementation batches, and diagnostics for enhanced labelling and analysis
  docs/plans/hint-metric-observability-plan.md
Due: format-markdown

[docs] update backend matrix
  data/structures/BACKEND_SURFACE_MATRIX.md
Due: format-markdown

[docs] update current state inventory for speed percentile aggregation plan
  docs/plans/speed-percentile-aggregation-alignment-plan.md
Due: format-markdown

[docs] update Backend Surface Matrix to reflect changes in data persistence and computation status
  data/structures/BACKEND_SURFACE_MATRIX.md
Due: format-markdown

[docs] recover comprehensive fields list
  data/structures/BACKEND_SURFACE_MATRIX.md
Due: format-markdown

[docs] update Backend Surface Matrix with new API endpoints and schema details
  data/structures/BACKEND_SURFACE_MATRIX.md
Due: format-markdown

Apply suggestions from code review
  data/structures/BACKEND_SURFACE_MATRIX.md
  docs/plans/hint-metric-observability-plan.md
  docs/plans/unpopulated-data-structures-remediation-plan.md
Due: format-markdown
