Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

Apply suggestions from code review
  .github/agents/malory.agent.md
  docs/plans/agent-claude-preparedness-review-plan.md
Due: format-markdown

[sh] Add phony target for agent drift check and improve output formatting in planning review script
  Makefile
  scripts/jess-planning-review.sh
Due: none

[ai][sh] add flo-standup and flo-planning-review scripts; update references in documentation
  .github/agents/flo.agent.md
  docs/plans/agent-claude-preparedness-review-plan.md
  scripts/flo-planning-review.sh
  scripts/flo-standup.sh
Due: format-markdown

[ai] Rename references from 'Florence' to 'Flo' in agent documentation for consistency
  .github/agents/flo.agent.md
  docs/plans/agent-claude-preparedness-review-plan.md
Due: format-markdown

[ai] move entry for Radar serial parsing in test confidence section
  .github/knowledge/role-technical.md
Due: format-markdown

[ai] update agents
  .github/agents/appius.agent.md
  .github/agents/euler.agent.md
  .github/agents/flo.agent.md
  .github/agents/grace.agent.md
  .github/agents/malory.agent.md
  .github/agents/ruth.agent.md
  .github/agents/terry.agent.md
Due: format-markdown

[docs] add agent personas and their portraits to README
  .github/agents/README.md
  .github/agents/portraits/appius.jpg
  .github/agents/portraits/euler.jpg
  .github/agents/portraits/flo.jpg
  .github/agents/portraits/grace.jpg
  .github/agents/portraits/malory.jpg
  .github/agents/portraits/ruth.jpg
  .github/agents/portraits/terry.jpg
Due: format-markdown

[docs] update attribution for malory and add references for Grace Hopper and Appius Claudius Caecus
  .github/agents/README.md
Due: format-markdown

[ai] add script to generate agent portrait thumbnails and update images
  .github/agents/portraits/appius.jpg
  .github/agents/portraits/euler.jpg
  .github/agents/portraits/flo.jpg
  .github/agents/portraits/generate.py
  .github/agents/portraits/grace.jpg
  .github/agents/portraits/malory.jpg
  .github/agents/portraits/ruth.jpg
  .github/agents/portraits/terry.jpg
Due: none

[img] update portraits and descriptions for agent personas
  .github/agents/portraits/appius.jpg
  .github/agents/portraits/euler.jpg
  .github/agents/portraits/flo.jpg
  .github/agents/portraits/generate.py
  .github/agents/portraits/grace.jpg
  .github/agents/portraits/ruth.jpg
  .github/agents/portraits/terry.jpg
Due: none

[ai] add portraits for agent personas: Appius, Euler, Flo, Grace, Malory, Ruth, and Terry
  .github/agents/appius.agent.md
  .github/agents/euler.agent.md
  .github/agents/flo.agent.md
  .github/agents/grace.agent.md
  .github/agents/malory.agent.md
  .github/agents/ruth.agent.md
  .github/agents/terry.agent.md
Due: format-markdown

[docs] fix malory
  docs/plans/agent-claude-preparedness-review-plan.md
Due: format-markdown

[docs] update agent preparedness review plan: complete Phase 2 and condense agent files
  docs/plans/agent-claude-preparedness-review-plan.md
Due: format-markdown

[docs] update architecture and coding standards; enhance security checklist and surface documentation
  .github/knowledge/architecture.md
  .github/knowledge/coding-standards.md
  .github/knowledge/security-checklist.md
  .github/knowledge/security-surface.md
  docs/BACKLOG.md
  docs/plans/agent-claude-preparedness-review-plan.md
  scripts/check-agent-drift.sh
Due: format-markdown

[docs] resolve open questions in agent preparedness review plan; confirm `.github/knowledge/` directory works with Copilot file discovery
  docs/plans/agent-claude-preparedness-review-plan.md
Due: format-markdown

Update README.md
  .github/agents/README.md
Due: format-markdown

[ai] agent skill review (#377)
  .github/TENETS.md
  .github/agents/README.md
  .github/agents/appius.agent.md
  .github/agents/euler.agent.md
  .github/agents/flo.agent.md
  .github/agents/grace.agent.md
  .github/agents/hadaly.agent.md
  .github/agents/ictinus.agent.md
  .github/agents/jess.agent.md
  .github/agents/malory.agent.md
  .github/agents/portraits/appius.jpg
  .github/agents/portraits/euler.jpg
  .github/agents/portraits/flo.jpg
  .github/agents/portraits/generate.py
  .github/agents/portraits/grace.jpg
  .github/agents/portraits/malory.jpg
  .github/agents/portraits/ruth.jpg
  .github/agents/portraits/terry.jpg
  .github/agents/ruth.agent.md
  .github/agents/terry.agent.md
  .github/agents/thompson.agent.md
  .github/copilot-instructions.md
  .github/knowledge/architecture.md
  .github/knowledge/build-and-test.md
  .github/knowledge/coding-standards.md
  .github/knowledge/hardware.md
  .github/knowledge/role-editorial.md
  .github/knowledge/role-technical.md
  .github/knowledge/security-checklist.md
  .github/knowledge/security-surface.md
  Makefile
  docs/BACKLOG.md
  docs/plans/agent-claude-preparedness-review-plan.md
  scripts/check-agent-drift.sh
  scripts/flo-planning-review.sh
  scripts/flo-standup.sh
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/tests/test_chart_builder.py
Due: format-python, format-markdown

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: format-markdown

docs: align light mode plan with system theme and v1 accessibility
  docs/BACKLOG.md
  docs/plans/lidar-visualiser-light-mode-plan.md
Due: format-markdown

Update lidar-visualiser-light-mode-plan.md
  docs/plans/lidar-visualiser-light-mode-plan.md
Due: format-markdown

[docs] vv light mode plan (#376)
  docs/BACKLOG.md
  docs/plans/lidar-visualiser-light-mode-plan.md
Due: format-markdown

[go] Refactor VRLOG analysis metrics: rename PeakSpeedMps to MaxSpeedMps and improve error handling in report generation
  Makefile
  cmd/tools/vrlog-analyse/main.go
  docs/data/VRLOG_ANALYSIS.md
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/report.go
Due: format-go, format-markdown

[go] update versioning in analysis reports and improve report generation logic
  docs/data/VRLOG_ANALYSIS.md
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/compare_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/report_test.go
  internal/lidar/analysis/types.go
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go, format-markdown

[docs] update VRLOG analysis, enhance speed metrics section and clarify percentile usage
  docs/data/VRLOG_ANALYSIS.md
Due: format-markdown

[go] update percentile checks in TestComputeDistStats for nil handling and add new test cases for sample sizes
  internal/lidar/analysis/report_test.go
Due: format-go

[go] add provenance fields to VRLOG recordings and analysis reports
  cmd/radar/radar.go
  cmd/tools/gen-vrlog/main.go
  docs/data/VRLOG_ANALYSIS.md
  docs/data/VRLOG_FORMAT.md
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/monitor/webserver.go
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go, format-markdown

[go][docs] update VRLOG format version to 0.5
  docs/data/VRLOG_ANALYSIS.md
  docs/data/VRLOG_FORMAT.md
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go, format-markdown

[docs] update VRLOG analysis report to include detailed percentile statistics and outline future enhancements for UUID prefixes and PCAP segment identity
  docs/data/VRLOG_ANALYSIS.md
Due: format-markdown

[docs] update percentile policies in architecture and analysis documents to clarify aggregate computation and remove per-track references
  ARCHITECTURE.md
  docs/data/VRLOG_ANALYSIS.md
  internal/lidar/l5tracks/tracking.go
Due: format-go, format-markdown

[mac] update shortIdPrefix logic for compact display in AnalysisRun
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
Due: format-mac

[go] implement protobuf serialization for VRLOG frame storage and enhance frame decoding logic
  internal/lidar/visualiser/recorder/proto_codec.go
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[go] skip background snapshot frames during VRLOG replay to optimize performance and prevent timestamp inversion
  internal/lidar/visualiser/publisher.go
  internal/lidar/visualiser/replay.go
Due: format-go

[mac] enhance VRLOG loading and replay state management with frame encoding support
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/RunBrowserState.swift
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunTrackLabelAPIClientTests.swift
Due: format-mac

[go] update onVRLogLoad function signatures to return string and error
  internal/lidar/monitor/webserver_coverage_test.go
Due: format-go

[go] update OnVRLogLoad to return frame encoding and handle errors more effectively
  cmd/radar/radar.go
  cmd/tools/visualiser-server/main.go
  internal/lidar/monitor/playback_api_test.go
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add tests for new replayer functionality and frame logging
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[mac] update PlaybackModeBadgeView tests to include showsLegacyJSONWarning parameter
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
Due: format-mac

[go] fix spacing in GenerateReport function
  internal/lidar/analysis/report.go
Due: format-go

[go] add log import to compare.go for improved error handling
  internal/lidar/analysis/compare.go
Due: format-go
