Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[js] add pagination support to TrackList and notify parent on track changes
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[docs] refactor devlog: simplify warmup trails fix section and remove redundant details
  internal/lidar/docs/roadmap/devlog.md
Due: none

[docs] update devlog: add January 17 entry for track visualization UI fixes and backend tuning
  internal/lidar/docs/roadmap/devlog.md
Due: none

[docs] update implementation overview: add Track Visualisation UI details and mark as complete
  internal/lidar/docs/architecture/foreground_tracking_plan.md
  internal/lidar/docs/architecture/lidar_sidecar_overview.md
Due: none

[docs] remove usage examples from devlog
  internal/lidar/docs/roadmap/devlog.md
Due: none

[docs] expand devlog: add detailed entries for LiDAR parser initialization and Python data integration tools
  internal/lidar/docs/roadmap/devlog.md
Due: none

[docs] refactor devlog
  internal/lidar/docs/roadmap/devlog.md
Due: none

[version] update to 0.0.4-pre6 in Makefile and package.json
  Makefile
  web/package.json
Due: format-web

[go] enhance region identification tests: add cases for empty grid, sparse data, adjacency, and wrap-around
  internal/lidar/regions_test.go
Due: format-go

[go] update sensor ID handling in regions dashboard: use escaped ID for title and meta tag
  internal/lidar/monitor/html/regions_dashboard.html
  internal/lidar/monitor/webserver.go
Due: format-go

[css] implement dark mode styles for dashboard, regions, and status pages
  internal/lidar/monitor/html/dashboard.html
  internal/lidar/monitor/html/regions_dashboard.html
  internal/lidar/monitor/html/status.html
Due: none

[go][js] adaptive LiDAR background grid + dash (#190)
  Makefile
  cmd/radar/radar.go
  cmd/tools/pcap-analyse/main.go
  internal/lidar/analysis_run.go
  internal/lidar/analysis_run_test.go
  internal/lidar/background.go
  internal/lidar/background_test.go
  internal/lidar/docs/architecture/foreground_tracking_plan.md
  internal/lidar/docs/architecture/lidar_sidecar_overview.md
  internal/lidar/docs/operations/adaptive-region-parameters.md
  internal/lidar/docs/roadmap/devlog.md
  internal/lidar/foreground.go
  internal/lidar/monitor/html/dashboard.html
  internal/lidar/monitor/html/regions_dashboard.html
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/lidar/regions_test.go
  internal/lidar/tracking.go
  internal/lidar/tracking_test.go
  web/package.json
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web

[go][py][js] lint
  internal/api/handlers_test.go
  internal/api/server.go
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/core/report_sections.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
  web/src/routes/reports/+page.svelte
Due: format-go, format-python, format-web

[py] correct author name and email in pyproject.toml
  tools/pdf-generator/pyproject.toml
Due: none

[py] refactor chart_builder to use integer indices for x-axis and simplify bar width computation
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/tests/test_chart_builder.py
Due: format-python

[py] enhance PDF report generation with comparison metrics and improve labeling
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/core/report_sections.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
Due: format-python

[sh] add support for updating PDF generator version in set-version script
  Makefile
  scripts/set-version.sh
Due: none

[ver] bump version to 0.0.4-pre7 in Makefile, pyproject.toml, and package.json
  Makefile
  tools/pdf-generator/pyproject.toml
  web/package.json
Due: format-web

[git] update .gitignore to exclude sensor_data files
  .gitignore
Due: none

[py] fix test assertions in TestVelocityOverviewSection
  tools/pdf-generator/pdf_generator/tests/test_report_sections.py
Due: format-python

[py] add comparison report (t1/t2) (#192)
  .gitignore
  Makefile
  internal/api/generate_e2e_test.go
  internal/api/handlers_test.go
  internal/api/server.go
  scripts/set-version.sh
  tools/pdf-generator/README.md
  tools/pdf-generator/config.example.json
  tools/pdf-generator/pdf_generator/cli/create_config.py
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/core/config_manager.py
  tools/pdf-generator/pdf_generator/core/document_builder.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/core/report_sections.py
  tools/pdf-generator/pdf_generator/core/stats_utils.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
  tools/pdf-generator/pdf_generator/tests/test_chart_builder.py
  tools/pdf-generator/pdf_generator/tests/test_config_manager.py
  tools/pdf-generator/pdf_generator/tests/test_create_config.py
  tools/pdf-generator/pdf_generator/tests/test_document_builder.py
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
  tools/pdf-generator/pdf_generator/tests/test_report_sections.py
  tools/pdf-generator/pdf_generator/tests/test_table_builders.py
  tools/pdf-generator/pyproject.toml
  web/package.json
  web/src/lib/api.ts
  web/src/routes/+layout.svelte
  web/src/routes/reports/+page.svelte
Due: format-go, format-python, format-web

[docs] lint
  docs/features/site-config-cosine-correction-spec.md
Due: none

[docs] update SCD design doc
  docs/features/site-config-cosine-correction-spec.md
Due: none

[go] add full-history run capability to transit worker and API
  internal/api/server.go
  internal/db/transit_controller.go
  internal/db/transit_worker.go
Due: format-go

[js] enhance transit worker API and UI with run management features
  web/src/lib/api.ts
  web/src/routes/settings/+page.svelte
Due: format-web

[go][js] add tests for transit worker full history trigger
  internal/api/server_test.go
  internal/db/transit_controller_test.go
  web/src/lib/api.test.ts
Due: format-go, format-web

[vscode] add VSCode configuration for JavaScript testing and update recommendations
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

[go] update model version default from "rebuild-full" to "hourly-cron" for radar data transits
  internal/api/server.go
  internal/db/db.go
Due: format-go

[docs] add transit deduplication plan to address duplicate records and implement cleanup strategies
  docs/transit-deduplication-plan.md
Due: none

[go] implement transit command for analysis, deletion, migration, and rebuilding; add deduplication tests and enhance worker functionality
  cmd/radar/radar.go
  docs/transit-deduplication-plan.md
  internal/db/transit_dedup_test.go
  internal/db/transit_worker.go
Due: format-go

[ver] bump version to 0.0.4-pre8 in Makefile and package.json
  Makefile
  web/package.json
Due: format-web

[go][js] transit worker inspector (#195)
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  Makefile
  cmd/radar/radar.go
  docs/transit-deduplication-plan.md
  internal/api/server.go
  internal/api/server_test.go
  internal/db/db.go
  internal/db/transit_controller.go
  internal/db/transit_controller_test.go
  internal/db/transit_dedup_test.go
  internal/db/transit_worker.go
  web/package.json
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/routes/settings/+page.svelte
Due: format-go, format-web

Implement site config periods with cosine correction (#194)
  internal/api/handlers_test.go
  internal/api/radar_stats_correction_test.go
  internal/api/server.go
  internal/api/site_config_periods_test.go
  internal/db/db.go
  internal/db/db_core_test.go
  internal/db/db_rollup_test.go
  internal/db/migrations/000013_create_site_config_periods.down.sql
  internal/db/migrations/000013_create_site_config_periods.up.sql
  internal/db/schema.sql
  internal/db/site.go
  internal/db/site_config_periods.go
  internal/db/site_config_periods_test.go
  internal/db/site_report.go
  tools/pdf-generator/README.md
  tools/pdf-generator/config.example-home.json
  tools/pdf-generator/config.example.json
  tools/pdf-generator/custom.json
  tools/pdf-generator/pdf_generator/cli/create_config.py
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/api_client.py
  tools/pdf-generator/pdf_generator/core/config_manager.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/tests/test_api_client.py
  tools/pdf-generator/pdf_generator/tests/test_get_stats.py
  tools/pdf-generator/pdf_generator/tests/test_site_config_periods.py
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/routes/+page.svelte
  web/src/routes/reports/+page.svelte
  web/src/routes/site/[id]/+page.svelte
Due: format-go, format-python, format-web

[sql] remove cosine angle and speed limit from site
  internal/db/migrations/000014_remove_site_config_fields.down.sql
  internal/db/migrations/000014_remove_site_config_fields.up.sql
  internal/db/schema.sql
Due: none

[sql] schema-sync, reorder
  internal/db/schema.sql
Due: none

[go] refactor site struct and remove cosine error angle from site creation and updates
  internal/api/generate_e2e_test.go
  internal/api/handlers_test.go
  internal/api/radar_stats_correction_test.go
  internal/api/server.go
  internal/api/server_test.go
  internal/api/site_config_periods_test.go
  internal/db/site.go
  internal/db/site_config_periods_test.go
  internal/db/site_report_test.go
  internal/db/site_test.go
Due: format-go

[js] remove cosine error angle and speed limit from site interface and forms
  web/src/lib/api.ts
  web/src/routes/site/[id]/+page.svelte
Due: format-web

[js] add compare_source to ReportRequest and update report generation logic
  web/src/lib/api.ts
  web/src/routes/reports/+page.svelte
Due: format-web

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
