Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[sh] enhance API scripts to include sensor_id in grid status and snapshots requests
  scripts/api/get_grid_status.sh
  scripts/api/get_snapshots.sh
Due: none

[fs] mv lidar debug doc
  internal/lidar/docs/LIDAR-PCAP-Debug.md
Due: none

[go] enhance lidar processing: add background flush interval, frame buffer timeout, and improved logging diagnostics
  Makefile
  cmd/radar/radar.go
  internal/lidar/background.go
  internal/lidar/frame_builder.go
Due: format-go

[go] reenable option to seed background from first observation
  cmd/radar/radar.go
Due: format-go

[make] streamline lidar options in dev-go and dev-go-pcap targets
  Makefile
Due: none

[go] add settle time flag to allow waiting for grid stabilization after parameter application
  cmd/bg-multisweep/main.go
Due: format-go

[go] refine debug logging behavior: enable lightweight frame-completion logging only when --debug is set, allowing operators to choose verbosity in PCAP mode
  cmd/radar/radar.go
Due: format-go

[go] enhance diagnostics in BackgroundManager: return empty AcceptanceMetrics and conditionally log invalid points based on diagnostics setting
  internal/lidar/background.go
Due: format-go

[go] refine logging in FrameBuilder: emit frame callback logs only in debug mode to reduce noise
  internal/lidar/frame_builder.go
Due: format-go

[go] multisweep: add nonzero cell count tracking, capture and log nonzero cell counts in background snapshot for enhanced diagnostics
  cmd/bg-multisweep/main.go
Due: format-go

[go] add seed behavior flag and implement seed toggling in BackgroundManager
  cmd/bg-multisweep/main.go
  internal/lidar/background.go
  internal/lidar/monitor/webserver.go
Due: format-go

[docs] add detailed logging plan for grid reset and acceptance rate investigation
  internal/lidar/docs/DEBUG-LOGGING-PLAN.md
  internal/lidar/docs/LIDAR-PCAP-Debug.md
Due: none

[go] add API call timing logs for background parameters in WebServer
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add API call timing logs for grid reset in WebServer
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add diagnostics logging for nonzero cell counts before and after grid reset
  internal/lidar/background.go
Due: format-go

[go] add rate-limited diagnostics for grid population tracking in ProcessFramePolar
  internal/lidar/background.go
Due: format-go

[go] sweep: fetch live nonzero cell count from grid_status API to avoid DB timing races
  cmd/bg-multisweep/main.go
Due: format-go

[go] add diagnostic logging for sample decision counts and per-frame acceptance summary in ProcessFramePolar
  internal/lidar/background.go
Due: format-go

[go] add debug logging for acceptance metrics with active parameters in WebServer
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add logging for evicting oldest buffered frame in FrameBuilder
  internal/lidar/frame_builder.go
Due: format-go

[make] add enable-lidar flag to dev-go-pcap target in Makefile
  Makefile
Due: none

[go] add mutex for PCAP replay state management in WebServer
  internal/lidar/monitor/webserver.go
Due: format-go

[make] refactor: enhance run_dev_go and run_dev_go_kill_server for better process management
  Makefile
Due: none

[go] add sweep
  Makefile
  cmd/sweep/README.md
  cmd/sweep/main.go
Due: format-go

[data] add analysis scripts for noise vs distance convergence and neighbor & closeness convergence findings
  data/convergance-neighbour/analyze_convergence.py
  data/convergance-neighbour/convergence-findings.md
  data/convergance-neighbour/convergence-neighbor-closeness-findings.md
Due: format-python

[go] remove bg-sweep command implementation
  cmd/bg-multisweep/main.go
  cmd/bg-sweep/main.go
Due: format-go

[py] add plot_noise_sweep script for visualizing acceptance rates over noise values
  data/multisweep-graph/plot_noise_sweep.py
Due: format-python

[py] add plot_noise_buckets script for generating bar charts of acceptance rates across noise values
  data/multisweep-graph/plot_noise_buckets.py
Due: format-python

[docs] add Grid Cell Analysis API implementation plan with endpoint for coarse spatial aggregation and visualization support
  internal/lidar/docs/GRID-ANALYSIS-PLAN.md
Due: none

[make] add plotting targets for noise sweep, multisweep, and noise buckets
  Makefile
Due: none

[api] add grid_heatmap endpoint for aggregated grid metrics visualization
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add GetGridHeatmap method for aggregating grid metrics into coarse spatial buckets
  internal/lidar/background.go
Due: format-go

[go] add unit tests for GetGridHeatmap method to validate grid metrics aggregation
  internal/lidar/background_heatmap_test.go
Due: format-go

[docs] add Grid Heatmap API documentation for aggregating LiDAR data into coarse spatial buckets
  internal/lidar/docs/GRID-HEATMAP-API.md
Due: none

[go] add test script for grid heatmap API endpoint
  tools/test_grid_heatmap.sh
Due: none

[go] add grid heatmap plotting functionality and test script
  Makefile
  tools/plot_grid_heatmap.py
  tools/test_plot_grid_heatmap.py
Due: format-python

[py] update print statement for generated heatmap output formatting
  tools/test_plot_grid_heatmap.py
Due: format-python

[docs] add Grid Heatmap Visualization Guide to README
  tools/README-GRID-HEATMAP.md
Due: none

[go] move grid-heatmap files to project folder, update refs
  internal/lidar/docs/GRID-ANALYSIS-PLAN.md
  tools/grid-heatmap/README-GRID-HEATMAP.md
  tools/grid-heatmap/plot_grid_heatmap.py
  tools/grid-heatmap/test_grid_heatmap.sh
  tools/grid-heatmap/test_plot_grid_heatmap.py
Due: format-python

[go] add PCAP mode support for grid heatmap plotting and testing
  Makefile
  tools/grid-heatmap/plot_grid_heatmap.py
  tools/grid-heatmap/test_pcap_mode.py
Due: format-python

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
