Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[go] add ProcessFramePolarWithMaskAt and GetFrameSettlingMetricsAt for capture time handling
  internal/lidar/l3grid/foreground.go
  internal/lidar/l3grid/foreground_capture_time_test.go
  internal/lidar/l3grid/frame_metrics.go
Due: format-go

[go] implement motion timeline attachment and validation in analysis
  internal/lidar/pcapanalyse/helpers_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
Due: format-go

[go] implement motion classification and analysis enhancements, including DryRun support and new metrics
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
  internal/lidar/pcapsplit/run.go
  internal/lidar/pcapsplit/run_cov_test.go
  internal/lidar/pcapsplit/split.go
Due: format-go

[go] enhance pcap-split test: add dry-run support and validate output metadata
  internal/cmd/lidar/applet_test.go
Due: format-go

[go] add dry-run flag to SplitMain for segment analysis without file output
  internal/cmd/lidar/split.go
Due: format-go

[go] add TestSoma2MixedMotion for hardware-capture regression testing
  internal/lidar/pcapsplit/soma2_integration_test.go
Due: format-go

[ai][go] pcap-analyse: assemble frames on the raw block azimuth
  internal/lidar/pcapanalyse/frame_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
Due: format-go

[ai][go] pcapsplit: classify motion by sensor ego-motion
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
Due: format-go

[ai][go] lidar pcap tools: progress reporting for long reads
  internal/cmd/lidar/analyse.go
  internal/cmd/lidar/split.go
  internal/lidar/l1packets/network/progress.go
  internal/lidar/l1packets/network/progress_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/split.go
Due: format-go

[ai][docs] pcap-analysis-mode: ego-motion classifier and -progress
  docs/lidar/operations/pcap-analysis-mode.md
Due: format-markdown

[ai][go] pcapsplit: detect sustained ego-motion via noise deviation
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
  internal/lidar/pcapsplit/soma2_integration_test.go
Due: format-go

[ai][go] pcap-analyse: timeline frame indices and --timeline-units
  internal/cmd/lidar/analyse.go
  internal/lidar/pcapanalyse/errorpaths_test.go
  internal/lidar/pcapanalyse/helpers_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapsplit/refine.go
  internal/lidar/pcapsplit/timeline.go
  internal/lidar/pcapsplit/timeline_test.go
Due: format-go

[ai][docs] pcap-analysis-mode: deviation signal and --timeline-units
  docs/lidar/operations/pcap-analysis-mode.md
Due: format-markdown

[docs] update references in documentation for consistency and clarity
  data/QUESTIONS.md
  docs/BACKLOG.md
  docs/lidar/architecture/foreground-tracking.md
  docs/lidar/operations/adaptive-region-parameters.md
  docs/plans/pcap-motion-detection-and-split-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/web-frontend-consolidation-plan.md
  docs/platform/operations/distribution-packaging.md
  docs/ui/visualiser/architecture.md
  docs/ui/visualiser/implementation.md
Due: format-markdown

[ai][go] enhance frame closing logic to preserve capture order and add corresponding tests
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l2frames/frame_builder_close_flush_test.go
Due: format-go

[go] update summary label from "Settling Threshold" to "Settling Duration" and add corresponding test
  internal/lidar/pcapsplit/export.go
  internal/lidar/pcapsplit/export_test.go
Due: format-go

[go] refactor Analyse function to simplify error handling and improve code readability
  internal/lidar/pcapsplit/analyse.go
Due: format-go

[git] add additional multi-call binary build outputs for arm64 architectures
  .gitignore
Due: none

[make] add symlink creation and logging for latest ARM64 builds on Linux and macOS
  Makefile
Due: none

[ai][go] progress: report RPM and points-per-frame per interval
  internal/cmd/lidar/analyse.go
  internal/lidar/l1packets/network/pcap.go
  internal/lidar/l1packets/network/progress.go
  internal/lidar/l1packets/network/progress_test.go
Due: format-go

[ai][docs] pcap-analysis-mode: progress line RPM/points-per-frame
  docs/lidar/operations/pcap-analysis-mode.md
Due: format-markdown

[ai][go] lidar offline tooling: load tuning via embedded fallback
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
  internal/lidar/settlingeval/settlingeval.go
Due: format-go

[ai][go] settling-eval test: fail fast on capture-helper IO errors
  internal/lidar/settlingeval/integration_test.go
Due: format-go

[ai][go] config: add L3 motion-classifier threshold fields
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  internal/config/tuning.go
  internal/config/tuning_accessors.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
Due: format-go

[ai][go] pcap-analyse: build the background model from tuning like live
  internal/lidar/pcapanalyse/helpers_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
Due: format-go

[ai][go] pcapsplit: drive the classifier from tuning, not constants
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
  internal/lidar/pcapsplit/split.go
Due: format-go

[ai][go] lidar pcap tools: unified -config flag, config-sourced sensor
  internal/cmd/lidar/analyse.go
  internal/cmd/lidar/settling.go
  internal/cmd/lidar/split.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/settlingeval/settlingeval.go
Due: format-go

[ai][docs] pcap-analysis-mode: note the unified --config flag
  docs/lidar/operations/pcap-analysis-mode.md
Due: format-markdown

[ai][docs] config: document the new L3 motion-threshold keys in CONFIG.md
  config/CONFIG.md
Due: format-markdown

unify lidar motion tuning across replay and live
  cmd/tools/config-migrate/main.go
  config/CONFIG.md
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/pcap-motion-detection-and-split-plan.md
  docs/plans/pcap-split-tool-plan.md
  internal/cmd/lidar/settled_test.go
  internal/cmd/lidar/split.go
  internal/cmd/server/radar.go
  internal/config/tuning.go
  internal/config/tuning_accessors.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/background_drift.go
  internal/lidar/l3grid/background_drift_test.go
  internal/lidar/l3grid/background_manager.go
  internal/lidar/l3grid/config.go
  internal/lidar/l3grid/config_test.go
  internal/lidar/l3grid/foreground.go
  internal/lidar/l3grid/frame_metrics.go
  internal/lidar/l3grid/frame_metrics_extra_test.go
  internal/lidar/l3grid/frame_metrics_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
  internal/lidar/pcapsplit/export.go
  internal/lidar/pcapsplit/soma2_integration_test.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/server/tuning_runtime_test.go
  internal/lidar/settlingeval/settlingeval.go
  internal/lidar/settlingeval/settlingeval_test.go
Due: format-go, format-markdown

[ai][go] lidar test helpers: fail fast on capture-IO errors
  internal/cmd/lidar/applet_test.go
  internal/lidar/pcapsplit/run_cov_test.go
Due: format-go

Potential fix for pull request finding
  Makefile
Due: none

[ai][go] lidar: classify sustained sensor motion by background-drift ratio
  cmd/tools/config-migrate/main.go
  config/CONFIG.md
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/pcap-split-tool-plan.md
  internal/config/tuning.go
  internal/config/tuning_accessors.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/background_drift.go
  internal/lidar/l3grid/background_drift_test.go
  internal/lidar/l3grid/config.go
  internal/lidar/l3grid/config_test.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
  internal/lidar/pcapsplit/export.go
  internal/lidar/pcapsplit/soma2_integration_test.go
  internal/lidar/pcapsplit/soma3_integration_test.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/server/tuning_runtime_test.go
Due: format-go, format-markdown

[ai][go] lidar pcap-split: report progress during the segment-write pass
  docs/lidar/operations/pcap-analysis-mode.md
  internal/lidar/pcapsplit/writer.go
Due: format-go, format-markdown

[ai][go] lidar pcap-split: report capture/scan stats and timeline options
  internal/cmd/lidar/split.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/capturestats.go
  internal/lidar/pcapsplit/capturestats_test.go
  internal/lidar/pcapsplit/export.go
  internal/lidar/pcapsplit/run.go
  internal/lidar/pcapsplit/split.go
Due: format-go

[ai][go] lidar-bench: extract the pipeline perf-regression harness
  .github/workflows/nightly-full-ci.yml
  Makefile
  cmd/tools/lidar-bench/main.go
  internal/cmd/lidar/bench.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_test.go
  internal/lidar/perf/baseline/baseline-kirk0-ci.json
  internal/lidar/perf/baseline/baseline-kirk0.json
Due: format-go

[ai][go] lidar: remove pcap-analyse, leaving pcap-split + settling-eval
  cmd/tools/lidar-scene-extract/main.go
  cmd/tools/pcap-analyse/main.go
  internal/cmd/lidar/analyse.go
  internal/cmd/lidar/applet_flags_test.go
  internal/cmd/lidar/applet_test.go
  internal/cmd/lidar/detect_test.go
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/lidar_stub_test.go
  internal/cmd/lidar/lidar_test.go
  internal/cmd/root/root.go
  internal/cmd/root/root_test.go
  internal/lidar/pcapanalyse/branches_test.go
  internal/lidar/pcapanalyse/collect_test.go
  internal/lidar/pcapanalyse/errorpaths_test.go
  internal/lidar/pcapanalyse/frame_test.go
  internal/lidar/pcapanalyse/helpers_test.go
  internal/lidar/pcapanalyse/motion_json_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapanalyse/run_test.go
  internal/lidar/pcapanalyse/stats_test.go
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/timeline.go
Due: format-go

[ai][docs] lidar: rewrite offline tooling docs for the pcap-split/lidar-bench layout
  data/structures/MATRIX.md
  data/structures/VRLOG_ANALYSIS_FORMAT.md
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/lidar/operations/clustering-diagnostics.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/operations/performance-regression-testing.md
  docs/lidar/operations/settling-time-optimisation.md
  docs/plans/lidar-clustering-observability-and-benchmark-plan.md
  docs/plans/lidar-offline-analysis-tooling-plan.md
  docs/plans/pcap-ground-plane-export-tool-plan.md
  docs/plans/pcap-motion-detection-and-split-plan.md
  docs/plans/platform-quality-coverage-improvement-plan.md
  docs/plans/speed-percentile-aggregation-alignment-plan.md
  docs/plans/velocity-lidar-namespace-plan.md
Due: format-markdown

[ver] bump version to 0.5.1-pre26 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

Apply suggestions from code review
  internal/lidar/settlingeval/integration_test.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
