Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[go] add extensive tests for background and region snapshots retrieval and insertion
  internal/db/admin_routes_extended_test.go
  internal/db/bg_snapshot_test.go
Due: format-go

[go] add tests for tracking metrics and background parameter handling in web server
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/monitor/webserver_test.go
Due: format-go

[go] add unit tests for feature importance sorting, frame buffer eviction, and tracking metrics
  internal/api/lidar_labels_test.go
  internal/api/server_test.go
  internal/lidar/background_persistence_test.go
  internal/lidar/features_test.go
  internal/lidar/frame_builder_test.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/tracking_metrics_test.go
Due: format-go

[go] add testify and go-spew deps
  go.mod
  go.sum
Due: none

[go] add tests for Mahalanobis distance computation in tracking module
  internal/lidar/frame_builder_test.go
  internal/lidar/tracking_test.go
Due: format-go

[mac] fix buffer statistics calculation for accurate performance monitoring
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
Due: format-mac

[go] Implement hysteresis-based frame skip control and add unit tests for sendCooldown
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
Due: format-go

[docs] implement M7.3 Frame skipping cooldown mechanism and update status
  docs/lidar/visualiser/04-implementation-plan.md
Due: format-markdown

[go] skip frames with no valid timestamp in cleanupFrames and update test cases
  internal/lidar/frame_builder.go
  internal/lidar/frame_builder_test.go
Due: format-go

[mac] streamline buffer reallocation checks and improve code readability
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
Due: format-mac

update README and implementation plan with M7 performance hardening details
  docs/lidar/README.md
  docs/lidar/visualiser/04-implementation-plan.md
Due: format-markdown

Add comprehensive tests for point count retrieval, server replay mode, and background manager functionality
  internal/lidar/monitor/coverage_test.go
  internal/lidar/visualiser/adapter_test.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/publisher_test.go
Due: format-go

Add unit tests for gRPC configuration and MetalRenderer components
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiserTests/GRPCConfigurationTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/MetalRendererTests.swift
Due: format-mac

Remove redundant decimation mode raw value tests from GRPCConfigurationTests
  tools/visualiser-macos/VelocityVisualiserTests/GRPCConfigurationTests.swift
Due: format-mac

Enhance playback synchronization by introducing mutex locks in gRPC server methods and update tests to use the new Pause and Play methods for proper state management.
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
Due: format-go

Refactor VisualiserClient to simplify frame decoding and delegate notification logic
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: format-mac

Adjust floating-point tolerance in TestGoldenReplay_Determinism for improved accuracy across environments
  internal/lidar/golden_replay_test.go
Due: format-go

[go] update benchmarks and tests for acceptance criteria
  docs/lidar/visualiser/04-implementation-plan.md
  internal/lidar/golden_replay_test.go
  internal/lidar/visualiser/benchmark_test.go
Due: format-go, format-markdown

[go] update acceptance criteria and benchmark thresholds for CI variability
  docs/lidar/visualiser/04-implementation-plan.md
  internal/lidar/visualiser/benchmark_test.go
Due: format-go, format-markdown

[ai] apply suggestions from code review
  docs/lidar/README.md
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/GRPCConfigurationTests.swift
Due: format-mac, format-markdown

[mac] visualiser m7 (#244)
  docs/lidar/README.md
  docs/lidar/visualiser/04-implementation-plan.md
  internal/lidar/frame_builder.go
  internal/lidar/frame_builder_test.go
  internal/lidar/golden_replay_test.go
  internal/lidar/monitor/coverage_test.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/adapter_test.go
  internal/lidar/visualiser/benchmark_test.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/model_test.go
  internal/lidar/visualiser/publisher.go
  internal/lidar/visualiser/publisher_test.go
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/CompositePointCloudRendererTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/GRPCConfigurationTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/MetalRendererTests.swift
Due: format-go, format-mac, format-markdown

Update coverage data
  README.md
  badge.svg
  data.json
  endpoint.json
  htmlcov/class_index.html
  htmlcov/coverage_html_cb_dd2e7eb5.js
  htmlcov/favicon_32_cb_c827f16f.png
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/keybd_closed_cb_900cfef5.png
  htmlcov/status.json
  htmlcov/style_cb_9ff733b0.css
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: format-markdown

[fs] rm package-lock.json
  web/package-lock.json
Due: format-web

[go] normalise wildcard hosts to localhost for lidar client connectivity
  cmd/radar/radar.go
Due: format-go

[go] add validation for sample iterations to prevent excessive memory allocation
  internal/lidar/sweep/sampler.go
  internal/lidar/sweep/sampler_test.go
Due: format-go

[docs] format
  config/README.md
Due: format-markdown

[mac] format
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
Due: format-mac

[ver] set version to 0.5.0-pre2 across all platforms
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[make][docs] enhance development server commands and documentation for lidar modes
  .github/agents/hadaly.agent.md
  Makefile
  README.md
  docs/features/cli-comprehensive-guide.md
Due: format-markdown

[go] add validation for maximum bucket count to prevent excessive memory allocation
  internal/lidar/monitor/client.go
  internal/lidar/monitor/client_test.go
Due: format-go

[go] refactor: replace log.Printf with lidar.Debugf for improved logging consistency
  internal/api/server.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/tracking_pipeline.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/publisher.go
Due: format-go

fix: update tuning parameters to disable flush and remove flush interval
  config/tuning.defaults.json
Due: none

[go] add PCAP timestamp tracking and update related structures for improved timeline display
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_count.go
  internal/lidar/network/pcap_count_stub.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/recorder/recorder.go
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[mac] add seekable parameter to PlaybackInfo and update related functionality
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: format-mac

[go] implement generic N-dimensional parameter sweeps
  internal/lidar/monitor/assets/common.css
  internal/lidar/monitor/client.go
  internal/lidar/monitor/html/dashboard.html
  internal/lidar/monitor/html/regions_dashboard.html
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/runner_test.go
Due: format-go

[go] add comprehensive tuning parameters and update default configuration
  config/tuning.defaults.json
  internal/config/tuning.go
  internal/config/tuning_test.go
Due: format-go

[go] add warnings handling to sweep state and UI for improved error reporting
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/sweep/runner.go
Due: format-go

[go] update parameter layout and add CSV download functionality to sweep dashboard
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/sweep/runner_test.go
  internal/lidar/sweep/testdata/example-scenario.json
Due: format-go

[go] add reset functionality to tracker and enhance sweep summary updates
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/monitor/webserver.go
  internal/lidar/tracking.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
