Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[js] lint
  web/src/routes/+page.svelte
  web/src/routes/settings/angles/+page.svelte
Due: format-web

[js] fix linting errors: remove unused import, add each block keys
  web/src/routes/settings/angles/+page.svelte
Due: format-web

[js] add comprehensive tests for angle presets and site config period APIs (98.46% coverage)
  web/src/lib/api.test.ts
Due: format-web

[sql] fix RAISE spacing again (no space before paren)
  internal/db/schema.sql
Due: none

[sql] add space in RAISE call to match formatter output
  internal/db/migrations/000013_create_angle_presets.up.sql
Due: none

[sql] update schema.sql with formatted RAISE call
  internal/db/schema.sql
Due: none

[sql] lint
  data/sqlite-erd/sqlite_graph.sql
Due: none

[sql] format SQL code for consistency in angle presets migration
  internal/db/migrations/000013_create_angle_presets.down.sql
  internal/db/migrations/000013_create_angle_presets.up.sql
Due: none

[svg] update schema ERD
  internal/db/schema.svg
Due: none

[ts] add per site angle management
  web/src/lib/api.ts
  web/src/routes/site/[id]/+page.svelte
Due: format-web

[js] add pagination support for site listing and enhance site fetching API
  web/src/lib/api.ts
  web/src/routes/site/+page.svelte
Due: format-web

[go] add pagination support for site retrieval and update database queries
  internal/api/server.go
  internal/db/site.go
Due: format-go

[js] fix: handle empty site responses and ensure consistent state management
  web/src/routes/site/+page.svelte
Due: format-web

[js] simplify pagination implementation and remove unused code
  web/src/routes/site/+page.svelte
Due: format-web

[js] add browser check to prevent errors in non-browser environments
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/lidar/README.md
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[js] update tailwindcss plugin configuration to skip processing node_modules
  web/vite.config.ts
Due: format-web

[js] add Lidar Tracks navigation item to layout
  web/src/routes/+layout.svelte
Due: format-web

[js] simplify tailwindcss plugin configuration by removing node_modules processing
  web/vite.config.ts
Due: format-web

[js] correct canvas closing tag in MapPane and improve accessibility in TimelinePane and TrackList
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[js] add proxy configuration for Lidar API in Vite setup
  web/vite.config.ts
Due: format-web

[go] implement lidar webserver and background grid API; add routes and data export functionality
  cmd/radar/radar.go
  internal/lidar/background.go
  internal/lidar/monitor/track_api.go
  internal/lidar/monitor/webserver.go
Due: format-go

[js] enhance background grid rendering for improved visibility during debugging
  web/src/lib/components/lidar/MapPane.svelte
Due: format-web

[go] downsample grid data for frontend visualization by aggregating points into spatial buckets
  internal/lidar/monitor/webserver.go
Due: format-go

[js] update BackgroundCell interface to make legacy fields optional
  web/src/lib/types/lidar.ts
Due: format-web

[js] replace header elements with Header component for improved structure
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

refactor: improve CSS class ordering and structure for consistency across components
  web/src/app.css
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
  web/src/routes/settings/+page.svelte
  web/src/routes/site/+page.svelte
  web/src/routes/site/[id]/+page.svelte
Due: format-web

style: update UI colors and improve component backgrounds for consistency
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

fix: update rendering logic in MapPane and adjust height calculations in TimelinePane and TrackList for improved layout
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

feat: add history tracking to TrackResponse and update related structures for improved data representation
  internal/lidar/monitor/track_api.go
  internal/lidar/track_store.go
  internal/lidar/tracking.go
Due: format-go

feat: add history tracking to Track interface and implement drawing of history paths in MapPane
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/types/lidar.ts
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

feat: add debug logging for track changes and playback in MapPane, TimelinePane, and TrackHistory
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[js] lint
  web/src/lib/api.test.ts
Due: format-web

Update lidar-background-grid-standards.md
  docs/features/lidar-background-grid-standards.md
Due: none

Document LiDAR background grid standards and export options (#160)
  docs/features/lidar-background-grid-standards.md
Due: none

Delete README.md
  web/src/routes/lidar/README.md
Due: none

Delete LIDAR_UI_IMPLEMENTATION_PLAN.md
  LIDAR_UI_IMPLEMENTATION_PLAN.md
Due: none

[js] remove unused rendering constants from MapPane.svelte
  web/src/lib/components/lidar/MapPane.svelte
Due: format-web

[docs] pcap-split design spec (#159)
  docs/features/pcap-split-tool.md
Due: none

[go][js] fix: ensure end_unix_nanos is set for all track states; add timestamp validation in track history
  internal/lidar/track_store.go
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web

[js] add track observations support and toggle options in MapPane
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
