Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] add versioning information to build and status output
  Makefile
  cmd/deploy/main.go
  cmd/deploy/main_test.go
  cmd/radar/radar.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/version/version.go
  web/scripts/set-build-env.js
Due: format-go, format-web

[go] add grid plotting functionality for LiDAR data visualization
  cmd/radar/radar.go
  internal/lidar/monitor/gridplotter.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_realtime.go
Due: format-go

[go] update go.mod and go.sum to include additional indirect dependencies
  go.mod
  go.sum
Due: none

Fix recFg accumulation during cell freeze in foreground extraction (#183)
  docs/troubleshooting/foreground-trails-investigation-20260107.md
  go.mod
  internal/lidar/foreground.go
Due: format-go

[go] add locked baseline parameters and update grid plotting for LiDAR data
  internal/lidar/background.go
  internal/lidar/foreground.go
  internal/lidar/monitor/gridplotter.go
  internal/lidar/network/pcap_realtime_stub.go
Due: format-go

[html][go] enhance LiDAR monitor UI with improved layout and additional statistics
  internal/lidar/monitor/status.html
Due: none

[go] add endpoint to delete duplicate background snapshots and update UI for snapshot actions
  internal/db/db.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[ver] bump to 0.0.4-pre5
  Makefile
  docs/package.json
  web/package.json
Due: format-web

[sh] remove deploy version update functionality from set-version.sh
  scripts/set-version.sh
Due: none

[go][sql] update duplicate snapshot deletion logic to group by grid_blob content
  internal/db/db.go
Due: format-go

[docs] formatting
  docs/troubleshooting/foreground-trails-investigation-20260107.md
Due: none

[docs] move lidar troubleshooting docs
  internal/lidar/docs/troubleshooting/foreground-corruption-investigation-status.md
  internal/lidar/docs/troubleshooting/foreground-trails-investigation-20260107.md
  internal/lidar/docs/troubleshooting/port-2370-foreground-streaming.md
Due: none

[go] improve pcap replay logs
  internal/lidar/network/pcap_realtime.go
Due: format-go

[go] move foreground-only forwarder for live mode
  cmd/radar/radar.go
Due: format-go

[go] clarify locking mechanism in handlePCAPStop to prevent deadlock
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enhance debugging logs in foreground forwarding and PCAP replay functions
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/tracking_pipeline.go
Due: format-go

[go] enhance state management during data source transitions and improve buffering in PCAP replay
  internal/lidar/background.go
  internal/lidar/frame_builder.go
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_realtime.go
Due: format-go

[go] clarify foreground extraction logic to prevent double-processing when frameBuilder is set
  internal/lidar/network/pcap_realtime.go
Due: format-go

[go] enhance foreground detection sensitivity during initialisation to reduce noise classification
  internal/lidar/foreground.go
Due: format-go

[docs] warmup trails investigation findings and solution for false positives during initialization
  internal/lidar/docs/troubleshooting/warmup-trails-investigation-20260113.md
Due: none

[go] add tests for frame builder reset functionality to ensure state clearing and prevent data mixing
  internal/lidar/foreground_warmup_test.go
  internal/lidar/frame_builder_reset_test.go
Due: format-go

[docs] delete outdated documentation and implement fixes for foreground extraction issues
  internal/lidar/docs/README.md
  internal/lidar/docs/architecture/foreground_tracking_plan.md
  internal/lidar/docs/architecture/lidar_sidecar_overview.md
  internal/lidar/docs/operations/lidar-foreground-tracking-status.md
  internal/lidar/docs/roadmap/devlog.md
  internal/lidar/docs/roadmap/lidar-tracking-integration.md
  internal/lidar/docs/troubleshooting/foreground-corruption-investigation-status.md
  internal/lidar/docs/troubleshooting/foreground-trails-investigation-20260107.md
  internal/lidar/docs/troubleshooting/port-2370-foreground-streaming.md
  internal/lidar/docs/troubleshooting/warmup-trails-fix-20260113.md
  internal/lidar/docs/troubleshooting/warmup-trails-investigation-20260113.md
Due: none

[docs] update API endpoints for stopping PCAP replay to use POST method for consistency
  cmd/radar/README.md
  internal/lidar/docs/architecture/lidar_sidecar_overview.md
  internal/lidar/docs/operations/DATA-SOURCE-SWITCHING-PLAN.md
  internal/lidar/docs/operations/lidar-foreground-tracking-status.md
  internal/lidar/docs/operations/pcap-analysis-mode.md
Due: none

[sh] update PCAP stop and persist scripts to use POST method for consistency
  scripts/api/lidar/stop_pcap.sh
  scripts/api/lidar/switch_data_source.sh
  scripts/api/lidar/trigger_persist.sh
Due: none

Add lidar background regions
  internal/lidar/background.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go] Fix tooltip formatter in background regions chart for LiDAR
  internal/lidar/monitor/webserver.go
Due: format-go

[go] Add warmup initialization to BackgroundGrid for LiDAR processing
  internal/lidar/background.go
Due: format-go

[go] lint
  internal/lidar/background.go
  internal/lidar/monitor/webserver.go
  internal/lidar/regions_test.go
Due: format-go

[ai] Potential fix for code scanning alert no. 33: Reflected cross-site scripting
  internal/lidar/monitor/webserver.go
Due: format-go

[go][html] add templates for LiDAR dashboards and embed in webserver
  internal/lidar/background.go
  internal/lidar/monitor/dashboard.html
  internal/lidar/monitor/regions_dashboard.html
  internal/lidar/monitor/webserver.go
Due: format-go

[html] format
  internal/lidar/monitor/dashboard.html
  internal/lidar/monitor/regions_dashboard.html
Due: none

[html] format
  internal/lidar/monitor/status.html
Due: none

[html] fix double percentage signs in lidar dashboards
  internal/lidar/monitor/dashboard.html
  internal/lidar/monitor/regions_dashboard.html
Due: none

[mv] move html files
  internal/lidar/monitor/html/dashboard.html
  internal/lidar/monitor/html/regions_dashboard.html
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[html] enhance region selection and outline drawing in LiDAR dashboard
  internal/lidar/monitor/html/regions_dashboard.html
Due: none

[js] enhance track history and rendering with pagination and observation filters
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/TimelinePane.svelte
  web/src/lib/components/lidar/TrackList.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[go] update tracking parameters to require 5 hits for confirmation and add plausibility checks for position jumps and speeds
  internal/lidar/analysis_run.go
  internal/lidar/analysis_run_test.go
  internal/lidar/tracking.go
  internal/lidar/tracking_test.go
Due: format-go
