Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Deprecate peak speed references
  docs/DEVLOG.md
  docs/data/VRLOG_ANALYSIS.md
  internal/lidar/analysis/compat_test.go
  internal/lidar/analysis/types.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/recorder/recorder_test.go
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
Due: format-go, format-mac, format-markdown

Add legacy speed cleanup note
  docs/BACKLOG.md
  docs/maths/classification-maths.md
  internal/lidar/analysis/types.go
  internal/lidar/visualiser/model.go
Due: format-go, format-markdown

Update legacy speed cleanup
  docs/BACKLOG.md
  docs/data/VRLOG_ANALYSIS.md
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/compare_test.go
  internal/lidar/analysis/compat_test.go
  internal/lidar/analysis/types.go
Due: format-go, format-markdown

Apply suggestions from code review
  docs/lidar/architecture/foreground_tracking.md
Due: format-markdown

[go][mac] rename PeakSpeedMps to MaxSpeedMps (#361)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/VISION.md
  docs/data/VRLOG_ANALYSIS.md
  docs/lidar/architecture/foreground_tracking.md
  docs/lidar/architecture/lidar_sidecar_overview.md
  docs/lidar/troubleshooting/01-tracking-upgrades.md
  docs/maths/classification-maths.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/compare_test.go
  internal/lidar/analysis/compat_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/report_test.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/tracking_speed_test.go
  internal/lidar/l6objects/classification.go
  internal/lidar/l6objects/features_test.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/recorder/recorder_test.go
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ExtractedHelpersTests.swift
Due: format-go, format-mac, format-markdown

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

Review proto-breaking merges
  docs/BACKLOG.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

Apply suggestions from code review
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

[docs] refine backward compatibility shim removal plan documentation
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  internal/lidar/l2frames/frame_builder.go
Due: format-go, format-markdown

[docs] update backlog with recent task completions and new entries
  docs/BACKLOG.md
Due: format-markdown

[docs] fix PR #366 review links and schema path
  data/sqlite-erd/graph.sh
  docs/maths/proposals/20260222-geometry-coherent-tracking.md
  docs/maths/proposals/20260222-obb-heading-stability-review.md
  docs/maths/proposals/20260310-reflective-sign-pose-anchor-maths.md
Due: format-markdown

[docs] table format
  docs/README.md
  docs/lidar/README.md
  docs/lidar/architecture/README.md
Due: format-markdown

Apply suggestions from code review
  docs/maths/proposals/20260222-geometry-coherent-tracking.md
  docs/maths/proposals/20260222-obb-heading-stability-review.md
Due: format-markdown

[sql] fix foreign key selection logic in SQLite ERD generation
  data/sqlite-erd/sqlite_graph.sql
Due: format-sql

Implement feature X to enhance user experience and optimize [fs] rm schema.svg
  docs/data/schema.svg
Due: none

[docs] generate SCHEMA.svg
  docs/data/SCHEMA.svg
Due: none

[docs] update BACKLOG (#358)
  docs/BACKLOG.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  internal/lidar/l2frames/frame_builder.go
Due: format-go, format-markdown

[docs] standardise table column formatting in LiDAR tracks consolidation plan
  docs/plans/lidar-tracks-table-consolidation-plan.md
Due: format-markdown

[docs] add VRLOG Run Comparison Report for 2026-03-10 with critical findings and experiment test plan
  docs/data/VRLOG_RUN_COMPARISON_2026_03_10.md
Due: format-markdown

[docs] add plan for Typed UUID prefixes to standardize UUID generation across the project
  docs/BACKLOG.md
  docs/plans/platform-typed-uuid-prefixes-plan.md
Due: format-markdown

Apply suggestions from code review
  docs/data/VRLOG_RUN_COMPARISON_2026_03_10.md
  docs/plans/platform-typed-uuid-prefixes-plan.md
Due: format-markdown

[docs] .vrlog + UUID plans (#369)
  docs/BACKLOG.md
  docs/data/VRLOG_RUN_COMPARISON_2026_03_10.md
  docs/plans/platform-typed-uuid-prefixes-plan.md
Due: format-markdown

[js] update speed ratio input minimum and step values for Lidar parameters
  internal/lidar/monitor/html/status.html
Due: none

[go] eplace log.Logger with taggedLogger for consistent log formatting across packages
  internal/lidar/debug.go
  internal/lidar/l1packets/parse/debug.go
  internal/lidar/l1packets/parse/debug_test.go
  internal/lidar/l2frames/debug.go
  internal/lidar/l3grid/debug.go
  internal/lidar/pipeline/debug.go
Due: format-go

Update docs/plans/schema-simplification-migration-030-plan.md
  docs/plans/schema-simplification-migration-030-plan.md
Due: format-markdown

[docs] LiDAR tracks table consolidation plan (#368)
  docs/BACKLOG.md
  docs/plans/lidar-tracks-table-consolidation-plan.md
  docs/plans/schema-simplification-migration-030-plan.md
Due: format-markdown

[go] replace taggedLogger with logutil.TaggedLogger for consistency across packages
  internal/lidar/debug.go
  internal/lidar/l1packets/parse/debug.go
  internal/lidar/l1packets/parse/debug_test.go
  internal/lidar/l2frames/debug.go
  internal/lidar/l3grid/debug.go
  internal/lidar/logutil/tagged_logger.go
  internal/lidar/logutil/tagged_logger_test.go
  internal/lidar/pipeline/debug.go
Due: format-go

[go] add logging support for l4perception and l5tracks packages; enhance tracking diagnostics in l6objects
  cmd/radar/radar.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/l4perception/debug.go
  internal/lidar/l4perception/debug_test.go
  internal/lidar/l5tracks/debug.go
  internal/lidar/l5tracks/debug_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l6objects/classification.go
  internal/lidar/l6objects/debug.go
  internal/lidar/l6objects/debug_test.go
Due: format-go

[go] refactor logging messages in tracking_pipeline.go for consistency
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] refactor logging implementation across multiple packages to use TaggedLogger for consistency
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/debug.go
  internal/lidar/l1packets/network/debug.go
  internal/lidar/l1packets/parse/config.go
  internal/lidar/l2frames/export.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/monitor/debug.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/debug.go
  internal/lidar/sweep/debug.go
  internal/lidar/visualiser/debug.go
Due: format-go

[go] refactor logging in lidar monitor and visualiser modules
  cmd/radar/radar.go
  cmd/tools/vrlog-analyse/main.go
  internal/lidar/l1packets/network/foreground_forwarder.go
  internal/lidar/l1packets/network/listener.go
  internal/lidar/l1packets/network/pcap.go
  internal/lidar/l1packets/network/pcap_count.go
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/background_flusher.go
  internal/lidar/l3grid/background_persistence.go
  internal/lidar/l3grid/export_bg_snapshot.go
  internal/lidar/l3grid/foreground.go
  internal/lidar/monitor/client.go
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/export_handlers.go
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/scene_api.go
  internal/lidar/monitor/stats.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/hint.go
  internal/lidar/sweep/output.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/sampler.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/publisher.go
  internal/lidar/visualiser/replay.go
Due: format-go

[go] remove unused log imports across multiple files for cleaner code
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l3grid/background_persistence.go
  internal/lidar/l3grid/export_bg_snapshot.go
  internal/lidar/l3grid/foreground.go
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/export_handlers.go
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/scene_api.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go] remove unused log import in background.go for cleaner code
  internal/lidar/l3grid/background.go
Due: format-go

[go] add tests for logging functions in l4perception, l5tracks, and l6objects; enhance tagged logger tests for better coverage
  internal/lidar/l4perception/debug_test.go
  internal/lidar/l5tracks/debug_test.go
  internal/lidar/l6objects/debug_test.go
  internal/lidar/logutil/tagged_logger_test.go
Due: format-go

[go] refactor logging statements to use traceLogger for conditional logging in DBSCAN, Tracker, and TrackClassifier; update TaggedLogger to format messages correctly
  internal/lidar/l4perception/cluster.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l6objects/classification.go
  internal/lidar/logutil/tagged_logger.go
  internal/lidar/logutil/tagged_logger_test.go
  internal/lidar/monitor/debug.go
Due: format-go

[ver] bump version to 0.5.0-pre17 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser/App/BuildInfo.swift
  web/package.json
Due: format-web, format-mac

[mac] ensure previous flags are preserved when playback mode is set to unknown
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
Due: format-mac

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
