Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[ai][img] stage-velocity: fix header comment to match directory name
  image/stage-velocity/02-velocity-python/00-run.sh
Due: none

[ai][docs] defer InlineSvgChart SVG injection hardening to v0.5.2
  docs/BACKLOG.md
  docs/plans/pdf-go-chart-migration-plan.md
  web/src/lib/components/charts/InlineSvgChart.svelte
Due: format-web, format-markdown

[make] build: add link-ignore comment to check-md-links target
  Makefile
Due: none

[docs] add link-ignore
  docs/plans/pdf-go-chart-migration-plan.md
Due: format-markdown

[docs] add architectural feasibility study for Pure-Go LaTeX backend migration
  docs/plans/pdf-pure-go-latex-plan.md
Due: format-markdown

[ai][docs] align pure-go latex feasibility plan with current pipeline
  docs/plans/pdf-pure-go-latex-plan.md
Due: format-markdown

[docs] add feasibility study for Pure-Go LaTeX backend star-tex (#475)
  docs/plans/pdf-pure-go-latex-plan.md
Due: format-markdown

[ai] update agent models for Flo, Ruth, and Terry personas
  .claude/agents/flo.md
  .claude/agents/ruth.md
  .claude/agents/terry.md
Due: format-markdown

docs: update link-ignore instructions in Makefile and migration plan
  Makefile
  docs/plans/pdf-go-chart-migration-plan.md
Due: format-markdown

[ai][go] report: validate config before checking external tools
  internal/report/report.go
Due: format-go

[ai][go] vrlog_test: fix data race on mockFrameReader.paused
  internal/lidar/l9endpoints/vrlog_test.go
Due: format-go

[docs] plan: embedded offline documentation site served on :8083
  docs/plans/embedded-offline-docs-site.md
Due: format-markdown

[ver] bump version to 0.5.1-pre8 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[docs] add link-ignore comments to markdown for Eleventy compatibility
  docs/plans/embedded-offline-docs-site.md
Due: format-markdown

[ai][go] make report ZIP output deterministic
  internal/report/archive.go
  internal/report/archive_test.go
Due: format-go

[ai][js] harden inline SVG chart loading
  web/src/lib/components/charts/InlineSvgChart.svelte
  web/src/lib/components/charts/inlineSvgChart.test.ts
  web/src/lib/components/charts/inlineSvgChart.ts
Due: format-web

[ai][go][chart] comparison: spread legend items across half the plot width
  internal/report/chart/histogram.go
Due: format-go

[ai][go][tex] BuildHistogramTableTeX: match stat-table visual style
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
Due: format-go

[ai][go][chart] timeseries: add MaxReference dashed black reference line
  internal/report/chart/timeseries.go
  internal/report/report.go
Due: format-go

[ai][go][tex] apply stat-table styling to dual histogram and key metrics tables
  internal/report/tex/helpers.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go

[ai][go][chart] timeseries: wider left margin and dedicated speed-label lane
  internal/report/chart/timeseries.go
Due: format-go

[docs] Phase 9: consolidate architecture and reduce duplication in PDF generation
  docs/plans/pdf-go-chart-migration-plan.md
Due: format-markdown

[ai][go][docs] complete phase 9 report pipeline consolidation
  docs/plans/pdf-go-chart-migration-plan.md
  internal/report/archive.go
  internal/report/chart/assets/fonts.go
  internal/report/chart/svg.go
  internal/report/chart_pipeline.go
  internal/report/report.go
  internal/report/report_phases.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
Due: format-go, format-markdown

[ai][go][svelte] Tailscale: web UI enable/disable for opt-in tailnet enrolment
  .gitignore
  Makefile
  cmd/radar/radar.go
  cmd/velocity-ctl/main.go
  cmd/velocity-ctl/tailscale.go
  go.mod
  go.sum
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/07-velocity-tailscale/01-run.sh
  internal/api/server.go
  internal/api/server_tailscale.go
  internal/tailscale/manager.go
  internal/tailscale/manager_test.go
  public_html/src/guides/tailscale.md
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/api.ts
  web/src/routes/(constrained)/settings/+page.svelte
Due: format-go, format-web, format-markdown

[go][tex] update period labels for clarity in overview and comparison templates
  internal/report/chart/timeseries.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/testdata/golden_comparison.tex
Due: format-go

[go] adjust left margin and plot width in RenderTimeSeries for improved layout
  internal/report/chart/timeseries.go
Due: format-go

[go][tex] update table formatting and improve metric labels in TeX templates
  internal/report/tex/render_test.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go

[go][tex] improve histogram rendering and adjust LaTeX table formatting for consistency
  internal/report/chart/histogram.go
  internal/report/tex/helpers.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go

[py] add script to generate and download test PDF reports from the velocity.report API
  scripts/gen_reports.py
Due: none

[ai][go] fix chart rendering: gap dividers, multiples-of-5 axes, histogram percentages
  internal/report/chart/histogram.go
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  scripts/gen_reports.py
Due: format-go

[py] update report sources and histogram max values for consistency
  scripts/gen_reports.py
Due: none

[ai][go] comparison report: t2 source, green row colours, shorter survey param labels
  internal/report/report_phases.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.pdf
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go

[ai][go] chart polish: white label boxes, adaptive tick steps, consistent row colours
  internal/report/chart/histogram.go
  internal/report/chart/timeseries.go
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go

[go][tex] add key metrics tables for single and comparison modes in LaTeX reports
  docs/plans/pdf-go-chart-migration-plan.md
  internal/report/report_phases.go
  internal/report/tex/helpers.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go, format-markdown

[docs] add canonical PDF report design document outlining visual and layout decisions
  docs/ui/PDF_REPORT_DESIGN.md
Due: format-markdown

[tex] standardize terminology: replace "Field of View" with "FOV" in survey parameter tables
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: none

[py] update histogram maximum value from 30.0 to 35.0 for improved data accuracy
  scripts/gen_reports.py
Due: none

[go] implement time gap detection in time series rendering and add corresponding tests
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
Due: format-go

add padTimeSeriesGaps function to handle missing time series data points
  internal/report/report.go
  internal/report/report_phases.go
Due: format-go

[go] add test for handling sparse hourly gaps in time series SVG generation
  internal/report/report_test.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
