Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[docs] LiDAR foreground tracking and export status
  internal/lidar/docs/lidar-foreground-tracking-status.md
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] add velocity-coherent foreground extraction design document
  internal/lidar/docs/foreground_tracking_plan.md
  internal/lidar/docs/lidar-foreground-tracking-status.md
  internal/lidar/docs/velocity-coherent-foreground-extraction.md
Due: none

[docs] update LIDAR integration and tracking documents with simplifications for traffic monitoring
  internal/lidar/docs/av-lidar-integration-plan.md
  internal/lidar/docs/lidar-foreground-tracking-status.md
  internal/lidar/docs/motion-capture-architecture.md
  internal/lidar/docs/static-pose-alignment-plan.md
  internal/lidar/docs/velocity-coherent-foreground-extraction.md
Due: none

[docs] lidar updates (#173)
  internal/lidar/docs/av-lidar-integration-plan.md
  internal/lidar/docs/foreground_tracking_plan.md
  internal/lidar/docs/lidar-background-grid-standards.md
  internal/lidar/docs/lidar-foreground-tracking-status.md
  internal/lidar/docs/lidar-tracking-integration.md
  internal/lidar/docs/lidar_sidecar_overview.md
  internal/lidar/docs/motion-capture-architecture.md
  internal/lidar/docs/pcap-analysis-mode.md
  internal/lidar/docs/pcap-split-tool.md
  internal/lidar/docs/static-pose-alignment-plan.md
  internal/lidar/docs/velocity-coherent-foreground-extraction.md
Due: none

[go] Velocity Coherent Tracker implementation and tests
  cmd/radar/radar.go
  internal/lidar/dual_pipeline.go
  internal/lidar/dual_pipeline_test.go
  internal/lidar/monitor/algorithm_api.go
  internal/lidar/monitor/algorithm_api_test.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/lidar/vc_track_store.go
  internal/lidar/vc_track_store_test.go
  internal/lidar/velocity_coherent_tracker.go
  internal/lidar/velocity_coherent_tracker_test.go
Due: format-go

[sql] add migration for velocity-coherent tracking tables and related indices
  internal/db/migrations/000013_create_velocity_coherent_tracks.down.sql
  internal/db/migrations/000013_create_velocity_coherent_tracks.up.sql
  internal/db/schema.sql
Due: none

[js] add VCTrackRaw interface and update getVCTracks function for velocity-coherent tracks
  web/src/lib/api.ts
Due: format-web

[go][js] implement velocity-coherent tracking features and API integration
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web

Add velocity-coherent foreground extraction design document (#165)
  go.mod
  internal/lidar/docs/velocity-coherent-foreground-extraction.md
  internal/lidar/velocity_coherent_clustering.go
  internal/lidar/velocity_coherent_clustering_test.go
  internal/lidar/velocity_coherent_merging.go
  internal/lidar/velocity_coherent_merging_test.go
  internal/lidar/velocity_coherent_tracking.go
  internal/lidar/velocity_coherent_tracking_test.go
  internal/lidar/velocity_estimation.go
  internal/lidar/velocity_estimation_test.go
Due: format-go

[go] improve error handling when creating sub-filesystem for migrations
  internal/db/db.go
Due: format-go

[go] add functionality to find and delete duplicate background snapshots
  internal/db/db.go
Due: format-go

[go] add API endpoint for fetching database statistics and implement database size analysis
  cmd/deploy/monitor.go
  internal/api/server.go
  internal/db/db.go
Due: format-go

[go] add endpoint for retrieving database statistics in JSON format
  internal/db/db.go
Due: format-go

[go] add path validation for output files to prevent path traversal attacks
  cmd/sweep/main.go
  internal/api/server.go
  internal/security/pathvalidation.go
Due: format-go

[ai] Apply suggestions from code review
  internal/api/server.go
  internal/db/db.go
  internal/security/pathvalidation.go
Due: format-go

Add test coverage for security, database stats, and duplicate snapshot functions (#175)
  internal/api/server_test.go
  internal/db/db_stats_test.go
  internal/security/pathvalidation_test.go
Due: format-go

[go] db stats API + path validation (#174)
  cmd/deploy/monitor.go
  cmd/sweep/main.go
  internal/api/server.go
  internal/api/server_test.go
  internal/db/db.go
  internal/db/db_stats_test.go
  internal/security/pathvalidation.go
  internal/security/pathvalidation_test.go
Due: format-go

[exe] make format
  internal/lidar/clustering.go
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/network/pcap_realtime_stub.go
  internal/lidar/quality.go
  internal/lidar/track_export.go
  internal/lidar/track_store.go
  internal/lidar/tracking.go
  web/src/lib/components/lidar/MapPane.svelte
Due: format-go, format-web

[go] remove unnecessary method check in handleGridReset for improved simplicity
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add endpoint to export latest foreground snapshot to ASC and implement corresponding handler
  internal/lidar/foreground_snapshot.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enhance azimuth calculation and default distance marker in packet encoding
  internal/lidar/network/foreground_forwarder.go
Due: format-go

[go] add PCAP speed mode and ratio configuration to LiDAR monitor
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[version] update version to 0.4.0-pre4 in Makefile, main.go, and package.json files
  Makefile
  cmd/deploy/main.go
  docs/package.json
  web/package.json
Due: format-go, format-web

[go] add SensorID to RealtimeReplayConfig for caching debug snapshots during PCAP replay
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/network/pcap_realtime_stub.go
Due: format-go

[go] optimize point encoding by sorting and using azimuth buckets for better data handling
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/track_export.go
Due: format-go

add azimuth coverage checks for frame completion and export logic
  internal/lidar/frame_builder.go
Due: format-go

[go] streamline foreground extraction and caching logic in ReadPCAPFileRealtime
  internal/lidar/network/pcap_realtime.go
Due: format-go

[sql] add new fields to lidar tables for enhanced tracking and analysis
  internal/db/schema.sql
Due: none

[go] add batch export functionality for LiDAR frames and foreground snapshots
  internal/lidar/frame_builder.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

add foreground snapshot counts to status UI and implement thread-safe access
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add warmup packets feature to RealtimeReplayConfig and adjust PCAP handling for background seeding
  internal/lidar/background.go
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/network/pcap_realtime_stub.go
Due: format-go

[go] add latestFgCounts to WebServer for tracking foreground snapshot counts in status UI
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add new fields to lidar tables for noise points and track metrics
  internal/lidar/frame_builder.go
  internal/lidar/track_store_test.go
Due: format-go

[go] enhance lidar functionality with foreground packet forwarding and updated Makefile options
  Makefile
  cmd/radar/radar.go
  internal/lidar/network/foreground_forwarder.go
Due: format-go

[go] move logging in FrameBuilder and Forwarders to use Debugf for improved clarity
  internal/lidar/frame_builder.go
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/forwarder.go
Due: format-go

fix: reorder idx_lidar_tracks_quality index creation in schema.sql
  internal/db/schema.sql
Due: none

[go] enhance foreground processing with warmup logging and frame counting
  internal/lidar/foreground.go
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/pcap_realtime.go
Due: format-go

[go] enhance lidar processing with runtime-tunable parameters for clustering and warmup
  cmd/radar/radar.go
  cmd/tools/pcap-analyze/main.go
  internal/lidar/background.go
  internal/lidar/foreground.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

fix: align CREATE TABLE statement for schema_migrations
  internal/db/schema.sql
Due: none

[go] add warmup and foreground cluster parameters to BackgroundManager
  internal/lidar/background.go
Due: format-go
