Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[docs] fix image paths in README for clarity (#444)
  README.md
Due: format-markdown

[docs] add CLAUDE.md for project guidance and command instructions
  .claude/agents/appius.md
  .claude/agents/euler.md
  .claude/agents/flo.md
  .claude/agents/grace.md
  .claude/agents/malory.md
  .claude/agents/ruth.md
  .claude/agents/terry.md
  .claude/skills/plan-review/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/ship-change/SKILL.md
  .claude/skills/weekly-retro/SKILL.md
  CLAUDE.md
Due: format-markdown

[docs] update BACKLOG, DECISIONS, and agent preparedness documentation; add Matrix Tracer agent definition
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/plans/agent-claude-preparedness-review-plan.md
  docs/platform/operations/agent-preparedness.md
Due: format-markdown

[sh] enhance persona extraction to remove portrait comment blocks from Copilot agents
  scripts/check-agent-drift.sh
Due: none

[ai] update agent methodologies and introduce new skills for standup and security review
  .claude/agents/flo.md
  .claude/agents/malory.md
  .claude/skills/security-review/SKILL.md
  .claude/skills/standup/SKILL.md
  .claude/skills/trace-matrix/SKILL.md
  .github/agents/flo.agent.md
  .github/agents/malory.agent.md
  .github/agents/matrix-tracer.agent.md
  .github/prompts/trace-matrix.prompt.md
  CLAUDE.md
Due: format-markdown

[ai][docs] address PR review: fix FrameBuilder nil-clock failure mode, soften logging plan dependency wording
  docs/plans/go-structured-logging-plan.md
  docs/plans/lidar-clock-abstraction-and-time-domain-model-plan.md
Due: format-markdown

[py] add script to check backtick-quoted file paths in Markdown for stale targets
  scripts/check-backtick-paths.py
Due: none

[docs] update references to TENETS.md to include the correct path in .github directory
  .claude/agents/appius.md
  .claude/agents/euler.md
  .claude/agents/flo.md
  .claude/agents/grace.md
  .claude/agents/malory.md
  .claude/agents/ruth.md
  .claude/agents/terry.md
  CLAUDE.md
Due: format-markdown

[make] enhance lint-docs target to include backtick path checks and add report-backtick-paths target
  Makefile
Due: none

[docs] update path reference for PROJECT TENETS in agent preparedness documentation
  docs/platform/operations/agent-preparedness.md
Due: format-markdown

[docs] update CLAUDE.md to clarify available workflow skills and add 'fix-links' command
  CLAUDE.md
Due: format-markdown

[py] enhance check-backtick-paths.py to skip contents of fenced code blocks
  scripts/check-backtick-paths.py
Due: none

[docs] add SKILL.md for fix-links functionality to audit and repair Markdown links
  .claude/skills/fix-links/SKILL.md
Due: format-markdown

[docs] update relative paths in documentation for consistency and accuracy
  .claude/skills/fix-links/SKILL.md
  data/QUESTIONS.md
  data/structures/MATRIX.md
  docs/lidar/architecture/vector-scene-map.md
  docs/lidar/operations/replay-case-management-implementation.md
  docs/plans/TEMPLATE.md
  docs/plans/agent-claude-preparedness-review-plan.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/lidar-static-pose-alignment-plan.md
  docs/plans/platform-hub-restructure-plan.md
  docs/platform/operations/rpi-imager.md
  tools/grid-heatmap/README-GRID-HEATMAP.md
Due: format-markdown

[py] skip lines annotated with <!-- link-ignore --> in link checks
  scripts/check-backtick-paths.py
  scripts/check-relative-links.py
Due: none

[make] add check-md-links target to verify dead links and stale backtick paths in Markdown
  .pre-commit-config.yaml
  Makefile
Due: none

[ci] add public_html CI workflow for linting and building documentation site
  .github/workflows/public-html-ci.yml
Due: none

[ci] add Markdown CI workflow for checking dead links and stale paths
  .github/workflows/markdown-ci.yml
Due: none

[docs] update link-ignore annotations in documentation for clarity
  docs/plans/agent-claude-preparedness-review-plan.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/platform/operations/rpi-imager.md
Due: format-markdown

[docs] update CLAUDE.md and BACKLOG.md for clarity on pipeline and skills
  CLAUDE.md
  docs/BACKLOG.md
  docs/platform/operations/agent-preparedness.md
Due: format-markdown

[fix] refine regex for backtick-quoted paths and improve placeholder suffix handling
  scripts/check-backtick-paths.py
Due: none

[docs] suppress link-ignore on runtime ./sensor_data.db references
  docs/radar/cli-comprehensive-guide.md
  docs/radar/operations/remote-host-upgrade-runbook.md
Due: format-markdown

[fix] update file permissions for check-backtick-paths.py script
  scripts/check-backtick-paths.py
Due: none

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] go clock abstraction plan (#428)
  docs/plans/go-structured-logging-plan.md
  docs/plans/lidar-clock-abstraction-and-time-domain-model-plan.md
Due: format-markdown

[ai][go] strip all leading separators in dev-mode path normalisation (PR #441 review)
  internal/api/server.go
Due: format-go

[security] Update vulnerable dependencies across Go, npm, and Python ecosystems (#441)
  go.mod
  go.sum
  internal/api/server.go
  requirements.in
  requirements.txt
  web/package.json
  web/pnpm-lock.yaml
Due: format-go, format-web

[py] format
  scripts/download-papers.py
  tools/pdf-generator/pdf_generator/core/map_utils.py
Due: format-python

[docs] add comprehensive paper-vs-implementation gap analysis for 24 papers
  data/maths/paper-implementation-gap-analysis.md
Due: format-markdown

[docs] refine paper-vs-implementation gap analysis methodology and findings summary
  data/maths/paper-implementation-gap-analysis.md
Due: format-markdown

[docs] update links in paper-vs-implementation gap analysis for consistency
  data/maths/paper-implementation-gap-analysis.md
Due: format-markdown

[ai][py] address PR review comments on download-papers.py
  scripts/download-papers.py
Due: none

[py] paper download script (#446)
  .gitignore
  data/maths/paper-implementation-gap-analysis.md
  data/maths/papers/.gitkeep
  data/maths/references.bib
  scripts/download-papers.py
  tools/pdf-generator/pdf_generator/core/map_utils.py
Due: format-python, format-markdown

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: format-markdown

[docs] update architecture documents for ground plane extraction and GPS parsing
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/plans/lidar-bodies-in-motion-plan.md
  docs/plans/lidar-l7-scene-plan.md
Due: format-markdown

[sh] remove velocity-update script; replaced by velocity-ctl for on-device management
  image/scripts/build-image.sh
  image/stage-velocity/01-velocity-binaries/00-run.sh
  image/stage-velocity/01-velocity-binaries/files/velocity-update
Due: none

[docs] velocity-ctl for on-device management; update documentation and migration guidance
  cmd/deploy/README.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/platform/operations/distribution-packaging.md
  docs/platform/operations/rpi-imager.md
  image/README.md
Due: format-markdown

[git] add velocity-ctl to .gitignore to exclude on-device management tool
  .gitignore
Due: none

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
