Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[go] add compare_source field to ReportRequest and update report generation logic
  internal/api/server.go
Due: format-go

[py] update model_version to 'hourly-cron' and add compare_source to QueryConfig
  tools/pdf-generator/pdf_generator/cli/create_config.py
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/config_manager.py
  tools/pdf-generator/pdf_generator/tests/test_get_stats.py
Due: format-python

[py] update report generation to include percentage calculations and improve survey parameters handling
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/core/report_sections.py
  tools/pdf-generator/pdf_generator/tests/test_config_integration.py
  tools/pdf-generator/pdf_generator/tests/test_report_sections.py
Due: format-python

[go] add initial site configuration and cosine error angle to site config periods tests
  internal/api/generate_e2e_test.go
  internal/api/radar_stats_correction_test.go
  internal/api/site_config_periods_test.go
  internal/api/testdata/mock_pdf_generator.sh
  internal/db/site_config_periods_test.go
Due: format-go

[go] add security validation for PDF path to prevent path traversal attacks
  internal/api/server.go
Due: format-go

[go] remove radar_data as source option
  internal/api/handlers_test.go
  internal/api/server.go
Due: format-go

[js] replace ToggleGroup with DataSourceSelector component for source selection
  web/src/lib/components/DataSourceSelector.svelte
  web/src/routes/+page.svelte
  web/src/routes/reports/+page.svelte
Due: format-web

[go] add min_speed_used to RadarStatsResult and include in radar object stats response
  internal/api/server.go
  internal/db/db.go
Due: format-go

[py] add min_speed_used to API responses and update related functions and tests
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/api_client.py
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/tests/test_api_client.py
  tools/pdf-generator/pdf_generator/tests/test_get_stats.py
Due: format-python

[go] add boundary hour filtering to RadarObjectRollupRange for improved data accuracy
  internal/db/db.go
Due: format-go

[go] add boundary hour filtering to RadarObjectRollupRange for improved data accuracy
  internal/api/server.go
  internal/db/db.go
  internal/db/db_core_test.go
  internal/db/db_rollup_test.go
  internal/db/site_config_periods_test.go
Due: format-go

[py] add boundary hour filtering and summary metric derivation functions
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/api_client.py
  tools/pdf-generator/pdf_generator/core/config_manager.py
  tools/pdf-generator/pdf_generator/tests/test_api_client.py
  tools/pdf-generator/pdf_generator/tests/test_get_stats.py
Due: format-python

[ver] bump version to 0.4.0-pre9 in Makefile, pyproject.toml, and package.json
  Makefile
  tools/pdf-generator/pyproject.toml
  web/package.json
Due: format-web

[go] add boundary_threshold to ReportRequest for filtering boundary hours
  internal/api/server.go
Due: format-go

[js] add boundary_threshold and minSpeed to ReportRequest and report generation form
  web/src/lib/api.ts
  web/src/routes/reports/+page.svelte
Due: format-web

[go][js] add tests for min_speed and boundary_threshold parameters in generateReport
  internal/api/handlers_test.go
  web/src/lib/api.test.ts
Due: format-go, format-web

[py] adjust vertical line positioning at day boundaries in time-series charts
  tools/pdf-generator/pdf_generator/core/chart_builder.py
Due: format-python

[py] add day boundary calculations and update percentile line plotting in TimeSeriesChartBuilder
  tools/pdf-generator/pdf_generator/core/chart_builder.py
Due: format-python

[py] use original date strings from datepicker across PDF generation and charting components
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/core/document_builder.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/tests/test_chart_builder.py
  tools/pdf-generator/pdf_generator/tests/test_document_builder.py
  tools/pdf-generator/pdf_generator/tests/test_get_stats.py
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
Due: format-python

[js] add isoDate utility function and update imports in components
  web/src/lib/dateUtils.test.ts
  web/src/lib/dateUtils.ts
  web/src/routes/+page.svelte
  web/src/routes/reports/+page.svelte
Due: format-web

[py] enhance PDF report generation with detailed data tables and improved parameter sections
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/core/report_sections.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
  tools/pdf-generator/pdf_generator/tests/test_config_integration.py
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
  tools/pdf-generator/pdf_generator/tests/test_report_sections.py
Due: format-python

[py] enhance PDF report sections with combined vehicle total calculation and improved table formatting
  tools/pdf-generator/pdf_generator/core/report_sections.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
Due: format-python

[py] enhance PDF report generation with additional velocity unit support and improved vehicle count display
  tools/pdf-generator/pdf_generator/core/config_manager.py
  tools/pdf-generator/pdf_generator/core/report_sections.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
  tools/pdf-generator/pdf_generator/tests/test_table_builders.py
Due: format-python

[py] add max_bucket parameter to histogram generation for improved label formatting and table output
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/core/stats_utils.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
  tools/pdf-generator/pdf_generator/tests/test_max_bucket_histogram.py
Due: format-python

[js] add maxSpeedCutoff input to report generation for enhanced speed filtering
  web/src/routes/reports/+page.svelte
Due: format-web

[js] add functionality to save and load report settings from local storage
  web/src/routes/reports/+page.svelte
Due: format-web

[go] enhance histogram aggregation by adding support for max bucket in RadarObjectRollupRange
  internal/db/db.go
  internal/db/db_rollup_test.go
Due: format-go

[py] enhance histogram formatting by capping bucket ranges at max_bucket
  tools/pdf-generator/pdf_generator/core/chart_builder.py
Due: format-python

[py] centralize histogram label formatting and range computation for consistency
  tools/pdf-generator/pdf_generator/core/chart_builder.py
  tools/pdf-generator/pdf_generator/core/stats_utils.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
  tools/pdf-generator/pdf_generator/tests/test_max_bucket_histogram.py
  tools/pdf-generator/pdf_generator/tests/test_table_builders.py
Due: format-python

[py] streamline histogram test file handling and cleanup
  tools/pdf-generator/pdf_generator/tests/test_histogram_below_cutoff.py
  tools/pdf-generator/pdf_generator/tests/test_histogram_label_format.py
Due: format-python

[git] update .gitignore to include test artifacts for report generation
  .gitignore
Due: none

[js] refactor layout in report generation page for improved responsiveness and consistency
  web/src/routes/+page.svelte
  web/src/routes/reports/+page.svelte
Due: format-web

[js] constrain settings, reports, site
  web/src/routes/(constrained)/+layout.svelte
  web/src/routes/(constrained)/reports/+page.svelte
  web/src/routes/(constrained)/settings/+page.svelte
  web/src/routes/(constrained)/site/+page.svelte
  web/src/routes/(constrained)/site/[id]/+page.svelte
  web/src/routes/+layout.svelte
Due: format-web

[docs] expand setup guide with detailed instructions and parts list for building a privacy-first speed radar
  docs/src/guides/setup.md
Due: none

[docs] init setup guide for Citizen Radar deployment
  docs/src/guides/setup.md
Due: none

[docs] enhance setup guide with improved clarity, structure, and additional details for building the privacy-first speed radar
  docs/src/guides/setup.md
Due: none

[docs] update setup guide with improved clarity and corrected commands
  docs/src/guides/setup.md
Due: none

[docs] update web dashboard port from 8000 to 8080 in setup guide
  docs/src/guides/setup.md
Due: none

[docs] correct start_time value in vehicle object JSON output
  docs/src/guides/setup.md
Due: none

[docs] improve clarity and conciseness in setup guide content
  docs/src/guides/setup.md
Due: none

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
