Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ai][docs] Attitudes plan: word-bounded rage stem, fixed pace window, cosine dependency, Item 3 split
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
Due: format-markdown

[ai][docs] Attitudes plan: rewrap two prose lines to the 100-column standard
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
Due: format-markdown

[ai][docs] Attitudes plan: rewrap the shares paragraph within 100 columns
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
Due: format-markdown

[ai][docs] Attitudes plan: fold in the technical reports, road type, the subjective curve, and the open questions
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
Due: format-markdown

[ai][docs] Fixed-sensor research briefing: FMCSA's handheld headway programme against the following metrics
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/fixed-sensor-research-briefing-2026-10-09.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/platform/architecture/metrics-registry.md
Due: format-markdown

[ai][docs] Plan for the AAA Foundation attitudes-to-speeding and aggressive-driving findings in reports (#718)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/platform-crash-data-integration-plan.md
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
  docs/platform/operations/pdf-reporting.md
Due: format-markdown

[ai][docs] Fixed-sensor research briefing: FMCSA's handheld headway programme against the following metrics (#719)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/fixed-sensor-research-briefing-2026-10-09.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/platform/architecture/metrics-registry.md
Due: format-markdown

[ai][docs] Add the /research-briefing skill: the weekly literature review method and its Monday routine
  .claude/skills/research-briefing/SKILL.md
  AGENTS.md
  docs/DEVLOG.md
  docs/platform/operations/agent-preparedness.md
Due: format-markdown

[ai][docs] Add the /research-briefing skill: the weekly literature review method and its Monday routine (#721)
  .claude/skills/research-briefing/SKILL.md
  AGENTS.md
  docs/DEVLOG.md
  docs/platform/operations/agent-preparedness.md
Due: format-markdown

[ai][docs] Research briefing Oct 3 to 10: no definition changes, three open questions, all figures unconfirmed
  docs/DEVLOG.md
  docs/lidar/operations/research-briefing-2026-10-10.md
  docs/plans/lidar-behaviour-analytics-plan.md
Due: format-markdown

[ai][docs] Research briefing decisions: cite the Monfort and Mueller US pedestrian curve, park CAN-bus speed for motion work, propose scoring L3 on point-wise labels
  docs/DEVLOG.md
  docs/lidar/operations/research-briefing-2026-10-10.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/platform-crash-data-integration-plan.md
Due: format-markdown

[ai][docs] Every research briefing lives in docs/lidar/operations/brief/, and the skill writes there under a window-specific name and branch
  .claude/skills/research-briefing/SKILL.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/brief/fixed-sensor-research-briefing-2026-10-09.md
  docs/lidar/operations/brief/research-briefing-2025-01-to-2026-10.md
  docs/lidar/operations/brief/research-briefing-2026-10-10.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/platform-crash-data-integration-plan.md
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
Due: format-markdown

[ai][docs] D-28: the thirteen questions the research briefings left open are decided, with three deferrals, five S items and the rest recorded in the plans
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/DEVLOG.md
  docs/lidar/operations/brief/fixed-sensor-research-briefing-2026-10-09.md
  docs/lidar/operations/brief/research-briefing-2025-01-to-2026-10.md
  docs/lidar/operations/brief/research-briefing-2026-10-10.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
  docs/plans/platform-crash-data-integration-plan.md
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
  docs/plans/platform-vocabulary-and-data-model-plan.md
Due: format-markdown

[ai][docs] Explore model-assisted review: what a vision model and a fixed-scale renderer add to the annotation flow
  docs/plans/lidar-model-assisted-review-exploration.md
Due: format-markdown

[ai][docs] Model-assisted review exploration: fold in the existing scene-capture renderer and the evaluator's truth predicate
  docs/plans/lidar-model-assisted-review-exploration.md
Due: format-markdown

[ai][docs] Research briefing Oct 3 to 10: cite the US pedestrian curve, park CAN-bus speed, propose L3 point-wise scoring (#722)
  docs/DEVLOG.md
  docs/lidar/operations/research-briefing-2026-10-10.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/platform-crash-data-integration-plan.md
Due: format-markdown

[ai][docs] Window research briefing, January 2025 to October 2026; every briefing under docs/lidar/operations/brief/; D-28 decides the thirteen open questions (#723)
  .claude/skills/research-briefing/SKILL.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/DEVLOG.md
  docs/lidar/operations/brief/fixed-sensor-research-briefing-2026-10-09.md
  docs/lidar/operations/brief/research-briefing-2025-01-to-2026-10.md
  docs/lidar/operations/brief/research-briefing-2026-10-10.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
  docs/plans/platform-crash-data-integration-plan.md
  docs/plans/platform-speeding-attitudes-and-aggressive-driving-plan.md
  docs/plans/platform-vocabulary-and-data-model-plan.md
Due: format-markdown

[ai][docs] add missing LiDAR bibliography entries and citation audit
  data/experiments/try/survey-walk-geometry-gain.md
  data/maths/MATHS.md
  data/maths/paper-implementation-gap-analysis.md
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260905-unified-scene-semantic-classification-maths.md
  data/maths/references.bib
  docs/DEVLOG.md
  docs/lidar/operations/brief/fixed-sensor-research-briefing-2026-10-09.md
  docs/lidar/operations/brief/reference-audit.md
  docs/lidar/operations/brief/research-briefing-2025-01-to-2026-10.md
  docs/lidar/operations/brief/research-briefing-2026-10-10.md
Due: format-markdown

[ai][docs] audit LiDAR paper references and extend bibliography (#725)
  data/experiments/try/survey-walk-geometry-gain.md
  data/maths/MATHS.md
  data/maths/paper-implementation-gap-analysis.md
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260905-unified-scene-semantic-classification-maths.md
  data/maths/references.bib
  docs/DEVLOG.md
  docs/lidar/operations/brief/fixed-sensor-research-briefing-2026-10-09.md
  docs/lidar/operations/brief/reference-audit.md
  docs/lidar/operations/brief/research-briefing-2025-01-to-2026-10.md
  docs/lidar/operations/brief/research-briefing-2026-10-10.md
Due: format-markdown

[ai][docs] W7 spike: end-on truck windows in the corpus and the archive
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/LIDAR.md
  docs/lidar/operations/end-on-truck-window-spike-2026-10.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][docs] geometry convergence criteria: the predeclared levels (W0)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/geometry-convergence-criteria.md
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-physical-reference-review-plan.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][go][sql] solid body containment: the reported box floored at the frame's spans, the position held to the points by density truncation
  data/structures/MATRIX.md
  internal/db/migrations/000060_lidar_solid_body_containment_action.down.sql
  internal/db/migrations/000060_lidar_solid_body_containment_action.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/near_edge_tracking.go
  internal/lidar/l5tracks/near_edge_tracking_test.go
  internal/lidar/l5tracks/solid_body_containment_constraint_test.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/solid_body_guards_test.go
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/storage/sqlite/evidence_oracle.go
  internal/lidar/storage/sqlite/solid_body_store.go
  internal/lidar/storage/sqlite/solid_body_store_test.go
Due: format-go, format-markdown, format-sql

[ai][go][sql] solid body: containment share and observed spans on every row, with the summary and scorecard guards
  cmd/tools/lidar-track-scorecard/main.go
  cmd/tools/lidar-track-scorecard/main_test.go
  data/structures/MATRIX.md
  internal/db/migrations/000059_lidar_solid_body_containment.down.sql
  internal/db/migrations/000059_lidar_solid_body_containment.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/solid_body_containment_test.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/replayeval/solid_body_guards_test.go
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/storage/sqlite/evidence_oracle.go
  internal/lidar/storage/sqlite/solid_body_store.go
Due: format-go, format-markdown, format-sql

[ai][docs] W1a rectangle fit: kirk0 calibration in the plan, backlog and devlog
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][docs] W2 containment: kirk0 result in the plan, backlog and devlog
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][go][sql] rectangle orientation fit: the body axis from a cluster's returns, recorded on the solid-body row
  data/structures/MATRIX.md
  internal/db/migrations/000061_lidar_solid_body_rectangle_fit.down.sql
  internal/db/migrations/000061_lidar_solid_body_rectangle_fit.up.sql
  internal/db/schema.sql
  internal/lidar/l4perception/rectangle_fit.go
  internal/lidar/l4perception/rectangle_fit_test.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_rectangle_fit_test.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/solid_body_guards_test.go
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/storage/sqlite/evidence_oracle.go
  internal/lidar/storage/sqlite/solid_body_store.go
  internal/lidar/storage/sqlite/solid_body_store_test.go
Due: format-go, format-markdown, format-sql

[ai][go] solid body rectangle heading: the body axis filtered from each frame's rectangle fit (W1b)
  internal/lidar/l5tracks/near_edge_tracking.go
  internal/lidar/l5tracks/solid_body_axis.go
  internal/lidar/l5tracks/solid_body_axis_test.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
Due: format-go

[ai][go] solid body containment: the floor's angle searched on a capped subset, the span read on every point
  internal/lidar/l5tracks/solid_body_containment_test.go
  internal/lidar/l5tracks/solid_body_nearedge.go
Due: format-go

[ai][docs] W2 containment: the corpus screen, the levels' evidence and proposed amendments, the cost fix
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/LIDAR.md
  docs/lidar/operations/geometry-convergence-criteria.md
  docs/lidar/operations/solid-body-containment-corpus-2026-10.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][go] solid body rectangle heading: the course fused as a second axis observation, the label held through turns
  internal/lidar/l5tracks/solid_body_axis.go
  internal/lidar/l5tracks/solid_body_axis_test.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
Due: format-go

[ai][go] rectangle fit: the closeness loop compares in place of math.Min and math.Max, 5x faster, the same to the bit
  internal/lidar/l4perception/rectangle_fit.go
  internal/lidar/l4perception/rectangle_fit_test.go
Due: format-go

[ai][go] solid-body summary: the rectangle fit's axis error folded modulo 90 degrees, not 180
  internal/lidar/replayeval/solid_body_guards_test.go
  internal/lidar/replayeval/solid_body_summary.go
Due: format-go

[ai][go] solid body rectangle heading: the fit weighed at a multiple of its sigma in the axis filter
  internal/lidar/l5tracks/solid_body_axis.go
  internal/lidar/l5tracks/solid_body_axis_test.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
Due: format-go

[ai][docs] W1b rectangle heading: the fit's sigma scale settled at 1.5 on the full candidate
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/geometry-convergence-criteria.md
  docs/lidar/operations/solid-body-rectangle-heading-2026-10.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][docs] W1b rectangle heading: the fit's sigma scale at two, scored on kirk0 and the corpus
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/solid-body-rectangle-heading-2026-10.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][go] solid body rectangle heading: the fit's sigma scale at one and a half as a second setting
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
Due: format-go

[ai][docs] W1b rectangle heading: the kirk0 and corpus screen, the levels' evidence, a third proposed amendment
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/LIDAR.md
  docs/lidar/operations/geometry-convergence-criteria.md
  docs/lidar/operations/solid-body-rectangle-heading-2026-10.md
  docs/plans/lidar-tracker-geometry-convergence-plan.md
Due: format-markdown

[ai][go] solid body in the tuning config: l5.cv_kf_v1.solid_body, with the replay experiments as its aliases
  internal/config/solid_body_test.go
  internal/config/tuning.go
  internal/config/tuning_codec.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_validate.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_config_solid_body_test.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/solid_body_tuning_test.go
Due: format-go

[ai][go] :8081 replay from a chosen tuning config: GET /api/lidar/configs, tuning_config on PCAP start, solid-body runtime keys
  internal/cmd/server/lidar_helpers.go
  internal/cmd/server/radar.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_config_solid_body_test.go
  internal/lidar/l9endpoints/l10clients/html/status.html
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/server/client.go
  internal/lidar/server/direct_backend.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/routes.go
  internal/lidar/server/server.go
  internal/lidar/server/state.go
  internal/lidar/server/status.go
  internal/lidar/server/tuning_configs_api.go
  internal/lidar/server/tuning_configs_api_test.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/sweep/backend.go
Due: format-go

[ai][docs][go] config/experiments: the solid-body arms as checked-in parameter sets, with a drift test
  config/experiments/README.md
  config/experiments/alignment-candidate.json
  config/experiments/geometry-convergence-candidate.json
  config/experiments/solid-body-a2.json
  config/experiments/solid-body-shadow.json
  internal/config/experiments_test.go
  internal/lidar/replayeval/solid_body_tuning_test.go
Due: format-go, format-markdown
