Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ci] add build metadata stamping for MOTD including version, build time, and git SHA
  .github/workflows/build-image.yml
Due: none

[img] optimize image build by clearing unnecessary userconf-pi and purging camera stack packages
  image/scripts/build-image.sh
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[img] refine cleanup script to protect critical runtime packages from autoremove
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[ai][py][js] Address Copilot review: stream LaTeX log, clamp SVG coords, fix test determinism
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  web/src/lib/datetimeLocal.test.ts
Due: format-python, format-web

[ai][sh] Protect network-manager from autoremove cascade
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[sh] add linting check for quarter-block Unicode characters to prevent rendering issues on Raspberry Pi
  Makefile
  scripts/check-quarter-blocks.sh
Due: none

[sh] check-quarter-blocks.sh: improve comments and maintainability
  scripts/check-quarter-blocks.sh
Due: none

[ai][sh] Fix cleanup cascade removing runtime packages
  image/scripts/build-image.sh
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[docs][sh] update ASCII art
  CONTRIBUTING.md
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
Due: format-markdown

[sh] nit(velocity-motd): remove extra line in warning banner for clarity
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
Due: none

[docs] update contribution guidelines for commit format and prefix usage
  CLAUDE.md
  CONTRIBUTING.md
Due: format-markdown

[sh][img] update MOTD
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
Due: none

[docs] add macOS local server implementation plan with phases and architecture details
  docs/BACKLOG.md
  docs/plans/macos-local-server-plan.md
Due: format-markdown

[ai][sh] Verify and reinstall critical packages after purge cascade
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[docs] update BACKLOG.md to reflect changes in project phases and tasks
  docs/BACKLOG.md
Due: format-markdown

[ai][sh] Fix MOTD warning, TLS directory permissions, and PDF audit diagnostics
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-generate-tls.sh
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
  scripts/dev-ssh-audit.sh
Due: none

[ai][sh][py] Fix map not included in PDF — librsvg2-bin removed by cascade
  image/stage-velocity/06-cleanup/00-run.sh
  tools/pdf-generator/pdf_generator/core/map_utils.py
Due: format-python

[docs] Add Tailscale remote access setup guide for Raspberry Pi deployment
  docs/BACKLOG.md
  docs/plans/tailscale-remote-access-guide.md
Due: format-markdown

[docs] Update consolidation plans to include detailed descriptions of enum unification and shim removal processes
  docs/plans/label-vocabulary-consolidation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

[docs] Update BACKLOG.md to include task references for setup guide refresh and new error surface voice audit, capabilities API redesign, and VRLOG terminal script
  docs/BACKLOG.md
Due: format-markdown

[img] Add fonts-noto-color-emoji for enhanced map label rendering and update sudoers for specific commands
  image/stage-velocity/00-install-packages/00-packages
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[py] Refactor SKIP_DIRS logic to conditionally skip 'files/' under image/stage-* in Markdown link checks
  scripts/check-backtick-paths.py
  scripts/check-relative-links.py
Due: none

[docs] Update DEVLOG.md with extensive RPi image hardening, web map editor features, and backlog grooming
  docs/DEVLOG.md
Due: format-markdown

[py] Refactor logic to simplify condition for skipping 'files/' under image/stage-* in Markdown link checks
  scripts/check-backtick-paths.py
  scripts/check-relative-links.py
Due: none

[docs] Clarify removal of legacy `velocity-deploy` tool in remote host upgrade runbook
  docs/radar/operations/remote-host-upgrade-runbook.md
Due: format-markdown

[docs] Update BACKLOG.md to reflect phase renaming and reorganization of tasks
  docs/BACKLOG.md
Due: format-markdown

[docs] Update alternatives section in tls-local-certificates.md for clarity and consistency
  docs/platform/operations/tls-local-certificates.md
Due: format-markdown

[ai] Add devlog-update skill to automate development log updates from git history
  .claude/skills/devlog-update/SKILL.md
  CLAUDE.md
Due: format-markdown

[sh] Refactor migration application logic in sync-schema.sh to use read with null delimiter for improved handling of filenames
  scripts/sync-schema.sh
Due: none

[sh] Enhance host key management in dev-ssh.sh with explicit confirmation and improved error handling
  scripts/dev-ssh.sh
Due: none

[sh] Use UTC dates in dev-ssh-audit.sh for consistent timestamp handling across timezones
  scripts/dev-ssh-audit.sh
Due: none

[py] Improve error detection in LaTeX log by adding explicit fatal lines and refining signature checks
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
Due: format-python

[ai] Refine automatic fix criteria in SKILL.md for clarity and consistency
  .claude/skills/fix-links/SKILL.md
Due: format-markdown

[ai] Enhance devlog-update skill in SKILL.md with new branch section guidelines and clarify branch metadata formatting
  .claude/skills/devlog-update/SKILL.md
Due: format-markdown

[ai] Fix formatting in branch metadata guideline for clarity in SKILL.md
  .claude/skills/devlog-update/SKILL.md
Due: format-markdown

[ai] Enhance devlog-update skill in SKILL.md to improve merged PR tracking and date attribution for devlog entries
  .claude/skills/devlog-update/SKILL.md
Due: format-markdown

[docs] Add guidelines for timestamps in STYLE.md and coding-standards.md
  .github/STYLE.md
  .github/knowledge/coding-standards.md
Due: format-markdown

[ai] Clarify branch metadata guidelines and enhance daily entry structure in SKILL.md
  .claude/skills/devlog-update/SKILL.md
Due: format-markdown

[ai] Refine branch metadata guidelines in SKILL.md to standardize unlanded work notation and remove italic headers for clarity.
  .claude/skills/devlog-update/SKILL.md
Due: format-markdown

[py] fix: update test case for nullfont signature detection to match expected log output
  tools/pdf-generator/pdf_generator/tests/test_pdf_generator_log_signatures.py
Due: format-python
