Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[ai][docs] matrix: recount the LiDAR endpoints and mark what the web now calls
  data/structures/MATRIX.md
Due: format-markdown

[ai][js] runs: each row shows its parameters and labelling; Tracks opens on a linked run's clip
  web/src/lib/lidarRecords.test.ts
  web/src/lib/lidarRecords.ts
  web/src/routes/lidar/runs/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[ai][go][js] sweeps: each card names the clip it replayed and the objective it scored
  internal/lidar/storage/sqlite/sweep_store.go
  internal/lidar/storage/sqlite/sweep_store_test.go
  web/src/lib/types/lidar.ts
  web/src/routes/lidar/sweeps/+page.svelte
Due: format-go, format-web

[ai][js] runs: match a clip's capture to the run that replayed it
  web/src/lib/lidarRecords.test.ts
  web/src/lib/lidarRecords.ts
Due: format-web

[ai][js] sweeps: a plain sweep's objective reads "none, compared by hand"
  web/src/lib/lidarRecords.test.ts
  web/src/lib/lidarRecords.ts
  web/src/routes/lidar/sweeps/+page.svelte
Due: format-web

[ai][swift] macOS run browser: the "Case" column is headed "Source"
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[ai][docs] devlog, backlog and vocabulary plans record what the web UI coherence branch changed
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/platform-vocabulary-and-data-model-plan.md
  docs/plans/platform-vocabulary-phase1-lidar-plan.md
Due: format-markdown

[ai][docs] plans: the October LiDAR workflow design, reconciled with the vocabulary and allocated
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-annotation-segment-finder-plan.md
  docs/plans/lidar-review-workflow-plan.md
  docs/plans/lidar-ui-workflow-plan.md
  docs/plans/platform-vocabulary-and-data-model-plan.md
  docs/plans/platform-vocabulary-phase1-lidar-plan.md
  docs/plans/platform-vocabulary-phase2-clips-labels-plan.md
  docs/plans/platform-vocabulary-phase2-jobs-plan.md
  docs/plans/platform-vocabulary-phase2-surveys-plan.md
  docs/plans/web-frontend-consolidation-plan.md
  docs/ui/visualiser/run-list-labelling-rollup.md
Due: format-markdown

[ai][py] capture volume: plan the pcaps/ reorganisation and re-key the capture index
  scripts/plan-lidar-volume-reorg.py
  scripts/rekey-lidar-capture-index.py
Due: none

[ai][py] format check-no-results with the pinned black
  scripts/check-no-results.py
  scripts/test_check_no_results.py
Due: none

[ai][py][js][make][docs] capture volume: keep the archive toolchain whole under pcaps/
  Makefile
  scripts/plan-lidar-volume-reorg.py
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/deployments.py
  tools/s2-archive/huggingface-dataset-layout.md
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/stage-huggingface-dataset.mjs
  tools/s2-archive/verify-corpus.py
Due: format-python, format-markdown

[ai][docs] crash data plan: cited harm curves, site crash context, no axioms
  docs/BACKLOG.md
  docs/plans/platform-crash-data-integration-plan.md
Due: format-markdown

[ai][docs] crash data plan: match the plan template and link its hub
  docs/plans/platform-crash-data-integration-plan.md
  docs/platform/operations/pdf-reporting.md
Due: format-markdown

[ai][docs] crash data plan: cited harm curves, site crash context, no axioms (#708)
  docs/BACKLOG.md
  docs/plans/platform-crash-data-integration-plan.md
  docs/platform/operations/pdf-reporting.md
Due: format-markdown

[ai][py] reorg planner: back the database up with .backup, not cp
  scripts/plan-lidar-volume-reorg.py
Due: none

[ai][py][make] capture volume: pin the re-key's Go mirrors with tests
  Makefile
  scripts/test_plan_lidar_volume_reorg.py
  scripts/test_rekey_lidar_capture_index.py
Due: none

[ai][docs] facet registration: maths review, prior work, and a sparse-tail revision of the plan
  data/maths/MATHS.md
  data/maths/proposals/20261008-facet-registration-maths-review.md
  data/maths/references.bib
  docs/plans/lidar-facet-registration-experiment-plan.md
Due: format-markdown

[ai][py][js][make][docs] capture volume: one pcaps/ root, and a re-key that carries the capture index across (#709)
  Makefile
  scripts/check-no-results.py
  scripts/plan-lidar-volume-reorg.py
  scripts/rekey-lidar-capture-index.py
  scripts/test_check_no_results.py
  scripts/test_plan_lidar_volume_reorg.py
  scripts/test_rekey_lidar_capture_index.py
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/deployments.py
  tools/s2-archive/huggingface-dataset-layout.md
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/stage-huggingface-dataset.mjs
  tools/s2-archive/verify-corpus.py
Due: format-python, format-markdown

Fix wording on error budget and edge localisation
  data/maths/proposals/20261008-facet-registration-maths-review.md
Due: format-markdown

[ai][docs] facet F0: a runnable near-face attribution protocol on kirk0's reviewed pack
  docs/lidar/operations/facet-f0-attribution-kirk0.md
  docs/plans/lidar-facet-registration-experiment-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][go][docs] motion pass: report the capture being read, stop when cancelled, and read each capture once
  docs/DEVLOG.md
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/analyse_progress_test.go
  internal/lidar/pcapsplit/analyse_sequence.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/server/capture_jobs.go
  internal/lidar/server/capture_jobs_test.go
  internal/lidar/server/capture_motion_pcap.go
  internal/lidar/server/capture_motion_progress.go
  internal/lidar/server/capture_motion_progress_test.go
  internal/lidar/server/capture_motion_stub.go
Due: format-go, format-markdown

[ai][go][docs] replay: take capture extents from the index instead of counting every file first
  docs/DEVLOG.md
  internal/lidar/server/capture_index_extent.go
  internal/lidar/server/capture_index_extent_test.go
  internal/lidar/server/capture_motion_progress.go
  internal/lidar/server/capture_motion_progress_test.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/replay_case_files_test.go
  internal/lidar/server/replay_case_validate.go
  internal/lidar/server/replay_sequence.go
  internal/lidar/server/replay_sequence_launch_test.go
  internal/lidar/server/segments_api_test.go
Due: format-go, format-markdown

[ai][docs] devlog: #707 has landed; the capture read fixes are on their own branch
  docs/DEVLOG.md
Due: format-markdown

[ai][docs] facet F0: the kirk0 capture digest is its git-lfs object ID
  docs/lidar/operations/facet-f0-attribution-kirk0.md
Due: format-markdown

[ai][docs] facet F0 on kirk0: the run, its report, and where the end error comes from
  docs/DEVLOG.md
  docs/lidar/operations/facet-f0-attribution-kirk0-report.md
  docs/lidar/operations/facet-f0-attribution-kirk0.md
  docs/lidar/operations/near-face-evaluation.md
  docs/plans/lidar-facet-registration-experiment-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] async tracking plan: evaluate decoupling and remote placement as cost measures
  docs/plans/lidar-cluster-observation-log-and-async-tracking-plan.md
  docs/plans/lidar-facet-registration-experiment-plan.md
Due: format-markdown

[ai][docs] facet plan: compute profile for real-time hosts and offline throughput
  docs/plans/lidar-cluster-observation-log-and-async-tracking-plan.md
  docs/plans/lidar-facet-registration-experiment-plan.md
Due: format-markdown

[docs] Facet registration: review, F0 protocol, cost and compute profile (#710)
  data/maths/MATHS.md
  data/maths/proposals/20261008-facet-registration-maths-review.md
  data/maths/references.bib
  docs/lidar/operations/facet-f0-attribution-kirk0.md
  docs/plans/lidar-cluster-observation-log-and-async-tracking-plan.md
  docs/plans/lidar-facet-registration-experiment-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][go][docs] Capture reads: motion passes report progress and stop when cancelled; replays read each capture once (#711)
  docs/DEVLOG.md
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/analyse_progress_test.go
  internal/lidar/pcapsplit/analyse_sequence.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/server/capture_index_extent.go
  internal/lidar/server/capture_index_extent_test.go
  internal/lidar/server/capture_jobs.go
  internal/lidar/server/capture_jobs_test.go
  internal/lidar/server/capture_motion_pcap.go
  internal/lidar/server/capture_motion_progress.go
  internal/lidar/server/capture_motion_progress_test.go
  internal/lidar/server/capture_motion_stub.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/replay_case_files_test.go
  internal/lidar/server/replay_case_validate.go
  internal/lidar/server/replay_sequence.go
  internal/lidar/server/replay_sequence_launch_test.go
  internal/lidar/server/segments_api_test.go
Due: format-go, format-markdown

[ai][docs] Facet F0 on kirk0: the run and its report (#712)
  docs/DEVLOG.md
  docs/lidar/operations/facet-f0-attribution-kirk0-report.md
  docs/lidar/operations/facet-f0-attribution-kirk0.md
  docs/lidar/operations/near-face-evaluation.md
  docs/plans/lidar-facet-registration-experiment-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] access hardening: land on #503, which keeps the original commits
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/platform-access-control-hardening-plan.md
Due: format-markdown

[ai][go] access: refuse local connections while tailscaled forwards to a listener out of band
  internal/access/guard.go
  internal/access/guard_test.go
  internal/api/serve_forwards_test.go
  internal/api/server.go
  internal/cmd/server/access_test.go
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_test.go
  internal/lidar/server/server.go
  internal/lidar/server/webserver_test.go
  internal/tailscale/manager.go
  internal/tailscale/serve_forwards.go
  internal/tailscale/serve_forwards_test.go
Due: format-go

[ai][go] auth gate: refuse a forwarded address that does not parse
  internal/api/auth.go
  internal/api/auth_test.go
Due: format-go

[ai][go] auth gate: define the on-mode view grant and test the review's matrix
  internal/api/auth_matrix_test.go
  internal/api/auth_test.go
  internal/api/server.go
Due: format-go

[ai][cfg][py] image unit: choose the access profile with one variable
  image/stage-velocity/03-velocity-config/files/velocity-report.service
  scripts/test_update_packaging.py
Due: none

[ai][docs] Tailscale runbook: the view grant, Serve forwards, 100.64 LANs and activation
  docs/platform/operations/tailscale-remote-access.md
Due: format-markdown

[ai][docs] access hardening: record the Serve-forward guard and the review follow-ups
  .github/knowledge/security-surface.md
  docs/DEVLOG.md
  docs/plans/platform-access-control-hardening-plan.md
Due: format-markdown

[ai][go][docs] PDF reports: correct transit statistics and only claim the correction when applied
  docs/platform/operations/pdf-reporting.md
  docs/radar/architecture/site-config-cosine-correction-spec.md
  internal/report/report.go
  internal/report/report_phases.go
  internal/report/report_test.go
  internal/report/typst_generate.go
  internal/report/typst_generate_test.go
Due: format-go, format-markdown

[ai][go] access: close the gaps a second review found in the Serve-forward guard
  internal/access/guard.go
  internal/access/guard_test.go
  internal/api/serve_forwards_test.go
  internal/api/server.go
  internal/cmd/server/access.go
  internal/cmd/server/access_test.go
  internal/cmd/server/radar.go
  internal/lidar/server/server.go
  internal/lidar/server/webserver_test.go
  internal/tailscale/serve_forwards.go
  internal/tailscale/serve_forwards_test.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
