Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[go] remove spaces before closing parentheses in SQL normalization
  internal/db/migrate.go
Due: format-go

[docs] LiDAR foreground tracking and export status
  internal/lidar/docs/lidar-foreground-tracking-status.md
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] rm outdated
  docs/features/lidar-tracking-enhancements.md
  docs/troubleshooting/foreground-track-export-investigation-plan.md
  docs/troubleshooting/port-2370-corruption-diagnosis.md
  docs/troubleshooting/port-2370-foreground-streaming.md
Due: none

[go] Enhance aspect ratio calculation to handle degenerate cases in clustering metrics
  internal/lidar/clustering.go
  internal/lidar/clustering_test.go
Due: format-go

Embed ECharts assets for offline chart rendering (#163)
  internal/lidar/monitor/assets/echarts.min.js
  internal/lidar/monitor/webserver.go
Due: format-go

[docs] rm README, mv lidar
  docs/features/README.md
  internal/lidar/docs/lidar-background-grid-standards.md
  internal/lidar/docs/lidar-tracking-integration.md
  internal/lidar/docs/pcap-analysis-mode.md
  internal/lidar/docs/pcap-split-tool.md
Due: none

[ai] Apply suggestions from code review
  internal/lidar/clustering.go
  internal/lidar/tracking.go
Due: format-go

[go] streamline SQL normalization for schema comparison
  internal/db/schema_consistency_test.go
Due: format-go

[go] test embedded migrations filesystem and migration down for quality metrics
  internal/db/embed_test.go
  internal/db/migrate_012_test.go
Due: format-go

[go] improve error handling when creating sub-filesystem for migrations
  internal/db/db.go
Due: format-go

[sql] Refactor rollback migration to preserve data while removing quality metric columns from lidar tables
  internal/db/migrations/000012_add_track_quality_metrics.down.sql
Due: none

[sql] Remove unnecessary transaction statements from rollback migration for track quality metrics
  internal/db/migrations/000012_add_track_quality_metrics.down.sql
Due: none

[go] Add fresh database detection and initialization for migrations
  internal/db/migrate.go
Due: format-go

[sql] Add bootstrap migration for data table and update original schema migrations
  internal/db/migrations/000000_bootstrap.down.sql
  internal/db/migrations/000000_bootstrap.up.sql
  internal/db/migrations/000001_original_schema.down.sql
  internal/db/migrations/000001_original_schema.up.sql
Due: none

remove obsolete migration tests for quality metrics
  internal/db/embed_test.go
  internal/db/migrate_012_test.go
Due: format-go

[go] remove fresh database detection and simplify migration initialization
  internal/db/migrate.go
Due: format-go

[go] update migration command flag parsing order in help comments
  cmd/radar/radar.go
Due: format-go

[go] debug logging for migration file listing and current version check
  internal/db/migrate.go
Due: format-go

[go] remove debug logging from MigrateUp function
  internal/db/migrate.go
Due: format-go

[go] lint
  internal/lidar/quality_test.go
  internal/lidar/track_export_test.go
  internal/lidar/tracking_test.go
Due: format-go

[go] update ReadPCAPFile function to include packet forwarder parameter
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap.go
  internal/lidar/network/pcap_stub.go
Due: format-go

[go] update PCAP analysis to handle offline mode without forwarder
  cmd/tools/pcap-analyze/main.go
Due: format-go

[go] add functionality to find and delete duplicate background snapshots
  internal/db/db.go
Due: format-go

[go] adjust channel validation to match 1-based indexing in encodePointsAsPackets
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/track_export.go
Due: format-go

[go] add sanitization for sensor IDs in file paths to prevent security issues
  internal/lidar/monitor/webserver.go
  internal/security/pathvalidation.go
Due: format-go

[go] add packet forwarder restart for PCAP replay in webserver
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add endpoint for cleaning up duplicate background snapshots
  internal/lidar/monitor/webserver.go
Due: format-go

Add velocity-coherent foreground extraction design document (#165)
  go.mod
  internal/lidar/docs/foreground_tracking_plan.md
  internal/lidar/docs/lidar-foreground-tracking-status.md
  internal/lidar/docs/velocity-coherent-foreground-extraction.md
  internal/lidar/velocity_coherent_clustering.go
  internal/lidar/velocity_coherent_clustering_test.go
  internal/lidar/velocity_coherent_merging.go
  internal/lidar/velocity_coherent_merging_test.go
  internal/lidar/velocity_coherent_tracking.go
  internal/lidar/velocity_coherent_tracking_test.go
  internal/lidar/velocity_estimation.go
  internal/lidar/velocity_estimation_test.go
Due: format-go

[go] add functionality to count unique background snapshot hashes and update cleanup response
  internal/db/db.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[js] add VCTrackRaw interface and update getVCTracks function for velocity-coherent tracks
  web/src/lib/api.ts
Due: format-web

[go] add API endpoint for fetching database statistics and implement database size analysis
  cmd/deploy/monitor.go
  internal/api/server.go
  internal/db/db.go
Due: format-go

[go] add endpoint for retrieving database statistics in JSON format
  internal/db/db.go
Due: format-go

[go][js] implement velocity-coherent tracking features and API integration
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web

[go] Velocity Coherent Tracker implementation and tests
  cmd/radar/radar.go
  internal/lidar/dual_pipeline.go
  internal/lidar/dual_pipeline_test.go
  internal/lidar/monitor/algorithm_api.go
  internal/lidar/monitor/algorithm_api_test.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/lidar/vc_track_store.go
  internal/lidar/vc_track_store_test.go
  internal/lidar/velocity_coherent_tracker.go
  internal/lidar/velocity_coherent_tracker_test.go
Due: format-go

[sql] add migration for velocity-coherent tracking tables and related indices
  internal/db/migrations/000013_create_velocity_coherent_tracks.down.sql
  internal/db/migrations/000013_create_velocity_coherent_tracks.up.sql
  internal/db/schema.sql
Due: none

[go] add path validation for output files to prevent path traversal attacks
  cmd/sweep/main.go
  internal/api/server.go
  internal/security/pathvalidation.go
Due: format-go

[docs] formatting
  internal/lidar/docs/motion-capture-architecture.md
  internal/lidar/docs/static-pose-alignment-plan.md
Due: none

Hesai PCAP to 7DOF tracks implementation plan aligned with AV LIDAR integration spec (#168)
  internal/lidar/docs/motion-capture-architecture.md
  internal/lidar/docs/static-pose-alignment-plan.md
Due: none

[docs] LiDAR alignment planning (#170)
  internal/lidar/docs/av-lidar-integration-plan.md
  internal/lidar/docs/motion-capture-architecture.md
  internal/lidar/docs/static-pose-alignment-plan.md
Due: none

[docs] rm README, mv lidar
  internal/lidar/docs/lidar-background-grid-standards.md
  internal/lidar/docs/lidar-tracking-integration.md
  internal/lidar/docs/pcap-analysis-mode.md
  internal/lidar/docs/pcap-split-tool.md
Due: none

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
