Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

Document plan for immutable run cfgs
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

[ai][docs][python] format: prettier markdown, remove unused import
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

[docs] 100-line plan (#395)
  CONTRIBUTING.md
  Makefile
Due: format-markdown

[docs] update LiDAR run config asset plan to reflect deterministic model and schema changes
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

[docs] refine lidar run record model and examples
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

[docs] update terminology from engine to build in LiDAR run config and metadata plan
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

[docs] remove build_name from lidar run config schema for consistency
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

Apply suggestions from code review
  CONTRIBUTING.md
  Makefile
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

[docs] LiDAR immutable run config plan (#387)
  CONTRIBUTING.md
  Makefile
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: format-markdown

Apply suggestions from code review
  .github/agents/appius.agent.md
  docs/plans/platform-canonical-project-files-plan.md
Due: format-markdown

Design plan docs hygiene system
  .github/agents/appius.agent.md
  .github/agents/flo.agent.md
  .github/agents/grace.agent.md
  docs/BACKLOG.md
  docs/plans/platform-canonical-project-files-plan.md
Due: format-markdown

[docs] Update Canonical Plan Graduation Plan status and implementation checklist
  docs/plans/platform-canonical-project-files-plan.md
Due: format-markdown

[docs][ai] canonical plan (#405)
  .github/agents/appius.agent.md
  .github/agents/flo.agent.md
  .github/agents/grace.agent.md
  docs/BACKLOG.md
  docs/plans/platform-canonical-project-files-plan.md
Due: format-markdown

Apply suggestion from @Copilot
  internal/lidar/storage/sqlite/dbconn.go
Due: format-go

[docs] format
  docs/plans/data-database-alignment-plan.md
Due: format-markdown

[go] tests (#401)
  internal/db/schema.sql
  internal/httputil/response_test.go
  internal/lidar/analysis/debug_test.go
  internal/lidar/l1packets/network/debug_test.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_fullcov_test.go
  internal/lidar/l2frames/l2frames_test.go
  internal/lidar/l6objects/classification_test.go
  internal/lidar/monitor/client_coverage_test.go
  internal/lidar/monitor/debug_test.go
  internal/lidar/monitor/direct_backend_coverage_test.go
  internal/lidar/monitor/sweep_handlers_suspend_test.go
  internal/lidar/storage/sqlite/debug_test.go
  internal/lidar/sweep/debug_test.go
  internal/lidar/visualiser/debug_test.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/model_unmarshal_test.go
  internal/lidar/visualiser/recorder/proto_codec_test.go
Due: format-go, format-sql

[go] set db boundary (#406)
  .gitignore
  Makefile
  cmd/tools/backfill_ring_elevations/backfill.go
  docs/plans/data-database-alignment-plan.md
  internal/api/lidar_labels.go
  internal/lidar/l2frames/frame_builder_fullcov_test.go
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/track_api.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/dbconn.go
  scripts/check-db-sql-imports.sh
Due: format-go, format-markdown

Complete config restructure phase 1
  Makefile
  cmd/radar/radar.go
  cmd/tools/config-migrate/main.go
  cmd/tools/config-validate/main.go
  cmd/tools/settling-eval/pcap.go
  config/README.maths.md
  config/README.md
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  internal/config/tuning.go
  internal/config/tuning_test.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/config.go
  internal/lidar/l3grid/foreground.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/client.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/direct_backend_test.go
  internal/lidar/monitor/tuning_runtime.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/monitor/webserver_form_test.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/sweep/coverage_boost_test.go
  internal/lidar/sweep/hint.go
  internal/lidar/sweep/output.go
  internal/lidar/sweep/output_test.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/sampler.go
  internal/lidar/sweep/testdata/example-scenario.json
  scripts/config-order-sync
  scripts/readme-maths-check
Due: format-go, format-markdown

Rename tuning default variable
  Makefile
  config/README.md
Due: format-markdown

Remove default error handling for unknown engines in UnmarshalJSON methods
  internal/config/tuning.go
Due: format-go

[docs] Update config restructure documentation for Phase 1 and Phase 2 completion
  config/CONFIG-RESTRUCTURE.md
  docs/BACKLOG.md
Due: format-markdown

[go] add test for tuning
  internal/config/tuning_coverage_test.go
Due: format-go

[go] refactor config migration tool to improve error handling and add tests
  cmd/tools/config-migrate/main.go
  cmd/tools/config-migrate/main_test.go
Due: format-go

[go] refactor config validation tool to improve error handling and add unit tests
  cmd/tools/config-validate/main.go
  cmd/tools/config-validate/main_test.go
Due: format-go

[go] add test for DBSCANParamsFromTuning with nil config
  internal/lidar/l4perception/cluster_test.go
Due: format-go

[go] add tests for BackgroundConfig validation and handling of nil tuning blocks
  internal/lidar/l3grid/config_test.go
Due: format-go

[go] test: add unit test for TrackerConfigFromTuning with nil config
  internal/lidar/l5tracks/tracking_test.go
Due: format-go

[go] refactor: extract background config creation into a separate function and add unit test
  cmd/tools/settling-eval/pcap.go
  cmd/tools/settling-eval/pcap_test.go
Due: format-go

[go] refactor: update backlog and removal plan for legacy VRLOG speed-key fallback
  docs/BACKLOG.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

[go] add unit tests for DirectBackend tuning parameter validation and runtime syncing
  internal/lidar/monitor/direct_backend_test.go
  internal/lidar/monitor/tuning_runtime_test.go
Due: format-go

[go] fix: improve runtime tuning config validation and add approxEqualFloat64 helper
  internal/lidar/monitor/tuning_runtime_test.go
Due: format-go

[go] refactor: replace os.Exit and json.MarshalIndent with variables for improved testability
  cmd/tools/config-migrate/main.go
  cmd/tools/config-migrate/main_test.go
Due: format-go

[go] refactor: replace os.Exit with variable for improved testability in main function
  cmd/tools/config-validate/main.go
  cmd/tools/config-validate/main_test.go
Due: format-go

[go] refactor: simplify JSON marshaling and unmarshaling in cloneTuningConfig function
  internal/lidar/monitor/webserver.go
Due: format-go

[go] test: add unit test for handling nonexistent PCAP in runPCAPEval function
  cmd/tools/settling-eval/pcap_test.go
Due: format-go

[go] refactor: streamline runtime tuning config handling and improve error messages
  internal/lidar/monitor/tuning_runtime.go
  internal/lidar/monitor/tuning_runtime_test.go
Due: format-go

[js] dash test
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[go] refactor: enhance error handling in setConfigValueByPath and add tests for edge cases
  internal/lidar/monitor/tuning_runtime.go
  internal/lidar/monitor/tuning_runtime_test.go
Due: format-go

[js] refactor: update parameter keys to use string literals for consistency
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[py] add comprehensive tests for config order synchronization and markdown handling
  scripts/test_config_tools.py
Due: none
