Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ai][go] segments: choose the leader-change peak without reading map order
  internal/lidar/segments/segments.go
  internal/lidar/segments/segments_test.go
Due: format-go

[ai][go] segments: keep database/sql inside the storage layer
  internal/lidar/segments/read.go
  internal/lidar/segments/read_test.go
  internal/lidar/storage/sqlite/dbconn.go
  internal/lidar/storage/sqlite/dbconn_test.go
Due: format-go

[ai][go] segment API: store the finder and role that ranked the window
  internal/lidar/server/segments_api.go
  internal/lidar/server/segments_api_test.go
Due: format-go

[ai][go] clip job: remove the output of a failed or cancelled attempt
  internal/lidar/server/segment_clip_pcap.go
  internal/lidar/server/segment_clip_pcap_test.go
Due: format-go

[ai][go] group imports in the clip stub
  internal/lidar/server/segment_clip_stub.go
Due: format-go

[ai][go] cover the segment commands' dispatch and sidecar dismissals
  internal/cmd/lidar/segments_cli_test.go
  internal/lidar/annotation/sidecar_test.go
Due: format-go

[ai][sql] quote the lag column so the formatter leaves its name alone
  internal/db/migrations/000050_lidar_track_estimate_revisions.up.sql
  internal/db/schema.sql
Due: format-sql

[ai][js] segments page: redraw a row when its case or clip job is made
  web/src/routes/lidar/segments/+page.svelte
Due: format-web

[ai][js] tracks page: read at_ns in milliseconds
  web/src/lib/dateUtils.test.ts
  web/src/lib/dateUtils.ts
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[ai][make][mac] bump version to 0.5.1-pre40
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[ai][go] segments: read a replayed run from its recording
  internal/cmd/lidar/segments.go
  internal/cmd/lidar/segments_cli_test.go
  internal/lidar/segments/recording.go
  internal/lidar/segments/recording_test.go
  internal/lidar/server/segments_api.go
  internal/lidar/server/segments_api_test.go
Due: format-go

[ai][docs] say where a run's segments are ranked from
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-annotation-segment-finder-plan.md
Due: format-markdown

[ai][docs] record the segment finder in the devlog and number its backlog entries
  docs/BACKLOG.md
  docs/DEVLOG.md
Due: format-markdown

[ai][docs] S2.1: F3 results, the T3 decision, and a tuning-config surface for the solid body
  docs/BACKLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] S2.1 T3 findings: course-aligned faces remove the turning tail; the transition tail remains
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][go] S2.1 T3: gate spans on the course the faces used, and keep face names with the heading
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
Due: format-go

[ai][docs] S2.1 T3: kirk0 figures after the review fixes; the tuning rows predate them
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] S2.1 F4 Mac results: held-out score of T1+T3
  results/s2-f4/heldout-phase0-summary.json
  results/s2-f4/heldout-run.log
  results/s2-f4/results.md
  results/s2-f4/tuning-phase0-summary.json
  results/s2-f4/tuning-run.log
Due: format-markdown

[ai][go][docs] S2.1 T3: course-aligned faces on the solid body (#624)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: format-go, format-markdown

[docs] plan physical reference review for 0.5.2.0
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-physical-reference-review-plan.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: format-markdown

[docs] schedule physical reference tooling for Sprint 0.5.2.0 (#625)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-physical-reference-review-plan.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: format-markdown

[ai][docs] S2.1 F4: held-out score of T1+T3, and a per-face bias state next
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] runbook: eno1 hardening (EEE/TSO, watchdog), bridge attempt failed
  docs/platform/operations/truenas-vm-shared-storage-runbook.md
Due: format-markdown

[docs] TrueNAS storage runbook: disk relocation, CPU passthrough, eno1 hang and hardening (#620)
  docs/platform/operations/truenas-vm-shared-storage-runbook.md
Due: format-markdown

[ai][go] S2.1 T4: the half-extents behind the faces as solid-body state
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: format-go

[ai][go] solid-body summary: attribute the steady runs' tail to what changed
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/replayeval/solid_body_summary_test.go
Due: format-go

[ai][docs] S2.1 F4: name gate 2's bar as half the point p99, and keep one tense
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] S2.1 F4: held-out score of T1+T3, and a per-face bias state next (#629)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][sql] regenerate schema.sql in the order make schema-sync writes
  internal/db/schema.sql
Due: format-sql

[ai][py][docs] inventory every SQLite table and field, and review the segment model
  data/structures/DATA_STRUCTURES.md
  data/structures/MATRIX.md
  data/structures/SCHEMA-REVIEW.md
  data/structures/SCHEMA.svg
  scripts/list-matrix-fields.py
  scripts/test_list_matrix_fields.py
  scripts/test_sqlite_erd.py
Due: format-markdown

[ai][make][mac] bump version to 0.5.1-pre41
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[ai][sql] segment constraints: hold digests and set-aside rows to their form
  internal/db/migration_055_test.go
  internal/db/migrations/000055_lidar_segment_constraints.up.sql
  internal/db/schema.sql
  internal/lidar/storage/sqlite/segment_store_test.go
Due: format-go, format-sql

[ai][docs] record which schema findings are resolved and which wait
  data/structures/SCHEMA-REVIEW.md
  docs/lidar/operations/point-annotation-tool.md
  internal/db/migrations/README.md
Due: format-markdown

[ai][docs] count the review's findings correctly
  data/structures/SCHEMA-REVIEW.md
Due: format-markdown

[ai][go] relink: list the packs directory once per pass
  internal/lidar/server/segment_clip_relink.go
  internal/lidar/server/segment_clip_relink_test.go
Due: format-go

[ai][go] clip retry: never remove a whole pack
  data/structures/SCHEMA-REVIEW.md
  internal/lidar/server/segment_clip_pcap_test.go
  internal/lidar/server/segment_clip_relink.go
  internal/lidar/server/segment_clip_relink_test.go
Due: format-go, format-markdown

[ai][go] segment store: test that a failed clip commit leaves no job
  internal/lidar/storage/sqlite/segment_store.go
  internal/lidar/storage/sqlite/segment_store_test.go
Due: format-go

[ai][sql][go] constrain segment selections and clip jobs
  data/structures/MATRIX.md
  data/structures/SCHEMA.svg
  internal/db/migration_055_test.go
  internal/db/migrations/000055_lidar_segment_constraints.down.sql
  internal/db/migrations/000055_lidar_segment_constraints.up.sql
  internal/db/schema.sql
  internal/lidar/segments/schema_test.go
  internal/lidar/server/capture_jobs.go
  internal/lidar/server/segment_clip_api.go
  internal/lidar/server/segment_clip_pcap.go
  internal/lidar/server/segment_clip_pcap_test.go
  internal/lidar/server/segment_clip_relink.go
  internal/lidar/server/segment_clip_relink_test.go
  internal/lidar/server/segments_api.go
  internal/lidar/server/segments_api_test.go
  internal/lidar/storage/sqlite/segment_store.go
  internal/lidar/storage/sqlite/segment_store_test.go
Due: format-go, format-markdown, format-sql

[ai][docs] record the segment constraints in the devlog and backlog
  docs/BACKLOG.md
  docs/DEVLOG.md
Due: format-markdown
