Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[js] bump prettier and related plugins to version 3.7.2
  web/pnpm-lock.yaml
Due: none

[js] add prettier configuration with svelte plugin
  web/prettier.config.cjs
Due: none

[make] update linting commands in Makefile to streamline web formatting checks
  Makefile
Due: none

[js] update formatting and linting scripts to use pnpm and prettier plugin
  Makefile
  web/package.json
Due: format-web

[make] update lint-web target to include eslint in formatting checks
  Makefile
Due: none

[make] enhance Python environment setup and ensure tools for formatting
  Makefile
Due: none

[py] update Python version to 3.14 across workflows, requirements, and documentation
  .github/workflows/lint-autofix.yml
  .github/workflows/python-ci.yml
  docs/optional-linting-and-hooks-investigation.md
  requirements.txt
  scripts/dev-setup.sh
  tools/pdf-generator/README.md
  tox.ini
Due: none

[py] update Python version in requirements and tox configuration to 3.13
  requirements.txt
  tox.ini
Due: none

[sh][py] update Python installation command in dev-setup script to version 3.13
  scripts/dev-setup.sh
Due: none

[exe] make format-python
  tools/pdf-generator/pdf_generator/core/document_builder.py
Due: format-python

[sh] add Python version consistency checker script
  scripts/check-python-version.sh
Due: none

[py] downgrade Python version to 3.13 in workflows and Makefile (CI compat)
  .github/workflows/lint-autofix.yml
  .github/workflows/python-ci.yml
  Makefile
Due: none

[docs] remove investigation document on optional linting CI and pre-commit hooks
  docs/optional-linting-and-hooks-investigation.md
Due: none

[sh] enhance Python version consistency checker to validate and fix version references in config files
  scripts/check-python-version.sh
Due: none

[docs] remove Python version requirement from README
  tools/pdf-generator/README.md
Due: none

[lint] standardize Python setup step naming in CI workflows
  .github/workflows/lint-autofix.yml
  .github/workflows/python-ci.yml
Due: none

[ai] apply suggestion from @Copilot
  README.md
Due: none

[py] improve Python version fallback logic for CI compatibility
  scripts/check-python-version.sh
Due: none

[sh] refactor sed in-place editing for cross-platform compatibility in Python version checker
  scripts/check-python-version.sh
Due: none

[py] downgrade Python version from 3.13 to 3.12 in CI workflows, requirements, and setup scripts
  .github/workflows/lint-autofix.yml
  .github/workflows/python-ci.yml
  Makefile
  requirements.txt
  scripts/dev-setup.sh
  tox.ini
Due: none

[sh] enhance Python version consistency checker to fetch latest GitHub Actions Python versions
  scripts/check-python-version.sh
Due: none

[lint] standardize cron format quotes in lint-autofix workflow
  .github/workflows/lint-autofix.yml
Due: none

[lint] enhance lint-autofix workflow to check and fix Python version consistency, format code, and create PR for changes
  .github/workflows/lint-autofix.yml
Due: none

[ci] update Python version check script for improved compatibility and add pnpm version
  .github/workflows/lint-autofix.yml
Due: none

[lint][js] update prettier commands to remove svelte plugin dependency for consistency
  Makefile
  web/package.json
Due: format-web

[lint] improve lint-web command for better error handling and readability
  Makefile
  scripts/check-python-version.sh
Due: none

[ci] weekly lint + py version job (set 3.12) (#141)
  .github/workflows/docs-ci.yml
  .github/workflows/go-ci.yml
  .github/workflows/lint-autofix.yml
  .github/workflows/python-ci.yml
  .github/workflows/web-ci.yml
  Makefile
  README.md
  scripts/check-python-version.sh
  scripts/dev-setup.sh
  tools/pdf-generator/README.md
  tools/pdf-generator/pdf_generator/core/document_builder.py
  tox.ini
  web/package.json
  web/pnpm-lock.yaml
Due: format-python, format-web

[docs] distribution and packaging plan (#124)
  docs/DISTRIBUTION_AND_PACKAGING_PLAN.md
Due: none

[docs] LIDAR foreground extraction and tracking implementation plan (v2 with polar/world frame separation) (#125)
  internal/lidar/docs/foreground_tracking_plan.md
Due: none

[ai] Apply suggestions from code review
  internal/api/serial_testing.go
  web/src/routes/settings/serial/+page.svelte
Due: format-go, format-web

[js] use resolve function for navigation paths in layout
  web/src/routes/+layout.svelte
Due: format-web

[js] use resolve function for serial configuration link in settings page
  web/src/routes/settings/+page.svelte
Due: format-web

Implement serial reload manager and apply DB port settings (#102)
  cmd/radar/radar.go
  docs/features/serial-configuration-ui.md
  internal/api/serial_reload.go
  internal/api/server.go
  internal/serialmux/factory.go
  internal/serialmux/options.go
  internal/serialmux/serialmux.go
Due: format-go

[go] enhance isValidPortPath function: add validation for empty paths and improve security checks against symlink escape attacks
  internal/api/serial_config.go
Due: format-go

[go] Enhance tests for SerialPortManager: improve channel management and verification
  internal/api/serial_reload_test.go
Due: format-go

[go] refactor baud rate validation: extract standard baud rates to a constant and improve error messaging
  internal/serialmux/options.go
Due: format-go

[go] refactor, add canLoadDatabaseSerialConfig function for clarity and reuse in main logic
  cmd/radar/radar.go
Due: format-go

[ai] apply suggestions from code review
  internal/api/serial_testing.go
Due: format-go
