Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[make] remove pdf-help target from Makefile for clarity in available commands
  tools/pdf-generator/README.md
Due: none

[make] update naming conventions (#57)
  Makefile
  README.md
  internal/lidar/docs/devlog.md
  internal/lidar/docs/lidar_sidecar_overview.md
  tools/pdf-generator/README.md
Due: none

[docs] merge eleventy guide into README
  docs/ELEVENTY_GUIDE.md
  docs/README.md
Due: none

[docs] update guides layout and styling
  docs/src/guides/index.md
Due: none

[docs] add community page with Discord and GitHub links
  docs/src/community/index.md
Due: none

[docs] reorder contributions section
  docs/src/community/index.md
Due: none

[docs] Enhance documentation and styling for velocity.report
  docs/.eleventy.js
  docs/ELEVENTY_GUIDE.md
  docs/TIMEZONE_ANALYSIS.md
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/_includes/header.njk
  docs/src/_layouts/doc.njk
  docs/src/css/style.css
  docs/src/guides/first-report.md
  docs/src/guides/index.md
  docs/tailwind.config.js
Due: format-web

[docs] update terminology to emphasize citizen radar system in documentation
  README.md
  docs/README.md
  docs/src/guides/first-report.md
  docs/src/index.njk
Due: none

[docs] update systemd service names and database path in architecture documentation
  ARCHITECTURE.md
Due: none

[docs] add Guides section to header and update index with How-To Guides
  docs/src/_includes/header.njk
  docs/src/index.njk
Due: none

[docs] remove Guides and Reference links from header
  docs/src/_includes/header.njk
Due: none

[docs] update service files: rename go-sensor to velocity-server and remove deprecated service
  tools/pdf-generator/pdf_generator/cli/main.py
  velocity-report.service
  velocity-server.service
Due: format-python

[docs] enhance README for clarity and detail in deployment instructions
  README.md
Due: none

[docs] update diagram to correct component relationships in README
  README.md
Due: none

[docs] remove first-report.md guide
  docs/src/guides/first-report.md
Due: none

[docs] remove outdated TIMEZONE_ANALYSIS.md document to streamline documentation
  docs/TIMEZONE_ANALYSIS.md
Due: none

[sed] rename service references from velocity-server to velocity-report
  ARCHITECTURE.md
  Makefile
  README.md
  scripts/setup-radar-host.sh
  tools/pdf-generator/pdf_generator/cli/main.py
  velocity-report.service
Due: format-python

[make] add setup-radar target and deployment script for server installation
  Makefile
  README.md
  scripts/setup-radar-host.sh
Due: none

[service] rename systemd service file: velocity-report.service
  velocity-report.service
Due: none

[make] remove duplicated definitions
  Makefile
Due: none

[docs] add Python virtual environment consolidation plan to unify dependency management
  docs/python-venv-consolidation-plan.md
Due: none

[ci][make] add workflow for /docs and make build-docs target
  .github/workflows/docs-ci.yml
  Makefile
Due: none

[make] update Makefile with improved help messages and build targets
  Makefile
Due: none

[ai] add detailed agent specifications and development guidelines for Hadaly and Ictinus agents
  .github/agents/hadaly.agent.md
  .github/agents/ictinus.agent.md
  .github/copilot-instructions.md
Due: none

[docs] update references from velocity.report to velocity-report in architecture and service files
  ARCHITECTURE.md
  cmd/radar/README.md
  data/migrations/README.md
  velocity-report.service
Due: none

[sed] correct start_time in radar fixture data across multiple files
  cmd/radar/fixture.jsonl
  cmd/radar/radar_test.go
  docs/src/guides/setup.md
  internal/serialmux/handlers_test.go
Due: format-go

[sh] improve user creation logic for velocity service
  scripts/setup-radar-host.sh
Due: none

[go] correct StartTime in expected event for radar end-to-end test
  cmd/radar/radar_test.go
Due: format-go

[fs] remove setup.md (moved to separate docs branch)
  docs/src/guides/setup.md
Due: none

[docs] update docs structure, add ai agent config (#58)
  .github/agents/hadaly.agent.md
  .github/agents/ictinus.agent.md
  .github/copilot-instructions.md
  .github/workflows/docs-ci.yml
  ARCHITECTURE.md
  Makefile
  README.md
  cmd/radar/README.md
  cmd/radar/fixture.jsonl
  cmd/radar/radar_test.go
  data/migrations/README.md
  docs/.eleventy.js
  docs/README.md
  docs/package.json
  docs/pnpm-lock.yaml
  docs/python-venv-consolidation-plan.md
  docs/src/_includes/header.njk
  docs/src/_layouts/doc.njk
  docs/src/community/index.md
  docs/src/css/style.css
  docs/src/guides/index.md
  docs/src/index.njk
  docs/tailwind.config.js
  internal/serialmux/handlers_test.go
  scripts/setup-radar-host.sh
  tools/pdf-generator/pdf_generator/cli/main.py
  velocity-report.service
Due: format-go, format-python, format-web

[go] implement path validation to prevent traversal attacks in API and export functions
  internal/api/server.go
  internal/lidar/export.go
  internal/security/pathvalidation.go
  internal/security/pathvalidation_test.go
Due: format-go

[go] replace custom path validation with security package function
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
Due: format-go

[go] enhance path validation to handle symlink-based traversal attacks and add corresponding tests
  internal/security/pathvalidation.go
  internal/security/pathvalidation_test.go
Due: format-go

[go] fix: resolve build directory path securely in dev mode
  internal/api/server.go
Due: format-go

[go] use t.Cleanup for restoring directory in TestValidateExportPath
  internal/security/pathvalidation_test.go
Due: format-go

[go] implement path validation to prevent traversal attacks (#59)
  internal/api/server.go
  internal/lidar/export.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
  internal/security/pathvalidation.go
  internal/security/pathvalidation_test.go
Due: format-go

Document serial device discovery and auto-detect workflow
  docs/features/SERIAL-CONFIG-QUICKREF.md
  docs/features/serial-configuration-ui.md
Due: none

[docs] Feature spec: Serial port configuration and testing via web UI (#60)
  docs/features/SERIAL-CONFIG-QUICKREF.md
  docs/features/serial-configuration-ui.md
Due: none

[git] add dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

[git] add deprecated Python dependency entries from dependabot configuration
  .github/dependabot.yml
Due: none
