Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[ai][js][py] orbit the sensor, and carry two measured angles into the viewer [core]
  tools/s2-archive/publish-scenes.py
Due: format-python

[ai][go] play an ordered capture list as one paced stream across the joins [core]
  internal/lidar/l1packets/network/pacing_anchor.go
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/l1packets/network/pcap_realtime_stub.go
  internal/lidar/l1packets/network/pcap_sequence.go
  internal/lidar/l1packets/network/pcap_sequence_pacing_test.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/replay_sequence.go
  internal/lidar/server/replay_sequence_launch_test.go
Due: format-go

[ai][go][js][sql] separate a site's canonical pose from a case's sensor pose
  internal/db/migrations/000043_lidar_sites.down.sql
  internal/db/migrations/000043_lidar_sites.up.sql
  internal/db/schema.sql
  internal/lidar/server/routes.go
  internal/lidar/server/scene_geo_api.go
  internal/lidar/server/scene_geo_api_test.go
  internal/lidar/server/site_api.go
  internal/lidar/server/site_api_test.go
  internal/lidar/storage/sqlite/replay_case_geography.go
  internal/lidar/storage/sqlite/replay_case_geography_test.go
  internal/lidar/storage/sqlite/site_store.go
  internal/lidar/storage/sqlite/site_store_test.go
  web/src/lib/api.ts
  web/src/lib/captures/__tests__/api.test.ts
  web/src/lib/types/captures.ts
  web/src/routes/lidar/scene-map/+page.svelte
Due: format-go, format-web, format-sql

[ai][go][js] Captures UI fixes: nav, layout, file lists, trim, clock axis
  internal/lidar/server/scene_api.go
  internal/lidar/storage/sqlite/scene_store.go
  internal/lidar/storage/sqlite/scene_store_test.go
  web/src/lib/captures/__tests__/timeline.test.ts
  web/src/lib/captures/timeline.ts
  web/src/lib/components/lidar/MotionStrip.svelte
  web/src/lib/types/lidar.ts
  web/src/routes/+layout.svelte
  web/src/routes/lidar/captures/+page.svelte
  web/src/routes/lidar/replay-cases/+page.svelte
  web/src/routes/lidar/scene-map/+page.svelte
Due: format-go, format-web

[ai][go] let a replay take an ordered set of captures, not just one file [core]
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
Due: format-go

[ai][py] publish standalone captures without filename timestamps [core]
  tools/s2-archive/publish-scenes.py
Due: format-python

[ai][go] stop the pacer's backoff from causing the lag it responds to [core]
  internal/lidar/l1packets/network/pcap_realtime.go
Due: format-go

[ai][js] publish Broadway & Columbus as a scene, and a map of where scenes are [split 2] [catalogue code]
  Makefile
  package.json
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  public_html/src/_layouts/scene.njk
  public_html/src/scenes/index.njk
  tools/s2-hilbert/generate-scene-map.mjs
  tools/s2-hilbert/scene-map.mjs
  tools/s2-hilbert/test/scene-map.test.mjs
Due: none

[ai][go] pace a sequence from its own origin, not from each step's window [core]
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/l1packets/network/pcap_sequence_pacing_test.go
Due: format-go

[ai][sql] renumber migrations 039-043 to 042-046 ahead of merging main
  internal/db/migrations/000042_create_lidar_capture_index.down.sql
  internal/db/migrations/000042_create_lidar_capture_index.up.sql
  internal/db/migrations/000043_create_lidar_capture_jobs.down.sql
  internal/db/migrations/000043_create_lidar_capture_jobs.up.sql
  internal/db/migrations/000044_replay_case_files.down.sql
  internal/db/migrations/000044_replay_case_files.up.sql
  internal/db/migrations/000045_replay_case_geography.down.sql
  internal/db/migrations/000045_replay_case_geography.up.sql
  internal/db/migrations/000046_lidar_sites.down.sql
  internal/db/migrations/000046_lidar_sites.up.sql
  internal/lidar/storage/sqlite/capture_jobs_test.go
  internal/lidar/storage/sqlite/capture_store_test.go
  internal/lidar/storage/sqlite/replay_case_files_test.go
  internal/lidar/storage/sqlite/replay_case_geography_test.go
  internal/lidar/storage/sqlite/site_store_test.go
Due: format-go, format-sql

[dev] default dev-go-lidar to the external drive's pcap directory
  Makefile
Due: none

[ai][js] publish the archive's six long static stretches as scenes [split 2] [catalogue code]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
Due: none

[ai][go] pin track trail continuity across a scene export [split 2]
  internal/scene/export_continuity_test.go
Due: format-go

[ai][py][js] stop a settling artefact splitting one site into two published scenes [split 2] [catalogue code]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  tools/s2-hilbert/generate-scene-map.mjs
Due: none

[ai][js] put the scene map on a real street map with clickable points [split 2]
  public_html/src/_data/site.json
  public_html/src/js/scene-map.js
  public_html/src/scenes/index.njk
Due: none

[ai][js] name a scene for its place, not for the capture prefix it came from [split 2]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  tools/s2-hilbert/scene-sites.mjs
  tools/s2-hilbert/test/scene-sites.test.mjs
Due: none

[ai][js][py][go] give every site one stable identity, sourced from its field mark [split 2] [catalogue code]
  public_html/scene-overrides.json
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  tools/s2-hilbert/scene-sites.mjs
  tools/s2-hilbert/test/scene-sites.test.mjs
Due: none

[ai][docs] correct the rate finding: analysis mode is the cause, not settling [split 2]
  docs/plans/lidar-scene-catalogue-publishing-plan.md
Due: format-markdown

[ai][docs] record the paced multi-file reader and the two pacing defects [split 2]
  docs/plans/lidar-scene-catalogue-publishing-plan.md
Due: format-markdown

[ai][js] name an unmarked site by its day and time, not by the capture prefix [split 2]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  tools/s2-hilbert/scene-sites.mjs
  tools/s2-hilbert/test/scene-sites.test.mjs
Due: none

[ai][js] rebuild the index and the site from one target, and follow a renamed mark [split 2]
  Makefile
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  tools/s2-hilbert/generate-scene-map.mjs
Due: none

[ai][js] cache the scene map's tiles locally, as the report map already does [split 2]
  .gitignore
  Makefile
  package.json
  public_html/src/_data/site.json
  public_html/src/js/scene-map.js
  public_html/src/scenes/index.njk
  tools/s2-hilbert/fetch-basemap.mjs
  tools/s2-hilbert/test/basemap.test.mjs
Due: none

[ai][js] put every recorded site on the scene map, not only the published ones [split 2]
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  public_html/src/scenes/index.njk
  tools/s2-hilbert/generate-scene-map.mjs
  tools/s2-hilbert/scene-sites.mjs
Due: none

[ai][js][py] derive scene-sites.json from the archive index instead of retyping it [split 2]
  Makefile
  public_html/scene-overrides.json
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  tools/s2-hilbert/generate-scene-map.mjs
  tools/s2-hilbert/scene-sites.mjs
  tools/s2-hilbert/test/scene-sites.test.mjs
Due: none

[ai][js] let the field mark be the only name a scene has [split 2] [catalogue code]
  public_html/scene-overrides.json
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  tools/s2-hilbert/generate-scene-map.mjs
Due: none

[ai][docs] record why the published scenes look empty: settling covers the whole window [split 2]
  docs/plans/lidar-scene-catalogue-publishing-plan.md
Due: format-markdown

[ai][docs] sweep playback rate: it is worth 4%, the settling is worth sixteenfold [split 2]
  docs/plans/lidar-scene-catalogue-publishing-plan.md
Due: format-markdown

[ai][js] group the scene list by level 10 area and fit six across [split 2]
  public_html/src/_data/scenes.json
  public_html/src/scenes/index.njk
  tools/s2-hilbert/generate-scene-map.mjs
Due: none

Update azimuth values for multiple scenes and adjust scene index [catalogue code]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  tools/s2-archive/site-index.json
Due: none

[ai][data] refresh the archive index and scene catalogue together [split 2]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
Due: none

[ai][js] fly a scene at the distance soma1 flies at [split 2]
  public_html/src/js/__tests__/scene-vantages.test.mjs
  public_html/src/js/scene-camera.js
Due: none

Update azimuth values for multiple scenes and adjust scene data [catalogue code]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

[ai][js] do not fly a vantage's framing offset around the orbit [split 2]
  public_html/src/js/__tests__/scene-flight.test.mjs
  public_html/src/js/scene-flight.js
Due: none

Remove confidence notes from map marks and add grid azimuth values
  tools/s2-archive/map-marks.json
Due: none

[ai][js][py] orbit the sensor, and carry two measured angles into the viewer [split 2] [catalogue code]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  public_html/src/_layouts/scene.njk
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-player.js
  tools/s2-hilbert/generate-scene-map.mjs
  tools/s2-hilbert/scene-sites.mjs
Due: none

[js] add compass functionality and developer tools for scene alignment
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  public_html/src/_layouts/scene.njk
  public_html/src/js/__tests__/scene-compass.test.mjs
  public_html/src/js/__tests__/scene-dev.test.mjs
  public_html/src/js/__tests__/scene-map-mode.test.mjs
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-compass.js
  public_html/src/js/scene-dev.js
  public_html/src/js/scene-map-mode.js
  public_html/src/js/scene-map.js
  public_html/src/js/scene-player.js
Due: none

[ai][js] draw the S2 cells on the map, and give every scene a way back [split 2]
  public_html/src/_data/scenes.json
  public_html/src/_layouts/scene.njk
  public_html/src/js/scene-map.js
  tools/s2-hilbert/generate-scene-map.mjs
Due: none

Update scene data and add new location for van Ness at Sacramento
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

Add confidence values to multiple map marks [catalogue code]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

[ai][js] list the level 13 cell only, and say which level it is [split 2] [catalogue code]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  public_html/src/scenes/index.njk
Due: none

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
