Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[js] enhance LiDAR runs page with selected run detail panel and improved layout
  web/src/routes/lidar/runs/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[js] refactor HTML files for consistency and readability; add unit tests for dashboard utilities
  internal/lidar/monitor/assets/dashboard_common.js
  internal/lidar/monitor/assets/regions_dashboard.js
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/regions_dashboard.html
  internal/lidar/monitor/html/sweep_dashboard.html
  web/src/lib/__tests__/dashboard_common.test.ts
  web/src/lib/__tests__/regions_dashboard.test.ts
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[js] update jest configuration to include coverage thresholds for lidar monitor assets
  web/jest.config.js
Due: format-web

[css] refactor dashboard stylesheets
  internal/lidar/monitor/assets/common.css
  internal/lidar/monitor/assets/dashboard.css
  internal/lidar/monitor/assets/regions_dashboard.css
  internal/lidar/monitor/assets/status_dashboard.css
  internal/lidar/monitor/assets/sweep_dashboard.css
  internal/lidar/monitor/html/dashboard.html
  internal/lidar/monitor/html/regions_dashboard.html
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[make] update format-web target to include additional dashboard asset files
  Makefile
Due: none

[js] add initialization functions and enhance module exports for regions and sweep dashboards
  internal/lidar/monitor/assets/regions_dashboard.js
  internal/lidar/monitor/assets/sweep_dashboard.js
Due: none

[js] add tests
  internal/lidar/monitor/assets/regions_dashboard.js
  internal/lidar/monitor/assets/sweep_dashboard.js
  web/src/lib/__tests__/regions_dashboard.test.ts
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[js] add tests for window resize handler, polling behavior, and error handling in sweep dashboard
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[js] add coverage ignore comments for browser-only fallback paths in dashboard scripts
  internal/lidar/monitor/assets/regions_dashboard.js
  internal/lidar/monitor/assets/sweep_dashboard.js
Due: none

[js] add tooltip tests for regions with missing parameters in regions dashboard
  web/src/lib/__tests__/regions_dashboard.test.ts
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[js] update .gitignore to include coverage directory and refine mock implementation in sweep_dashboard tests
  web/.gitignore
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] format
  docs/plans/frontend-consolidation.md
Due: format-markdown

[docs] update frontend consolidation plan with LiDAR lifecycle management and runtime capabilities
  docs/plans/frontend-consolidation.md
Due: format-markdown

[git] add environment configuration file for vr-review setup
  .codex/environments/environment.toml
Due: none

[docs] frontend consolidation design document (#251)
  docs/plans/frontend-consolidation.md
Due: format-markdown

[go] add clear runs
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/track_api.go
  internal/lidar/monitor/webserver.go
  internal/lidar/track_store.go
Due: format-go

[js][go] add delete functionality for run tracks and all runs
  internal/lidar/monitor/run_track_api.go
  web/src/lib/api.ts
  web/src/routes/lidar/runs/+page.svelte
Due: format-go, format-web

[js] replace label elements with divs for source, scene, and tracks sections
  web/src/routes/lidar/runs/+page.svelte
Due: format-web

[js] increase chunk size warning limit in build configuration to 2Mb
  web/vite.config.ts
Due: format-web

[go] enhance error handling and logging across multiple components
  cmd/radar/radar.go
  internal/db/transit_worker.go
  internal/lidar/monitor/gridplotter.go
  internal/lidar/monitor/scene_api.go
  internal/lidar/monitor/webserver.go
  internal/lidar/network/listener.go
  internal/lidar/sweep/output.go
Due: format-go

[js] remove unused SSR comments from lidar routes
  web/src/routes/lidar/runs/+page.ts
  web/src/routes/lidar/scenes/+page.ts
  web/src/routes/lidar/tracks/+page.ts
Due: format-web

[js][go] enhance track management and observation filtering in lidar components
  internal/lidar/monitor/scene_api.go
  internal/lidar/monitor/webserver.go
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web

Codex changes
  internal/lidar/missed_region_store_test.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/pcap_files_api_test.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/testutil/testutil_test.go
Due: format-go

Codex changes
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/scene_api_test.go
  internal/lidar/network/pcap_tag_test.go
  internal/lidar/sweep/math_test.go
  internal/testutil/testutil_test.go
Due: format-go

[docs] VRLOG recording and playback sync with gRPC and REST endpoints
  docs/plans/vrlog-recording-replay-plan.md
Due: format-markdown

[ai][go] fix test issues from PR review feedback (#255)
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/network/pcap_tag_test.go
  internal/testutil/testutil_test.go
Due: format-go

[go] add tests (#253)
  internal/lidar/missed_region_store_test.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/pcap_files_api_test.go
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/scene_api_test.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/network/pcap_tag_test.go
  internal/lidar/sweep/math_test.go
  internal/testutil/testutil_test.go
Due: format-go

Update +page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[go] add active tracks metrics and enhance scoring formula in lidar components
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/objective.go
  internal/lidar/sweep/objective_test.go
  internal/lidar/sweep/output.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/sampler.go
  internal/lidar/tracking.go
Due: format-go

[js] prevent infinite reactive loops by using untrack in MapPane and +page.svelte
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[js] prevent infinite reactive loop warnings by adding eslint-disable comments
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[js] fix Svelte infinite reactive loop linter warnings (#256)
  Makefile
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/track_store.go
  internal/lidar/track_store_extended_test.go
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/runs/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web

Codex changes
  internal/db/migrate_cli_test.go
  internal/deploy/executor_test.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/pcap_files_api_test.go
  internal/lidar/network/listener_test.go
Due: format-go

[go] tune pcaps analysis (#254)
  .codex/environments/environment.toml
  Makefile
  cmd/radar/radar.go
  docs/plans/vrlog-recording-replay-plan.md
  internal/db/transit_worker.go
  internal/lidar/monitor/gridplotter.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/scene_api.go
  internal/lidar/monitor/track_api.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/network/listener.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/objective.go
  internal/lidar/sweep/objective_test.go
  internal/lidar/sweep/output.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/sampler.go
  internal/lidar/track_store.go
  internal/lidar/track_store_extended_test.go
  internal/lidar/tracking.go
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/runs/+page.svelte
  web/src/routes/lidar/runs/+page.ts
  web/src/routes/lidar/scenes/+page.ts
  web/src/routes/lidar/tracks/+page.svelte
  web/src/routes/lidar/tracks/+page.ts
  web/vite.config.ts
Due: format-go, format-web, format-markdown

[go] implement sweep persistence and management for LiDAR sweeps
  cmd/radar/radar.go
  internal/db/migrations/000022_create_lidar_sweeps.down.sql
  internal/db/migrations/000022_create_lidar_sweeps.up.sql
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep_store.go
Due: format-go, format-sql

Update internal/deploy/executor_test.go
  internal/deploy/executor_test.go
Due: format-go

Update internal/db/migrate_cli_test.go
  internal/db/migrate_cli_test.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
