Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[ai][docs] update cross-references after file relocations
  docs/guides/quickstart-pipeline-fix.md
  docs/lidar/operations/parameter-comparison.md
Due: format-markdown

[ai][docs] update documentation to reflect current code state
  .github/agents/ictinus.agent.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
  README.md
  TROUBLESHOOTING.md
  docs/features/cli-comprehensive-guide.md
  docs/plans/rpi-imager-fork-design.md
  internal/db/migrations/README.md
  public_html/src/guides/setup.md
Due: format-markdown

Improve error logging for read deadline in UDPListener and adjust test to prevent busy-looping
  internal/lidar/network/listener.go
  internal/lidar/network/listener_coverage_test.go
Due: format-go

Enhance UDPListener error handling and improve Close method concurrency
  internal/lidar/network/listener.go
Due: format-go

[mac] Refactor tests for consistency and improve MetalViewRepresentable properties
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
Due: format-mac

[mac] Update MetalViewRepresentable tests to reflect changes in showGrid property
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
Due: format-mac

Fix sweep parameter schema and config compatibility issues from PR review (#274)
  .github/agents/ictinus.agent.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
  README.md
  TROUBLESHOOTING.md
  config/sweep-quality-tuning.json
  config/tuning.optimised.json
  docs/features/cli-comprehensive-guide.md
  docs/guides/quickstart-pipeline-fix.md
  docs/lidar/operations/parameter-comparison.md
  docs/lidar/troubleshooting/pipeline-diagnosis.md
  docs/plans/industry-standard-ml-solver-expansion-plan.md
  docs/plans/precompiled-latex-plan.md
  docs/plans/rpi-imager-fork-design.md
  internal/db/migrations/README.md
  public_html/src/guides/setup.md
Due: format-markdown

[go] add background update fraction and safety margin parameters to tuning handler
  internal/lidar/monitor/webserver.go
Due: format-go

[js] hide RLHF-specific elements and update default parameters for auto-configuration
  internal/lidar/monitor/assets/sweep_dashboard.css
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[go]
  internal/lidar/sweep/rlhf.go
  internal/lidar/sweep/rlhf_test.go
Due: format-go

[js] add DEFAULT_RLHF_PARAMS to module exports and update test to auto-populate default parameters
  internal/lidar/monitor/assets/sweep_dashboard.js
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[go] refactor tuning and tracking configurations: update foreground and gating parameters, enhance background config methods, and improve related tests
  cmd/radar/radar.go
  internal/config/tuning.go
  internal/config/tuning_test.go
  internal/lidar/config.go
  internal/lidar/tracking.go
  internal/lidar/tracking_test.go
Due: format-go

[go] refactor RLHF scene handling: replace populateRLHFScenes with loadSweepScenes, update scene selection logic, and clean up related tests
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/monitor/sweep_handlers.go
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-go, format-web

[go] add functionality to retrieve and store last analysis run ID during PCAP replay
  internal/lidar/monitor/client.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/runner.go
Due: format-go

[go] add IDs for current and paste params cards, enhance CSS to hide elements in RLHF mode
  cmd/radar/radar.go
  internal/lidar/monitor/assets/sweep_dashboard.css
  internal/lidar/monitor/html/sweep_dashboard.html
Due: format-go

[go] update RLHF tracks link to include web base path and enhance logging with lidar.Debugf in PCAP processing
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/network/pcap.go
Due: format-go

[go] add SpeedMode to PCAPReplayConfig and enforce realtime speed during PCAP replay
  internal/lidar/monitor/client.go
  internal/lidar/sweep/runner.go
Due: format-go

[go] implement GetRunTrack API endpoint and corresponding database query; add tests for track retrieval and error handling; enhance VRLog replay functionality to send one frame while paused
  internal/lidar/analysis_run.go
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/run_track_api_coverage_test.go
  internal/lidar/visualiser/publisher.go
  internal/lidar/visualiser/vrlog_test.go
Due: format-go

[go] ensure replay mode is set before frame production and update gRPC notification timing in PCAP handling
  internal/lidar/monitor/webserver.go
Due: format-go

[mac] reset playback timestamps on reconnect; reproject labels on track selection change; enhance label help text
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] enhance RLHF sweep run functionality with PCAP start and duration parameters; update related UI and tests
  cmd/radar/radar.go
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/sweep/rlhf.go
  internal/lidar/sweep/rlhf_test.go
Due: format-go

[go] replace HTTP client with in-process backend for sweep runner
  cmd/radar/radar.go
  cmd/sweep/main.go
  internal/lidar/monitor/client.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/backend.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/sampler.go
Due: format-go

[go] implement long-polling for RLHF status and PCAP completion; enhance related functions and tests
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/client.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/rlhf.go
Due: format-go

[go] enhance RLHF Tuner and Refactor Tests
  internal/lidar/sweep/auto_coverage_test.go
  internal/lidar/sweep/rlhf.go
  internal/lidar/sweep/runner_coverage_test.go
Due: format-go

[go] refactor sampler tests to use mock backend instead of HTTP client
  internal/lidar/sweep/sampler_test.go
Due: format-go

[go] refactor track labeling system: update user labels to use 'car' and 'ped' instead of 'good_vehicle' and 'good_pedestrian'; enhance quality label handling for multi-select options
  internal/api/lidar_labels.go
  internal/lidar/ground_truth.go
  internal/lidar/ground_truth_test.go
  internal/lidar/missed_region_store.go
  internal/lidar/missed_region_store_test.go
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/run_track_api_coverage_test.go
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/sweep/rlhf_test.go
Due: format-go

[mac] refactor labeling system: update labels from 'good_vehicle' and 'good_pedestrian' to 'car' and 'ped'; enhance label assignment and quality flag handling
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunTrackLabelAPIClientTests.swift
Due: format-mac

[js] refactor labeling system: update labels from 'good_vehicle' and 'good_pedestrian' to 'car' and 'ped'; enhance quality flag handling and API response structure
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/components/lidar/TrackList.svelte
  web/src/lib/types/lidar.ts
  web/src/routes/lidar/scenes/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[sql] update user, quality, and class labels to new taxonomy; revert previous changes for consistency
  internal/db/migrations/000026_update_label_taxonomy.down.sql
  internal/db/migrations/000026_update_label_taxonomy.up.sql
Due: format-sql

[ver] bump version to 0.5.0-pre8 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[go] refactor tests: replace real mock server with mock backend in coverage tests
  internal/lidar/sweep/rlhf_coverage_test.go
Due: format-go

[go] refactor tuning configuration: streamline loading defaults and update tests for new config structure
  cmd/radar/radar.go
  internal/config/tuning.go
  internal/config/tuning_test.go
Due: format-go

[js] update RLHF mode UI elements and remove countdown display
  internal/lidar/monitor/assets/sweep_dashboard.css
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  web/src/lib/components/lidar/TrackList.svelte
  web/src/lib/types/lidar.ts
Due: format-web

[mac] add ground reference grid toggle and implement grid rendering
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] update gating_distance_squared value to improve processing accuracy
  config/tuning.defaults.json
Due: none

[go] enhance RLHF label handling: add 'impossible' label, implement immediate label update notifications, and refactor related tests
  internal/api/lidar_labels.go
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/sweep/rlhf.go
  internal/lidar/sweep/rlhf_coverage_test.go
  internal/lidar/sweep/rlhf_test.go
Due: format-go

[go] update RLHF tuner tests: change default poll interval to 60s and pre-fill continue signals for immediate label retrieval
  internal/lidar/sweep/rlhf_coverage_test.go
  internal/lidar/sweep/rlhf_test.go
Due: format-go

[go] ensure PCAP slot is released after each combo and improve cleanup handling
  internal/lidar/sweep/runner.go
Due: format-go

[go][js] refactor label taxonomy updates: replace specific quality labels in lidar_run_tracks and adjust related tests
  internal/db/migrations/000026_update_label_taxonomy.up.sql
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/sweep_handlers_test.go
  web/src/lib/__tests__/sweep_dashboard.test.ts
  web/src/lib/components/lidar/TrackList.svelte
Due: format-go, format-web, format-sql

[go] Refactor lidar and config handling to load parameters from tuning.defaults.json
  cmd/radar/radar.go
  config/README.md
  config/tuning.defaults.json
  config/tuning.example.json
  internal/config/tuning.go
  internal/config/tuning_test.go
  internal/lidar/analysis_run.go
  internal/lidar/analysis_run_test.go
  internal/lidar/clustering.go
  internal/lidar/clustering_test.go
  internal/lidar/config.go
  internal/lidar/dbscan_clusterer_test.go
  internal/lidar/foreground.go
  internal/lidar/tracking.go
  internal/lidar/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_test.go
Due: format-go, format-markdown

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
