Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[go] update PCAP analysis to handle offline mode without forwarder
  cmd/tools/pcap-analyze/main.go
Due: format-go

[go] add functionality to find and delete duplicate background snapshots
  internal/db/db.go
Due: format-go

[go] add endpoint for cleaning up duplicate background snapshots
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add sanitization for sensor IDs in file paths to prevent security issues
  internal/lidar/monitor/webserver.go
  internal/security/pathvalidation.go
Due: format-go

[go] add functionality to count unique background snapshot hashes and update cleanup response
  internal/db/db.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add API endpoint for fetching database statistics and implement database size analysis
  cmd/deploy/monitor.go
  internal/api/server.go
  internal/db/db.go
Due: format-go

[go] add endpoint for retrieving database statistics in JSON format
  internal/db/db.go
Due: format-go

[sql] add migration for velocity-coherent tracking tables and related indices
  internal/db/migrations/000013_create_velocity_coherent_tracks.down.sql
  internal/db/migrations/000013_create_velocity_coherent_tracks.up.sql
  internal/db/schema.sql
Due: none

[go] Velocity Coherent Tracker implementation and tests
  cmd/radar/radar.go
  internal/lidar/dual_pipeline.go
  internal/lidar/dual_pipeline_test.go
  internal/lidar/monitor/algorithm_api.go
  internal/lidar/monitor/algorithm_api_test.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/lidar/vc_track_store.go
  internal/lidar/vc_track_store_test.go
  internal/lidar/velocity_coherent_tracker.go
  internal/lidar/velocity_coherent_tracker_test.go
Due: format-go

[go][js] implement velocity-coherent tracking features and API integration
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web

[docs] add comprehensive integration plan for LIDAR frame analyzer (#167)
  internal/lidar/docs/av-lidar-integration-plan.md
Due: none

[version] update version to 0.4.0-pre4 in Makefile, main.go, and package.json files
  Makefile
  cmd/deploy/main.go
  docs/package.json
  web/package.json
Due: format-go, format-web

[go] add PCAP speed mode and ratio configuration to LiDAR monitor
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[exe] make format
  internal/lidar/clustering.go
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/network/pcap_realtime_stub.go
  internal/lidar/quality.go
  internal/lidar/track_export.go
  internal/lidar/track_store.go
  internal/lidar/tracking.go
  web/src/lib/components/lidar/MapPane.svelte
Due: format-go, format-web

[go] add warmup packets feature to RealtimeReplayConfig and adjust PCAP handling for background seeding
  internal/lidar/background.go
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/network/pcap_realtime_stub.go
Due: format-go

[go] optimize point encoding by sorting and using azimuth buckets for better data handling
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/track_export.go
Due: format-go

[go] add SensorID to RealtimeReplayConfig for caching debug snapshots during PCAP replay
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/network/pcap_realtime_stub.go
Due: format-go

[go] add endpoint to export latest foreground snapshot to ASC and implement corresponding handler
  internal/lidar/foreground_snapshot.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enhance azimuth calculation and default distance marker in packet encoding
  internal/lidar/network/foreground_forwarder.go
Due: format-go

[go] remove unnecessary method check in handleGridReset for improved simplicity
  internal/lidar/monitor/webserver.go
Due: format-go

[docs] refine documentation on port 2370 corruption diagnosis and foreground point encoding issues
  docs/troubleshooting/port-2370-corruption-diagnosis.md
Due: none

[go] add batch export functionality for LiDAR frames and foreground snapshots
  internal/lidar/frame_builder.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

add azimuth coverage checks for frame completion and export logic
  internal/lidar/frame_builder.go
Due: format-go

[go] streamline foreground extraction and caching logic in ReadPCAPFileRealtime
  internal/lidar/network/pcap_realtime.go
Due: format-go

add foreground snapshot counts to status UI and implement thread-safe access
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[sql] add new fields to lidar tables for enhanced tracking and analysis
  internal/db/schema.sql
Due: none

[go] add new fields to lidar tables for noise points and track metrics
  internal/lidar/frame_builder.go
  internal/lidar/track_store_test.go
Due: format-go

[go] add latestFgCounts to WebServer for tracking foreground snapshot counts in status UI
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enhance lidar processing with runtime-tunable parameters for clustering and warmup
  cmd/radar/radar.go
  cmd/tools/pcap-analyze/main.go
  internal/lidar/background.go
  internal/lidar/foreground.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] move logging in FrameBuilder and Forwarders to use Debugf for improved clarity
  internal/lidar/frame_builder.go
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/forwarder.go
Due: format-go

[go] add warmup and foreground cluster parameters to BackgroundManager
  internal/lidar/background.go
Due: format-go

[go] enhance foreground processing with warmup logging and frame counting
  internal/lidar/foreground.go
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/pcap_realtime.go
Due: format-go

fix: align CREATE TABLE statement for schema_migrations
  internal/db/schema.sql
Due: none

fix: reorder idx_lidar_tracks_quality index creation in schema.sql
  internal/db/schema.sql
Due: none

[go] enhance lidar functionality with foreground packet forwarding and updated Makefile options
  Makefile
  cmd/radar/radar.go
  internal/lidar/network/foreground_forwarder.go
Due: format-go

[go] enhance FrameBuilder with wall-clock time tracking for frame ingestion
  internal/lidar/frame_builder.go
Due: format-go

[sql] lint
  internal/db/migrations/000012_add_track_quality_metrics.down.sql
  internal/db/migrations/000012_add_track_quality_metrics.up.sql
  internal/db/schema.sql
Due: none

fix formatting in schema.sql for consistency
  internal/db/schema.sql
Due: none

[go] lint
  internal/lidar/network/foreground_forwarder.go
Due: format-go

[go] enhance webserver with traffic statistics endpoints and visualization
  internal/lidar/monitor/webserver.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
