Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[mac] enhance VRLOG loading and replay state management with frame encoding support
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/RunBrowserState.swift
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunTrackLabelAPIClientTests.swift
Due: format-mac

[go] update onVRLogLoad function signatures to return string and error
  internal/lidar/monitor/webserver_coverage_test.go
Due: format-go

[go] add tests for new replayer functionality and frame logging
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[mac] update PlaybackModeBadgeView tests to include showsLegacyJSONWarning parameter
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
Due: format-mac

[go] refactor TestReplayerCorruptedChunk to handle acceptable errors during frame-encoding detection
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[go] add log import to compare.go for improved error handling
  internal/lidar/analysis/compare.go
Due: format-go

[go] fix spacing in GenerateReport function
  internal/lidar/analysis/report.go
Due: format-go

[mac] optimize state updates to prevent redundant writes and improve performance
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] enhance schema validation in analysis: include errSchemaInvalid for missing keys
  internal/lidar/analysis/compare.go
Due: format-go

[mac] throttle UI updates in TrackListView to improve performance during playback
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] refactor vrlogReplayLoop to improve rate control handling for foreground frames
  internal/lidar/visualiser/publisher.go
Due: format-go

[mac] add seekToTimestamp method and UI button for seeking to previous frames in TrackHistoryGraphView
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[mac] refactor seekToTimestamp method to improve timestamp handling and avoid lossy conversions
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: format-mac

[go] add frame buffer draining to SeekVRLog and SeekVRLogTimestamp methods to prevent stale frames
  internal/lidar/visualiser/publisher.go
Due: format-go

[go] add logging for diagnostics in SeekToTimestamp method to aid in debugging frame seeks
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[docs] update terminology in VRLOG analysis report for clarity
  .github/agents/README.md
  docs/data/VRLOG_ANALYSIS.md
Due: format-markdown

[go] change lastForegroundTimestamp to atomic.Int64 for thread-safe access and update related tests
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/publisher.go
  internal/lidar/visualiser/publisher_test.go
  internal/lidar/visualiser/replay_test.go
Due: format-go

[mac] refactor TrackInspectorDetailCards: swap Position and State sections for improved clarity
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] enhance background snapshot handling: defer background emission until a foreground frame sets a canonical timestamp to prevent contamination of VRLOG recordings
  internal/lidar/visualiser/publisher.go
  internal/lidar/visualiser/publisher_m35_test.go
  internal/lidar/visualiser/publisher_test.go
  internal/lidar/visualiser/recorder/recorder.go
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[mac] enhance seeking logic: improve handling of seek completion and update replay progress calculation for better accuracy and responsiveness
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: format-mac

[mac] refactor card for ease of legability
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[proto] update ObjectClass enumeration: clarify user-assignable classes and reserve TRUCK and MOTORCYCLIST for future use
  proto/velocity_visualiser/v1/visualiser.proto
Due: none

[mac] update classification labels and tests for v0.5.0: adjust label descriptions, remove truck and motorcyclist, and update related test cases
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ExtractedHelpersTests.swift
Due: format-mac

[go] update classification logic for v0.5.0: disable truck and motorcyclist classifications, adjust related tests and documentation
  internal/api/lidar_labels.go
  internal/api/lidar_labels_test.go
  internal/lidar/l6objects/classification.go
  internal/lidar/l6objects/classification_test.go
Due: format-go

[js] update classification labels: remove truck and motorcyclist from options and adjust related types for v0.5.0
  web/src/lib/components/lidar/TrackList.svelte
  web/src/lib/types/lidar.ts
Due: format-web

[mac] enhance playback stepping: add frame count parameter to stepForward and stepBackward methods, update UI actions and tests
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ExtractedHelpersTests.swift
Due: format-mac

[docs] update classification terminology and logic for v0.5.0: revise object classes, reserve truck and motorcyclist for future use, and adjust related documentation
  docs/lidar/terminology.md
  docs/maths/classification-maths.md
  docs/plans/label-vocabulary-consolidation-plan.md
Due: format-markdown

[go][docs] update LiDAR classification labels for v0.5.0: introduce active detection labels, reserve truck and motorcyclist for future use, and enhance quality flags
  docs/lidar/terminology.md
  internal/api/lidar_labels.go
Due: format-go, format-markdown

[go] improve logging precision in PCAP real-time replay: update speed formatting to two decimal places for better clarity
  internal/lidar/l1packets/network/pcap_realtime.go
Due: format-go

[html] update speed ratio input: change minimum value from 0.05 to 0.01 for better flexibility
  internal/lidar/monitor/html/status.html
Due: none

[make] enhance log tailing functionality: implement auto-switching for recent logs and improve error handling
  Makefile
Due: none

[docs] enhance VRLOG format specification: add FrameType values and deterministic recording guarantee for improved clarity and consistency
  docs/data/VRLOG_FORMAT.md
Due: format-markdown

[proto] enhance FrameType enum: add FRAME_TYPE_EMPTY for improved handling of empty frames
  proto/velocity_visualiser/v1/visualiser.proto
Due: none

[go] implement deterministic PCAP-to-VRLOG mapping: add FrameTypeEmpty and ensure every sensor rotation produces a VRLOG entry, including empty frames
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[go] enhance TestEmptyFrameRoundTrip: verify preservation of variable inter-frame intervals and update frame simulation for improved accuracy
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[docs] clarify VRLOG FrameTypeEmpty description and update deterministic recording guarantee section for variable rotation rates
  docs/data/VRLOG_FORMAT.md
Due: format-markdown

[docs][ai] update plans and backlog for branch completion status
  docs/BACKLOG.md
  docs/data/VRLOG_FORMAT.md
  docs/plans/label-vocabulary-consolidation-plan.md
  docs/plans/lidar-visualiser-run-list-labelling-rollup-icon-plan.md
Due: format-markdown

Apply suggestions from code review
  docs/data/VRLOG_FORMAT.md
  internal/lidar/monitor/html/status.html
Due: format-markdown

[docs] Update BACKLOG and plans: add diagnostic logging and timestamp index optimizations
  docs/BACKLOG.md
  docs/plans/label-vocabulary-consolidation-plan.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
Due: format-markdown

[go] remove unnecessary Start() calls in TestPublisher_DrainFrameBuffers tests
  internal/lidar/visualiser/publisher_test.go
Due: format-go
