Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[docs] Enhance documentation and styling for velocity.report
  docs/.eleventy.js
  docs/ELEVENTY_GUIDE.md
  docs/FRONTEND_UNITS_FEATURE.md
  docs/TIMEZONE_ANALYSIS.md
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/_includes/header.njk
  docs/src/_layouts/doc.njk
  docs/src/css/style.css
  docs/src/guides/first-report.md
  docs/src/guides/index.md
  docs/tailwind.config.js
Due: format-web

[docs] merge eleventy guide into README
  docs/ELEVENTY_GUIDE.md
  docs/README.md
Due: none

[docs] remove Guides and Reference links from header
  docs/src/_includes/header.njk
Due: none

[docs] reorder contributions section
  docs/src/community/index.md
Due: none

[docs] add community page with Discord and GitHub links
  docs/src/community/index.md
Due: none

[docs] update guides layout and styling
  docs/src/guides/index.md
Due: none

[docs] add Guides section to header and update index with How-To Guides
  docs/src/_includes/header.njk
  docs/src/index.njk
Due: none

[docs] update terminology to emphasize citizen radar system in documentation
  README.md
  docs/README.md
  docs/src/guides/first-report.md
  docs/src/index.njk
Due: none

[docs] update diagram to correct component relationships in README
  README.md
Due: none

[docs] enhance README for clarity and detail in deployment instructions
  README.md
Due: none

[docs] update systemd service names and database path in architecture documentation
  ARCHITECTURE.md
Due: none

[docs] update service files: rename go-sensor to velocity-server and remove deprecated service
  tools/pdf-generator/pdf_generator/cli/main.py
  velocity-report.service
  velocity-server.service
Due: format-python

[fix] update database path handling to use CLI flag for sqlite DB
  cmd/radar/radar.go
Due: format-go

[go] update database path handling to use CLI flag for sqlite DB
  cmd/radar/radar.go
Due: format-go

[go] update db path variable to use dbPathFlag for consistency
  cmd/radar/radar.go
Due: format-go

[go] update database path handling to use CLI flag for sqlite DB (#52)
  cmd/radar/radar.go
Due: format-go

[ci] update workflows to trigger on push to main branch only
  .github/workflows/go-ci.yml
  .github/workflows/python-tests.yml
  .github/workflows/web-tests.yml
Due: none

[ci] remove steps for installing system dependencies and building web assets in CI workflow
  .github/workflows/go-ci.yml
Due: none

[ci] include go-ci.yml in pull request triggers
  .github/workflows/go-ci.yml
Due: none

[docs] lint
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] remove outdated architecture diagram from LiDAR overview
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] nits
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] enhance LiDAR sidecar overview with implementation details on classification, filtering, and metrics
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[go] add PCAP file replay support and related configurations
  Makefile
  README.md
  cmd/bg-multisweep/main.go
  cmd/bg-sweep/main.go
  cmd/radar/radar.go
  internal/lidar/docs/lidar_sidecar_overview.md
  internal/lidar/monitor/webserver.go
  internal/lidar/network/listener.go
  internal/lidar/network/pcap.go
  internal/lidar/network/pcap_stub.go
Due: format-go

[docs] update LiDAR sidecar overview to reflect current status and phases, including PCAP parameter tuning details
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[go] update lidar configuration flags for improved clarity and consistency
  cmd/radar/radar.go
Due: format-go

[docs] update README and documentation for improved clarity on database path and command flags
  README.md
  cmd/radar/README.md
  data/migrations/README.md
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] remove outdated Frontend Units Override Feature documentation
  docs/FRONTEND_UNITS_FEATURE.md
Due: none

[go] add SeedFromFirstObservation parameter for PCAP mode background initialization
  cmd/radar/radar.go
  internal/lidar/background.go
Due: format-go

[go] enhance lidar debugging: enable debug logging for frame completion and PCAP parsing
  cmd/radar/radar.go
  docs/LIDAR-PCAP-Debug.md
  internal/lidar/frame_builder.go
  internal/lidar/network/pcap.go
Due: format-go

[go] enhance azimuth detection, handle large negative jumps. improves frame detection accuracy
  internal/lidar/frame_builder.go
Due: format-go

[docs] update lidar pcap debug plan
  docs/LIDAR-PCAP-Debug.md
Due: none

[go] enhance frame eviction logging and finalize frame callback
  internal/lidar/frame_builder.go
Due: format-go

[git] correct log directory name in .gitignore
  .gitignore
Due: none

[make] add dev-go and tail-log-go targets for local development and log management
  Makefile
Due: none

[make] enhance dev-go target to stop previously running app-radar-local processes before starting a new instance
  Makefile
Due: none

[make] add cat-log-go target to display the most recent velocity log file
  Makefile
Due: none

[make] consolidate dev-go logic into reusable run_dev_go function, add dev-go-pacp
  Makefile
Due: none

[sh] add local API helper scripts for PCAP replay and lidar background status fetching
  scripts/api/README.md
  scripts/api/get_grid_status.sh
  scripts/api/get_snapshots.sh
  scripts/api/start_pcap.sh
Due: none

[go] add diagnostics for non-zero channel counts in ParsePacket function
  internal/lidar/parse/extract.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
