Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[js] enhance map editor with Overpass mirror selection and improved road styling
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

[docs] update backlog entries for v0.5.3 to v0.5.7, including new tasks for LiDAR pipeline and algorithm foundations
  docs/BACKLOG.md
Due: format-markdown

[js][css] simplify Field component defaults and enhance number input styling
  web/src/routes/+layout.svelte
  web/src/routes/app.css
Due: format-web

[js] add map-svg utility functions and types for SVG rendering
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/map-svg.ts
Due: format-web

[js] update button labels for report generation and downloads
  web/src/routes/+page.svelte
Due: format-web

[js] restructure form layout for better responsiveness in site information section
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-web

[js] add tests
  web/src/lib/map-svg.test.ts
Due: format-web

[js] increase stroke width for map labels to enhance visibility
  web/src/lib/map-svg.ts
Due: format-web

[js] add SVG upload functionality and preview in MapEditorInteractive component
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

[sql] add radar SVG position columns to site table and update migration scripts
  internal/db/migrations/000037_seed_config_period_pi_day.down.sql
  internal/db/migrations/000037_seed_config_period_pi_day.up.sql
  internal/db/schema.sql
Due: format-sql

[go] add radar SVG coordinates to Site model and update related database operations
  internal/db/site.go
Due: format-go

[js] add radar SVG position properties to Site model and update MapEditorInteractive component
  web/src/lib/api.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-web

[js] refactor settings page layout and improve display of units and timezone selections
  web/src/routes/(constrained)/settings/+page.svelte
Due: format-web

[js] reset last generated report ID on validation errors and update alert roles and styles
  web/src/routes/(constrained)/reports/+page.svelte
  web/src/routes/+page.svelte
Due: format-web

[py] add support for radar SVG position overrides in PDF report generation
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
Due: format-python

[js]: enhance custom SVG upload handling to restore mode without geographic bounds
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

[js] update radar SVG position clamping to allow 5% borders and include properties in form data
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-web

[sh] add cleanup for old SvelteKit directory before copying build to static
  web/scripts/copy-build.js
Due: format-web

[docs] groom backlog: split v0.5.6, add gap remediation items, priority-sort all milestones
  docs/BACKLOG.md
Due: format-markdown

[img] remove unnecessary build artifacts from PDF generator output
  image/scripts/build-image.sh
Due: none

[js] add unit tests for isDateRangeStale function and implement report settings management
  web/src/lib/reportSettings.test.ts
  web/src/lib/reportSettings.ts
  web/src/routes/(constrained)/reports/+page.svelte
  web/src/routes/+page.svelte
Due: format-web

[go] correct casing of RadarSVG fields in Site struct
  internal/db/site.go
Due: format-go

[go] remove unused io import and output setting in upgrade command
  cmd/velocity-ctl/upgrade.go
Due: format-go

[img] update LiDAR support package to use runtime library only
  image/stage-velocity/00-install-packages/00-packages
Due: none

[img] enhance TLS generation script with improved certificate handling and permissions
  image/stage-velocity/03-velocity-config/files/velocity-generate-tls.sh
Due: none

[py] refactor test_radar_svg_xy_overrides_triangle_position to use DocumentBuilder mock and streamline PDF report generation
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
Due: format-python

[py] correct LaTeX escaping in ParameterTableBuilder for monospace rendering
  tools/pdf-generator/pdf_generator/core/table_builders.py
Due: format-python

[js] refactor fromDatetimeLocalToUnixSeconds to manually parse datetime strings for consistent behavior
  web/src/lib/datetimeLocal.ts
Due: format-web

[img] refactor build scripts and cleanup process for optimized image size
  Makefile
  image/Dockerfile.build
  image/scripts/build-image.sh
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[docs] move stale localStorage date range item to the Complete section in BACKLOG.md
  docs/BACKLOG.md
Due: format-markdown

[sh] enhance cleanup script to remove unnecessary Python dev headers and X11 libraries
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[sh] prevent removal of /var/lib/apt/lists/ for userconf-pi installation
  image/stage-velocity/06-cleanup/00-run.sh
Due: none

[docs] add asset naming convention documentation to standardize naming across all assets
  docs/BACKLOG.md
  docs/plans/asset-naming-plan.md
Due: format-markdown

[docs] add domain tag vocabulary to enhance backlog item classification and plan document metadata
  docs/BACKLOG.md
  docs/plans/domain-tag-vocabulary-plan.md
Due: format-markdown

[ai] add product names and version format sections to coding standards
  .github/knowledge/coding-standards.md
Due: format-markdown

[sh] enhance build process by adding metadata and increasing root partition margin
  image/scripts/build-image.sh
Due: none

[img] add build metadata installation for MOTD and diagnostics
  image/stage-velocity/03-velocity-config/00-run.sh
Due: none

[img] update warning banner
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
Due: none

[img] enhance MOTD banners to include image build version, time, and git SHA
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
Due: none

[docs] add PCAP motion detection and scene split plan documentation
  docs/BACKLOG.md
  docs/plans/pcap-motion-detection-and-split-plan.md
Due: format-markdown

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
