Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] lint
  internal/db/cosine_correction_test.go
  internal/db/site.go
  internal/db/site_config_period.go
  internal/db/site_config_period_test.go
Due: format-go

[sh] enhance analyze-branches.sh to track commits without tags
  scripts/analyze-branches.sh
Due: none

[cfg] update Git commit message rules to include AI-authored edits and formatting guidelines
  .github/copilot-instructions.md
Due: none

[sh] add analyze-branches.sh script for local branch analysis and tag extraction
  scripts/analyze-branches.sh
Due: none

[cfg] update commit message guidelines for AI edits and language prefixes
  .github/copilot-instructions.md
Due: none

[ai] apply suggestions from code review
  scripts/analyze-branches.sh
Due: none

[sh] refactor analyze-branches.sh to improve local branch analysis output and handle commits without tags
  scripts/analyze-branches.sh
Due: none

[ai] Update copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Add database migration system design document (#106)
  docs/database-migration-system-design.md
Due: none

[ai] update regex's
  scripts/analyze-branches.sh
Due: none

[sh] update percentage calculation to display two decimal places in branch analysis
  scripts/analyze-branches.sh
Due: none

[sh] analyze-branches.sh, improve [NO TAG] count handling and percentage calculations
  scripts/analyze-branches.sh
Due: none

[sh] enhance analyze-branches.sh to track commits with tags and improve summary output
  scripts/analyze-branches.sh
Due: none

[git] copilot commit prefix rules (and analysis script) (#120)
  .github/copilot-instructions.md
  scripts/analyze-branches.sh
Due: none

[docs] update web dashboard port from 8000 to 8080 in setup guide
  docs/src/guides/setup.md
Due: none

[docs] expand setup guide with detailed instructions and parts list for building a privacy-first speed radar
  docs/src/guides/setup.md
Due: none

[docs] update setup guide with improved clarity and corrected commands
  docs/src/guides/setup.md
Due: none

[docs] remove expansion ideas section from setup guide for clarity
  docs/src/guides/setup.md
Due: none

[docs] init setup guide for Citizen Radar deployment
  docs/src/guides/setup.md
Due: none

[docs] enhance setup guide with improved clarity, structure, and additional details for building the privacy-first speed radar
  docs/src/guides/setup.md
Due: none

[docs] correct start_time value in vehicle object JSON output
  docs/src/guides/setup.md
Due: none

[docs] improve formatting, enhance clarity, and reorganize deployment options
  docs/src/guides/setup.md
Due: none

[docs] enhance setup guide clarity: update section titles and add estimated times for each step
  docs/src/guides/setup.md
Due: none

[docs] enhance setup guide with detailed deployment options and sensor configurations
  docs/src/guides/setup.md
Due: none

[docs] improve clarity and conciseness in setup guide content
  docs/src/guides/setup.md
Due: none

[ai] Apply suggestions from code review
  internal/api/serial_testing.go
  web/src/routes/settings/serial/+page.svelte
Due: format-go, format-web

[js] use resolve function for navigation paths in layout
  web/src/routes/+layout.svelte
Due: format-web

[js] use resolve function for serial configuration link in settings page
  web/src/routes/settings/+page.svelte
Due: format-web

[go] Enhance tests for SerialPortManager: improve channel management and verification
  internal/api/serial_reload_test.go
Due: format-go

[go] enhance isValidPortPath function: add validation for empty paths and improve security checks against symlink escape attacks
  internal/api/serial_config.go
Due: format-go

[go] refactor baud rate validation: extract standard baud rates to a constant and improve error messaging
  internal/serialmux/options.go
Due: format-go

[go] refactor, add canLoadDatabaseSerialConfig function for clarity and reuse in main logic
  cmd/radar/radar.go
Due: format-go

Implement serial reload manager and apply DB port settings (#102)
  cmd/radar/radar.go
  docs/features/serial-configuration-ui.md
  internal/api/serial_reload.go
  internal/api/server.go
  internal/serialmux/factory.go
  internal/serialmux/options.go
  internal/serialmux/serialmux.go
Due: format-go

[ai] apply suggestions from code review
  data/migrations/20251106_create_radar_serial_config.sql
  internal/api/serial_testing.go
Due: format-go
