Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] add ForegroundMaxInputPoints configuration to FluentAPI tests
  internal/lidar/l3grid/config_test.go
Due: format-go

[go] add validation for non-negative ForegroundMaxInputPoints in TestGetterDefaults
  internal/config/tuning_test.go
Due: format-go

[go] add test for handling dropped frames when channel is full in FrameBuilderDI
  internal/lidar/l2frames/frame_builder_coverage_test.go
Due: format-go

[go] add cleanup timer stop in TestDroppedFrames_ChannelFull to prevent race conditions
  internal/lidar/l2frames/frame_builder_coverage_test.go
Due: format-go

[go] add test for resetting dropped frame counter in FrameBuilderDI
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
Due: format-go

[docs] remove status and purpose lines from documentation for clarity and conciseness
  DESIGN.md
  docs/ROADMAP.md
  docs/VISION.md
  docs/lidar/architecture/20260221-math-foundations-audit.md
  docs/lidar/architecture/20260221-vector-vs-velocity-workstreams.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review-20260217.md
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
  docs/lidar/operations/foundations-fixit-progress.md
  docs/lidar/troubleshooting/pipeline-diagnosis.md
  docs/plans/data-track-description-language-plan.md
  docs/plans/lidar-architecture-foundations-fixit-plan.md
  docs/plans/lidar-track-labeling-auto-aware-tuning-plan.md
  docs/plans/platform-documentation-standardization-plan.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
  docs/ui/velocity-visualiser-architecture.md
Due: format-markdown

[docs] streamline README by removing status and purpose lines for clarity
  docs/README.md
Due: format-markdown

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[fs] mv BACKLOG, TROUBLESHOOTING, and DESIGN documentation
  docs/BACKLOG.md
  docs/TROUBLESHOOTING.md
  docs/ui/DESIGN.md
Due: format-markdown

[docs] update links to DESIGN.md and BACKLOG.md for consistency across documentation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/agents/thompson.agent.md
  CONTRIBUTING.md
  README.md
  docs/BACKLOG.md
  docs/README.md
  docs/ROADMAP.md
  docs/VISION.md
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/radar/architecture/networking.md
  docs/ui/design-review-and-improvement.md
Due: format-markdown

[ai][docs] resolve 16 executive decisions and align BACKLOG with ROADMAP (#316)
  BACKLOG.md
  docs/DECISIONS.md
  docs/ROADMAP.md
Due: format-markdown

[docs] enhance documentation structure and clarity
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/README.md
  docs/ROADMAP.md
  docs/maths/proposals/20260222-obb-heading-stability-review.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/web-frontend-consolidation-plan.md
Due: format-markdown

[docs] update LaTeX options and recommendations in Raspberry Pi Imager design document
  docs/plans/deploy-rpi-imager-fork-plan.md
Due: format-markdown

[docs] reorganize BACKLOG.md entries and update links in documentation
  BACKLOG.md
  docs/BACKLOG.md
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/radar/architecture/networking.md
  docs/ui/design-review-and-improvement.md
Due: format-markdown

[docs] update BACKLOG, DECISIONS, ROADMAP, VISION, and cosine correction spec for clarity and status changes
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/ROADMAP.md
  docs/radar/architecture/site-config-cosine-correction-spec.md
Due: format-markdown

[docs] decisions (#315)
  BACKLOG.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/README.md
  docs/ROADMAP.md
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/maths/proposals/20260222-obb-heading-stability-review.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/web-frontend-consolidation-plan.md
  docs/radar/architecture/networking.md
  docs/radar/architecture/site-config-cosine-correction-spec.md
  docs/ui/design-review-and-improvement.md
Due: format-markdown

Update BACKLOG.md
  docs/BACKLOG.md
Due: format-markdown

Update DECISIONS.md
  docs/DECISIONS.md
Due: format-markdown

[docs] deprecate ROADMAP.md (#318)
  ARCHITECTURE.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/README.md
  docs/ROADMAP.md
  docs/lidar/architecture/foreground_tracking.md
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/lidar/architecture/lidar_sidecar_overview.md
  docs/lidar/architecture/vector-scene-map.md
  docs/lidar/operations/lidar-foreground-tracking-status.md
  docs/plans/lidar-analysis-run-infrastructure-plan.md
  docs/plans/lidar-architecture-dynamic-algorithm-selection-plan.md
  docs/plans/lidar-ml-classifier-training-plan.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/lidar-parameter-tuning-optimisation-plan.md
  docs/plans/lidar-track-labeling-auto-aware-tuning-plan.md
Due: format-markdown

[fs] mv DESIGN.md
  docs/ui/DESIGN.md
Due: format-markdown

[docs] update links to DESIGN.md in documentation for consistency
  CONTRIBUTING.md
  README.md
  docs/BACKLOG.md
  docs/lidar/architecture/README.md
  docs/lidar/operations/settling-time-optimization.md
  docs/ui/VelocityVisualiser.app/01-problem-and-user-workflows.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
  docs/ui/VelocityVisualiser.app/performance-investigation.md
  docs/ui/design-review-and-improvement.md
Due: format-markdown

[docs] reorder BACKLOG.md
  docs/BACKLOG.md
Due: format-markdown

[go] refactor settling-eval tool to run evaluations from PCAP files and update Makefile commands
  Makefile
  cmd/tools/settling-eval/main.go
  cmd/tools/settling-eval/main_test.go
  cmd/tools/settling-eval/pcap.go
Due: format-go

[go] implement SettlingReport structure and associated methods for JSON reporting
  cmd/tools/settling-eval/main_test.go
  internal/lidar/l3grid/settling_report.go
  internal/lidar/l3grid/settling_report_test.go
Due: format-go

[go] settling-eval set to use l3grid.SettlingReport and streamline report generation
  cmd/tools/settling-eval/main.go
  cmd/tools/settling-eval/pcap.go
Due: format-go

[go] update BACKLOG.md to enhance clarity and organization of project milestones
  docs/BACKLOG.md
Due: format-markdown

[docs] update BACKLOG.md and DECISIONS.md to reflect changes for v0.8 milestone, including new items and rationale for placement
  docs/BACKLOG.md
  docs/DECISIONS.md
Due: format-markdown

[docs] update BACKLOG.md and DECISIONS.md to reflect milestone adjustments for v0.7 and v0.8, including item placements and rationale
  docs/BACKLOG.md
  docs/DECISIONS.md
Due: format-markdown

[docs] add v0.5.1 milestone for Serial port configuration UI in BACKLOG.md
  docs/BACKLOG.md
Due: format-markdown

[docs] update vector scene map architecture to enhance clarity on geometry priors and file structure
  docs/lidar/architecture/vector-scene-map.md
Due: format-markdown

[go] resolve race conditions in VRLog seeking by using atomic return values
  internal/lidar/visualiser/vrlog_test.go
Due: format-go

[docs] add issues to BACKLOG.md
  docs/BACKLOG.md
Due: format-markdown

[docs] update vector scene map architecture to integrate OSM Simple 3D Buildings as structure priors and enhance geometry prior service
  docs/lidar/architecture/vector-scene-map.md
Due: format-markdown

[docs] update DEVLOG.md with recent changes including settling-eval tool, backlog alignment, and vector scene map enhancements
  docs/DEVLOG.md
Due: format-markdown

[docs] update BACKLOG.md to include issue numbers
  docs/BACKLOG.md
Due: format-markdown

[go] settling-eval + docs (#319)
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  cmd/tools/settling-eval/main.go
  cmd/tools/settling-eval/pcap.go
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/DEVLOG.md
  docs/lidar/architecture/README.md
  docs/lidar/architecture/vector-scene-map.md
  docs/lidar/operations/settling-time-optimization.md
  docs/ui/DESIGN.md
  docs/ui/VelocityVisualiser.app/01-problem-and-user-workflows.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
  docs/ui/VelocityVisualiser.app/performance-investigation.md
  docs/ui/design-review-and-improvement.md
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/settling_eval.go
  internal/lidar/l3grid/settling_eval_test.go
  internal/lidar/l3grid/settling_report.go
  internal/lidar/l3grid/settling_report_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/visualiser/vrlog_test.go
Due: format-go, format-markdown

[docs] update Python virtual environment documentation: consolidate to single venv at repository root
  .github/agents/hadaly.agent.md
  .github/agents/ictinus.agent.md
Due: format-markdown

[docs] complete Python venv consolidation (#320)
  .github/agents/hadaly.agent.md
  .github/agents/ictinus.agent.md
  .github/copilot-instructions.md
  docs/BACKLOG.md
  docs/plans/tooling-python-venv-consolidation-plan.md
Due: format-markdown
