Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

feat: add guide hero image to enhance visual content
  public_html/src/images/guide-hero.JPG
Due: none

feat: add content preamble and body filters for improved document structure
  public_html/.eleventy.js
  public_html/src/_layouts/doc.njk
  public_html/src/css/style.css
Due: none

feat: update privacy section and enhance build overview formatting for clarity
  public_html/src/guides/setup.md
Due: format-markdown

feat: update color scheme to emerald for buttons and links, enhance footer and section titles for improved visibility
  public_html/src/_includes/footer.njk
  public_html/src/_layouts/doc.njk
  public_html/src/css/style.css
  public_html/src/index.njk
Due: none

feat: add render-overlays target and update help for guide-image SVG overlays
  Makefile
Due: none

feat: update draw_overlays.py to enhance SVG generation with improved annotations and configuration structure
  tools/guide-overlays/draw_overlays.py
Due: format-python

feat: update setup.md to improve clarity and formatting of parts list and build overview
  public_html/src/guides/setup.md
Due: format-markdown

feat: update setup.md and index.njk to enhance image clarity and remove redundant links
  public_html/src/guides/setup.md
  public_html/src/index.njk
Due: format-markdown

feat: update README.md to improve guidance on project exploration and contribution
  README.md
Due: format-markdown

feat: update documentation and styles for improved clarity and usability
  data/maths/MATHS.md
  public_html/.eleventy.js
  public_html/src/css/style.css
  public_html/src/guides/setup.md
  public_html/src/index.njk
Due: format-markdown

feat: enhance draw_overlays.py with PNG rasterization and update model.py for T-frame assembly
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/model.py
  tools/rack-drawing/rack.json
Due: format-python

feat: add new image assets for guides and documentation
  public_html/src/images/guide-dash-screenshot.png
  public_html/src/images/guide-frame.JPG
  public_html/src/images/guide-mounted.JPG
  public_html/src/images/guide-stack.JPG
Due: none

feat: enhance styling for image links and update setup guide with new engineering drawings
  public_html/src/css/style.css
  public_html/src/guides/setup.md
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/draw_rack.py
  tools/rack-drawing/model.py
Due: format-python, format-markdown

feat: update draw_overlays.py and model.py for improved geometry calculations and enhance rack.json description
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/model.py
  tools/rack-drawing/rack.json
Due: format-python

feat: update draw_overlays.py and draw_rack.py for improved beam configurations and add combined sheet generation in draw_rack.py
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/draw_rack.py
  tools/rack-drawing/model.py
Due: format-python

feat: enhance setup guide with additional tools section and updated BOM table; improve draw_overlays.py and draw_rack.py for better visual representation and dimensions
  public_html/src/guides/setup.md
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/components.py
  tools/rack-drawing/draw_rack.py
  tools/rack-drawing/rack.json
Due: format-python, format-markdown

feat: add new image assets for guides and documentation
  public_html/src/images/guide-frame.jpg
  public_html/src/images/guide-hero.jpg
  public_html/src/images/guide-mounted.jpg
  public_html/src/images/guide-stack.jpg
Due: none

feat: add .gitkeep file to tools/rack-drawing/build directory
  tools/rack-drawing/build/.gitignore
  tools/rack-drawing/build/.gitkeep
Due: none

feat: update Makefile for wiring diagram generation and enhance output message; add pyyaml to requirements.in for YAML parsing
  Makefile
  requirements.in
Due: none

feat: add geometry guide and enhance rack.json with hole specifications for mounting
  tools/rack-drawing/GEOMETRY.md
  tools/rack-drawing/rack.json
Due: format-markdown

feat: add functions to drill fastener holes in the frame for improved assembly
  tools/rack-drawing/draw_rack.py
  tools/rack-drawing/model.py
Due: format-python

[git] udpate ignore
  .gitignore
Due: none

fix: update cable length and power source description in radar wiring documentation
  docs/platform/hardware/radar-wiring.yml
Due: none

fix: update title and descriptions for clarity in index.njk
  public_html/src/index.njk
Due: none

fix: improve clarity in index.njk content and descriptions
  public_html/src/index.njk
Due: none

[ai][docs] address PR 445 review comments
  docs/platform/hardware/radar-wiring.yml
  public_html/src/guides/setup.md
  public_html/src/images/guide-aim-sutro.png
  public_html/src/images/guide-angel.png
  tools/guide-overlays/draw_overlays.py
Due: format-python, format-markdown

fix: update gradient border colors for improved styling consistency
  public_html/src/css/style.css
Due: none

fix: update hole configurations for pipe and brace connections in model and rack definitions
  tools/rack-drawing/model.py
  tools/rack-drawing/rack.json
Due: format-python

fix: enhance guide overlays with updated color configurations and improved diagram accuracy
  public_html/src/images/guide-aim-sutro.png
  public_html/src/images/guide-angel.png
  tools/guide-overlays/draw_overlays.py
Due: format-python

fix: update gradient border styles for light and dark modes, enhance horizontal rule appearance
  public_html/src/css/style.css
Due: none

fix: update hole configurations for crossbar and brace connections, enhance descriptions in rack.json
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/model.py
  tools/rack-drawing/rack.json
Due: format-python

fix: enhance clarity and readability in setup guide, update phrasing and formatting
  public_html/src/guides/setup.md
Due: format-markdown

Refactor draw_overlays.py to update SVG generation for guide images
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/model.py
Due: format-python

fix: reorder deployment options and enhance clarity in setup instructions
  public_html/src/guides/setup.md
Due: format-markdown

update files
  public_html/src/images/guide-aiming.jpg
  public_html/src/images/guide-cosign-angle.jpg
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/components.py
  tools/rack-drawing/draw_rack.py
  tools/rack-drawing/model.py
  tools/rack-drawing/rack.json
Due: format-python

fix: update cost estimates and enhance clarity in setup instructions
  public_html/src/guides/setup.md
Due: format-markdown

fix: update image references and enhance clarity in sensor mounting instructions
  public_html/src/guides/setup.md
Due: format-markdown

fix: update images and improve SVG generation for aiming guide
  public_html/src/images/guide-aiming.jpg
  public_html/src/images/guide-cosign-angle.jpg
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/components.py
  tools/rack-drawing/draw_rack.py
Due: format-python

fix: update cost estimates and improve clarity in setup instructions
  public_html/src/guides/setup.md
Due: format-markdown

fix: update title block layout and improve drawing title display
  public_html/src/images/guide-aiming.jpg
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/draw_rack.py
Due: format-python
