Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] update scenario to scene terminology and enhance chart management UI
  internal/lidar/monitor/assets/sweep_dashboard.css
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[sql] update schema
  internal/db/schema.sql
  internal/db/schema.svg
Due: format-sql

[js] format
  internal/lidar/monitor/assets/sweep_dashboard.js
Due: none

[docs] add LiDAR terminology doc
  docs/lidar/terminology.md
Due: format-markdown

[js] refactor sweep dashboard tests: rename scenario to scene, update chart initialization, and enhance utility functions
  internal/lidar/monitor/assets/sweep_dashboard.js
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[go] fix test resource leaks and flaky network test (#258)
  internal/db/migrate_cli_test.go
  internal/deploy/executor_test.go
Due: format-go

[js] update sweep dashboard tests: update chart rendering test to reflect existing config usage
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[docs] unify VRLOG recording and Swift-native labeling into a single implementation plan
  docs/plans/vrlog-recording-replay-plan.md
Due: format-markdown

[fs] mv plan
  docs/plans/track-labeling-ui-plan.md
Due: format-markdown

[ver] bump version to 0.5.0-pre5 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[go] more tests (#257)
  internal/db/migrate_cli_test.go
  internal/deploy/executor_test.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/pcap_files_api_test.go
  internal/lidar/network/listener_test.go
Due: format-go

[docs] swift label plan (#261)
  docs/plans/track-labeling-ui-plan.md
  docs/plans/vrlog-recording-replay-plan.md
Due: format-markdown

Address PR review comments: tighten JSON validation and add missing test coverage (#260)
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/sweep_store.go
  internal/lidar/sweep_store_test.go
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-go, format-web

[go] enhance scene-level metrics: add foreground capture, unbounded point, and empty box ratios; implement acceptance criteria for scoring
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/objective.go
  internal/lidar/sweep/objective_test.go
  internal/lidar/sweep/output.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/runner_test.go
  internal/lidar/sweep/sampler.go
  internal/lidar/tracker_interface.go
  internal/lidar/tracking.go
  internal/lidar/tracking_metrics_test.go
  internal/lidar/tracking_pipeline.go
Due: format-go

[js] enhance sweep dashboard: add weights for new metrics and acceptance criteria fields
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[sql] update SQLite integration: document support for ALTER TABLE DROP COLUMN and specify driver version
  .github/agents/hadaly.agent.md
  .github/agents/ictinus.agent.md
  .github/copilot-instructions.md
  internal/db/migrations/000014_remove_site_config_fields.down.sql
  internal/db/migrations/000014_remove_site_config_fields.up.sql
  internal/db/migrations/000015_add_site_map_fields.down.sql
  internal/db/migrations/000018_add_quality_label.down.sql
  internal/db/migrations/000019_add_lidar_labels_scene_source.down.sql
  internal/db/migrations/README.md
Due: format-markdown, format-sql

[ai][go][js][sql] address PR review comments: error handling, test portability, heatmap fixes (#263)
  internal/db/migrations/000022_create_lidar_sweeps.up.sql
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep_store_test.go
Due: format-go, format-sql

[docs] update tuning doc
  docs/lidar/operations/auto-tuning.md
  docs/lidar/operations/label-aware-auto-tuning-implementation.md
  docs/lidar/operations/label-aware-auto-tuning-usage.md
Due: format-markdown

[test] update getAvailableMetrics test: return default metrics for no results
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[ci] update codecov configuration: add ignore pattern for visualiser protobuf files
  codecov.yml
Due: none

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[ver] bump to 0.5.0-pre6
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  web/package.json
Due: format-web

[mac] format
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/RunBrowserState.swift
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[go] update vrlog_path in tests to use the correct directory and add validation for paths outside allowed directory
  internal/lidar/monitor/playback_api_test.go
Due: format-go

[mac] implement side panel for track selection and labeling; update frame handling and state management
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[mac] refactor track labeling UI and run loading logic; simplify state checks and enhance user feedback
  tools/visualiser-macos/VelocityVisualiser/App/RunBrowserState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[docs] add label taxonomy and classification details for detection and quality in LiDAR terminology
  docs/lidar/terminology.md
Due: format-markdown

[go] add visualiser publisher and VRLOG replay functionality in radar.go
  cmd/radar/radar.go
Due: format-go

[mac] update track list view to support run mode and improve UI feedback for track selection
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] implement VRLOG recording start and stop functionality in visualiser; update webserver to handle recording state
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add VRLOG safe directory configuration to web server and main function
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
Due: format-go

[mac] enhance TrackListView to indicate visibility of tracks in current frame
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] resolve VRLOG safe directory paths to absolute paths in radar and webserver
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enable VRLOG mode in visualiser server during replay start and stop
  cmd/radar/radar.go
Due: format-go

[mac] update SidePanelView layout and enhance TrackListView with frame tracking
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] implement background snapshot sending in visualiser during VRLOG replay
  cmd/radar/radar.go
  internal/lidar/visualiser/publisher.go
Due: format-go

[mac] adjust SidePanelView width and set TrackListView to expanded by default
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] enhance tuning parameters and acceptance metrics tracking in background processing
  config/tuning.defaults.json
  internal/lidar/foreground.go
  internal/lidar/foreground_test.go
  internal/lidar/monitor/assets/sweep_dashboard.js
Due: format-go

[js] implement LiDAR sweeps page with parameter application and detail view
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  web/src/lib/api.ts
  web/src/lib/types/lidar.ts
  web/src/routes/+layout.svelte
  web/src/routes/lidar/sweeps/+page.svelte
Due: format-web
