Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[docs] Update BACKLOG.md to add new tasks and remove duplicates for v0.5.0
  docs/BACKLOG.md
Due: format-markdown

[docs] Update LiDAR L8 Analytics plan: mark completed tasks and refine migration phases
  docs/plans/lidar-l8-analytics-l9-endpoints-l10-clients-plan.md
Due: format-markdown

[fs] rm -rf internal/lidar/monitor/
  internal/lidar/monitor/chart_api.go
  internal/lidar/monitor/chart_api_test.go
  internal/lidar/monitor/client.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/coverage_test.go
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/direct_backend_test.go
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/stats.go
  internal/lidar/monitor/track_api.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/monitor/webserver_test.go
Due: format-go

[docs] Add LiDAR Architecture Graph Plan to outline dependency structure and deliverables
  docs/plans/lidar-architecture-graph-plan.md
Due: format-markdown

[go] split webserver.go
  internal/lidar/server/routes.go
  internal/lidar/server/server.go
  internal/lidar/server/state.go
  internal/lidar/server/status.go
  internal/lidar/server/tuning.go
Due: format-go

[go] remove moved functions from server.go
  internal/lidar/server/server.go
Due: format-go

[docs] Update architecture and migration notes for LIDAR restructuring; add tests for legacy assets
  ARCHITECTURE.md
  docs/lidar/README.md
  docs/lidar/architecture/l8-l9-l10-migration-notes.md
  docs/plans/lidar-l8-analytics-l9-endpoints-l10-clients-plan.md
  internal/lidar/l9endpoints/legacy_assets_test.go
Due: format-go, format-markdown

[docs] Split `internal/lidar/monitor/webserver.go` into multiple domain files and rename directory to `server`
  docs/plans/go-god-file-split-plan.md
Due: format-markdown

Remove duplicate SQLite driver and enforce modernc in tests
  Makefile
  go.mod
  go.sum
  internal/api/lidar_labels_test.go
  internal/lidar/server/scene_api_coverage_test.go
  internal/lidar/server/scene_api_test.go
  internal/lidar/server/sweep_handlers_coverage_test.go
  internal/lidar/server/sweep_handlers_test.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/storage/sqlite/evaluation_store_test.go
  internal/lidar/storage/sqlite/missed_region_store_test.go
  internal/lidar/storage/sqlite/scene_store_coverage_test.go
  internal/lidar/storage/sqlite/scene_store_test.go
  internal/lidar/storage/sqlite/sweep_store_test.go
  scripts/check-single-sqlite-driver.sh
Due: format-go

Update hygiene plans for SQLite driver standardization
  docs/plans/data-database-alignment-plan.md
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: format-markdown

[go] Add unit tests for RunStatistics JSON conversion and handle empty grid cells in chart endpoints
  internal/lidar/l8analytics/summary_test.go
  internal/lidar/l9endpoints/chart_transforms_test.go
  internal/lidar/server/chart_api_test.go
  internal/lidar/server/webserver_test.go
Due: format-go

[go] Remove duplicate SQLite driver and enforce modernc in tests
  Makefile
  go.mod
  go.sum
  internal/api/lidar_labels_test.go
  internal/lidar/server/scene_api_coverage_test.go
  internal/lidar/server/scene_api_test.go
  internal/lidar/server/sweep_handlers_coverage_test.go
  internal/lidar/server/sweep_handlers_test.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/storage/sqlite/evaluation_store_test.go
  internal/lidar/storage/sqlite/missed_region_store_test.go
  internal/lidar/storage/sqlite/scene_store_coverage_test.go
  internal/lidar/storage/sqlite/scene_store_test.go
  internal/lidar/storage/sqlite/sweep_store_test.go
  scripts/check-single-sqlite-driver.sh
Due: format-go

[go] Remove TestServer_StartAndShutdown to streamline server tests
  internal/lidar/server/webserver_test.go
Due: format-go

[go] Refactor heatmap handler to remove unnecessary error response and add happy path test for polar chart
  internal/lidar/server/chart_api.go
  internal/lidar/server/chart_api_test.go
  internal/lidar/server/webserver_test.go
Due: format-go

[go] Remove redundant union check in ComputeTemporalIoU function
  internal/lidar/l8analytics/comparison.go
Due: format-go

[go] Fix HTTP server shutdown error handling to force close on failure
  internal/lidar/server/server.go
Due: format-go

[go] Update hygiene plans for SQLite driver standardization
  docs/plans/data-database-alignment-plan.md
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: format-markdown

[go] Refactor package comments to use consistent naming for l9endpoints and enhance handleTuningParams function with improved error handling and test coverage
  internal/lidar/l9endpoints/chart_data.go
  internal/lidar/l9endpoints/templates.go
  internal/lidar/server/tuning.go
  internal/lidar/server/webserver_coverage_test.go
Due: format-go

[go] Enhance logging in recorder package and update comments for clarity
  cmd/radar/radar.go
  internal/lidar/analysis/compare.go
  internal/lidar/l9endpoints/recorder/debug.go
  internal/lidar/l9endpoints/recorder/recorder.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/server/chart_api.go
Due: format-go

[go] Update PrepareHeatmapFromBuckets to use SettledCells as fallback and enhance tests for validation
  internal/lidar/l9endpoints/chart_transforms.go
  internal/lidar/l9endpoints/chart_transforms_test.go
Due: format-go

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] update BACKLOG.md to remove L8/L9/L10 layer refactor and Go logging streams unification entries
  docs/BACKLOG.md
Due: format-markdown

[go] remove transit backfill and scan transits tools
  cmd/tools/scan_transits.go
  cmd/transit-backfill/main.go
Due: format-go

[go] remove deprecated lidar flag warnings and associated tests
  cmd/radar/flags_test.go
  cmd/radar/lidar_helpers.go
  cmd/radar/radar.go
Due: format-go

[js] remove legacy parameter aliases and associated tests
  internal/lidar/l9endpoints/l10clients/assets/sweep_dashboard.js
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[js] update jest config to change asset paths for l9endpoints and l10clients
  web/jest.config.js
Due: format-web

[js] refactor: update test descriptions to clarify key resolution for recommendations and scenes
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

[docs] remove transit-backfill tool and associated CLI flags; update documentation
  config/CONFIG-RESTRUCTURE.md
  docs/BACKLOG.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  docs/plans/v050-tech-debt-removal-plan.md
Due: format-markdown

[ai][docs] address PR #411 review comments
  data/structures/MATRIX.md
  docs/BACKLOG.md
  web/jest.config.js
Due: format-web, format-markdown

docs: update flowchart labels for clarity in LiDAR architecture documentation
  docs/lidar/architecture/coordinate-flow-audit.md
  docs/lidar/architecture/lidar-data-layer-model.md
Due: format-markdown

docs: correct spelling of "serialization" to "serialisation" in LiDAR plan
  docs/plans/lidar-l8-analytics-l9-endpoints-l10-clients-plan.md
Due: format-markdown

[go] cleanup (#411)
  cmd/radar/flags_test.go
  cmd/radar/lidar_helpers.go
  cmd/radar/radar.go
  cmd/tools/scan_transits.go
  cmd/transit-backfill/main.go
  config/CONFIG-RESTRUCTURE.md
  data/structures/MATRIX.md
  docs/BACKLOG.md
  docs/lidar/architecture/coordinate-flow-audit.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/plans/lidar-l8-analytics-l9-endpoints-l10-clients-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  docs/plans/v050-tech-debt-removal-plan.md
  internal/lidar/l9endpoints/l10clients/assets/sweep_dashboard.js
  web/jest.config.js
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-go, format-web, format-markdown

Split oversized Go files into focused modules
  internal/api/server.go
  internal/api/server_admin.go
  internal/api/server_middleware.go
  internal/api/server_radar.go
  internal/api/server_reports.go
  internal/api/server_sites.go
  internal/api/server_timeline.go
  internal/db/db.go
  internal/db/db_admin.go
  internal/db/db_bg_snapshots.go
  internal/db/db_radar.go
  internal/db/db_regions.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l2frames/frame_builder_registry.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_vrlog.go
  internal/lidar/server/run_track_api.go
  internal/lidar/server/run_track_api_helpers.go
  internal/lidar/server/track_api.go
  internal/lidar/server/track_api_format.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_mutations.go
  internal/lidar/storage/sqlite/analysis_run_queries.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/auto_state.go
  internal/lidar/sweep/hint.go
  internal/lidar/sweep/hint_state.go
Due: format-go

[ver] bump version to 0.5.0-pre21 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

Fix GetTrack snapshot history copying
  internal/lidar/l5tracks/tracking_metrics.go
Due: format-go

Restore finalizeFrame lock contract
  internal/lidar/l2frames/frame_builder_cleanup.go
Due: format-go

Fix review issues in track snapshots and duplicate retention
  internal/db/db_bg_snapshots.go
  internal/db/db_stats_test.go
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/server/track_api.go
Due: format-go

Apply suggestions from code review
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/storage/sqlite/analysis_run_mutations.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
