Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[docs] Enhance HTTP endpoint extraction for Radar and Lidar APIs
  .claude/skills/trace-matrix/SKILL.md
  .github/prompts/trace-matrix.prompt.md
  data/structures/MATRIX.md
  scripts/list-matrix-fields.py
Due: format-markdown

[docs] refactor: rename PDF report pipeline surfaces to report pipeline reference
  .claude/skills/trace-matrix/SKILL.md
  .github/prompts/trace-matrix.prompt.md
  data/structures/MATRIX.md
  scripts/list-matrix-fields.py
Due: format-markdown

[py] Refactor test dependencies and update palette documentation
  .dockerignore
  .gitignore
  CLAUDE.md
  COMMANDS.md
  CONTRIBUTING.md
  Makefile
  cmd/tools/render-sample-tex/main.go
  docs/plans/pdf-go-chart-migration-plan.md
  docs/platform/operations/pdf-reporting.md
  docs/platform/operations/python-venv.md
  docs/radar/cli-comprehensive-guide.md
  image/stage-velocity/02-velocity-python/00-run.sh
  internal/api/testdata/mock_pdf_generator.sh
  scripts/dev-setup.sh
  scripts/list-matrix-fields.py
  scripts/test_list_matrix_fields.py
  tools/pdf-generator/coverage.xml
  tox.ini
  web/src/lib/palette.ts
Due: format-go, format-web, format-markdown

[go] update PDF generator references to report output directory
  internal/api/coverage_test.go
  internal/api/download_compat_test.go
  internal/api/handlers_test.go
  internal/api/server_coverage_test.go
  internal/api/server_generate_go_test.go
  internal/api/server_reports.go
  internal/api/server_reports_generate.go
  internal/db/site_report.go
Due: format-go

[chore] keep removed pdf generator artifacts untracked
  .gitignore
  tools/pdf-generator/coverage.xml
Due: none

[ai][ci] upgrade codeql-action v3→v4, add swift, fix Node 20 deprecation
  .github/workflows/codeql.yml
Due: none

Apply suggestions from code review
  .github/workflows/codeql.yml
Due: none

[ci] Fix codeql-action SHA pins to valid v3.35.2 commit
  .github/workflows/codeql.yml
Due: none

[ci] Add CodeQL workflow for automated security analysis
  .github/workflows/codeql.yml
Due: none

[ci] Update CodeQL workflow for Swift: change build mode to manual and add build step
  .github/workflows/codeql.yml
Due: none

[ai][ci] DRY proto pipeline: shared scripts, composite action, pinned toolchain
  .github/actions/setup-proto/action.yml
  .github/workflows/codeql.yml
  .github/workflows/mac-ci.yml
  CLAUDE.md
  COMMANDS.md
  DEBUGGING.md
  Makefile
  pnpm-lock.yaml
  scripts/generate-protos.sh
  scripts/install-proto-tooling.sh
Due: format-markdown

[ci] Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

[mac] Update AboutView content for clarity and detail
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
Due: format-mac

[ai][ci] install-proto-tooling: remove dead var, accurate wording, prereq checks, --force
  scripts/install-proto-tooling.sh
Due: none

[ai][ci] setup-proto: derive cache key from hashFiles(install script)
  .github/actions/setup-proto/action.yml
Due: none

[ai][docs] DEBUGGING.md: clarify which proto outputs are gitignored
  DEBUGGING.md
Due: format-markdown

[ci] add go
  .github/workflows/codeql.yml
Due: none

[mac] Enhance AboutView content: update descriptions and add links to releases and setup guide
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
Due: format-mac

[ai][ci] pin setup-go to v5.5.0 SHA, add Go setup to mac-ci and codeql
  .github/workflows/codeql.yml
  .github/workflows/mac-ci.yml
Due: none

[cfg] update version to 0.5.1-pre13 and adjust download links and metadata
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[cfg] update version to 0.5.1-pre13 (#487)
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[ai][ci] install-proto-tooling: force native ARM for brew on Apple Silicon
  scripts/install-proto-tooling.sh
Due: none

[ci] DRY proto pipeline: shared scripts, composite action, pinned toolchain (#486)
  .github/actions/setup-proto/action.yml
  .github/workflows/codeql.yml
  .github/workflows/mac-ci.yml
  CLAUDE.md
  COMMANDS.md
  DEBUGGING.md
  Makefile
  pnpm-lock.yaml
  scripts/generate-protos.sh
  scripts/install-proto-tooling.sh
Due: format-markdown

[img] add primary LAN configuration and first-boot networking checks for Raspberry Pi image
  docs/platform/operations/rpi-imager.md
  image/README.md
  image/stage-velocity/07-networking/00-run.sh
  image/stage-velocity/07-networking/files/NetworkManager.state
  image/stage-velocity/07-networking/files/velocity-wired-dhcp.nmconnection
Due: format-markdown

[ver] bump version to 0.5.1-pre14 across all relevant files
  Makefile
  public_html/package.json
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[img] update Raspberry Pi Imager command to disable telemetry
  public_html/src/index.njk
Due: none

[doc] update ARCHITECTURE documentation to reflect data flow and physical deployment changes
  ARCHITECTURE.md
  CLAUDE.md
  docs/lidar/architecture/lidar-data-layer-model.md
Due: format-markdown

[doc] update architecture header with ASCII art representation
  ARCHITECTURE.md
Due: format-markdown

[ai][img] bind DHCP profile to eth0
  image/stage-velocity/07-networking/files/velocity-wired-dhcp.nmconnection
Due: none

[ai][img] fix stage-velocity listing in image/README.md
  image/README.md
Due: format-markdown

[ai][ci] Bump grpc-swift-protobuf codegen to 2.1.2 to match Xcode Package.resolved
  .github/workflows/nightly-full-ci.yml
  scripts/install-proto-tooling.sh
Due: none

Address PR 488 review comments
  ARCHITECTURE.md
  CLAUDE.md
  image/stage-velocity/07-networking/files/velocity-wired-dhcp.nmconnection
Due: format-markdown

fix(ci)[ai][bash]: run Homebrew natively on ARM in proto setup
  scripts/install-proto-tooling.sh
Due: none

[img][docs] remove root-level project documents from image build scritps
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
Due: none

[doc] update flowchart in CLAUDE.md for clarity and accuracy
  CLAUDE.md
Due: format-markdown

[img] update README.md with troubleshooting tips for DHCP issues; disable NetworkManager-wait-online.service
  image/README.md
  image/stage-velocity/07-networking/00-run.sh
  image/stage-velocity/07-networking/files/NetworkManager.state
Due: format-markdown

[ai] improve flowchart clarity in CLAUDE.md by enhancing node labels and structure
  CLAUDE.md
Due: format-markdown

refine network configuration table in ARCHITECTURE.md for clarity and accuracy
  ARCHITECTURE.md
Due: format-markdown

[fs] mv performance investigation doc
  docs/ui/visualiser/performance-investigation.md
Due: format-markdown
