Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[docs] format
  docs/plans/unpopulated-data-structures-remediation-plan.md
Due: format-markdown

[docs] update Backend Surface Matrix with new API endpoint details and debug routes
  data/structures/BACKEND_SURFACE_MATRIX.md
Due: format-markdown

[docs] update counts by surface in Backend Surface Matrix for clarity and accuracy
  data/structures/BACKEND_SURFACE_MATRIX.md
Due: format-markdown

[py] list matrix
  scripts/list-matrix-fields.py
Due: none

[make] add git-files utility to list modified files since last common ancestor
  Makefile
Due: none

[py] update script documentation and improve readability
  scripts/list-matrix-fields.py
Due: none

[py] update checklist generation and improve markdown output for LLM tracing
  scripts/list-matrix-fields.py
Due: none

[docs] Update references to the Backend Surface Matrix documentation
  data/structures/MATRIX.md
  data/structures/README.md
  docs/plans/hint-metric-observability-plan.md
  docs/plans/speed-percentile-aggregation-alignment-plan.md
  docs/plans/unpopulated-data-structures-remediation-plan.md
Due: format-markdown

[py] add Matrix Tracer agent for automated surface tracing and checklist generation
  .github/agents/matrix-tracer.agent.md
Due: format-markdown

[docs] update tracking metrics in MATRIX.md for clarity and accuracy
  data/structures/MATRIX.md
Due: format-markdown

Apply suggestions from code review
  data/maths/pipeline-review-open-questions.md
Due: format-markdown

Potential fix for pull request finding
  Makefile
Due: none

[py] update section references and descriptions in checklist generation for clarity
  .github/agents/matrix-tracer.agent.md
  scripts/list-matrix-fields.py
Due: format-markdown

Apply suggestions from code review
  data/structures/MATRIX.md
  scripts/list-matrix-fields.py
Due: format-markdown

Remove deprecated 'peak_speed_mps' field from lidar_tracks and lidar_run_tracks sections in MATRIX.md
  data/structures/MATRIX.md
Due: format-markdown

[docs] 100-line plan (#395)
  CONTRIBUTING.md
  Makefile
  README.md
  docs/plans/line-width-standardisation-plan.md
  scripts/check-doc-header-metadata.py
  scripts/check-prose-line-width.py
  web/.prettierrc
  web/README.md
Due: format-markdown

Potential fix for pull request finding
  scripts/check-relative-links.py
Due: none

Potential fix for pull request finding
  data/structures/MATRIX.md
Due: format-markdown

Apply suggestions from code review
  Makefile
  scripts/list-matrix-fields.py
Due: none

[docs] MATRIX.md, hint observability plan (#394)
  .github/agents/matrix-tracer.agent.md
  Makefile
  data/structures/MATRIX.md
  data/structures/README.md
  docs/plans/hint-metric-observability-plan.md
  docs/plans/schema-simplification-migration-030-plan.md
  docs/plans/speed-percentile-aggregation-alignment-plan.md
  docs/plans/unpopulated-data-structures-remediation-plan.md
  scripts/list-matrix-fields.py
Due: format-markdown

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[ai][docs][python] format: prettier markdown, remove unused import
  docs/plans/lidar-distributed-sweep-workers-plan.md
Due: format-markdown

[docs] refine distributed sweep workers plan: update endpoint paths and clarify pre-flight validation
  docs/plans/lidar-distributed-sweep-workers-plan.md
Due: format-markdown

[docs] update architecture diagram for distributed sweep workers: improve clarity and formatting
  docs/plans/lidar-distributed-sweep-workers-plan.md
Due: format-markdown

[docs] update lidar distributed sweep workers plan: refine API endpoint paths for worker interactions
  docs/plans/lidar-distributed-sweep-workers-plan.md
Due: format-markdown

[py] Add "DerivedData" and "build" to skip directories in link checker
  scripts/check-relative-links.py
Due: none

[docs] Update performance metrics to use p85 and p98 percentiles for per-layer timing
  config/README.maths.md
  docs/plans/lidar-performance-measurement-harness-plan.md
Due: format-markdown

[docs] sweep workers plan (#382)
  docs/plans/lidar-distributed-sweep-workers-plan.md
Due: format-markdown

Apply suggestions from code review
  data/experiments/try/l3-background-settling-sweep.md
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/multi-key-interaction-grid.md
  data/experiments/try/velocity-coherent-baseline-comparison.md
  docs/plans/lidar-performance-measurement-harness-plan.md
  scripts/check-relative-links.py
Due: format-markdown

[docs] experiments (#379)
  Makefile
  config/README.maths.md
  data/README.md
  data/experiments/README.md
  data/experiments/try/l3-background-settling-sweep.md
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/l5-tracking-noise-parameter-sweep.md
  data/experiments/try/multi-key-interaction-grid.md
  data/experiments/try/velocity-coherent-baseline-comparison.md
  data/maths/README.md
  data/maths/pipeline-review-open-questions.md
  docs/plans/lidar-performance-measurement-harness-plan.md
  docs/plans/lidar-test-corpus-plan.md
  scripts/check-relative-links.py
Due: format-markdown

Add lidar background regions
  internal/lidar/l3grid/background.go
Due: format-go

Plan OBB heading stability work
  config/CONFIG-RESTRUCTURE.md
  config/README.md
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  data/maths/README.md
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260222-obb-heading-stability-review.md
  docs/DECISIONS.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  internal/config/tuning_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_coverage_test.go
  internal/lidar/l5tracks/tracking_metrics_test.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/adapter_test.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: format-go, format-mac, format-markdown

[ver] bump version to 0.5.0-pre19 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[docs] update and format
  data/experiments/try/l3-background-settling-sweep.md
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/l5-tracking-noise-parameter-sweep.md
  data/experiments/try/velocity-coherent-baseline-comparison.md
  docs/plans/lidar-performance-measurement-harness-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

[docs] compelte backward compatibility shim removal ! 🎉
  docs/BACKLOG.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: format-markdown

[docs][py] format
  data/experiments/try/l3-background-settling-sweep.md
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/l5-tracking-noise-parameter-sweep.md
  data/experiments/try/velocity-coherent-baseline-comparison.md
  docs/plans/lidar-performance-measurement-harness-plan.md
  scripts/list-matrix-fields.py
Due: format-markdown

docs: clean up lidar performance measurement plan formatting
  docs/plans/lidar-performance-measurement-harness-plan.md
Due: format-markdown

[docs][py] format (#398)
  data/experiments/try/l3-background-settling-sweep.md
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/l5-tracking-noise-parameter-sweep.md
  data/experiments/try/velocity-coherent-baseline-comparison.md
  docs/plans/lidar-performance-measurement-harness-plan.md
  scripts/list-matrix-fields.py
Due: format-markdown

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
