Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ai][mac] generate an annotation pack from a run without leaving the app
  tools/visualiser-macos/VelocityVisualiser/Labelling/AnnotationExportAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiser/UI/GenerateAnnotationPackSheet.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationExportAPIClientTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationMockURLProtocol.swift
  tools/visualiser-macos/VelocityVisualiserTests/GenerateAnnotationPackStateTests.swift
Due: format-mac

[ai][go] add POST /api/lidar/runs/{run_id}/annotation-export
  internal/cmd/server/radar.go
  internal/lidar/server/annotation_api.go
  internal/lidar/server/annotation_api_test.go
  internal/lidar/server/run_track_api.go
  internal/lidar/server/server.go
Due: format-go

[ai][mac] guard leaving an annotation pack against unsaved membership
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSessionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
Due: format-mac

[data] Update status of 'lf_columbus_broadway_o0' to 'done' and adjust stage counts in manifest and status files
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
Due: none

[ai][go][docs] complete the annotation CLI coverage and plan doc
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  internal/cmd/lidar/annotation.go
  internal/cmd/lidar/annotation_test.go
  internal/lidar/annotation/README.md
Due: format-go, format-markdown

[ai][py] re-aim pass 5, queue the NIS-scored L5 sweep as pass 6, alpha-normalised bg re-score
  data/experiments/try/campaign/launch_pass6.py
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/pass6-stages.json
  data/experiments/try/campaign/supervisor.py
  data/experiments/try/l3-settling-sweep/analyze_alpha_normalised.py
  data/experiments/try/l3-settling-sweep/bg-alpha-normalised.json
  data/experiments/try/l5-gt-sweep/run_gt_oat_sweep.py
  data/experiments/try/l5-nis-sweep/analyze_nis_sweep.py
  data/experiments/try/l5-nis-sweep/first-segment-corpus.json
  data/experiments/try/l5-nis-sweep/first-segment-site-index.json
  data/experiments/try/l5-nis-sweep/run_nis_sweep.py
Due: format-python

[ai][py] remove NIS sweep recordings at the right depth
  data/experiments/try/l5-nis-sweep/run_nis_sweep.py
Due: format-python

[ai][py] score 200 s per NIS run and lower the band count floor to 300
  data/experiments/try/campaign/pass6-stages.json
  data/experiments/try/l5-nis-sweep/analyze_nis_sweep.py
Due: format-python

[data] Update summary.json with new experiment results and metrics
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
  data/experiments/try/l3-settling-sweep/results.csv
  data/experiments/try/l3-settling-sweep/summary.json
Due: none

[docs] Refine backlog and state estimation plans: update problem descriptions, add new findings from recent experiments, and clarify association cost impacts on trajectory quality.
  docs/BACKLOG.md
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
  docs/plans/lidar-state-estimation-plan.md
Due: format-markdown

[maths] Update paper-implementation gap analysis: add new findings, reclassify gaps, and clarify mathematical discrepancies.
  data/maths/paper-implementation-gap-analysis.md
Due: format-markdown

[data] add campaign objectives document outlining structural change measurements and corrections
  data/experiments/try/campaign/OBJECTIVES.md
Due: format-markdown

[ai][mac] reject unparseable max samples, clear stale load errors
  tools/visualiser-macos/VelocityVisualiser/UI/GenerateAnnotationPackSheet.swift
  tools/visualiser-macos/VelocityVisualiserTests/GenerateAnnotationPackStateTests.swift
Due: format-mac

[ai][mac] lock CapturedRequest across the URL loading thread
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationExportAPIClientTests.swift
Due: format-mac

[ai][go] resolve the annotation pack dir through resolveLidarDir
  internal/cmd/server/lidar_dirs_test.go
  internal/cmd/server/lidar_helpers.go
  internal/cmd/server/radar.go
Due: format-go

[ai][go] pin the canonical-path contract of ResolvePathWithinDirectory
  internal/security/pathvalidation_test.go
Due: format-go

[ai][docs] backpack capture plan, survey walk experiments, LiDAR market watch
  data/experiments/try/backpack-motion-spectrum-and-stabiliser.md
  data/experiments/try/survey-walk-geometry-gain.md
  docs/BACKLOG.md
  docs/lidar/operations/motion-capture.md
  docs/plans/lidar-backpack-capture-plan.md
  docs/platform/hardware/lidar-market-watch.md
Due: format-markdown

[ai][docs] LiDAR market watch first snapshot
  docs/plans/lidar-backpack-capture-plan.md
  docs/platform/hardware/lidar-market-watch.md
Due: format-markdown

[ai][go][cfg] set the LiDAR capture, recording and annotation paths independently
  .gitignore
  Makefile
  internal/cmd/server/lidar_dirs_test.go
  internal/cmd/server/radar.go
Due: format-go

[ai][go] create the annotation packs directory before resolving inside it
  internal/lidar/server/annotation_api.go
  internal/lidar/server/annotation_api_test.go
Due: format-go

[ai][go] cover annotation export failure boundaries
  internal/lidar/server/annotation_api_test.go
Due: format-go

[ai][docs] keep annotation plan links within this branch
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
Due: format-markdown

Refine spatial priors service review documentation
  docs/plans/sf-priors-bootstrap-plan.md
  docs/plans/spatial-priors-reference-data-plan.md
  docs/plans/spatial-priors-service-plan.md
  docs/plans/spatial-priors-service-review.md
Due: format-markdown

[ai][mac] grant the sandbox a remembered, writable packs folder
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser/Annotation/PackFolderAccess.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiser/VelocityVisualiser.entitlements
  tools/visualiser-macos/VelocityVisualiserTests/PackFolderAccessTests.swift
Due: format-mac

[ai][mac] stop the sheet pre-selecting "Full scene" coverage
  tools/visualiser-macos/VelocityVisualiser/UI/GenerateAnnotationPackSheet.swift
  tools/visualiser-macos/VelocityVisualiserTests/GenerateAnnotationPackStateTests.swift
Due: format-mac

[make] Add error handling to run_dev_go by setting -e in the shell script
  Makefile
Due: none

[git] Add data/experiments/try/campaign/bin/ to .gitignore
  .gitignore
Due: none

[ai][docs] rescope to route capture: cargo bike and backpack rigs, road-segment speeds
  data/experiments/try/backpack-motion-spectrum-and-stabiliser.md
  data/experiments/try/route-speed-accuracy-vs-fixed-radar.md
  data/experiments/try/survey-walk-geometry-gain.md
  docs/BACKLOG.md
  docs/lidar/operations/motion-capture.md
  docs/plans/lidar-backpack-capture-plan.md
  docs/plans/lidar-route-capture-plan.md
  docs/platform/hardware/lidar-market-watch.md
Due: format-markdown

[ai][docs] plan background region overlays and agent-assisted track review
  docs/plans/lidar-agent-track-review-plan.md
  docs/plans/lidar-background-region-overlay-plan.md
Due: format-markdown

Update LiDAR capture plan and hardware pricing details
  docs/plans/lidar-route-capture-plan.md
  docs/platform/hardware/lidar-market-watch.md
Due: format-markdown

[ai][docs] fold track review into one proposal-and-grade workflow
  docs/plans/lidar-agent-track-review-plan.md
  docs/plans/lidar-background-region-overlay-plan.md
  docs/plans/lidar-review-workflow-plan.md
Due: format-markdown

[ai][docs] make the macOS tool the one instrument of the review workflow
  docs/plans/lidar-background-region-overlay-plan.md
  docs/plans/lidar-review-workflow-plan.md
Due: format-markdown

[ai][docs] plan the S2 level 24 occupancy column grid; leave the web as it is
  docs/plans/lidar-background-region-overlay-plan.md
  docs/plans/lidar-occupancy-column-grid-plan.md
  docs/plans/lidar-review-workflow-plan.md
Due: format-markdown

[ai][docs] anchor the column grid by S2 and register it offline from priors
  docs/plans/lidar-occupancy-column-grid-plan.md
  docs/plans/sf-priors-bootstrap-plan.md
  docs/plans/spatial-priors-service-plan.md
Due: format-markdown

[ai][mac] add sphere and column brushes and a local column grid to annotation
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PointSelection.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/BrushSelectionTests.swift
Due: format-mac

[ai][docs] the brushes and the region layer are one tool, on the annotation branch
  docs/plans/lidar-background-region-overlay-plan.md
  docs/plans/lidar-occupancy-column-grid-plan.md
  docs/plans/lidar-review-workflow-plan.md
Due: format-markdown

[ai][mac] make the annotation views navigable, steady and tied to the main view
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationFrameSync.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationViewState.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PointSelection.swift
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/Shaders/PointCloud.metal
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewportInputTests.swift
Due: format-mac

[ai][docs] say what the macOS annotation client now delivers
  internal/lidar/annotation/README.md
Due: format-markdown

[ai][docs] plan a per-site static scene and local vector fit for annotation
  docs/plans/lidar-static-scene-local-fit-plan.md
Due: format-markdown

[ai][go] record the run's height band in a pack, and refuse a false "full"
  internal/lidar/annotation/export.go
  internal/lidar/annotation/export_test.go
  internal/lidar/annotation/pack.go
  internal/lidar/server/annotation_api.go
  internal/lidar/server/annotation_api_test.go
Due: format-go
