Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ver] bump version to 0.5.0-pre12 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[mac] improve formatting and alignment in HeadingSource enum
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
Due: format-mac

[docs] improve formatting and alignment in documentation files
  docs/lidar/README.md
  docs/maths/proposals/20260222-obb-heading-stability-review.md
  docs/ui/velocity-visualiser-architecture.md
Due: format-markdown

[go] align comments and formatting in tracking and visualiser files
  internal/lidar/l5tracks/tracking.go
  internal/lidar/visualiser/pb/visualiser.pb.go
Due: format-go

[make] add proto-gen-swift step to dev-mac target
  Makefile
Due: none

Update tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] format
  internal/lidar/monitor/track_api.go
  internal/lidar/visualiser/benchmark_test.go
  internal/lidar/visualiser/model_test.go
  internal/lidar/visualiser/synthetic.go
Due: format-go

[docs] format
  docs/ROADMAP.md
  docs/VISION.md
  docs/maths/README.md
  docs/maths/proposals/20260222-geometry-coherent-tracking.md
  docs/plans/data-track-description-language-plan.md
  docs/plans/lidar-analysis-run-infrastructure-plan.md
Due: format-markdown

LiDAR OBB heading stability, bbox dimension standardisation, and geometry-coherent tracking proposal (#310)
  Makefile
  docs/ROADMAP.md
  docs/VISION.md
  docs/lidar/README.md
  docs/maths/README.md
  docs/maths/proposals/20260222-geometry-coherent-tracking.md
  docs/maths/proposals/20260222-obb-heading-stability-review.md
  docs/plans/data-track-description-language-plan.md
  docs/plans/lidar-analysis-run-infrastructure-plan.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
  docs/ui/velocity-visualiser-architecture.md
  internal/lidar/l4perception/obb.go
  internal/lidar/l4perception/obb_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_coverage_test.go
  internal/lidar/monitor/track_api.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/benchmark_test.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/model_test.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/synthetic.go
  internal/lidar/visualiser/synthetic_test.go
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/MetalRendererTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ModelExtendedTests.swift
  web/src/lib/api.test.ts
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/types/lidar.ts
Due: format-go, format-web, format-mac, format-markdown

[go]: log-level flag and streamline logging configuration
  cmd/radar/radar.go
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
  internal/lidar/debug.go
  internal/lidar/debug_test.go
Due: format-go, format-markdown

[go] refactor logging in LiDAR processing: remove debug flags and implement structured logging
  internal/lidar/integration_test.go
  internal/lidar/l1packets/parse/coverage_boost_test.go
  internal/lidar/l1packets/parse/debug.go
  internal/lidar/l1packets/parse/extract.go
  internal/lidar/l1packets/parse/extract_edge_test.go
  internal/lidar/l1packets/parse/extract_test.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/l2frames/frame_builder_extended_test.go
  internal/lidar/l2frames/frame_builder_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_pipeline_test.go
Due: format-go

[make] add log-level options for lidar development commands
  Makefile
Due: none

[go] add backoff logging to PCAP real-time processing for diagnostics
  internal/lidar/l1packets/network/pcap_realtime.go
Due: format-go

[go] replace trace logs with diagnostic logs in tracking pipeline, gRPC server, and visualiser publisher
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/publisher.go
Due: format-go

Apply suggestions from code review
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/publisher.go
Due: format-go

[go] update recorder, support size-based chunk rotation and update HTML label for analysis mode
  internal/lidar/monitor/html/status.html
  internal/lidar/visualiser/recorder/coverage_boost_test.go
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[go] prevent advancing miss counters during throttle in tracking pipeline
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] update MaxFrameRate to 25 in radar and tracking pipeline to prevent frame drops
  cmd/radar/radar.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] add unit tests for logging functionality and error handling in recorder and replayer
  internal/lidar/l1packets/parse/debug_test.go
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/visualiser/recorder/coverage_boost_test.go
Due: format-go

[go] use local random generator in uniformSubsample to avoid lock contention during concurrent DBSCAN calls
  internal/lidar/l4perception/cluster.go
Due: format-go

[go] prevent overflow in frame offset and length checks in Replayer
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[go] add foreground_max_input_points to tuning configuration for improved DBSCAN performance
  config/tuning.example.json
  config/tuning.optimised.json
  internal/config/tuning_test.go
Due: format-go

[go] add foreground_max_input_points to tuning configuration for DBSCAN performance
  config/tuning.defaults.json
  internal/config/tuning.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/config.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] replace tracef with diagf for throttled frame logging in tracking pipeline
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] add one-shot logging for nil FgForwarder and disabled ground removal in tracking pipeline
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] Fix finalizeFrame deadlock, ForegroundMaxInputPoints semantics, and mask error test (#314)
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l3grid/background.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
Due: format-go

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[go] Add foreground_max_input_points to README and maths cross-reference for DBSCAN configuration
  config/README.maths.md
  config/README.md
Due: format-markdown

[sql] update schema.svg
  internal/db/schema.svg
Due: none

[go] consolidate pipeline tests
  internal/lidar/helpers.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_pipeline_test.go
Due: format-go

[go] enhance lidar packet forwarding logic and clarify NeighborConfirmationCount behavior in comments; optimize DBSCAN parameter caching in tracking pipeline
  cmd/radar/radar.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/foreground_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
Due: format-go

[go] add observability and performance benchmarking plan for clustering metrics
  docs/maths/clustering-maths.md
  docs/plans/lidar-clustering-observability-and-benchmark-plan.md
Due: format-markdown

[go] enhance PCAP replay handling with larger callback channel buffer; improve subsampling seed uniqueness and add chunk rotation logic in recorder
  cmd/radar/radar.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[docs] cleanup
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
Due: format-markdown

[go] PCAP handling and frame serialization logic; streamline onPCAPStarted calls and enhance chunk rotation conditions
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[go] add tests for DBSCAN subsampling and uniform subsampling behavior
  internal/lidar/l4perception/cluster_test.go
Due: format-go

[go] add test for setting foreground max input points tuning parameter in DirectBackend
  internal/lidar/monitor/direct_backend_test.go
Due: format-go

[go] add test for handling foreground max input points tuning parameter in WebServer
  internal/lidar/monitor/webserver_coverage_test.go
Due: format-go
