Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[sql] lint: clean up SQL migration scripts for better readability
  internal/db/migrations/000001_original_schema.down.sql
  internal/db/migrations/000001_original_schema.up.sql
  internal/db/migrations/000002_json_and_write_timestamp.down.sql
  internal/db/migrations/000002_json_and_write_timestamp.up.sql
Due: none

[sql] insert old sql migration, reorder other migrations (#151)
  internal/db/migrations/000001_original_schema.down.sql
  internal/db/migrations/000001_original_schema.up.sql
  internal/db/migrations/000002_json_and_write_timestamp.down.sql
  internal/db/migrations/000002_json_and_write_timestamp.up.sql
  internal/db/migrations/000003_rename_tables.down.sql
  internal/db/migrations/000003_rename_tables.up.sql
  internal/db/migrations/000004_create_lidar_bg_snapshot.down.sql
  internal/db/migrations/000004_create_lidar_bg_snapshot.up.sql
  internal/db/migrations/000005_create_radar_data_transits.down.sql
  internal/db/migrations/000005_create_radar_data_transits.up.sql
  internal/db/migrations/000006_create_radar_transit_links.down.sql
  internal/db/migrations/000006_create_radar_transit_links.up.sql
  internal/db/migrations/000007_create_site_table.down.sql
  internal/db/migrations/000007_create_site_table.up.sql
  internal/db/migrations/000008_create_site_reports.down.sql
  internal/db/migrations/000008_create_site_reports.up.sql
  internal/db/migrations/000009_add_velocity_report_prefix.down.sql
  internal/db/migrations/000009_add_velocity_report_prefix.up.sql
Due: none

[rel] bump version to 0.3.0 and update changelog
  CHANGELOG.md
  Makefile
Due: none

[rel] bump version to 0.3.0 and update changelog (#152)
  CHANGELOG.md
  Makefile
Due: none

[docs] security review of data partitioning plan (#150)
  docs/features/time-partitioned-data-tables.md
Due: none

Update day_of_week to match ISO 8601 standard
  docs/features/speed-limit-schedules.md
Due: none

Document time-based speed limit schedules feature (#153)
  docs/features/speed-limit-schedules.md
Due: none

[docs] spec time-based speed limit schedules feature (#153)
  docs/features/speed-limit-schedules.md
Due: none

Update day of week convention to ISO 8601 standard
  docs/features/speed-limit-schedules.md
Due: none

[docs] spec time-based speed limit schedules feature (#154)
  docs/features/speed-limit-schedules.md
Due: none

[go] add status tracking to TransitController and update API responses
  internal/api/server.go
  internal/db/transit_controller.go
Due: format-go

[go] add --no-migrate flag to skip database migrations during upgrade
  cmd/deploy/main.go
  cmd/deploy/upgrader.go
Due: format-go

[go] log version and git SHA on startup
  cmd/radar/radar.go
Due: format-go

[go] update database variable naming for clarity in radar.go
  cmd/radar/radar.go
Due: format-go

[go] add scan_transits tool to identify and backfill missing transit records
  cmd/tools/scan_transits.go
Due: format-go

[go] refine query conditions in findTransitGaps to ensure valid data selection
  cmd/tools/scan_transits.go
Due: format-go

[js] reorder imports and simplify message assignment in TransitWorker toggle
  web/src/routes/settings/+page.svelte
Due: format-web

[js][go] bump version to 0.4.0-pre1
  Makefile
  cmd/deploy/main.go
  web/package.json
Due: format-go, format-web

[go][js] add hourly transit worker job w/ UI toggle (#146)
  Makefile
  cmd/deploy/main.go
  cmd/deploy/upgrader.go
  cmd/radar/radar.go
  cmd/tools/scan_transits.go
  internal/api/server.go
  internal/api/server_test.go
  internal/db/transit_controller.go
  internal/db/transit_controller_test.go
  web/package.json
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/routes/settings/+page.svelte
Due: format-go, format-web

[make] add set-version utility to update version across codebase
  Makefile
  scripts/set-version.sh
Due: none

[make] add set-version utility to update version across codebase (#156)
  Makefile
  scripts/set-version.sh
Due: none

[js] use resolve function for navigation paths in layout
  web/src/routes/+layout.svelte
Due: format-web

[ai] Apply suggestions from code review
  internal/api/serial_testing.go
  web/src/routes/settings/serial/+page.svelte
Due: format-go, format-web

[js] use resolve function for serial configuration link in settings page
  web/src/routes/settings/+page.svelte
Due: format-web

[go] Enhance tests for SerialPortManager: improve channel management and verification
  internal/api/serial_reload_test.go
Due: format-go

[go] refactor baud rate validation: extract standard baud rates to a constant and improve error messaging
  internal/serialmux/options.go
Due: format-go

[go] refactor, add canLoadDatabaseSerialConfig function for clarity and reuse in main logic
  cmd/radar/radar.go
Due: format-go

Implement serial reload manager and apply DB port settings (#102)
  cmd/radar/radar.go
  docs/features/serial-configuration-ui.md
  internal/api/serial_reload.go
  internal/api/server.go
  internal/serialmux/factory.go
  internal/serialmux/options.go
  internal/serialmux/serialmux.go
Due: format-go

[js] refactor +page.svelte: streamline imports, enhance data loading, and replace SelectField with native select elements for improved performance
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: simplify label generation for port path options
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: enhance notification display and improve table styling for better readability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor imports in +page.svelte: reorganize and clean up component and API imports
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[ai] apply suggestions from code review
  internal/api/serial_testing.go
Due: format-go

[go] enhance isValidPortPath function: add validation for empty paths and improve security checks against symlink escape attacks
  internal/api/serial_config.go
Due: format-go

[js] add Tailwind CSS support: configure PostCSS and Tailwind settings
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.js
  web/tailwind.config.ts
  web/vite.config.ts
Due: format-web

Fix rebase conflicts with main (golang-migrate migration system) (#142)
  internal/db/migrations/000009_create_radar_serial_config.down.sql
  internal/db/migrations/000009_create_radar_serial_config.up.sql
  scripts/rebase-helper.sh
  web/pnpm-lock.yaml
Due: none

[js] refactor +page.svelte: replace SelectField components with native select elements for improved performance and usability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: enhance state management and replace select elements with SelectField for improved usability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

Address PR #61 review comments: fix hot-reload order, add error logging, cleanup (#143)
  internal/api/serial_config.go
  internal/api/serial_reload.go
  internal/api/serial_testing.go
  internal/db/migrations/000003_rename_tables.up.sql
  internal/serialmux/serialmux.go
  web/.gitignore
  web/src/lib/api.test.ts
  web/src/routes/settings/serial/+page.svelte
Due: format-go, format-web

[go] lint
  internal/db/cosine_correction_test.go
  internal/db/site.go
  internal/db/site_config_period.go
  internal/db/site_config_period_test.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
