Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[py] fix: update PCAP replay request to use JSON body for pcap_file
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[git] .gitignore: generalize output and cache directory exclusions
  .gitignore
Due: none

[py] enhance grid heatmap plotting with live snapshot and PCAP replay modes
  Makefile
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[git] gitignore: add grid-heatmap __pycache__ directory to exclusions
  .gitignore
Due: none

[sh] add script to reset lidar grid via local monitor API
  scripts/api/reset_grid.sh
Due: none

[sh] add API scripts for lidar operations and enhance README documentation
  Makefile
  scripts/api/lidar/README.md
  scripts/api/lidar/export_next_frame.sh
  scripts/api/lidar/export_snapshot.sh
  scripts/api/lidar/get_acceptance.sh
  scripts/api/lidar/get_grid_heatmap.sh
  scripts/api/lidar/get_grid_status.sh
  scripts/api/lidar/get_params.sh
  scripts/api/lidar/get_snapshot.sh
  scripts/api/lidar/get_snapshots.sh
  scripts/api/lidar/reset_acceptance.sh
  scripts/api/lidar/reset_grid.sh
  scripts/api/lidar/set_params.sh
  scripts/api/lidar/start_pcap.sh
  scripts/api/lidar/trigger_persist.sh
Due: none

[py] add full dashboard visualization for grid heatmap analysis
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[py] enhance dashboard visualization: update polar heatmap to show settle rate and adjust layout for metric panels
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[go] sanitize and validate PCAP file path in handlePCAPStart to prevent path traversal attacks
  internal/lidar/monitor/webserver.go
Due: format-go

[py] remove redundant label for settle rate in full dashboard heatmap plot
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[py] remove unused variable 'ring' from plot_full_dashboard function
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[py] improve error handling for missing dependencies in plot_grid_heatmap.py
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[go] add PCAP replay mode and safe directory configuration to lidar integration
  cmd/radar/README.md
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
Due: format-go

[docs] lint
  devlog.md
Due: none

[docs] update documentation to reflect completion of Phase 2 and enhancements in PCAP mode features
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] update development log with enhancements in PCAP security, grid visualization, and API features
  devlog.md
Due: none

[fs] mv devlog.md
  internal/lidar/docs/devlog.md
Due: none

[docs] enhance lidar sidecar overview with improved wrap detection, buffer management, and new metrics for grid analysis
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] rm old docs
  internal/lidar/docs/DEBUG-LOGGING-PLAN.md
  internal/lidar/docs/GRID-ANALYSIS-PLAN.md
  internal/lidar/docs/GRID-HEATMAP-API.md
  internal/lidar/docs/LIDAR-PCAP-Debug.md
Due: none

[go] add TODO for optimizing nonzero cell count computation in ProcessFramePolar
  internal/lidar/background.go
Due: format-go

[go] remove unnecessary import of sys in error handling for missing dependencies
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[go] use atomic operations for frameProcessCount in ProcessFramePolar for thread safety
  internal/lidar/background.go
Due: format-go

[go] enhance PCAP file handling by resolving symlinks and ensuring safe directory access
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add PCAP mode support to lidar web server and update status page
  cmd/radar/radar.go
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] update lidar PCAP directory path for consistency
  cmd/radar/radar.go
Due: format-go

[py] update PCAP replay function to use basename for file path
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[py] enhance plot_full_dashboard function for improved heatmap visualization and aspect ratio handling
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[py] refactor plot_full_dashboard function to simplify heatmap generation and improve visualization with binary occupancy grid
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[py] refactor plot_full_dashboard function to enhance spatial XY observation intensity heatmap and improve visualization
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[go] enhance path validation in server and webserver to prevent directory traversal attacks
  internal/api/server.go
  internal/lidar/monitor/webserver.go
Due: format-go

[py] add custom colormap to enhance heatmap visualization in plot_full_dashboard
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[go] update status handler test to check for 'LiDAR Monitor' in response
  internal/lidar/monitor/webserver_test.go
Due: format-go

[go] add API endpoint and script to stop in-progress PCAP replay
  Makefile
  internal/lidar/monitor/webserver.go
  scripts/api/lidar/README.md
  scripts/api/lidar/stop_pcap.sh
Due: format-go

[py] enhance colormap in heatmap visualizations by implementing a custom inferno palette
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[go] track nonzero cell count in BackgroundGrid to optimize performance during frame processing
  internal/lidar/background.go
Due: format-go

[git] add .gocache and .gomodcache to .gitignore to prevent caching files from being tracked
  .gitignore
Due: none

[go] clear stored cancel function in handlePCAPStart to prevent race conditions
  internal/lidar/monitor/webserver.go
Due: format-go

[docs] implement runtime-configurable data source switching via HTTP API, removing CLI flag and enhancing WebServer management
  internal/lidar/docs/DATA-SOURCE-SWITCHING-PLAN.md
Due: none

[docs] update data source switching API to use GET method, simplifying endpoint usage and removing request body requirement
  internal/lidar/docs/DATA-SOURCE-SWITCHING-PLAN.md
Due: none
