Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ai][go] scope server + sweep flags to per-applet FlagSets
  cmd/radar/flags_test.go
  cmd/radar/radar.go
  cmd/sweep/main.go
Due: format-go

[ai][go] fold radar/ctl/sweep into one multi-call velocity binary
  .github/workflows/go-ci.yml
  .github/workflows/nightly-full-ci.yml
  .github/workflows/version-check.yml
  .gitignore
  .vscode/launch.json
  Makefile
  cmd/velocity-ctl/main.go
  cmd/velocity/main.go
  cmd/velocity/main_test.go
  internal/cmd/device/backup.go
  internal/cmd/device/backup_test.go
  internal/cmd/device/check.go
  internal/cmd/device/flags.go
  internal/cmd/device/flags_test.go
  internal/cmd/device/main.go
  internal/cmd/device/main_test.go
  internal/cmd/device/manager.go
  internal/cmd/device/rollback.go
  internal/cmd/device/rollback_test.go
  internal/cmd/device/status.go
  internal/cmd/device/status_test.go
  internal/cmd/device/tailscale.go
  internal/cmd/device/upgrade.go
  internal/cmd/device/upgrade_test.go
  internal/cmd/server/README.md
  internal/cmd/server/capabilities.go
  internal/cmd/server/capabilities_test.go
  internal/cmd/server/fixture.jsonl
  internal/cmd/server/fixtures.csv
  internal/cmd/server/flags_test.go
  internal/cmd/server/lidar_helpers.go
  internal/cmd/server/lidar_helpers_test.go
  internal/cmd/server/migrate_args_test.go
  internal/cmd/server/pdf.go
  internal/cmd/server/pdf_test.go
  internal/cmd/server/radar.go
  internal/cmd/server/radar_test.go
  internal/cmd/tune/README.md
  internal/cmd/tune/sweep.go
  scripts/dev-setup.sh
Due: format-go, format-markdown

[ai][go] versioned-on-disk upgrades with atomic symlink swap
  internal/cmd/device/backup_test.go
  internal/cmd/device/rollback_test.go
  internal/cmd/device/status_test.go
  internal/cmd/device/upgrade_test.go
  internal/ctl/manager.go
  internal/ctl/manager_test.go
  internal/ctl/swap_linux.go
  internal/ctl/swap_other.go
Due: format-go

[ai][go][img] wire device surface through tailscale, sudoers, image, release
  .github/workflows/build-image.yml
  Makefile
  image/scripts/build-image.sh
  image/stage-velocity/01-velocity-binaries/00-run.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
  image/stage-velocity/03-velocity-config/files/velocity-report.service
  internal/tailscale/manager.go
  internal/tailscale/manager_test.go
  scripts/release-assets.sh
  scripts/update-release-json.py
Due: format-go

[ai][go][img] embed deploy config + trim image apt surface
  assets.go
  image/scripts/build-image.sh
  image/stage-velocity/00-install-packages/00-packages
  image/stage-velocity/02-velocity-python/00-run.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/04-velocity-lidar/00-run.sh
  image/stage-velocity/05-velocity-wifi/00-run.sh
  image/stage-velocity/06-cleanup/00-run.sh
  image/stage-velocity/07-velocity-tailscale/01-run.sh
  internal/api/server_reports_generate.go
  internal/cmd/device/files/99-velocity-report.rules
  internal/cmd/device/files/lidar-network.conf
  internal/cmd/device/files/wpa_supplicant.conf
  internal/cmd/device/install.go
  internal/cmd/device/install_test.go
  internal/cmd/device/main.go
  internal/cmd/server/radar.go
  internal/config/tuning.go
  internal/config/tuning_embed_test.go
Due: format-go

[docs] update asset naming and management commands to use unified 'velocity' binary
  docs/platform/architecture/asset-naming.md
  docs/platform/operations/rpi-imager.md
  public_html/src/guides/setup.md
Due: format-markdown

[docs] complete BACKLOG items
  docs/BACKLOG.md
Due: format-markdown

Add runtime pipeline correctness plan
  Makefile
  docs/BACKLOG.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
Due: format-markdown

[docs] go fixes plan (#520)
  Makefile
  docs/BACKLOG.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
Due: format-markdown

[ai][docs] update command surface + plan status to the single velocity binary
  .github/knowledge/coding-standards.md
  CLAUDE.md
  COMMANDS.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/platform/architecture/asset-naming.md
  docs/platform/operations/distribution-packaging.md
Due: format-markdown

[ai][docs] record follow-on image cleanup gated on Typst/Tailscale/sqlite
  docs/BACKLOG.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
Due: format-markdown

[ci] fix race condition + docs deploy (#518)
  .github/workflows/deploy-gh-pages.yml
  Makefile
  internal/api/serial_reload.go
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
Due: format-go, format-mac

[ai][ci] run pcap-pulling cmd packages in the libpcap test job
  .github/workflows/go-ci.yml
  .github/workflows/nightly-full-ci.yml
Due: none

[ai][img] enumerate velocity-ctl sudoers grant (drop the wildcard)
  image/stage-velocity/03-velocity-config/00-run.sh
Due: none

[ver] bump version to 0.5.1-pre22 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[img] shorten git SHA in velocity-motd.sh banners
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
Due: none

[doc] update backlog
  docs/BACKLOG.md
Due: format-markdown

[ai][docs] log single-binary work in DEVLOG + CHANGELOG
  CHANGELOG.md
  docs/DEVLOG.md
Due: format-markdown

[ai][js] vendor three.core.js for homepage hero
  public_html/.eleventy.js
Due: none

[py] Enhance PDF rendering: add page border options and output scaling
  public_html/src/images/stack.png
  tools/pdf-stack-render/render.py
Due: format-python

[public] fix homepage png + js (#521)
  public_html/.eleventy.js
  public_html/src/images/stack.png
  tools/pdf-stack-render/render.py
Due: format-python

[ai][go][img] add velocity data sql; remove velocity-ctl shim
  .github/knowledge/coding-standards.md
  CHANGELOG.md
  cmd/velocity/main.go
  cmd/velocity/main_test.go
  docs/BACKLOG.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/platform/operations/distribution-packaging.md
  docs/platform/operations/rpi-imager.md
  image/stage-velocity/00-install-packages/00-packages
  image/stage-velocity/01-velocity-binaries/00-run.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/06-cleanup/00-run.sh
  internal/cmd/device/main.go
  internal/cmd/device/tailscale.go
  internal/cmd/server/radar.go
  internal/cmd/server/sql.go
  internal/cmd/server/sql_test.go
  internal/ctl/manager.go
  internal/db/readonly_query.go
  internal/tailscale/manager.go
  public_html/src/guides/setup.md
Due: format-go, format-markdown

[ai][img] keep the VERSION marker for the binaries-only handoff
  image/scripts/build-image.sh
Due: none

[go] implement checks for local binary upgrades and enhance release asset comparison logic
  internal/ctl/manager.go
  internal/ctl/manager_test.go
Due: format-go

[py] add tests for update release JSON module and binary build paths
  scripts/test_update_packaging.py
Due: none

[img] update build scripts and Dockerfile for ARM64 binary compilation
  Makefile
  image/Dockerfile.build
  image/scripts/build-image.sh
Due: none

[go] refactor: streamline command routing and enhance install functionality
  cmd/velocity/main.go
  internal/cmd/device/install.go
  internal/cmd/device/tailscale.go
  internal/cmd/root/root.go
  internal/db/readonly_query.go
Due: format-go

[go] add comprehensive tests for device commands and SQL handling
  cmd/velocity/main_test.go
  internal/cmd/device/check_test.go
  internal/cmd/device/install_test.go
  internal/cmd/device/main_test.go
  internal/cmd/device/tailscale_test.go
  internal/cmd/root/root_test.go
  internal/cmd/server/sql_test.go
  internal/ctl/swap_other_test.go
  internal/db/readonly_query_test.go
Due: format-go

[py] add coverage check for branch-added internal Go files and corresponding tests
  Makefile
  scripts/check_changed_go_coverage.py
  scripts/test_changed_go_coverage.py
Due: none

[go] update help message and improve output reading in tests
  internal/cmd/root/root.go
  internal/cmd/root/root_test.go
Due: format-go

[go] introduce retrySleep variable for better testability of retryOnBusy function
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_retry_test.go
Due: format-go

[ci] streamline build process and enhance test coverage for core components
  .github/workflows/go-ci.yml
Due: none

[docs] update documentation to reflect unified velocity binary usage across tools
  docs/lidar/operations/sweep-tool.md
  docs/plans/embedded-offline-docs-site.md
  internal/cmd/server/README.md
  internal/cmd/tune/README.md
Due: format-markdown

[ai][go][sh][py][docs] fix appliance runtime defaults
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-report.service
  internal/cmd/server/README.md
  internal/cmd/server/migrate_args_test.go
  internal/cmd/server/radar.go
  internal/cmd/server/sql.go
  internal/db/migrate_cli.go
  scripts/test_update_packaging.py
Due: format-go, format-markdown

Potential fix for pull request finding
  internal/db/readonly_query.go
Due: format-go

[ai][sh][py] reassert appliance hardening after cleanup
  image/stage-velocity/06-cleanup/00-run.sh
  scripts/test_update_packaging.py
Due: none

[ai][go] consistent DB backup for upgrades + update-mechanism tests
  internal/ctl/manager.go
  internal/ctl/upgrade_flow_test.go
  internal/db/backup.go
  internal/db/backup_test.go
Due: format-go

[ai][docs] align CLI/ops docs with the unified velocity binary
  docs/platform/architecture/asset-naming.md
  docs/platform/operations/pdf-reporting.md
  docs/radar/cli-comprehensive-guide.md
  docs/radar/operations/remote-host-upgrade-runbook.md
Due: format-markdown

[docs] clarify behavior of pre-0.5.1 binary regarding stray database creation
  docs/radar/operations/remote-host-upgrade-runbook.md
Due: format-markdown
