Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] update distance encoding logic for Pandar40P packets to improve accuracy
  internal/lidar/network/foreground_forwarder.go
Due: format-go

[go] add RawBlockAzimuth field to lidar data structures for improved azimuth tracking
  cmd/radar/radar.go
  internal/lidar/arena.go
  internal/lidar/frame_builder.go
  internal/lidar/network/listener.go
  internal/lidar/parse/extract.go
  internal/lidar/transform.go
Due: format-go

[go] refactor encodePointsAsPackets to improve packet handling and sorting logic for foreground points
  internal/lidar/network/foreground_forwarder.go
Due: format-go

[docs] resolve data quality issues in foreground point export and improve parameter tuning
  docs/troubleshooting/foreground-corruption-investigation-status.md
Due: none

[go] swap selected option for PCAP speed mode, set Realtime as default
  internal/lidar/monitor/status.html
Due: none

[go] implement JSON parameter update form and enhance background parameter handling
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_form_test.go
Due: format-go

[go] refactor background parameter handling to use dynamic definitions and improve JSON representation
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] refactor export path handling to enforce temp directory usage and improve filename sanitization
  internal/lidar/monitor/webserver.go
Due: format-go

[docs] update LiDAR Sidecar overview to reflect current status and focus areas, including foreground streaming and performance optimization
  internal/lidar/docs/lidar-foreground-tracking-status.md
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[go] enhance background processing with fast reacquisition parameters and minimum confidence floor
  internal/lidar/background.go
  internal/lidar/foreground.go
  internal/lidar/foreground_test.go
Due: format-go

[go] add debug range filtering for foreground points and enhance background parameters for diagnostics
  cmd/radar/radar.go
  internal/lidar/background.go
  internal/lidar/foreground.go
Due: format-go

[go] refactor tracking pipeline: create a new callback structure for frame processing and streamline dependencies
  cmd/radar/radar.go
  internal/lidar/tracking_pipeline.go
Due: format-go

[go] implement grid reset functionality with confirmation prompt and enforce POST method
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[ai][go] Fix path traversal vulnerability in handleExportFrameSequenceASC (#178)
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
Due: format-go

[go] Fix variable naming, error handling, and path traversal from PR #176 review (#179)
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enhance path validation in export functions to prevent path traversal vulnerabilities
  internal/lidar/export.go
  internal/lidar/foreground_snapshot.go
  internal/security/pathvalidation_test.go
Due: format-go

[ver] bump version to 0.0.4-pre4 in Makefile, main.go, and package.json files
  Makefile
  cmd/deploy/main.go
  docs/package.json
  web/package.json
Due: format-go, format-web

[ai][go] fix for code scanning alert no. 30: Uncontrolled data used in path expression
  internal/lidar/export.go
Due: format-go

[go] adjust neighbor confirmation logic for foreground processing
  internal/lidar/foreground.go
  internal/lidar/foreground_test.go
Due: format-go

[ai][go] Potential fix for code scanning alert no. 31: Uncontrolled data used in path expression
  internal/lidar/export.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go][js] update web/build/index.html
  web/build/index.html
Due: none

Fix path traversal vulnerability by eliminating user input from file paths (#181)
  internal/lidar/background.go
  internal/lidar/export.go
  internal/lidar/export_test.go
  internal/lidar/foreground_snapshot.go
  internal/lidar/frame_builder.go
  internal/lidar/monitor/webserver.go
Due: format-go

[go] fix html background scroll behaviour
  web/build/index.html
Due: none

[docs] add initial LiDAR documentation and folder structure overview
  internal/lidar/docs/README.md
Due: none

[fs] move lidar docs to new folders
  internal/lidar/docs/architecture/foreground_tracking_plan.md
  internal/lidar/docs/architecture/lidar-background-grid-standards.md
  internal/lidar/docs/architecture/lidar_sidecar_overview.md
  internal/lidar/docs/future/av-lidar-integration-plan.md
  internal/lidar/docs/future/motion-capture-architecture.md
  internal/lidar/docs/future/pcap-split-tool.md
  internal/lidar/docs/future/static-pose-alignment-plan.md
  internal/lidar/docs/future/velocity-coherent-foreground-extraction.md
  internal/lidar/docs/operations/DATA-SOURCE-SWITCHING-PLAN.md
  internal/lidar/docs/operations/lidar-foreground-tracking-status.md
  internal/lidar/docs/operations/pcap-analysis-mode.md
  internal/lidar/docs/reference/packet_analysis_results.md
  internal/lidar/docs/reference/schema.sql
  internal/lidar/docs/reference/schema.svg
  internal/lidar/docs/roadmap/devlog.md
  internal/lidar/docs/roadmap/lidar-tracking-integration.md
  internal/lidar/docs/roadmap/ml_pipeline_roadmap.md
Due: none

[docs] fix links
  internal/lidar/docs/architecture/foreground_tracking_plan.md
  internal/lidar/docs/future/motion-capture-architecture.md
  internal/lidar/docs/future/pcap-split-tool.md
  internal/lidar/docs/future/static-pose-alignment-plan.md
  internal/lidar/docs/operations/lidar-foreground-tracking-status.md
  internal/lidar/docs/operations/pcap-analysis-mode.md
Due: none

[exe] make format
  web/stub-index.html
Due: none

[js] lint
  web/stub-index.html
Due: none

[go] fix build failure with stub generation (#180)
  Makefile
  scripts/ensure-web-stub.sh
  web/stub-index.html
Due: none

[sql] Refactor rollback migration to preserve data while removing quality metric columns from lidar tables
  internal/db/migrations/000012_add_track_quality_metrics.down.sql
Due: none

[sql] Remove unnecessary transaction statements from rollback migration for track quality metrics
  internal/db/migrations/000012_add_track_quality_metrics.down.sql
Due: none

[go] Enhance aspect ratio calculation to handle degenerate cases in clustering metrics
  internal/lidar/clustering.go
  internal/lidar/clustering_test.go
Due: format-go

[go] optimize point encoding by sorting and using azimuth buckets for better data handling
  internal/lidar/track_export.go
Due: format-go

[go] update migration command flag parsing order in help comments
  cmd/radar/radar.go
Due: format-go

[go] test embedded migrations filesystem and migration down for quality metrics
  internal/db/embed_test.go
  internal/db/migrate_012_test.go
Due: format-go

[go] remove fresh database detection and simplify migration initialization
  internal/db/migrate.go
Due: format-go

[go] debug logging for migration file listing and current version check
  internal/db/migrate.go
Due: format-go

[go] remove debug logging from MigrateUp function
  internal/db/migrate.go
Due: format-go

remove obsolete migration tests for quality metrics
  internal/db/embed_test.go
  internal/db/migrate_012_test.go
Due: format-go
