Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[public] update haight-divisadero
  public_html/src/scenes/haight-divisadero/assets/background/background.json.gz
  public_html/src/scenes/haight-divisadero/assets/manifest.json
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/haight-divisadero/assets/part-000/header.json
  public_html/src/scenes/haight-divisadero/assets/part-000/index.json
  public_html/src/scenes/haight-divisadero/assets/part-000/timeline.json
Due: none

[public] update howard-6th
  public_html/src/scenes/howard-6th/assets/background/background.json.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/howard-6th/assets/part-000/header.json
  public_html/src/scenes/howard-6th/assets/part-000/index.json
  public_html/src/scenes/howard-6th/assets/part-000/timeline.json
Due: none

[public] update laguna-eddy
  public_html/src/scenes/laguna-eddy/assets/background/background.json.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0020.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/frames/chunk_0021.ndjson.gz
  public_html/src/scenes/laguna-eddy/assets/part-000/header.json
  public_html/src/scenes/laguna-eddy/assets/part-000/index.json
  public_html/src/scenes/laguna-eddy/assets/part-000/timeline.json
Due: none

[public] update lombard-broderick
  public_html/src/scenes/lombard-broderick/assets/background/background.json.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/lombard-broderick/assets/part-000/header.json
  public_html/src/scenes/lombard-broderick/assets/part-000/index.json
  public_html/src/scenes/lombard-broderick/assets/part-000/timeline.json
Due: none

[public] update marina-broderick
  public_html/src/scenes/marina-broderick/assets/background/background.json.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/marina-broderick/assets/part-000/header.json
  public_html/src/scenes/marina-broderick/assets/part-000/index.json
  public_html/src/scenes/marina-broderick/assets/part-000/timeline.json
Due: none

[public] update van_ness-sacramento
  public_html/src/scenes/van-ness-sacramento/assets/background/background.json.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/frames/chunk_0020.ndjson.gz
  public_html/src/scenes/van-ness-sacramento/assets/part-000/header.json
  public_html/src/scenes/van-ness-sacramento/assets/part-000/index.json
  public_html/src/scenes/van-ness-sacramento/assets/part-000/timeline.json
Due: none

[public] update pierce-haight
  public_html/src/scenes/pierce-haight/assets/background/background.json.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/frames/chunk_0020.ndjson.gz
  public_html/src/scenes/pierce-haight/assets/part-000/header.json
  public_html/src/scenes/pierce-haight/assets/part-000/index.json
  public_html/src/scenes/pierce-haight/assets/part-000/timeline.json
Due: none

[public] update marina-webster
  public_html/src/scenes/marina-webster-beach/assets/background/background.json.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/marina-webster-beach/assets/part-000/header.json
  public_html/src/scenes/marina-webster-beach/assets/part-000/index.json
  public_html/src/scenes/marina-webster-beach/assets/part-000/timeline.json
Due: none

[public] update franklin-mcallister
  public_html/src/scenes/franklin-mcallister/assets/background/background.json.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/header.json
  public_html/src/scenes/franklin-mcallister/assets/part-000/index.json
  public_html/src/scenes/franklin-mcallister/assets/part-000/timeline.json
Due: none

[public] remove redundant .rebuilt file for hyde-ofarrell scene
  public_html/src/scenes/hyde-ofarrell/.rebuilt
Due: none

Fix typo in comments for clarity
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/test_publish_scenes.py
Due: format-python

Improve JSON handling in publish-scenes.py
  tools/s2-archive/publish-scenes.py
Due: format-python

[public] update columbus-north_point
  public_html/src/scenes/columbus-north-point/assets/background/background.json.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/columbus-north-point/assets/part-000/header.json
  public_html/src/scenes/columbus-north-point/assets/part-000/index.json
  public_html/src/scenes/columbus-north-point/assets/part-000/timeline.json
Due: none

[public] update hyde-ofarrell
  public_html/src/scenes/hyde-ofarrell/assets/background/background.json.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/hyde-ofarrell/assets/part-000/header.json
  public_html/src/scenes/hyde-ofarrell/assets/part-000/index.json
  public_html/src/scenes/hyde-ofarrell/assets/part-000/timeline.json
Due: none

[ver] bump version to 0.5.1-pre37 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[lidar] fix packet timestamps and wrapped UDP completeness accounting (#611)
  Makefile
  docs/BACKLOG.md
  docs/DEVLOG.md
  internal/api/server_scenes_headway.go
  internal/api/server_scenes_headway_test.go
  internal/cmd/server/lidar_helpers.go
  internal/cmd/server/lidar_helpers_test.go
  internal/cmd/server/radar.go
  internal/db/db.go
  internal/db/db_exported_test.go
  internal/lidar/l1packets/parse/config.go
  internal/lidar/l1packets/parse/extract.go
  internal/lidar/l1packets/parse/timestamp_mode_test.go
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l2frames/frame_builder_fullcov_test.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/storage/sqlite/interaction_store.go
  internal/lidar/storage/sqlite/interaction_store_test.go
  internal/lidar/time_domain_chain_test.go
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: format-go, format-markdown

Refresh offline motion baseline across continuous captures
  cmd/tools/config-migrate/main.go
  config/CONFIG.md
  config/profiles/detect.json
  config/profiles/l3-only.json
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/lidar/operations/pcap-analysis-mode.md
  internal/cmd/lidar/split.go
  internal/cmd/server/radar.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/background_drift.go
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_test.go
  internal/lidar/pcapsplit/analyse_sequence.go
  internal/lidar/pcapsplit/classifier.go
  internal/lidar/pcapsplit/classifier_test.go
  internal/lidar/pcapsplit/franklin_integration_test.go
  internal/lidar/pcapsplit/soma2_integration_test.go
  internal/lidar/pcapsplit/soma3_integration_test.go
  internal/lidar/pcapsplit/timeline.go
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/test_publish_scenes.py
Due: format-go, format-python, format-markdown

Correct Franklin site span from continuous motion reanalysis
  tools/s2-archive/analysis-overrides/franklin-mcallister-20260903.json
  tools/s2-archive/site-index.json
Due: none

Reject stale corpus scenes after site-bound corrections
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/test_publish_scenes.py
Due: format-python

Document Franklin file-boundary classification result
  tools/s2-archive/README.md
Due: format-markdown

Anchor archive scene replay to actual first packets
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/test_publish_scenes.py
Due: format-python

Rebuild Franklin web scene for the full parked survey
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/scenes/franklin-mcallister/assets/background/background.json.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/header.json
  public_html/src/scenes/franklin-mcallister/assets/part-000/index.json
  public_html/src/scenes/franklin-mcallister/assets/part-000/timeline.json
  public_html/src/scenes/franklin-mcallister/index.njk
Due: none

[ai][go] headway: state the expected value block before the one found
  internal/report/headway/build_test.go
  internal/report/headway/validate.go
Due: format-go

[ai][go] headway: provisional field run from persisted estimates
  internal/report/headway/doc.go
  internal/report/headway/fieldrun/fieldrun.go
  internal/report/headway/fieldrun/fieldrun_test.go
  internal/report/headway/render_test.go
  internal/report/headway/wording.go
Due: format-go

[ai][go] storage: read one estimate version with its observing sensor
  internal/lidar/storage/sqlite/behaviour_estimate_queries.go
  internal/lidar/storage/sqlite/behaviour_estimate_queries_test.go
Due: format-go

[ai][go] headway: pass the surface audit; contract headway_report_v2
  internal/lidar/l8behaviour/surface.go
  internal/report/headway/model.go
  internal/report/headway/render.go
  internal/report/headway/render_test.go
  internal/report/headway/surface_test.go
  internal/report/headway/testdata/oracle/data.json
  internal/report/typst/templates/headway.typ
Due: format-go

[ai][go] l8behaviour: trajectories from persisted estimates
  internal/lidar/l8behaviour/adapter.go
  internal/lidar/l8behaviour/adapter_test.go
Due: format-go

[ai][go] l8behaviour: read a persisted float32 covariance's round-off as symmetric
  internal/lidar/l8behaviour/adapter.go
  internal/lidar/l8behaviour/adapter_test.go
Due: format-go

[ai][go] cli: velocity report headway --db runs the provisional field report
  internal/cmd/server/headway.go
  internal/cmd/server/headway_test.go
Due: format-go

[ai][go] headway: kirk0 end to end through the provisional field run
  internal/report/headway/fieldrun/fieldrun_test.go
  internal/report/headway/fieldrun/kirk0_pcap_test.go
Due: format-go

[ai][go][typ] headway: a report with no encounter says so and compiles
  internal/report/headway/build.go
  internal/report/headway/fieldrun/fieldrun_test.go
  internal/report/headway/render.go
  internal/report/typst/templates/headway.typ
Due: format-go

[ai][go][typ] headway: long field ids wrap inside their cells
  internal/report/headway/fieldrun/fieldrun.go
  internal/report/headway/fieldrun/fieldrun_test.go
  internal/report/typst/templates/headway.typ
Due: format-go

[ai][docs] headway provisional field run: operations guide, CLI guide, plan and registry
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/lidar/operations/headway-report-oracle.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/platform/architecture/metrics-registry.md
  docs/platform/operations/pdf-reporting.md
  docs/radar/cli-comprehensive-guide.md
Due: format-markdown

[ai][go] l5tracks: pre-gate NIS band set, calibration window and manoeuvre rejection evidence
  internal/lidar/l5tracks/pregate.go
  internal/lidar/l5tracks/residuals.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/uncertainty_scene_test.go
Due: format-go

[ai][go] l5tracks: default-off adaptive anisotropic measurement noise
  internal/lidar/l5tracks/adaptive_noise.go
  internal/lidar/l5tracks/adaptive_noise_test.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_covariance.go
  internal/lidar/l5tracks/tracking_update.go
Due: format-go

[ai][go] l8analytics: uncertainty calibration fit and G-UNC-1 consistency report
  internal/lidar/l8analytics/uncertainty_calibration.go
  internal/lidar/l8analytics/uncertainty_calibration_test.go
Due: format-go

[ai][docs] G-UNC-1 predeclared criteria and the adaptive noise maths
  data/maths/tracking-maths.md
  docs/lidar/LIDAR.md
  docs/lidar/operations/adaptive-uncertainty-criteria.md
Due: format-markdown

[ai][go] replayeval: kirk0 evidence runner for the predeclared uncertainty protocol
  internal/lidar/replayeval/replay_uncertainty_pcap_test.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
