Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[docs] Update documentation references to CONFIG.md
  .claude/agents/euler.md
  .github/agents/euler.agent.md
  .github/knowledge/coding-standards.md
  .github/knowledge/role-editorial.md
  ARCHITECTURE.md
  COMMANDS.md
  CONTRIBUTING.md
  Makefile
  cmd/radar/README.md
  config/CONFIG.md
  config/README.maths.md
  data/QUESTIONS.md
  data/experiments/try/l3-background-settling-sweep.md
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/l5-tracking-noise-parameter-sweep.md
  data/maths/pipeline-review-open-questions.md
  data/maths/proposals/20260220-velocity-coherent-foreground-extraction.md
  data/structures/README.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/architecture/ml-solver-expansion.md
  docs/plans/config-restructure-plan.md
  docs/plans/lidar-clustering-observability-and-benchmark-plan.md
  docs/plans/lidar-performance-measurement-harness-plan.md
  docs/plans/lidar-test-corpus-plan.md
  docs/plans/web-frontend-background-debug-surfaces-plan.md
  docs/radar/cli-comprehensive-guide.md
  docs/ui/visualiser/architecture.md
  scripts/readme-maths-check
Due: format-markdown

[ci] correct job name for config maths strict parity check in workflow
  .github/workflows/config-order-ci.yml
Due: none

[docs] update README.maths.md references to CONFIG.md in tests
  config/CONFIG.md
  scripts/readme-maths-check
  scripts/test_config_tools.py
Due: format-markdown

[docs] refine CONFIG.md for clarity and consistency in schema descriptions
  config/CONFIG.md
Due: format-markdown

[py] enhance README maths key extraction logic to support table formats and mixed bullet lists
  scripts/readme-maths-check
  scripts/test_config_tools.py
Due: none

[docs] enhance CONFIG.md with primary consumer references for schema fields
  config/CONFIG.md
Due: format-markdown

Apply suggestions from code review
  docs/platform/operations/ascii-diagram-formatting.md
Due: format-markdown

[docs] add MATHS.md -> README.md symlink
  data/maths/README.md
Due: format-markdown

[docs] update README.md with new data structure specifications for background grid, labels, and sweep configurations
  data/structures/README.md
Due: format-markdown

[docs] add DATA_STRUCTURES.md to document binary and on-disk data formats
  data/structures/DATA_STRUCTURES.md
Due: format-markdown

[docs] add symlink for DATA_STRUCTURES.md in README.md
  data/structures/README.md
Due: format-markdown

[docs] add EXPERIMENTS.md to document proposed experiments and their execution criteria
  data/experiments/EXPERIMENTS.md
Due: format-markdown

[docs] add symlink for EXPERIMENTS.md in README.md
  data/experiments/README.md
Due: format-markdown

[docs] add EXPLORE.md for documenting exploratory analyses and findings
  data/explore/EXPLORE.md
Due: format-markdown

[docs] add DOCS.md for documentation structure, scope, and naming conventions
  docs/DOCS.md
Due: format-markdown

[docs] add symlink for DOCS.md in README.md
  docs/README.md
Due: format-markdown

[docs] add symlink for DESIGN.md in README.md
  docs/ui/README.md
Due: format-markdown

[docs] add VISUALISER.md for architecture, API contracts, and feature specifications
  docs/ui/visualiser/VISUALISER.md
Due: format-markdown

[docs] add symlink for VISUALISER.md in README.md
  docs/ui/visualiser/README.md
Due: format-markdown

[docs] add PLATFORM.md for shared codebase structure and development methodology
  docs/platform/PLATFORM.md
  docs/platform/README.md
Due: format-markdown

[py] resolve excluded file paths relative to repo root for accurate checks
  scripts/check-prose-line-width.py
Due: none

[docs] update LiDAR README with processing stack details and quick links
  docs/lidar/README.md
Due: format-markdown

[fs] mv LIDAR
  docs/lidar/LIDAR.md
Due: format-markdown

[docs] expand coding standards with file naming conventions
  .github/knowledge/coding-standards.md
Due: format-markdown

[docs] move VRLOG format spec
  data/explore/vrlog-analysis-runs/VRLOG_ANALYSIS.md
  data/structures/VRLOG_ANALYSIS_FORMAT.md
  docs/BACKLOG.md
  docs/plans/platform-data-science-metrics-first-plan.md
  docs/platform/operations/data-science-methodology.md
Due: format-markdown

[docs] add detailed template for proposed experiments in EXPERIMENTS.md
  data/experiments/EXPERIMENTS.md
Due: format-markdown

[docs] clarify naming convention exceptions in DOCS
  docs/DOCS.md
Due: format-markdown

[docs] restore DOCS content and clarify naming exceptions
  docs/DOCS.md
Due: format-markdown

noop
  tmp/noop.txt
Due: none

[docs] remove accidental temp file
  tmp/noop.txt
Due: none

noop2
  tmp/noop2.txt
Due: none

[docs] remove accidental temp file
  tmp/noop2.txt
Due: none

[docs] add initial DATA.md with structured content and descriptions
  data/DATA.md
Due: format-markdown

[docs] add symlink to DATA.md in README.md
  data/README.md
Due: format-markdown

[docs] update link to LIDAR documentation in CONTRIBUTING.md
  CONTRIBUTING.md
Due: format-markdown

[docs] add symlink to LIDAR.md in README.md
  docs/lidar/README.md
Due: format-markdown

[docs] streamline LiDAR.md by removing outdated folder structure and troubleshooting sections
  docs/lidar/LIDAR.md
Due: format-markdown

[docs] update references from lidar-data-layer-model.md to LIDAR_ARCHITECTURE.md across multiple files
  .claude/agents/euler.md
  .github/agents/euler.agent.md
  .github/knowledge/coding-standards.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  data/structures/DATA_STRUCTURES.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/LIDAR.md
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
  docs/lidar/architecture/README.md
  docs/lidar/architecture/arena-go-deprecation-and-layered-type-layout-design.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review.md
  docs/lidar/architecture/multi-model-ingestion-and-configuration.md
  docs/lidar/architecture/vector-scene-map.md
  docs/lidar/terminology.md
  docs/plans/lidar-bodies-in-motion-plan.md
  docs/plans/lidar-clock-abstraction-and-time-domain-model-plan.md
  docs/plans/lidar-l7-scene-plan.md
  docs/plans/lidar-l8-analytics-l9-endpoints-l10-clients-plan.md
  docs/plans/platform-hub-restructure-plan.md
  internal/lidar/l1packets/doc.go
  internal/lidar/l2frames/doc.go
  internal/lidar/l3grid/doc.go
  internal/lidar/l4perception/doc.go
  internal/lidar/l5tracks/doc.go
  internal/lidar/l6objects/doc.go
  internal/lidar/l8analytics/doc.go
  internal/lidar/storage/sqlite/doc.go
  scripts/batch-canonical-migration.py
  scripts/mermaid-crossing-checker.py
Due: format-go, format-markdown

[docs] enhance LIDAR_ARCHITECTURE.md with architecture document sections and implementation status
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
Due: format-markdown

[docs] remove LIDAR.md and update symlink in README.md to point to LIDAR_ARCHITECTURE.md
  docs/lidar/LIDAR.md
  docs/lidar/README.md
Due: format-markdown
