Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[sql] Refactor SQL migration for site configuration: improve readability of INSERT statements and formatting in site_variable_config and site_config_periods population logic.
  internal/db/migrations/000009_refactor_site_config.up.sql
Due: none

Stop requiring cosine error angle when creating sites
  internal/api/server.go
Due: format-go

[sql] remove PRAGMA statements for database configuration from schema.sql
  internal/db/schema.sql
Due: none

Update E2E tests to include cosine error angle and remove missing field test; adjust cosine correction tests for timestamp handling and site configuration periods.
  internal/api/generate_e2e_test.go
  internal/api/server_test.go
  internal/db/cosine_correction_test.go
  internal/db/site_config_period_test.go
  internal/db/site_test.go
Due: format-go

[go][sql] Enhance site configuration retrieval: add GetActiveSiteConfigPeriodForSite method and update related triggers and tests for site-specific active periods.
  internal/api/server.go
  internal/db/migrations/000009_refactor_site_config.up.sql
  internal/db/schema.sql
  internal/db/site_config_period.go
  internal/db/site_config_period_test.go
Due: format-go

[go][sql] optimize LEFT JOIN with site_config_periods for better performance and accuracy.
  internal/db/db.go
Due: format-go

[sql] lint queries in db.go
  internal/db/db.go
Due: format-go

[ai][docs] Add PCAP Analysis Mode documentation and API endpoints; update web interface for analysis mode support
  docs/features/pcap-analysis-mode.md
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[ai][docs] Update API endpoints in Lidar Monitor documentation; enhance clarity and add new functionalities
  internal/lidar/monitor/status.html
Due: none

[sql] lint + rename migrations
  internal/db/migrations/000009_create_lidar_tracks.down.sql
  internal/db/migrations/000009_create_lidar_tracks.up.sql
  internal/db/migrations/000010_create_lidar_analysis_runs.down.sql
  internal/db/migrations/000010_create_lidar_analysis_runs.up.sql
  internal/db/migrations/000010_create_lidar_tracks.down.sql
  internal/db/migrations/000010_create_lidar_tracks.up.sql
  internal/db/migrations/000011_create_lidar_analysis_runs.down.sql
  internal/db/migrations/000011_create_lidar_analysis_runs.up.sql
Due: none

[ai][docs] Add comprehensive documentation for LiDAR Tracking Integration, outlining current state, missing components, required integration work, and testing plans
  docs/features/lidar-tracking-integration.md
Due: none

[version] Bump version to 0.4.0-pre2 across all relevant files
  Makefile
  cmd/deploy/main.go
  docs/package.json
  web/package.json
Due: format-go, format-web

[go] Implement LiDAR tracking and classification pipeline; initialize components and update tracking logic
  cmd/radar/radar.go
Due: format-go

[ai][docs] Update LiDAR Tracking Integration documentation to reflect full integration status and pipeline connectivity
  docs/features/lidar-tracking-integration.md
Due: none

[go] Enhance logging for frame completion, foreground extraction, and clustering in radar processing
  cmd/radar/radar.go
Due: format-go

[go] Enhance logging in FrameBuilder for frame finalization and eviction processes
  internal/lidar/frame_builder.go
Due: format-go

[go] Add tracking API routes and update LiDAR monitor status page
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[make][sh] add schema-sync target to regenerate schema.sql from latest migrations
  Makefile
  scripts/sync-schema.sh
Due: none

[sql] sync schema
  internal/db/schema.sql
Due: none

[sql] reorder (sync script perfered order)
  internal/db/schema.sql
Due: none

[sql] lint
  internal/db/schema.sql
Due: none

[sql] add sql-formatter configuration and formatting script
  .sql-formatter.json
  scripts/format-sql.sh
Due: none

[js] update package.json to include sql-formatter as a devDependency with description
  package.json
Due: none

[sh] format schema.sql with sql-formatter after syncing
  scripts/sync-schema.sh
Due: none

[make] add SQL formatting target to Makefile
  Makefile
Due: none

[sql][sh] filter out sqlite_sequence table from schema export to prevent import errors
  internal/db/schema.sql
  scripts/sync-schema.sh
Due: none

[gitignore] add schema.sql.bak to .gitignore to prevent accidental commits
  .gitignore
Due: none

[db] initialize sites slice to empty instead of nil in GetAllSites function
  internal/db/site.go
Due: format-go

[ci] add step to clean Go cache directories in CI workflow
  .github/workflows/go-ci.yml
Due: none

[ci] update Go module cache cleanup steps to prevent permission errors
  .github/workflows/go-ci.yml
Due: none

CLI Architecture: Long-Term Vision & Implementation Plan (#155)
  docs/features/cli-comprehensive-guide.md
Due: none

[sql] format schema.sql after merge
  internal/db/schema.sql
Due: none

[sql] renumber site config migration from 000009 to 000012 to avoid conflict
  internal/db/migrations/000012_refactor_site_config.down.sql
  internal/db/migrations/000012_refactor_site_config.up.sql
Due: none

[sql] renumber branch migrations: 000010→000013 (angle_presets), 000012→000014 (refactor_site_config)
  internal/db/migrations/000013_create_angle_presets.down.sql
  internal/db/migrations/000013_create_angle_presets.up.sql
  internal/db/migrations/000014_refactor_site_config.down.sql
  internal/db/migrations/000014_refactor_site_config.up.sql
Due: none

[go] fix angle presets API: r.Path→r.URL.Path, s.writeJSON→json.NewEncoder
  internal/api/server.go
Due: format-go

[sql] regenerate schema.sql from migrations
  internal/db/schema.sql
Due: none

[sql] fix RAISE spacing to match migration
  internal/db/schema.sql
Due: none

fix: correct spacing in RAISE statement for prevent_system_preset_deletion trigger
  internal/db/schema.sql
Due: none

[py] lint
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/core/table_builders.py
Due: format-python
