Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[make] Add check for existing visualiser app before building DMG
  Makefile
Due: none

[sh] update notarytool auth handling for macOS 13+
  scripts/codesign-notarise.sh
Due: none

[ai][sh] Fix notary keychain path and remove unreliable DMG spctl check
  scripts/codesign-notarise.sh
Due: none

[ai][mac] Adapt notarisation to release DMG path
  .github/workflows/mac-ci.yml
  Makefile
  tools/visualiser-macos/BUILDING.md
Due: format-markdown

[ai][ci] Fix macOS workflow secret guards
  .github/workflows/mac-ci.yml
Due: none

[ai][mac] Document notarised release signing
  COMMANDS.md
  Makefile
  README.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/macos-local-server-plan.md
  docs/platform/operations/distribution-packaging.md
  tools/visualiser-macos/BUILDING.md
  tools/visualiser-macos/README.md
Due: format-markdown

[ci] Enhance DMG signing process with validation and unsigned handling
  .github/workflows/mac-ci.yml
Due: none

[docs] Clarify CI DMG output handling and update secrets documentation for signing process
  docs/DEVLOG.md
  tools/visualiser-macos/BUILDING.md
Due: format-markdown

[docs] Add verification command for downloaded DMGs in BUILDING.md
  COMMANDS.md
  tools/visualiser-macos/BUILDING.md
Due: format-markdown

[mac] Add DMG verification command to Makefile and scripts
  Makefile
  scripts/codesign-notarise.sh
Due: none

[mac] add code-signing and notarisation (#425)
  .github/workflows/mac-ci.yml
  COMMANDS.md
  Makefile
  README.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/macos-local-server-plan.md
  docs/platform/operations/distribution-packaging.md
  scripts/codesign-notarise.sh
  scripts/create-dmg.sh
  scripts/dmg-layout.applescript
  tools/visualiser-macos/BUILDING.md
  tools/visualiser-macos/README.md
Due: format-markdown

[ai][api][web] reconcile capabilities contract docs
  docs/plans/api-multi-sensor-capabilities-plan.md
  internal/api/server.go
  internal/api/server_admin.go
  web/src/lib/api.ts
Due: format-go, format-web, format-markdown

[ai][api][web] address capabilities review
  docs/plans/api-multi-sensor-capabilities-plan.md
  docs/plans/web-frontend-consolidation-plan.md
  docs/ui/web-frontend-consolidation.md
  internal/api/capabilities_test.go
  internal/api/server_admin.go
  web/src/lib/stores/capabilities.test.ts
  web/src/lib/stores/capabilities.ts
Due: format-go, format-web, format-markdown

Apply suggestions from code review
  docs/plans/api-multi-sensor-capabilities-plan.md
Due: format-markdown

[ai][docs] align capabilities release state
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/api-multi-sensor-capabilities-plan.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/plans/web-frontend-consolidation-plan.md
  docs/radar/cli-comprehensive-guide.md
  docs/ui/web-frontend-consolidation.md
Due: format-markdown

[docs] sort completed backlog items
  docs/BACKLOG.md
Due: format-markdown

[ai][docs] record capabilities smoke results
  docs/plans/api-multi-sensor-capabilities-plan.md
Due: format-markdown

[ai][docs] use British spelling in capabilities docs
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/ui/web-frontend-consolidation.md
Due: format-markdown

[go][js] update /api/capabilities 2️⃣ (#547)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/api-multi-sensor-capabilities-plan.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/plans/web-frontend-consolidation-plan.md
  docs/radar/cli-comprehensive-guide.md
  docs/ui/web-frontend-consolidation.md
  internal/api/capabilities_test.go
  internal/api/server.go
  internal/api/server_admin.go
  internal/cmd/server/capabilities.go
  internal/cmd/server/capabilities_test.go
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/stores/capabilities.test.ts
  web/src/lib/stores/capabilities.ts
  web/src/routes/+layout.svelte
Due: format-go, format-web, format-markdown

[go] enhance runtimeSerialSnapshot to support database configurations and improve error handling
  internal/cmd/server/radar.go
  internal/cmd/server/radar_test.go
Due: format-go

[go] add function to disable all serial configurations in radar tests
  internal/cmd/server/radar_test.go
Due: format-go

[js] add serial configuration reload functionality and UI integration
  web/src/lib/api.ts
  web/src/routes/settings/+page.svelte
Due: format-web

[docs] refine serial configuration implementation details and UI references; enhance startup behavior and apply functionality
  docs/plans/serial-configuration-implementation-plan.md
  docs/radar/architecture/serial-configuration-api.md
  docs/radar/architecture/serial-configuration-ui.md
  docs/radar/serial-config-quickref.md
Due: format-markdown

[ver] bump version to 0.5.1-pre27 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[serial] validate Pi rollout and refresh operations docs
  docs/BACKLOG.md
  docs/plans/serial-configuration-implementation-plan.md
  docs/radar/architecture/serial-configuration-api.md
  docs/radar/architecture/serial-configuration-ui.md
  docs/radar/operations/remote-host-upgrade-runbook.md
  docs/radar/serial-config-quickref.md
  scripts/release-radar-remote.py
  scripts/test_release_radar_remote.py
  web/src/lib/api.test.ts
Due: format-web, format-markdown

[test] isolate serial snapshot database fixtures
  internal/cmd/server/radar_test.go
Due: format-go

[docs] update serial configuration implementation plan: defer auto-detect and baud detection to v0.8.0; clarify UX completion status
  docs/BACKLOG.md
  docs/plans/serial-configuration-implementation-plan.md
Due: format-markdown

[go] fix serial setup, cli flag (#549)
  Makefile
  docs/BACKLOG.md
  docs/plans/serial-configuration-implementation-plan.md
  docs/radar/architecture/serial-configuration-api.md
  docs/radar/architecture/serial-configuration-ui.md
  docs/radar/operations/remote-host-upgrade-runbook.md
  docs/radar/serial-config-quickref.md
  internal/cmd/server/radar.go
  internal/cmd/server/radar_test.go
  scripts/release-radar-remote.py
  scripts/test_release_radar_remote.py
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/routes/settings/+page.svelte
Due: format-go, format-web, format-markdown

Harden static ARM64 release validation
  .github/workflows/build-image.yml
  .github/workflows/static-build-ci.yml
  Makefile
  image/Dockerfile.static-build
  image/Dockerfile.static-build.dockerignore
  image/stage-velocity/01-velocity-binaries/00-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-report.service
  internal/cmd/server/radar.go
  internal/cmd/server/selfcheck.go
  internal/cmd/server/selfcheck_nopcap.go
  internal/cmd/server/selfcheck_pcap.go
  internal/cmd/server/selfcheck_typst_embed.go
  internal/cmd/server/selfcheck_typst_external.go
  internal/ctl/manager.go
  internal/ctl/manager_test.go
  internal/db/migrate_check_test.go
  internal/lidar/l9endpoints/recorder/recorder.go
  scripts/build-radar-static.sh
  scripts/release-assets.sh
  scripts/smoke-test-static.sh
  scripts/test-static-arm64-vm.sh
  scripts/test-static-golden-pcap.sh
Due: format-go

[ai][sh][make][go] add fully-static linux builds via vendored libpcap
  .github/workflows/static-build-ci.yml
  .gitmodules
  CLAUDE.md
  Makefile
  docs/DECISIONS.md
  image/Dockerfile.static-build
  image/Dockerfile.static-build.dockerignore
  internal/cmd/server/radar.go
  internal/cmd/server/selfcheck.go
  internal/cmd/server/selfcheck_nopcap.go
  internal/cmd/server/selfcheck_pcap.go
  scripts/build-radar-static.sh
  scripts/smoke-test-static.sh
  third_party/libpcap-static/.gitignore
  third_party/libpcap-static/README.md
  third_party/libpcap-static/build.sh
  third_party/libpcap-static/toolchains/linux-amd64.cmake
  third_party/libpcap-static/toolchains/linux-arm64.cmake
  third_party/libpcap-static/toolchains/wrappers/amd64/zig-ar
  third_party/libpcap-static/toolchains/wrappers/amd64/zig-cc
  third_party/libpcap-static/toolchains/wrappers/amd64/zig-ranlib
  third_party/libpcap-static/toolchains/wrappers/arm64/zig-ar
  third_party/libpcap-static/toolchains/wrappers/arm64/zig-cc
  third_party/libpcap-static/toolchains/wrappers/arm64/zig-ranlib
  third_party/libpcap-static/toolchains/zig-ar.sh.in
  third_party/libpcap-static/toolchains/zig-cc.sh.in
  third_party/libpcap-static/toolchains/zig-ranlib.sh.in
Due: format-go, format-markdown

[sh] fix awk parsing in build script
  scripts/build-radar-static.sh
Due: none

Bound ARM VM guest readiness
  scripts/test-static-arm64-vm.sh
Due: none

Fix static release CI failures
  .github/workflows/static-build-ci.yml
  scripts/test-static-arm64-vm.sh
Due: none

[ver] bump version to 0.5.1-pre28 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

Add SHA256 checksum generation for velocity binary and enhance capability validation in ARM64 VM tests
  image/scripts/build-image.sh
  scripts/test-static-arm64-vm.sh
Due: none

[build] use static binary path for images
  .github/knowledge/build-and-test.md
  .github/workflows/build-image.yml
  .github/workflows/static-build-ci.yml
  Makefile
  docs/DECISIONS.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  image/Dockerfile.build
  image/README.md
  image/scripts/build-image.sh
  image/stage-velocity/00-install-packages/00-packages
  image/stage-velocity/06-cleanup/00-run.sh
  scripts/build-radar-static.sh
  scripts/release-assets.sh
  scripts/stage-image-binary.sh
  scripts/test_update_packaging.py
  scripts/verify-static-elf.sh
Due: format-markdown

[docs] update deployment tool references and update documentation for `velocity device` commands
  .github/copilot-instructions.md
  .github/knowledge/hardware.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/plans/binary-size-reduction-plan.md
  docs/plans/deploy-nginx-removal-plan.md
  docs/plans/qemu-arm64-pi-image-dev-vm-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
  docs/plans/setup-guide-publication-plan.md
  docs/platform/architecture/asset-naming.md
  docs/platform/operations/rpi-imager.md
  docs/radar/cli-comprehensive-guide.md
  docs/radar/operations/remote-host-upgrade-runbook.md
  image/README.md
  image/config
Due: format-markdown

[docs] udpate deployment documentation and plans for v0.5.1
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
Due: format-markdown

[build] add compact timestamp variable for consistent image builds
  image/scripts/build-image.sh
Due: none

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
