Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ai][go] cover NewManager's config defaulting
  internal/ctl/manager_coverage_test.go
Due: format-go

[ai][go] cover auto-tune suspend/resume guards
  internal/lidar/sweep/auto_state_coverage_test.go
Due: format-go

[ai][go] cover the real-time PCAP replay's config paths
  internal/lidar/l1packets/network/pcap_realtime_coverage_test.go
Due: format-go

[ai][go] cover the replay pacer's start offset and dynamic backoff
  internal/lidar/l1packets/network/pcap_realtime_coverage_test.go
Due: format-go

[go] add offline homepage support and corresponding test cases
  internal/cmd/server/radar.go
  internal/docsite/docsite.go
  internal/docsite/docsite_test.go
Due: format-go

[js] refactor URL handling in tests and layout for offline homepage and git repo docs
  web/src/lib/docsUrl.test.ts
  web/src/lib/docsUrl.ts
  web/src/routes/+layout.svelte
Due: format-web

[make] add build targets for offline homepage and verification of documentation build
  Makefile
Due: none

[public] update path handling for fonts and add URL prefix transformation for offline homepage
  public_html/.eleventy.js
  public_html/src/_layouts/homepage.njk
  public_html/src/css/fonts.css
Due: none

[img] update build scripts to replace documentation site build with offline homepage build
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
Due: none

[docs] update offline documentation to clarify site structure and build processes for embedded and public sites
  docs/platform/operations/offline-docs-site.md
  docs/ui/docs-site.md
Due: format-markdown

[go] update offline homepage handling to use PublicHTML constants
  internal/cmd/server/radar.go
  internal/docsite/docsite.go
  internal/docsite/docsite_test.go
Due: format-go

[docs] update documentation to correct public_html path references in offline docs
  docs/platform/operations/offline-docs-site.md
  docs/ui/docs-site.md
Due: format-markdown

[js] rename offlineHomepageUrl to offlinePublicHTMLUrl and update references
  web/src/lib/docsUrl.test.ts
  web/src/lib/docsUrl.ts
  web/src/routes/+layout.svelte
Due: format-web

[make] rename build-docs-homepage to build-docs-public-html and update related paths
  Makefile
Due: none

[img] update build scripts to use /public_html path for offline homepage
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
Due: none

[build] verify public HTML without ripgrep
  Makefile
  scripts/verify-public-html-build.py
Due: none

[ver] bump version to 0.5.1-pre30 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[js] reorder NavItem for offline homepage in layout
  web/src/routes/+layout.svelte
Due: format-web

[public] update npm-run-all commands to specify npm path in package.json
  public_html/package.json
Due: none

[ai][docs] add v0.5.1 backlog item for the Tailscale long-poll version parse
  docs/BACKLOG.md
Due: format-markdown

[ai][docs][make] fix dead label_store links, make PCAP coverage loss loud
  Makefile
  docs/plans/go-codebase-structural-hygiene-plan.md
  docs/platform/architecture/go-package-structure.md
Due: format-markdown

[ai][go][ci] make PCAP fixture replays opt-in, fix DNS and stub-race flakes
  .github/workflows/nightly-full-ci.yml
  Makefile
  internal/cmd/lidar/bench_test.go
  internal/cmd/lidar/split_test.go
  internal/cmd/server/selfcheck_test.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/pcapsplit/fixture_run_test.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/settlingeval/settlingeval_pcap_test.go
  internal/version/version_test.go
  scripts/test_check_go_coverage.py
Due: format-go

[ai][docs] add v0.5.1 items for the replay window and the pcapDone race
  docs/BACKLOG.md
Due: format-markdown

[img] embed complete offline docs site
  .dockerignore
  image/Dockerfile.static-build
  public_html/.eleventy.js
  scripts/verify-public-html-build.py
Due: none

[docs] render offline folder routes
  docs_html/.eleventy.js
  docs_html/src/folder-index.njk
  image/Dockerfile.static-build
  scripts/verify-docs-offline-build.sh
Due: none

[img] verify complete embedded docs tree
  image/Dockerfile.static-build
  scripts/stage-image-binary.sh
  scripts/write-embedded-docs-manifest.py
Due: none

[img] verify embedded docs runtime
  .dockerignore
  .github/workflows/static-build-ci.yml
  Makefile
  docs_html/.eleventy.js
  docs_html/src/_layouts/base.njk
  image/Dockerfile.static-build.dockerignore
  scripts/build-radar-static.sh
  scripts/stage-image-binary.sh
  scripts/verify-docs-source-case.py
  scripts/verify-embedded-docs-server.py
Due: none

[docs] update folder index template with HTML tags for title and description
  docs_html/src/folder-index.njk
Due: none
