Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] update speed mode handling and enhance frame timestamp tracking in analysis run
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
Due: format-go

[go] enhance PCAP replay logging and update speed mode selection in status dashboard
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/monitor/html/status.html
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] revert, add AvgSpeedMps to TrackExport and ClassStats; update computations and tests
  cmd/tools/pcap-analyse/stats_test.go
  internal/lidar/l5tracks/tracking_speed_test.go
Due: format-go

[go] enhance PCAP replay logging with backoff metrics and add replay epoch tracking
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/publisher.go
Due: format-go

[ai][go] add per-phase timing to PCAP backoff logging and SubLogger infrastructure
  internal/lidar/debug.go
  internal/lidar/l1packets/network/pcap_realtime.go
Due: format-go

[ai][go] batch track DB writes per frame; disable persistence during analysis replays
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[ai][go][sh][docs] rename PCAP speed modes fastest→analysis, fixed→scaled; remove fast mode
  data/explore/kirk0-lifecycle/sweep.sh
  docs/lidar/playback-speed-vs-track-quality.md
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/monitor/client.go
  internal/lidar/monitor/datasource.go
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/datasource_handlers_test.go
  internal/lidar/monitor/datasource_test.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/sweep/backend.go
  internal/lidar/sweep/runner.go
  scripts/perf/macos_profile_lidar.sh
Due: format-go, format-markdown

[ai][go] fix PCAP progress reporting and backoff log quality
  internal/lidar/l1packets/network/pcap.go
  internal/lidar/l1packets/network/pcap_realtime.go
Due: format-go

[ai][html] fix corrupted multiply sign in realtime speed option
  internal/lidar/monitor/html/status.html
Due: none

[docs] update schema simplification migration 000030 plan — refine layers and add related plans for coherent documentation
  docs/plans/schema-simplification-migration-030-plan.md
Due: format-markdown

[docs] add schema simplification migration 000030 — drop dead per-track percentile columns, remove always-NULL quality columns, rename peak_speed_mps to max_speed_mps
  docs/BACKLOG.md
  docs/plans/schema-simplification-migration-030-plan.md
Due: format-markdown

[ai][go] remove P50SpeedMps test assertions (percentile fields dropped from this branch)
  internal/lidar/l5tracks/tracking_speed_test.go
Due: format-go

[mac] adjust initial dispatch time for frame delivery in VisualiserClient
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: format-mac

[go] enhance track persistence logic, skip transaction when no confirmed tracks exist
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[go] remove percentile fields from TrackExport and related functions, streamline data structure and calculations
  cmd/tools/pcap-analyse/main.go
  cmd/tools/pcap-analyse/stats_test.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/analysis_run_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/storage/sqlite/types.go
  web/src/lib/types/lidar.ts
Due: format-go, format-web

[ver] bump version to 0.5.0-pre16 across multiple files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[ai][go] add coverage tests for PR #352 uncovered lines
  internal/lidar/debug_test.go
  internal/lidar/monitor/client_test.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/sweep/runner_test.go
  internal/lidar/sweep/sampler_test.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/publisher_test.go
Due: format-go

[go] prevent deadlock during blocking sends in finalizeFrame method
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_coverage_test.go
Due: format-go

[docs] refine quality impact explanation for frame drops in playback speed documentation
  docs/lidar/playback-speed-vs-track-quality.md
Due: format-markdown

[go] add heap memory allocation tracking to benchmark health logging
  internal/lidar/pipeline/tracking_pipeline.go
Due: format-go

[mac] improve performance logging by adjusting time calculation for frame processing
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: format-mac

[go] update BACKLOG.md with detailed descriptions for visualiser performance metrics, PCAP analysis replay hardening, benchmark mode, and occlusion aggregate metrics
  docs/BACKLOG.md
Due: format-markdown

[go] adjust start threshold logic in ReadPCAPFile for better baseline handling
  internal/lidar/l1packets/network/pcap.go
Due: format-go

[docs] update backlog
  docs/BACKLOG.md
Due: format-markdown

[go] optimize frame processing in blocking mode by bypassing buffer for analysis replay
  internal/lidar/l2frames/frame_builder.go
Due: format-go

[docs] add VRLOG analysis report specification for track quality and statistics
  docs/data/VRLOG_ANALYSIS.md
Due: format-markdown

[go] add analyse-vrlog command for generating and comparing analysis reports from .vrlog recordings
  cmd/tools/analyse-vrlog/main.go
Due: format-go

[proto] rename peak_speed_mps to max_speed_mps in Track message for clarity
  proto/velocity_visualiser/v1/visualiser.proto
Due: none

[go] Refactor speed attributes in classification and tracking modules
  cmd/tools/pcap-analyse/main.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_speed_test.go
  internal/lidar/l6objects/classification.go
  internal/lidar/l6objects/classification_test.go
  internal/lidar/l6objects/features.go
  internal/lidar/l6objects/features_test.go
  internal/lidar/monitor/run_track_api_coverage_test.go
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/track_api.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
  internal/lidar/storage/sqlite/analysis_run_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/storage/sqlite/track_store_extended_test.go
  internal/lidar/storage/sqlite/track_store_test.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/model_test.go
  internal/lidar/visualiser/object_class_conversion_test.go
  internal/lidar/visualiser/pb/visualiser.pb.go
Due: format-go

[mac] Refactor speed metrics in VelocityVisualiserTests
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ExtractedHelpersTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ModelExtendedTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunTrackLabelAPIClientTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/VisualiserClientTests.swift
Due: format-mac

[js] rename peak_speed_mps to max_speed_mps for clarity in Track and TrackObservation interfaces
  web/src/lib/api.test.ts
  web/src/lib/types/lidar.ts
Due: format-web

[docs] update backlog to reflect proto field rename from peak_speed_mps to max_speed_mps and defer SQL column migration
  docs/BACKLOG.md
Due: format-markdown

[go] validate speed_mode in handlePCAPStart and add tests for invalid modes
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
Due: format-go

[mac] rename shortHexId to shortIdPrefix for clarity in AnalysisRun and related tests
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
Due: format-mac

[go] stop VRLOG replay before starting PCAP and reset replay mode for visualiser
  cmd/radar/radar.go
Due: format-go

[mac] detect replay source change and clear track state on epoch advancement
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: format-mac

[go] update distribution statistics in analysis report and improve speed calculations
  cmd/tools/analyse-vrlog/main.go
  docs/data/VRLOG_ANALYSIS.md
Due: format-go, format-markdown

[go] update occlusion metrics in TrackSummary and VRLOG analysis documentation
  cmd/tools/analyse-vrlog/main.go
  docs/data/VRLOG_ANALYSIS.md
Due: format-go, format-markdown

[go] implement report generation and comparison functionality
  cmd/tools/analyse-vrlog/main.go
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/doc.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
Due: format-go

[go] update SpeedHistogram to use DistStats for percentiles and improve speed percentile calculation
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
Due: format-go
