Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[mac] update application name from "VelocityReport" to "VelocityVisualiser" in About panel and window titles for consistency
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
Due: format-mac

Update DS role description
  CONTRIBUTING.md
Due: format-markdown

[mac] consolidate column headers and run list into a single ScrollView for consistent padding
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[go] add immediate background frame emission in StartVRLogReplay and corresponding tests
  internal/lidar/visualiser/publisher.go
  internal/lidar/visualiser/publisher_test.go
Due: format-go

[docs] edit CONTRIBUTING.md
  CONTRIBUTING.md
Due: format-markdown

[docs] update layer status for L8-L10 to indicate pending moves in LiDAR Data Layer Model
  docs/lidar/architecture/lidar-data-layer-model.md
Due: format-markdown

[docs] udpate CONTRIBUTING.md (#399)
  CONTRIBUTING.md
Due: format-markdown

[mac] adjust row inset and header alignment for improved layout consistency
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] adjust RunBrowser layout dimensions for improved UI consistency
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] adjust RunBrowser layout dimensions for improved consistency
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] update RunBrowser layout
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] adjust padding in RunBrowser layout for improved spacing
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] refactor RunBrowserHeaderRow layout
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] update RunBrowser layout to integrate sticky header in scrollable list
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] update RunBrowser layout to implement sticky header and simplify height calculation
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] update AboutView content to enhance descriptions and clarify platform purpose
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
Due: format-mac

[mac] update AboutView to add 'Privacy by Design' section and remove duplicate entry
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
Due: format-mac

[mac] refactor AppState and RunBrowser components for improved state management and UI responsiveness
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/RunBrowserState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] refactor AppState and RunBrowserView for improved playback state management and performance
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] update RunBrowserView to prevent phantom tap events during initial layout
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[mac] refactor RunBrowserView to improve interaction handling and eliminate phantom tap events
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[go] fix: prevent deadlock in VRLOG replay by releasing lock before emitting background frame
  internal/lidar/visualiser/publisher.go
Due: format-go

[mac] refactor RunBrowserView to replace VStack with LazyVStack for improved performance and eliminate phantom tap events
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: format-mac

[js] rename LiDAR scene functions to use 'replayCase' terminology for consistency
  internal/lidar/monitor/assets/sweep_dashboard.js
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/routes/lidar/replay-cases/+page.svelte
  web/src/routes/lidar/runs/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[go] update terminology from 'scene' to 'replay case' for consistency in HINTTuner and tests
  internal/lidar/sweep/hint.go
  internal/lidar/sweep/hint_coverage_test.go
  internal/lidar/visualiser/publisher.go
Due: format-go

[js] update terminology from 'scene' to 'replay case' in sweep_dashboard tests for consistency
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-web

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

test(proto_codec): align formatting in TestSerializeDeserialize_FullFrame
  internal/lidar/visualiser/recorder/proto_codec_test.go
Due: format-go

Apply suggestions from code review
  internal/lidar/monitor/sweep_handlers_suspend_test.go
  internal/lidar/visualiser/recorder/proto_codec_test.go
Due: format-go

[go] test(proto_codec): align formatting in TestSerializeDeserialize_FullFrame
  internal/lidar/visualiser/recorder/proto_codec_test.go
Due: format-go

[go] refactor(tests): remove redundant tests for MaxSpeedMps and LegacyPeakSpeedMps
  internal/lidar/visualiser/model_unmarshal_test.go
Due: format-go

[go] refactor(tests): update table name in suspended sweep tests to lidar_tuning_sweeps
  internal/lidar/monitor/sweep_handlers_suspend_test.go
Due: format-go

[sql] synch schema to migration
  internal/db/schema.sql
Due: format-sql

[docs] fix formatting and alignment in CONTRIBUTING.md
  CONTRIBUTING.md
Due: format-markdown

[go] tests: add UnregisterFrameBuilder to cleanup in ResetGrid test
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/monitor/direct_backend_coverage_test.go
Due: format-go

Apply suggestions from code review
  docs/plans/go-codebase-structural-hygiene-plan.md
  docs/plans/go-structured-logging-plan.md
Due: format-markdown

[docs] god plan split + lint
  CONTRIBUTING.md
  docs/plans/go-codebase-structural-hygiene-plan.md
  docs/plans/go-god-file-split-plan.md
  docs/plans/go-structured-logging-plan.md
Due: format-markdown

Apply suggestions from code review
  docs/plans/go-codebase-structural-hygiene-plan.md
  docs/plans/go-god-file-split-plan.md
  docs/plans/go-structured-logging-plan.md
Due: format-markdown

[docs] go cleanup plans (#402)
  CONTRIBUTING.md
  docs/plans/go-codebase-structural-hygiene-plan.md
  docs/plans/go-god-file-split-plan.md
  docs/plans/go-structured-logging-plan.md
Due: format-markdown
