Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[docs] update section title from "PCAP Mode Usage" to "PCAP Replay Workflow" for clarity
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] update data source switching plan to clarify new HTTP endpoints and handler flows
  internal/lidar/docs/DATA-SOURCE-SWITCHING-PLAN.md
Due: none

[make] remove deprecated dev-go-pcap target and enhance PCAP replay with runtime data source switching
  Makefile
Due: none

[go] streamline lidar data source management and enhance web server API for status reporting
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
Due: format-go

refactor: enhance PCAP replay functions with retry logic and add stop functionality
  cmd/sweep/main.go
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-go, format-python

[sh] implement data source switching and enhance PCAP control scripts with base URL support
  scripts/api/lidar/README.md
  scripts/api/lidar/get_status.sh
  scripts/api/lidar/start_pcap.sh
  scripts/api/lidar/stop_pcap.sh
  scripts/api/lidar/switch_data_source.sh
Due: none

enhance status page: add PCAP replay controls and display PCAP file information
  internal/lidar/monitor/status.html
Due: none

[docs] update README for PCAP replay mode and runtime switching instructions
  cmd/radar/README.md
Due: none

[docs] enhance documentation: update PCAP mode details and clarify runtime source switching
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[go] enhance UDP listener startup: add error handling and timeout for listener initialization
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enhance UDP listener startup: improve error handling and timeout management
  internal/lidar/monitor/webserver.go
Due: format-go

[py] enhance PCAP replay error handling: include attempt count in error messages
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[go] enhance security: add isPathWithinDirectory function to prevent directory traversal attacks and implement tests
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
Due: format-go

[html] improve layout and formatting of configuration and background parameters sections in status.html
  internal/lidar/monitor/status.html
Due: none

[go] enhance PCAP request handling: support both JSON and form data for pcap_file input
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
Due: format-go

[go] enhance handlePCAPStop: improve locking mechanism to prevent deadlocks
  internal/lidar/monitor/webserver.go
Due: format-go

[go] add early return on live listener restart failure
  internal/lidar/monitor/webserver.go
Due: format-go

[ai] Apply suggestions from code review
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-python

[docs] add performance optimization plan for chart loading
  web/docs/CHART_PERFORMANCE_OPTIMIZATION.md
Due: none

[build] add environment variables for git SHA and build time in scripts and HTML
  web/docs/CHART_PERFORMANCE_OPTIMIZATION.md
  web/package.json
  web/src/app.html
Due: format-web

[docs] remove outdated chart performance optimization plan
  web/docs/CHART_PERFORMANCE_OPTIMIZATION.md
Due: none

[build] refactor build scripts to use dedicated environment setup and copy logic
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/copy-build.js
  web/scripts/set-build-env.js
Due: format-web

[build] enhance copy-build script to read and copy individual files from build directory
  web/scripts/copy-build.js
Due: format-web

[ai] update web/scripts/set-build-env.js
  web/scripts/set-build-env.js
Due: format-web

[js] add GIT SHA & Build time to HTML meta (#56)
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/copy-build.js
  web/scripts/set-build-env.js
  web/src/app.html
Due: format-web

[go] move lidar pcap/live flag to API from CLI (#55)
  Makefile
  cmd/radar/README.md
  cmd/radar/radar.go
  cmd/sweep/main.go
  internal/lidar/docs/DATA-SOURCE-SWITCHING-PLAN.md
  internal/lidar/docs/lidar_sidecar_overview.md
  internal/lidar/monitor/status.html
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
  scripts/api/lidar/README.md
  scripts/api/lidar/get_status.sh
  scripts/api/lidar/start_pcap.sh
  scripts/api/lidar/stop_pcap.sh
  scripts/api/lidar/switch_data_source.sh
  tools/grid-heatmap/plot_grid_heatmap.py
Due: format-go, format-python

[ci] remove steps for installing system dependencies and building web assets in CI workflow
  .github/workflows/go-ci.yml
Due: none

[ci] include go-ci.yml in pull request triggers
  .github/workflows/go-ci.yml
Due: none

[ci] update workflows to trigger on push to main branch only
  .github/workflows/go-ci.yml
  .github/workflows/python-tests.yml
  .github/workflows/web-tests.yml
Due: none

[ci] update CI workflows to trigger only on pull requests for Go, Python, and Web files
  .github/workflows/go-ci.yml
  .github/workflows/python-tests.yml
  .github/workflows/web-tests.yml
Due: none

Revert "[ci] remove steps for installing system dependencies and building web assets in CI workflow"
  .github/workflows/go-ci.yml
Due: none

[ci] fix duplicate runs (#53)
  .github/workflows/go-ci.yml
  .github/workflows/python-tests.yml
  .github/workflows/web-tests.yml
Due: none

[make] add installation and development commands for docs and web
  Makefile
Due: none

[make] update Makefile for consistent naming and backward compatibility
  Makefile
Due: none

[docs] update PDF generator setup commands for clarity and consistency
  README.md
Due: none

[docs] update README for clarity in setup commands and configuration details
  tools/pdf-generator/README.md
Due: none

[make] remove backward-compatible aliases from Makefile for clarity and maintenance
  Makefile
Due: none

[make] rename Makefile targets for clarity and consistency
  Makefile
  README.md
  internal/lidar/docs/devlog.md
  internal/lidar/docs/lidar_sidecar_overview.md
Due: none

[docs] enhance README with detailed Make targets and usage instructions
  Makefile
  README.md
Due: none

[make] add build-web target to Makefile and update README with new target description
  Makefile
  README.md
Due: none
