Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[img] update build scripts to use /public_html path for offline homepage
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
Due: none

[img] embed complete offline docs site
  .dockerignore
  image/Dockerfile.static-build
  public_html/.eleventy.js
  scripts/verify-public-html-build.py
Due: none

[docs] render offline folder routes
  docs_html/.eleventy.js
  docs_html/src/folder-index.njk
  image/Dockerfile.static-build
  scripts/verify-docs-offline-build.sh
Due: none

[js] reorder NavItem for offline homepage in layout
  web/src/routes/+layout.svelte
Due: format-web

[ver] bump version to 0.5.1-pre30 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[img] verify embedded docs runtime
  .dockerignore
  .github/workflows/static-build-ci.yml
  Makefile
  docs_html/.eleventy.js
  docs_html/src/_layouts/base.njk
  image/Dockerfile.static-build.dockerignore
  scripts/build-radar-static.sh
  scripts/stage-image-binary.sh
  scripts/verify-docs-source-case.py
  scripts/verify-embedded-docs-server.py
Due: none

[public] update npm-run-all commands to specify npm path in package.json
  public_html/package.json
Due: none

[img] verify complete embedded docs tree
  image/Dockerfile.static-build
  scripts/stage-image-binary.sh
  scripts/write-embedded-docs-manifest.py
Due: none

[docs] update folder index template with HTML tags for title and description
  docs_html/src/folder-index.njk
Due: none

[go] update Run function calls to use Config struct for better clarity and maintainability
  internal/lidar/pcapsplit/fixture_run_test.go
  internal/lidar/settlingeval/error_test.go
  internal/lidar/settlingeval/integration_test.go
  internal/lidar/settlingeval/settlingeval_pcap_test.go
Due: format-go

[go] add start and duration parameters for PCAP replay in lidar commands
  internal/cmd/lidar/bench.go
  internal/cmd/lidar/bench_test.go
  internal/cmd/lidar/settling.go
  internal/cmd/lidar/split.go
  internal/cmd/lidar/split_test.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/server.go
  internal/lidar/settlingeval/settlingeval.go
  internal/lidar/settlingeval/settlingeval_test.go
Due: format-go

[ci] update LiDAR test commands to improve clarity and execution time
  .github/workflows/nightly-full-ci.yml
  Makefile
Due: none

[docs] add start and duration parameters for PCAP replay in performance regression testing
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/operations/performance-regression-testing.md
Due: format-markdown

[docs] update offline documentation index for clarity and structure
  docs_html/.eleventy.js
  docs_html/src/index.md
Due: format-markdown

[sh] improve link validation logic in offline docs checker
  scripts/check-docs-offline-links.js
Due: none

[docs] clarify repository source link resolution and build metadata in offline docs
  docs/platform/operations/offline-docs-site.md
Due: format-markdown

[docs] add TENET 7: cohesive releases
  TENETS.md
Due: format-markdown

[docs] add TENET 7️⃣ cohesive releases (#556)
  TENETS.md
Due: format-markdown

[docs] add link validation scripts for offline documentation integrity
  docs/platform/operations/offline-docs-site.md
Due: format-markdown

[fix] update GitHub URL handling and improve documentation link resolution
  docs_html/.eleventy.js
Due: none

[test] enhance offline documentation testing and validation framework
  Makefile
  docs_html/package.json
  docs_html/test/check-offline-links.test.js
  docs_html/test/offline-link-resolver.test.js
  scripts/check-docs-offline-links.js
  scripts/test_verify_embedded_docs_server.py
  scripts/verify-embedded-docs-server.py
Due: none

[ci] add tests for offline documentation and Python scripts in CI workflow
  .github/workflows/docs-offline-ci.yml
Due: none

[js] update navigation item text and remove offline homepage link
  web/src/routes/+layout.svelte
Due: format-web

[build] use native static build toolchains
  image/Dockerfile.static-build
Due: none

[test] isolate offline docs folder pages
  docs_html/test/offline-link-resolver.test.js
Due: none

[web] remove stale homepage URL binding
  web/src/routes/+layout.svelte
Due: format-web

[img] mount custom pi-gen stage inputs
  image/scripts/build-image.sh
  scripts/test_update_packaging.py
Due: none

[docs] add live docs 404 spider
  .github/workflows/docs-offline-ci.yml
  Makefile
  scripts/spider-docs-404s.py
  scripts/test_spider_docs_404s.py
Due: none

[ai][make] create docs symlinks before offline docs tests
  Makefile
Due: none

[img] serve homepage offline (#553)
  .dockerignore
  .github/workflows/docs-offline-ci.yml
  .github/workflows/static-build-ci.yml
  Makefile
  docs/platform/operations/offline-docs-site.md
  docs/ui/docs-site.md
  docs_html/.eleventy.js
  docs_html/package.json
  docs_html/src/_layouts/base.njk
  docs_html/src/folder-index.njk
  docs_html/src/index.md
  docs_html/test/check-offline-links.test.js
  docs_html/test/offline-link-resolver.test.js
  image/Dockerfile.static-build
  image/Dockerfile.static-build.dockerignore
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  internal/cmd/server/radar.go
  internal/docsite/docsite.go
  internal/docsite/docsite_test.go
  public_html/.eleventy.js
  public_html/package.json
  public_html/src/_layouts/homepage.njk
  public_html/src/css/fonts.css
  scripts/build-radar-static.sh
  scripts/check-docs-offline-links.js
  scripts/spider-docs-404s.py
  scripts/stage-image-binary.sh
  scripts/test_spider_docs_404s.py
  scripts/test_update_packaging.py
  scripts/test_verify_embedded_docs_server.py
  scripts/verify-docs-offline-build.sh
  scripts/verify-docs-source-case.py
  scripts/verify-embedded-docs-server.py
  scripts/verify-public-html-build.py
  scripts/write-embedded-docs-manifest.py
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/src/lib/docsUrl.test.ts
  web/src/lib/docsUrl.ts
  web/src/routes/+layout.svelte
Due: format-go, format-web, format-markdown

[go] clarify replay duration defaults
  docs/lidar/operations/pcap-analysis-mode.md
  internal/cmd/lidar/bench.go
  internal/cmd/lidar/settling.go
  internal/cmd/lidar/split.go
Due: format-go, format-markdown

[go] normalise replay duration handling in benchmark and analysis functions
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/fixture_run_test.go
Due: format-go

[go] Add support for settling before recording in PCAP replay
  docs/lidar/operations/pcap-analysis-mode.md
  internal/cmd/lidar/applet_test.go
  internal/cmd/lidar/split_test.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l2frames/frame_builder_close_flush_test.go
  internal/lidar/l3grid/background_persistence.go
  internal/lidar/l3grid/background_persistence_test.go
  internal/lidar/l9endpoints/l10clients/html/status.html
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/fixture_run_test.go
  internal/lidar/pcapsplit/split_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/server/client.go
  internal/lidar/server/client_coverage_test.go
  internal/lidar/server/client_test.go
  internal/lidar/server/datasource.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/settlingeval/error_test.go
  internal/lidar/settlingeval/settlingeval.go
Due: format-go, format-markdown

[py] Enhance import_paths_for_patterns to support build tags and update tests accordingly
  scripts/check_changed_go_coverage.py
  scripts/test_changed_go_coverage.py
Due: none

[ai][go] Migrate lidar server state fields to PipelineState
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/server/datasource_handlers_test.go
  internal/lidar/server/direct_backend_test.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/pipeline_state_helpers_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/playback_handlers_coverage_extra_test.go
  internal/lidar/server/scene_api_coverage_test.go
  internal/lidar/server/server.go
  internal/lidar/server/state.go
  internal/lidar/server/status.go
  internal/lidar/server/tuning_runtime_test.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/server/webserver_test.go
Due: format-go

[ai][go] Add PipelineState as the single lidar pipeline state store
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/pipeline_state_test.go
  internal/lidar/server/server.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
