Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go][js] Address RLHF review feedback: fix gating distance and JS declaration order (#273)
  config/tuning.defaults.json
  internal/config/tuning_test.go
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/client_test.go
  internal/lidar/network/listener.go
  internal/lidar/network/listener_coverage_test.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/auto_coverage_test.go
  internal/lidar/sweep/auto_test.go
  internal/lidar/sweep/rlhf.go
  internal/lidar/sweep/rlhf_coverage_test.go
  internal/lidar/sweep/rlhf_test.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/runner_coverage_test.go
  internal/lidar/sweep/runner_test.go
  internal/lidar/tracking_test.go
  internal/lidar/visualiser/vrlog_test.go
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
Due: format-go, format-mac

[js] enhance auto-tune result handling: display error messages and recommendations for completed or errored states
  internal/lidar/monitor/assets/sweep_dashboard.js
Due: none

[mac] add background grid points toggle and update related rendering logic
  internal/lidar/monitor/webserver.go
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/MetalRendererTests.swift
Due: format-go, format-mac

[mac] Update MetalViewRepresentable tests to include showBackground property
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
Due: format-mac

[go] add support for enabling/disabling VRLOG recording during PCAP replays
  cmd/radar/radar.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/backend.go
  internal/lidar/sweep/runner.go
Due: format-go

[docs] Format JSON parameter entries for consistency in documentation
  docs/lidar/operations/parameter-comparison.md
  docs/lidar/troubleshooting/pipeline-diagnosis.md
Due: format-markdown

[config] Add new sweep configuration for overnight Kalman noise tuning and update default tuning parameters
  config/sweep-overnight-10h.json
  config/tuning.defaults.json
Due: none

[docs][js][go] RLHF -> HINT
  ARCHITECTURE.md
  cmd/radar/radar.go
  docs/plans/hint-sweep-mode.md
  docs/plans/industry-standard-ml-solver-expansion-plan.md
  internal/lidar/monitor/assets/sweep_dashboard.css
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/sweep_handlers_coverage_test.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/hint.go
  internal/lidar/sweep/hint_coverage_test.go
  internal/lidar/sweep/hint_test.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/schema_contracts.go
  web/src/lib/__tests__/sweep_dashboard.test.ts
  web/src/lib/api.ts
  web/src/routes/lidar/sweeps/+page.svelte
Due: format-go, format-web, format-markdown

[go] refine determinism tests by adjusting floating point tolerances and using a fixed reference time for consistent timestamps
  internal/lidar/golden_replay_test.go
Due: format-go

[go] update test configurations for ClosenessSensitivity, SafetyMargin, NeighborConfirmation, and NoiseRelativeFraction in background config tests; adjust HitsToConfirm in tracker config tests
  internal/lidar/config_test.go
  internal/lidar/tracking_test.go
Due: format-go

[go] refactor tests to enforce structural validation on configuration parameters across tuning, analysis, and tracking modules
  internal/config/tuning_test.go
  internal/lidar/analysis_run_test.go
  internal/lidar/config_test.go
  internal/lidar/tracking_test.go
Due: format-go

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] Refactor Phase B and C backlog summary for clarity and consistency in documentation
  docs/plans/industry-standard-ml-solver-expansion-plan.md
Due: format-markdown

docs: add comprehensive garbage-tracks pipeline review
  docs/lidar/troubleshooting/garbage-tracks-review-20260216.md
Due: format-markdown

Apply suggestions from code review
  docs/lidar/troubleshooting/garbage-tracks-review-20260216.md
Due: format-markdown

[docs] LiDAR 6-layer model (#277)
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/lidar/terminology.md
Due: format-markdown

[go][mac] enhance data clearing functionality and improve chunk size limit for LiDAR processing
  internal/lidar/visualiser/recorder/recorder.go
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-go, format-mac

[go] add height band filtering parameters to tuning configuration and update related documentation
  cmd/radar/radar.go
  config/README.md
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/lidar/operations/parameter-comparison.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  docs/lidar/troubleshooting/pipeline-diagnosis.md
  internal/config/tuning.go
  internal/config/tuning_test.go
  internal/lidar/ground.go
  internal/lidar/ground_test.go
  internal/lidar/tracking_pipeline.go
  internal/lidar/tracking_pipeline_coverage_test.go
Due: format-go, format-markdown

[mac] add track filtering functionality and separate filter pane in UI
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go][js] enhance tracking and visualization pipeline
  config/tuning.defaults.json
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  docs/lidar/troubleshooting/garbage-tracks-review-20260216.md
  internal/lidar/frame_builder.go
  internal/lidar/golden_replay_test.go
  internal/lidar/track_store.go
  internal/lidar/track_store_extended_test.go
  internal/lidar/tracking.go
  internal/lidar/tracking_test.go
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/components/lidar/MapPane.svelte
Due: format-go, format-web, format-mac, format-markdown

[mac] enhance filtering capabilities in the visualiser with new parameters and UI adjustments
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[mac] improve hit testing and add dual-handle range slider for filtering
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: format-mac

[go] add suspend and resume functionality for auto-tune sweeps
  config/sweep-velocity-jitter-10h.json
  internal/db/migrations/000027_add_sweep_checkpoint.down.sql
  internal/db/migrations/000027_add_sweep_checkpoint.up.sql
  internal/lidar/monitor/assets/common.css
  internal/lidar/monitor/assets/status_dashboard.css
  internal/lidar/monitor/assets/sweep_dashboard.css
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/auto_coverage_test.go
  internal/lidar/sweep/hint_test.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/runner_coverage_test.go
  internal/lidar/sweep_store.go
  internal/lidar/visualiser/grpc_server.go
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: format-go, format-web, format-sql

[ver] bump version to 0.5.0-pre9 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

Draft lidar labelling improvements
  docs/lidar/README.md
  docs/lidar/visualiser/06-labelling-qc-enhancements-overview.md
  docs/lidar/visualiser/07-track-quality-score.md
  docs/lidar/visualiser/08-track-event-timeline-bar.md
  docs/lidar/visualiser/09-split-merge-repair-workbench.md
  docs/lidar/visualiser/10-trails-and-uncertainty-visualisation.md
  docs/lidar/visualiser/11-physics-checks-and-confirmation-gates.md
  docs/lidar/visualiser/12-priority-review-queue.md
  docs/lidar/visualiser/13-qc-dashboard-and-audit-export.md
Due: format-markdown

[go][js] enhance LiDAR tracking with per-frame OBB dimensions and improved heading handling
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  internal/lidar/monitor/track_api.go
  internal/lidar/tracking.go
  internal/lidar/tracking_pipeline.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/model.go
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/types/lidar.ts
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web, format-markdown

Apply suggestions from code review
  docs/lidar/visualiser/06-labelling-qc-enhancements-overview.md
  docs/lidar/visualiser/08-track-event-timeline-bar.md
  docs/lidar/visualiser/09-split-merge-repair-workbench.md
  docs/lidar/visualiser/10-trails-and-uncertainty-visualisation.md
  docs/lidar/visualiser/11-physics-checks-and-confirmation-gates.md
  docs/lidar/visualiser/12-priority-review-queue.md
Due: format-markdown

[docs] LiDAR labeling QC enhancements (#278)
  docs/lidar/README.md
  docs/lidar/visualiser/06-labelling-qc-enhancements-overview.md
  docs/lidar/visualiser/07-track-quality-score.md
  docs/lidar/visualiser/08-track-event-timeline-bar.md
  docs/lidar/visualiser/09-split-merge-repair-workbench.md
  docs/lidar/visualiser/10-trails-and-uncertainty-visualisation.md
  docs/lidar/visualiser/11-physics-checks-and-confirmation-gates.md
  docs/lidar/visualiser/12-priority-review-queue.md
  docs/lidar/visualiser/13-qc-dashboard-and-audit-export.md
Due: format-markdown

[go] add resume functionality for suspended sweeps and UI updates for handling state after server restarts
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/sweep_handlers_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/auto_coverage_test.go
  internal/lidar/sweep/hint_test.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/runner_coverage_test.go
  internal/lidar/sweep_store.go
Due: format-go, format-markdown

[go][js] enhance LiDAR processing with cluster size filtering, track pruning, and classification updates
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  internal/lidar/clustering.go
  internal/lidar/clustering_test.go
  internal/lidar/track_store.go
  internal/lidar/tracker_interface.go
  internal/lidar/tracking.go
  internal/lidar/tracking_pipeline.go
  internal/lidar/tracking_pipeline_coverage_test.go
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/types/lidar.ts
  web/src/routes/lidar/tracks/+page.svelte
Due: format-go, format-web, format-markdown

[docs] lidar refactor plans
  docs/lidar/architecture/arena-go-deprecation-and-layered-type-layout-design-20260217.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review-20260217.md
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
  docs/plans/prioritized-upcoming-work-from-docs-20260217.md
Due: format-markdown

[docs] lidar refactor plans (#279)
  docs/lidar/architecture/arena-go-deprecation-and-layered-type-layout-design-20260217.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review-20260217.md
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
  docs/plans/prioritized-upcoming-work-from-docs-20260217.md
Due: format-markdown

[go] enhance tuning configuration and tracking parameters
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  internal/config/tuning.go
  internal/config/tuning_test.go
  internal/lidar/analysis_run.go
  internal/lidar/classification.go
  internal/lidar/clustering.go
  internal/lidar/clustering_test.go
  internal/lidar/dbscan_clusterer.go
  internal/lidar/monitor/webserver.go
  internal/lidar/tracker_interface.go
  internal/lidar/tracking.go
  internal/lidar/tracking_extended_test.go
  internal/lidar/tracking_pipeline.go
  internal/lidar/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_test.go
  internal/lidar/visualiser/adapter.go
Due: format-go

[go] enhance LiDAR tracking with minimum observations for classification and update related components
  cmd/radar/radar.go
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  internal/lidar/classification.go
  internal/lidar/golden_replay_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/auto_test.go
  internal/lidar/track_store.go
  internal/lidar/track_store_extended_test.go
  internal/lidar/tracking.go
Due: format-go, format-markdown

[js] add eslint directive to prevent infinite reactive loop warning for foregroundLoading
  web/src/routes/lidar/tracks/+page.svelte
Due: format-web

[sql] sync schema
  internal/db/schema.sql
Due: format-sql

[docs] init DESIGN.md; frontend design language doc
  DESIGN.md
Due: format-markdown
