Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ai][mac] follow one object through a pack: paint, carry, nudge, save
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationFrameSync.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationPack.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationPalette.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationViewState.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/SelectionFootprint.swift
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/Shaders/PointCloud.metal
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationObjectFlowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSessionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewportInputTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/BrushSelectionTests.swift
Due: format-mac

[ai][go] carry the settled background in a pack, in the order it was recorded
  internal/lidar/annotation/export.go
  internal/lidar/annotation/export_test.go
  internal/lidar/annotation/pack.go
  internal/lidar/annotation/swift_fixture_test.go
Due: format-go

[ai][mac] show the settled background, how much of a frame is done, and whose object it is
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationCompleteness.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationFrameSync.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationPack.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationPalette.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/Shaders/PointCloud.metal
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationBackgroundTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationObjectFlowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSessionTests.swift
Due: format-mac

[ai][docs] say what a pack carries, and how its background is ordered
  internal/lidar/annotation/README.md
Due: format-markdown

[ai][mac] let a review reach the masks, so that labelled frames count
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationReviewTests.swift
Due: format-mac

[ai][mac] carry a mask through the frames unattended, and stop where a person is needed
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/MaskPropagation.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/SelectionFootprint.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/MaskPropagationTests.swift
Due: format-mac

[ai][mac] propose the objects in a pack, fixed and moving, to be graded once each
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationPack.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/MaskPropagation.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ObjectProposer.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/SelectionFootprint.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiserTests/ObjectProposerTests.swift
Due: format-mac

[ai][docs] say that the annotation client proposes, carries and reviews
  internal/lidar/annotation/README.md
Due: format-markdown

[ai][docs] write the annotation tool's operator guide and bring its docs up to date
  docs/DEVLOG.md
  docs/lidar/LIDAR.md
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/ui/visualiser/menu-layout.md
  tools/visualiser-macos/README.md
Due: format-markdown

[ai][mac] split an object that is two, list proposals usefully, and give the 3D view the room
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ObjectProposer.swift
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSplitTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewportInputTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
Due: format-mac

[ai][docs] record that a return's coordinates identify it across runs, and the new layout
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
Due: format-markdown

[ai][mac] loop the pack, stop the 3D view locking up, and say how far through the labelling is
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationFrameSync.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ObjectProposer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationPlaybackTests.swift
Due: format-mac

[ai][docs] the guide covers looping the pack and the progress bars
  docs/lidar/operations/point-annotation-tool.md
Due: format-markdown

[ai][docs] score a run against the labels instead of counting what it did
  docs/lidar/operations/annotation-scored-tuning.md
Due: format-markdown

[ai][docs] name the artefact that is most of the labelled noise
  docs/lidar/operations/annotation-scored-tuning.md
Due: format-markdown

[ai][py][cfg] stop the Python formatter walking into vendored code
  pyproject.toml
  scripts/check_changed_go_coverage.py
  scripts/check_go_coverage.py
  scripts/spider-docs-404s.py
  scripts/test_check_go_coverage.py
  scripts/test_spider_docs_404s.py
  scripts/test_update_packaging.py
  scripts/test_verify_embedded_docs_server.py
  scripts/verify-docs-source-case.py
  scripts/verify-embedded-docs-server.py
  scripts/verify-public-html-build.py
  scripts/write-embedded-docs-manifest.py
Due: none

[ai][py][docs] commit the scripts that score a run against the labels
  data/explore/annotation-scored-tuning/README.md
  data/explore/annotation-scored-tuning/analyse.py
  data/explore/annotation-scored-tuning/gt_extract.py
  data/explore/annotation-scored-tuning/mkconfig.py
  data/explore/annotation-scored-tuning/score_run.py
  data/explore/annotation-scored-tuning/sweep.py
Due: format-python, format-markdown

[ai][make] drop the LiDAR evidence directory variable nothing reads
  Makefile
Due: none

[ai][docs][py] the sweep finished, and the foreground gap was not a regression
  data/explore/annotation-scored-tuning/analyse.py
  docs/lidar/operations/annotation-scored-tuning.md
Due: format-python, format-markdown

[ai][go] let the benchmark dump the clusters it found
  internal/cmd/lidar/bench.go
  internal/cmd/lidar/bench_test.go
  internal/lidar/lidarbench/cluster_dump_test.go
  internal/lidar/lidarbench/lidarbench.go
Due: format-go

[ai][docs] the benchmark flag is in this tree now, so just say build it
  data/explore/annotation-scored-tuning/README.md
Due: format-markdown

[ai][docs] note that two swept axes are region-shaped after settling
  docs/lidar/operations/annotation-scored-tuning.md
Due: format-markdown

[ai][mac] one lattice, so four quantisers cannot disagree
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/Lattice.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ObjectProposer.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/SelectionFootprint.swift
  tools/visualiser-macos/VelocityVisualiserTests/LatticeTests.swift
Due: format-mac

[ai][mac] give the annotation pane's four tenants their own files
  tools/visualiser-macos/VelocityVisualiser/Annotation/OrthoViewport.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationStatusViews.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
Due: format-mac

[ver] bump version to 0.5.1-pre34 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[ai][mac] stop eight views redrawing every time the brush moves
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushHover.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationObjectFlowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
Due: format-mac

[ai][mac] arrows step the frame and move the ground, digits pick voxels
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationKeyTests.swift
Due: format-mac

[ai][mac] the top view large, and four elevations stacked beside it
  tools/visualiser-macos/VelocityVisualiser/Annotation/PointSelection.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PointSelectionTests.swift
Due: format-mac

[ai][docs] the guide gets the five views and the keys that move the ground
  docs/lidar/operations/point-annotation-tool.md
Due: format-markdown

[ai][docs] four net-new LiDAR plans, gathered from the branches holding them
  docs/plans/lidar-background-region-overlay-plan.md
  docs/plans/lidar-occupancy-column-grid-plan.md
  docs/plans/lidar-review-workflow-plan.md
  docs/plans/lidar-static-scene-local-fit-plan.md
Due: format-markdown

[ai][mac] each elevation takes its own half, and frames its height
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationViewState.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PointSelection.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PointSelectionTests.swift
Due: format-mac

[ai][mac] let the lattice turn, so columns can line up with the kerbs
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/Lattice.swift
  tools/visualiser-macos/VelocityVisualiserTests/LatticeTests.swift
Due: format-mac

[ai][docs] four net-new LiDAR plans, gathered from the branches holding them (#585)
  docs/plans/lidar-background-region-overlay-plan.md
  docs/plans/lidar-occupancy-column-grid-plan.md
  docs/plans/lidar-review-workflow-plan.md
  docs/plans/lidar-static-scene-local-fit-plan.md
Due: format-markdown

Add defer to close cluster dump
  internal/lidar/lidarbench/lidarbench.go
Due: format-go

[ai][mac] a grid angle for the columns, and the line that hands it over
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationKeyTests.swift
Due: format-mac

[ai][docs] the annotation pack is on main now, so link it
  docs/plans/scene-vehicle-identification-plan.md
Due: format-markdown

[ai][docs] ideate a vehicle encyclopedia, and derive what it may publish
  data/QUESTIONS.md
  data/maths/MATHS.md
  data/maths/proposals/20260922-vehicle-taxonomy-resolution-maths.md
  docs/BACKLOG.md
  docs/lidar/architecture/label-vocabulary.md
  docs/lidar/architecture/vehicle-taxonomy.md
  docs/plans/scene-vehicle-identification-plan.md
  docs/plans/vehicle-encyclopedia-plan.md
  docs/platform/architecture/identifiability-analysis.md
  docs/platform/architecture/vehicle-encyclopedia.md
Due: format-markdown

Update vehicle encyclopedia and identifiability analysis
  docs/platform/architecture/identifiability-analysis.md
  docs/platform/architecture/vehicle-encyclopedia.md
Due: format-markdown

Change 'approved' to 'reviewed' in wiki editing section
  docs/plans/vehicle-encyclopedia-plan.md
Due: format-markdown
