Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[go] route serial admin handlers through SerialPortManager for hot-reload safety
  internal/api/serial_reload.go
  internal/api/serial_reload_test.go
  internal/serialmux/serialmux.go
Due: format-go

[sh] drop global Docker builder prune from build-image cleanup
  image/scripts/build-image.sh
Due: none

[swift] revert BuildInfo.swift to unknown placeholders
  tools/visualiser-macos/VelocityVisualiser/App/BuildInfo.swift
Due: format-mac

[xcode] restore $(TEST_HOST) BUNDLE_LOADER on test target
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[docs] articulate list/detail shell split in frontend design guide
  docs/ui/DESIGN.md
Due: format-markdown

[js] add vr-content-narrow + vr-content-wide shared classes
  web/src/routes/+page.svelte
  web/src/routes/app.css
  web/src/routes/settings/+page.svelte
Due: format-web

[js] constrain /app/site list to vr-content-narrow
  web/src/routes/site/+page.svelte
Due: format-web

[js] move /app/site/[id] out of (constrained) into vr-page shell
  web/src/routes/(constrained)/site/[id]/+page.svelte
  web/src/routes/site/[id]/+page.svelte
Due: format-web

[js] convert /app/reports to vr-content-narrow + section/h2
  web/src/routes/reports/+page.svelte
Due: format-web

[js] remove unused (constrained) route group
  web/src/routes/(constrained)/+layout.svelte
Due: format-web

[docs] rewrite DESIGN.md §5.1-5.2 for one-shell, three-content-width
  docs/ui/DESIGN.md
Due: format-markdown

[go] remove name and description fields from SerialConfig and related logic
  internal/api/serial_config.go
  internal/api/serial_config_test.go
  internal/api/serial_reload.go
  internal/api/serial_reload_test.go
  internal/db/serial_config.go
  internal/db/serial_config_test.go
  scripts/order-schema-tables.py
Due: format-go

[js] remove name and description fields from SerialConfig and related UI components
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/routes/settings/+page.svelte
Due: format-web

[js] hide location column on smaller screens in site management table
  web/src/routes/site/+page.svelte
Due: format-web

[js] improve layout and responsiveness of MapEditorInteractive component
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

[sql] update radar_serial_config table structure and remove unnecessary fields
  internal/db/migrations/000038_create_radar_serial_config.up.sql
  internal/db/schema.sql
Due: format-sql

[go] add conflict handling for duplicate port paths in serial configuration
  internal/api/serial_config.go
  internal/api/serial_config_test.go
  internal/db/serial_config.go
  internal/db/serial_config_test.go
Due: format-go

[js] update error message for duplicate port path in createSerialConfig test
  web/src/lib/api.test.ts
Due: format-web

[js][go] implement Overpass API proxy and integrate with frontend for map data retrieval
  internal/api/map.go
  internal/api/map_test.go
  internal/api/server.go
  web/src/lib/api.ts
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-go, format-web

[js] enhance layout and styling of Site Management component
  web/src/routes/site/+page.svelte
Due: format-web

[js] refactor serial data loading to handle failures independently and enhance keyboard accessibility for table rows
  web/src/routes/settings/+page.svelte
Due: format-web

[css] enhance full-height page container to use dynamic viewport height for better mobile support
  web/src/routes/app.css
Due: format-web

[py][make] add release-radar-remote script for deploying binaries to remote hosts
  Makefile
  scripts/release-radar-remote.py
  scripts/test_release_radar_remote.py
  tox.ini
Due: none

[js] style: enhance table layout and styling for configuration periods
  web/src/routes/site/[id]/+page.svelte
Due: format-web

[css] style: lock document scrolling behavior to improve mobile experience
  web/src/routes/app.css
Due: format-web

[js] style: improve responsive layout for coordinate display in MapEditorInteractive
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

[go] fix: improve port path validation messages and extend allowed prefixes for serial devices
  internal/api/serial.go
  internal/api/serial_config.go
  internal/api/serial_config_test.go
Due: format-go

[js] fix: extend serial message display duration and improve feedback visibility in settings
  web/src/routes/settings/+page.svelte
Due: format-web

[go] ensure empty serial config response is an empty array instead of null
  internal/api/serial_config.go
Due: format-go

[js] coerce JSON null responses to empty arrays for serial config, models, and devices
  web/src/lib/api.ts
Due: format-web

[go] enhance database migration command handling and validation
  cmd/radar/migrate_args_test.go
  cmd/radar/radar.go
  internal/db/migrate_cli.go
  internal/db/migrate_cli_test.go
  internal/db/migrate_coverage_test.go
Due: format-go

docs: update production Linux notes for database path and migration commands
  COMMANDS.md
  DEBUGGING.md
Due: format-markdown

[ai][go] map not-configured serial reload to 503
  internal/api/serial_reload.go
  internal/api/serial_reload_test.go
  internal/api/server.go
Due: format-go

[ai][go] sort sensor models by slug
  internal/api/sensor_models.go
  internal/api/sensor_models_test.go
Due: format-go

[ai][docs] drop name/description from serial config docs
  docs/radar/architecture/serial-configuration-api.md
  docs/radar/architecture/serial-configuration-ui.md
  docs/radar/serial-config-quickref.md
Due: format-markdown

[ai][js] clear deletingSite on cancel/failed delete
  web/src/routes/site/+page.svelte
Due: format-web

docs: update production Linux notes for sensor_data.db path
  COMMANDS.md
Due: format-markdown

[go][ai] harden serial command injection and default listen addresses
  cmd/radar/radar.go
  internal/api/coverage_test.go
  internal/api/handlers_test.go
  internal/api/server.go
  internal/api/server_coverage_test.go
  internal/api/server_test.go
  internal/radar/commands.go
  internal/radar/commands_test.go
Due: format-go

[go][docs][ai] remove /command allowlist; keep localhost listen defaults
  .github/knowledge/security-surface.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  internal/api/coverage_test.go
  internal/api/handlers_test.go
  internal/api/server.go
  internal/api/server_coverage_test.go
  internal/api/server_test.go
  internal/radar/commands.go
  internal/radar/commands_test.go
Due: format-go, format-markdown

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
