Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[py] update wiring generation script and fix YAML parsing reference
  Makefile
  requirements.in
  tools/connector-pinouts/generate-connector-pinouts.py
Due: format-python

[img] update render images
  docs/platform/hardware/de9-pinout.png
  docs/platform/hardware/de9-pinout.svg
  docs/platform/hardware/m12-pinout.png
  docs/platform/hardware/m12-pinout.svg
  docs/platform/hardware/radar-wiring.png
  docs/platform/hardware/radar-wiring.svg
  docs/platform/hardware/radar-wiring.yml
Due: none

[py] add SVG to PNG conversion utility and refactor existing scripts to use it
  tools/_render/__init__.py
  tools/_render/svg_to_png.py
  tools/connector-pinouts/generate-connector-pinouts.py
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/draw_rack.py
Due: format-python

[docs] add version-bump consolidation plan for v0.5.2
  docs/BACKLOG.md
  docs/plans/version-bump-consolidation-plan.md
Due: format-markdown

[ver] bump version to 0.5.1-pre7 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[py] Remove title text from M12 and DE-9 connector SVG generation for cleaner output
  docs/platform/hardware/de9-pinout.png
  docs/platform/hardware/de9-pinout.svg
  docs/platform/hardware/m12-pinout.png
  docs/platform/hardware/m12-pinout.svg
  docs/platform/hardware/radar-wiring.png
  docs/platform/hardware/radar-wiring.svg
  tools/connector-pinouts/generate-connector-pinouts.py
Due: format-python

[py] Improve error messages for SVG to PNG conversion failures
  tools/_render/svg_to_png.py
  tools/connector-pinouts/generate-connector-pinouts.py
  tools/guide-overlays/draw_overlays.py
  tools/rack-drawing/draw_rack.py
Due: format-python

[ai] add address-pr-comments skill for triaging PR review comments
  .claude/skills/address-pr-comments/SKILL.md
  CLAUDE.md
Due: format-markdown

[docs] add release-JSON automation plan and tighten main protection rules
  docs/plans/release-json-automation-plan.md
Due: format-markdown

[py][docs] pinout + render fix, version-bump plan (#473)
  .claude/skills/address-pr-comments/SKILL.md
  CLAUDE.md
  Makefile
  docs/BACKLOG.md
  docs/plans/release-json-automation-plan.md
  docs/plans/version-bump-consolidation-plan.md
  docs/platform/hardware/de9-pinout.png
  docs/platform/hardware/de9-pinout.svg
  docs/platform/hardware/m12-pinout.png
  docs/platform/hardware/m12-pinout.svg
  docs/platform/hardware/radar-wiring.png
  docs/platform/hardware/radar-wiring.svg
  docs/platform/hardware/radar-wiring.yml
  public_html/package.json
  requirements.in
  tools/_render/__init__.py
  tools/_render/svg_to_png.py
  tools/connector-pinouts/generate-connector-pinouts.py
  tools/guide-overlays/draw_overlays.py
  tools/pdf-generator/pyproject.toml
  tools/rack-drawing/draw_rack.py
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-python, format-web, format-markdown

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] fix formatting in architecture document
  ARCHITECTURE.md
Due: format-markdown

[docs] update release information for version 0.5.1-pre7
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[docs] add troubleshooting steps for LiDAR emitting on unknown IP, subnet, or port
  TROUBLESHOOTING.md
Due: format-markdown

[docs] enhance troubleshooting guide with additional sections and clarifications
  TROUBLESHOOTING.md
Due: format-markdown

[docs] update release-JSON automation plan with resolved questions and security review findings
  docs/plans/release-json-automation-plan.md
Due: format-markdown

[py] add mdformat configuration and update Makefile for Markdown formatting
  .mdformat.toml
  Makefile
  requirements.in
  requirements.txt
Due: none

[make] update pre-commit configuration to use mdformat for Markdown files
  .pre-commit-config.yaml
  Makefile
Due: none

[sh] migrate Markdown formatting from mdformat to Prettier
  .mdformat.toml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  Makefile
  package.json
  pnpm-lock.yaml
  requirements.in
  requirements.txt
Due: none

[py] update Markdown formatting process with reflow-prose and Prettier integration
  .pre-commit-config.yaml
  .prettierrc.yaml
  Makefile
  scripts/reflow-prose.py
Due: none

[py] update default print width to 99 for Markdown formatting
  .prettierrc.yaml
  Makefile
  scripts/check-prose-line-width.py
  scripts/reflow-prose.py
Due: none

[make] update format-docs to remove reflow-prose step and streamline Markdown formatting
  .pre-commit-config.yaml
  Makefile
Due: none

[py] add support for reflowing Markdown list items in reflow-prose script
  scripts/reflow-prose.py
Due: none

[docs] reflow CONTRIBUTING.md
  CONTRIBUTING.md
  TROUBLESHOOTING.md
Due: format-markdown

[docs] update CODEOWNERS entry to include link-ignore comment
  docs/plans/release-json-automation-plan.md
Due: format-markdown

[docs] Update DEBUGGING.md: enhance content clarity and reformat troubleshooting sections
  DEBUGGING.md
Due: format-markdown

[img] Update build-image.sh and 00-run.sh to replace TROUBLESHOOTING.md with DEBUGGING.md
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
Due: none

[py][sh] Update references from TROUBLESHOOTING.md to DEBUGGING.md in scripts
  scripts/check-prose-line-width.py
  scripts/dev-setup.sh
  scripts/reflow-prose.py
Due: none

[docs] Update format-docs target to ensure web cache before fixing header metadata
  Makefile
Due: none

[docs] Update .prettierignore to include .tox, .pytest_cache, and image/.pi-gen directories
  .prettierignore
Due: none

[docs] DEBUGGING.md accuracy fixes
  DEBUGGING.md
Due: format-markdown

[py] reflow-prose.py: docstring, exclusions, HTML-comment regex
  scripts/reflow-prose.py
Due: none

[make] format-docs: correct messaging and restore pnpm/npx fallback
  Makefile
Due: none

[docs] remove stale mdformat/prettier references
  .mdformat.toml
  .prettierrc.yaml
  CONTRIBUTING.md
Due: format-markdown

[docs] nit fixes from PR review
  package.json
  scripts/dev-setup.sh
  tools/visualiser-macos/BUILDING.md
Due: format-markdown

[docs] update line-width standardisation plan with April 2026 findings and recommendations
  docs/plans/line-width-standardisation-plan.md
Due: format-markdown

[py][docs] update release plan, DEBUGGING (#474)
  .claude/skills/docs-release-prep/SKILL.md
  .github/knowledge/coding-standards.md
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  ARCHITECTURE.md
  CONTRIBUTING.md
  DEBUGGING.md
  Makefile
  README.md
  TROUBLESHOOTING.md
  docs/DEVLOG.md
  docs/DOCS.md
  docs/lidar/architecture/foreground-tracking.md
  docs/lidar/operations/adaptive-region-parameters.md
  docs/plans/line-width-standardisation-plan.md
  docs/plans/release-json-automation-plan.md
  docs/plans/setup-guide-publication-plan.md
  docs/ui/docs-site.md
  image/os-list-velocity.json
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  package.json
  pnpm-lock.yaml
  public_html/src/_data/release.json
  public_html/src/guides/setup.md
  requirements.txt
  scripts/check-prose-line-width.py
  scripts/dev-setup.sh
  scripts/reflow-prose.py
  tools/visualiser-macos/BUILDING.md
Due: format-markdown

[doc] add /protractor page
  public_html/.eleventy.js
  public_html/src/protractor/app.js
  public_html/src/protractor/index.html
  public_html/src/protractor/styles.css
Due: none

[public] update protractor implementation
  public_html/.eleventy.js
  public_html/src/css/style.css
  public_html/src/js/tool-protractor.js
  public_html/src/protractor/app.js
  public_html/src/protractor/index.html
  public_html/src/protractor/styles.css
  public_html/src/tool/protractor/index.njk
Due: none
