Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[go] implement expanded chart feature to preserve linear timestamp spacing in time-series charts
  internal/api/server_charts.go
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  internal/report/config.go
  internal/report/report.go
  internal/report/report_phases.go
  internal/report/report_test.go
Due: format-go

[js] add expanded chart option to time series and report settings for improved timestamp handling
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/reportRequests.test.ts
  web/src/lib/reportRequests.ts
  web/src/lib/reportSettings.ts
  web/src/routes/(constrained)/reports/+page.svelte
Due: format-web

Fix DST-safe report and chart date ranges
  internal/api/server_charts.go
  internal/api/server_charts_test.go
  internal/report/report.go
  internal/report/report_phases.go
  internal/report/report_test.go
Due: format-go

Normalize PDF CLI output directory
  cmd/radar/pdf.go
  cmd/radar/pdf_test.go
Due: format-go

Gate comparison chart references on rendered artifacts
  internal/report/report_phases.go
  internal/report/report_test.go
Due: format-go

Validate report request units and sources
  internal/api/coverage_test.go
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
Due: format-go

Derive report cosine metadata from requested ranges
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/report/config.go
  internal/report/report_phases.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/survey_parameters.tex
Due: format-go

Clear stale chart preview after SVG load failure
  web/src/lib/components/charts/InlineSvgChart.svelte
Due: format-web

[tex] fix caption wording for comparison chart in overview template
  internal/report/tex/templates/overview.tex
Due: none

[go] Implement source validation for chart endpoints and refactor related functions
  internal/api/server_charts.go
  internal/api/server_charts_test.go
  internal/report/report.go
  internal/report/report_phases.go
Due: format-go

[docs] Refine diagram formatting for embedded offline docs site in planning document
  docs/plans/embedded-offline-docs-site.md
Due: format-markdown

[ai][go] fix chart rendering: eliminate x-axis tick overlap and improve comparison histogram layout
  internal/report/chart/config.go
  internal/report/chart/histogram.go
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  internal/report/report_phases.go
Due: format-go

[ai][go][tex] fix PDF layout: table captions, caption styling, remove header dates, align histogram buckets
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go

[docs] karlod edits
  public_html/src/guides/setup.md
Due: format-markdown

[docs] update TLS documentation to reflect removal of nginx and local CA approach
  docs/plans/deploy-nginx-removal-plan.md
  docs/platform/operations/tls-local-certificates.md
Due: format-markdown

[docs] update setup guide description for clarity
  public_html/src/guides/setup.md
Due: format-markdown

[docs] update distribution and packaging plan to reflect new architecture and versioning strategy
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-versioned-binary-plan.md
Due: format-markdown

[docs] update release information for version 0.5.1-pre8, including URLs, sizes, and checksums
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[docs] enhance setup guide for clarity and privacy emphasis
  public_html/src/guides/setup.md
Due: format-markdown

[docs] link-ignoer
  docs/plans/deploy-versioned-binary-plan.md
Due: format-markdown

[ai][docs] clarify setup privacy wording
  public_html/src/guides/setup.md
Due: format-markdown

[ai][docs] restore current TLS operations state
  docs/platform/operations/tls-local-certificates.md
Due: format-markdown

[ai][docs] repair packaging plan history block
  docs/plans/deploy-distribution-packaging-plan.md
Due: format-markdown

[go] update deploy-versioned-binary-plan.md to version 1.1 and enhance CLI architecture details
  docs/plans/deploy-versioned-binary-plan.md
Due: format-markdown

[docs] refine .prettierignore and enhance setup.md for clarity on Eleventy templates and data collection details
  .prettierignore
  public_html/src/guides/setup.md
Due: format-markdown

[docs] update deploy-distribution-packaging-plan.md to reflect changes in binary structure and command surface
  docs/plans/deploy-distribution-packaging-plan.md
Due: format-markdown

[ai][docs] tighten packaging plan review fixes
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-nginx-removal-plan.md
Due: format-markdown

[docs] add canonical reference to distribution packaging plan in deploy-versioned-binary-plan.md
  docs/plans/deploy-versioned-binary-plan.md
Due: format-markdown

[docs] setup/TLS, pre8 release.json (#477)
  .prettierignore
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-nginx-removal-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/platform/operations/tls-local-certificates.md
  image/os-list-velocity.json
  public_html/src/_data/release.json
  public_html/src/guides/setup.md
Due: format-markdown

[ai][ci] build web frontend before cross-compile so released binaries embed real UI
  .github/workflows/build-image.yml
Due: none

[docs] update deployment plans to reflect new single-binary architecture and remove deprecated installation details
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-nginx-removal-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/platform/operations/distribution-packaging.md
Due: format-markdown

[ver] bump version to 0.5.1-pre9 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

Update docs/plans/deploy-versioned-binary-plan.md
  docs/plans/deploy-versioned-binary-plan.md
Due: format-markdown

[img] fix + docs (#478)
  .github/workflows/build-image.yml
  Makefile
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-nginx-removal-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/platform/operations/distribution-packaging.md
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web, format-markdown

[docs] update version management and distribution packaging documentation
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/platform/operations/distribution-packaging.md
Due: format-markdown

[ver] bump version to 0.5.1-pre10 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[ci] ensure GitHub release creation verifies tag existence before publishing
  .github/workflows/build-image.yml
Due: none

[img] fix failing build (#479)
  .github/workflows/build-image.yml
  Makefile
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/platform/operations/distribution-packaging.md
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web, format-markdown

[font] add Atkinson Hyperlegible Mono Italic variable font asset
  internal/report/chart/assets/AtkinsonHyperlegibleMono-Italic-VariableFont_wght.ttf
  internal/report/chart/assets/AtkinsonHyperlegibleMono-VariableFont_wght.ttf
Due: none

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
