Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[js] add map configuration options and toggle for report inclusion
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-web

[go][js][py] add map positioning support and configuration options for PDF reports
  internal/api/server.go
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/config_manager.py
  tools/pdf-generator/pdf_generator/core/map_utils.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/tests/test_map_utils.py
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-go, format-python, format-web

[js] enhance map data fetching to include buildings, landuse, water, and improve FOV triangle scaling
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

Potential fix for code scanning alert no. 38: Clear-text logging of sensitive information
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
Due: format-python

[js] remove unused variable and improve FOV triangle calculations
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

Apply suggestions from code review
  tools/pdf-generator/pdf_generator/cli/main.py
  web/src/lib/api.ts
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-python, format-web

[py][go] add tests for site retrieval and SVG extraction functionality
  internal/api/server_test.go
  tools/pdf-generator/pdf_generator/tests/test_api_client.py
  tools/pdf-generator/pdf_generator/tests/test_map_utils.py
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
Due: format-go, format-python

[js] update map SVG data handling in site form submission
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-web

[js] convert SVG to base64 in chunks to prevent stack overflow
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

[js] add flag to track map download status and update rendering condition
  web/src/lib/components/MapEditorInteractive.svelte
Due: format-web

[js][py][go] add map (#233)
  Makefile
  internal/api/server.go
  internal/api/server_test.go
  internal/db/migrations/000015_add_site_map_fields.down.sql
  internal/db/migrations/000015_add_site_map_fields.up.sql
  internal/db/schema.sql
  internal/db/site.go
  internal/db/site_test.go
  public_html/package.json
  scripts/set-version.sh
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/api_client.py
  tools/pdf-generator/pdf_generator/core/config_manager.py
  tools/pdf-generator/pdf_generator/core/map_utils.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/tests/test_api_client.py
  tools/pdf-generator/pdf_generator/tests/test_map_utils.py
  tools/pdf-generator/pdf_generator/tests/test_pdf_integration.py
  tools/pdf-generator/pyproject.toml
  web/jest.config.js
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/__mocks__/@testing-library/svelte.ts
  web/src/__mocks__/svelte-component.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/components/MapEditorInteractive.test.ts
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: format-go, format-python, format-web

[go] streamline database setup in analysis run and track store tests
  internal/lidar/analysis_run_manager_test.go
  internal/lidar/track_store_extended_test.go
Due: format-go

[go] use INSERT OR REPLACE for track and observation inserts in track_store
  internal/lidar/track_store.go
Due: format-go

[go] streamline database initialization in tests and main logic using schema.sql
  cmd/tools/backfill_ring_elevations/backfill_test.go
  cmd/tools/pcap-analyse/main.go
  internal/lidar/analysis_run_extended_test.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/track_store_test.go
  internal/lidar/tracking_pipeline_test.go
Due: format-go

[ci] add pcap build tag to core, LiDAR, and API tests in CI workflow
  .github/workflows/go-ci.yml
Due: none

[go] protect cleanup timer with mutex to avoid race conditions
  internal/lidar/frame_builder.go
Due: format-go

[ci] enable caching for Go modules in CI workflow
  .github/workflows/go-ci.yml
Due: none

[docs] remove CODEBASE_REVIEW.md as part of codebase simplification efforts
  CODEBASE_REVIEW.md
Due: none

[ci] refactor CI, add e2e test (#232)
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/docs-ci.yml
  .github/workflows/go-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/web-ci.yml
  TROUBLESHOOTING.md
  cmd/tools/backfill_ring_elevations/backfill_test.go
  cmd/tools/pcap-analyse/main.go
  internal/httputil/response.go
  internal/httputil/response_test.go
  internal/lidar/analysis_run_extended_test.go
  internal/lidar/analysis_run_manager_test.go
  internal/lidar/frame_builder.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/network/foreground_forwarder.go
  internal/lidar/network/listener.go
  internal/lidar/network/listener_test.go
  internal/lidar/track_store.go
  internal/lidar/track_store_extended_test.go
  internal/lidar/track_store_test.go
  internal/lidar/tracking_pipeline_test.go
  internal/testutil/testutil.go
  internal/testutil/testutil_test.go
  internal/timeutil/clock_test.go
  internal/units/timezone_test.go
  internal/units/velocity_test.go
Due: format-go

[md] lint
  docs/lidar/visualizer_macos/00-repo-inspection-notes.md
  docs/lidar/visualizer_macos/01-problem-and-user-workflows.md
  docs/lidar/visualizer_macos/02-api-contracts.md
  docs/lidar/visualizer_macos/03-architecture.md
  docs/lidar/visualizer_macos/04-implementation-plan.md
Due: none

[go] format
  internal/lidar/recorder/recorder.go
  internal/lidar/visualizer/adapter.go
  internal/lidar/visualizer/config.go
  internal/lidar/visualizer/model.go
  internal/lidar/visualizer/publisher.go
Due: format-go

[make] add format-markdown target
  Makefile
Due: none

[md] format
  .github/agents/thompson.agent.md
  ARCHITECTURE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  TROUBLESHOOTING.md
  cmd/deploy/README.md
  cmd/sweep/README.md
  data/align/README.md
  data/convergance-neighbour/convergence-findings.md
  data/convergance-neighbour/convergence-neighbor-closeness-findings.md
  docs/features/cli-comprehensive-guide.md
  docs/features/serial-configuration-ui.md
  docs/features/speed-limit-schedules.md
  docs/features/time-partitioned-data-tables.md
  docs/lidar/README.md
  docs/lidar/architecture/lidar-background-grid-standards.md
  docs/lidar/architecture/lidar_sidecar_overview.md
  docs/lidar/future/av-lidar-integration-plan.md
  docs/lidar/future/motion-capture-architecture.md
  docs/lidar/future/static-pose-alignment-plan.md
  docs/lidar/future/velocity-coherent-foreground-extraction.md
  docs/lidar/operations/DATA-SOURCE-SWITCHING-PLAN.md
  docs/lidar/operations/adaptive-region-parameters.md
  docs/lidar/operations/lidar-foreground-tracking-status.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/refactor/01-tracking-upgrades.md
  docs/lidar/reference/packet_analysis_results.md
  docs/lidar/roadmap/ml_pipeline_roadmap.md
  docs/lidar/visualizer_macos/02-api-contracts.md
  docs/lidar/visualizer_macos/03-architecture.md
  docs/plans/DISTRIBUTION_AND_PACKAGING_PLAN.md
  docs/plans/python-venv-consolidation-plan.md
  internal/db/queries_histograms.md
  scripts/api/lidar/README.md
  tools/pdf-generator/README.md
  tools/pdf-generator/pdf_generator/core/zip_readme.md
  tools/visualizer-macos/README.md
Due: none

[docs] update diagram formatting
  docs/lidar/visualizer_macos/02-api-contracts.md
  docs/lidar/visualizer_macos/03-architecture.md
Due: none

[docs] update performance metrics and frame rate details across multiple documents
  docs/lidar/visualizer_macos/00-repo-inspection-notes.md
  docs/lidar/visualizer_macos/01-problem-and-user-workflows.md
  docs/lidar/visualizer_macos/02-api-contracts.md
  docs/lidar/visualizer_macos/03-architecture.md
  docs/lidar/visualizer_macos/04-implementation-plan.md
Due: none

[make] improve build-visualiser-macos
  Makefile
Due: none

[mac] init visualiser skeleton
  Makefile
  tools/visualiser-macos/.gitignore
  tools/visualiser-macos/README.md
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  tools/visualiser-macos/VelocityVisualiser/Rendering/Shaders/PointCloud.metal
  tools/visualiser-macos/VelocityVisualiserTests/VelocityVisualiserTests.swift
  tools/visualiser-macos/VelocityVisualiserUITests/VelocityVisualiserUITests.swift
  tools/visualiser-macos/VelocityVisualiserUITests/VelocityVisualiserUITestsLaunchTests.swift
Due: none

[fs] mv visualiser docs
  docs/lidar/visualiser/00-repo-inspection-notes.md
  docs/lidar/visualiser/01-problem-and-user-workflows.md
  docs/lidar/visualiser/02-api-contracts.md
  docs/lidar/visualiser/03-architecture.md
  docs/lidar/visualiser/04-implementation-plan.md
Due: none

[ver] set mac version to 0.4.3
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: none

[make] Update Makefile and version script for macOS visualiser support
  Makefile
  scripts/set-version.sh
Due: none

[docs] Add macOS prefix to contribution guidelines
  .github/copilot-instructions.md
  CONTRIBUTING.md
Due: none

[docs] Add REST API endpoints for label management and update documentation
  docs/lidar/visualiser/00-repo-inspection-notes.md
  docs/lidar/visualiser/01-problem-and-user-workflows.md
  docs/lidar/visualiser/02-api-contracts.md
  docs/lidar/visualiser/03-architecture.md
  docs/lidar/visualiser/04-implementation-plan.md
Due: none

[make] Improve error handling for protobuf code generation in Makefile
  Makefile
Due: none

[docs][make][go][mac] Update references from 'visualizer' to 'visualiser' across documentation and code
  Makefile
  docs/lidar/README.md
  docs/lidar/refactor/01-tracking-upgrades.md
  docs/lidar/visualiser/02-api-contracts.md
  docs/lidar/visualiser/03-architecture.md
  docs/lidar/visualiser/04-implementation-plan.md
  internal/lidar/visualiser/publisher.go
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/README.md
Due: format-go

[mac] Update references from 'Visualizer' to 'Visualiser' for consistency
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: none

[mac][go] init protobuf
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/pb/visualiser_grpc.pb.go
  tools/visualiser-macos/VelocityVisualiser/gRPC/Generated/visualiser.grpc.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/Generated/visualiser.pb.swift
Due: format-go

[go] add nil frame check in Recorder.Record method
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[go] add recorder tests for new recording and replay functionality
  internal/lidar/visualiser/recorder/recorder_test.go
Due: format-go

[git] add visualiser build directory to .gitignore
  .gitignore
Due: none
