Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[ai][docs] S2.3: the A1 ablation arm on the tuning partition (results)
  results/s2-a1/README.md
  results/s2-a1/track_a1/all/phase0-summary.json
  results/s2-a1/track_a1/run.txt
Due: format-markdown

[ai][docs] S2.3: the A1 ablation arm on the tuning partition (results) (#654)
  results/s2-a1/README.md
  results/s2-a1/track_a1/all/phase0-summary.json
  results/s2-a1/track_a1/run.txt
Due: format-markdown

[ai][docs] S2: the tracked arm holds on the screen sites; T5 is not promoted
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] DEVLOG: state the A1 and A2 lapse comparison the right way round
  docs/DEVLOG.md
Due: format-markdown

[ai][docs] S2: the tracked arm holds on the screen sites; T5 is not promoted (#655)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: format-markdown

[ai][docs] S2 F6s: 1st-mission
  results/s2-f6s/control/1st-mission/phase0-summary.json
  results/s2-f6s/control/1st-mission/run.txt
  results/s2-f6s/progress.md
  results/s2-f6s/track/1st-mission/phase0-summary.json
  results/s2-f6s/track/1st-mission/run.txt
Due: format-markdown

[docs] Add facet registration experiment plan
  docs/BACKLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-facet-registration-experiment-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
Due: format-markdown

[docs] Tidy facet backlog entries
  docs/BACKLOG.md
Due: format-markdown

[docs] Plan facet registration experiment (#657)
  docs/BACKLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-facet-registration-experiment-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
Due: format-markdown

[ai][docs] S2 F6s: embarcadero-bryant
  results/s2-f6s/control/embarcadero-bryant/phase0-summary.json
  results/s2-f6s/control/embarcadero-bryant/run.txt
  results/s2-f6s/progress.md
  results/s2-f6s/track/embarcadero-bryant/phase0-summary.json
  results/s2-f6s/track/embarcadero-bryant/run.txt
Due: format-markdown

[ai][docs] Annotation pack ad8b9438: read-only summariser for the Mac
  results/annot-ad8b9438/pack_summary.py
Due: none

[ai][docs] Annotation pack ad8b9438: summariser reports progress and caps the revision read
  results/annot-ad8b9438/pack_summary.py
Due: none

[ai][docs] Annotation pack ad8b9438: one-shot summarise, commit and push script
  results/annot-ad8b9438/run-summary.sh
Due: none

[ai][docs] Annotation pack ad8b9438: review summary
  results/annot-ad8b9438/out/summary.json
  results/annot-ad8b9438/out/summary.txt
Due: none

[ai][go][docs] annotation: thin the revision history behind a verified backup
  cmd/tools/lidar-annotation-prune/main.go
  cmd/tools/lidar-annotation-prune/main_test.go
  docs/DEVLOG.md
  docs/lidar/operations/point-annotation-tool.md
  internal/lidar/annotation/prune.go
  internal/lidar/annotation/prune_test.go
Due: format-go, format-markdown

[ai][docs] Annotation pack ad8b9438: prune script (dry run, then apply with a verified backup)
  results/annot-ad8b9438/run-prune.sh
Due: none

[ai][go][docs] near-face scorer and a split-manifest draft tool for reviewed packs
  cmd/tools/lidar-annotation-split-draft/main.go
  cmd/tools/lidar-annotation-split-draft/main_test.go
  cmd/tools/lidar-near-face-eval/main.go
  cmd/tools/lidar-near-face-eval/main_test.go
  docs/lidar/operations/near-face-evaluation.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
  internal/lidar/annotation/split_draft.go
  internal/lidar/annotation/split_draft_test.go
  internal/lidar/perframeeval/evalfixture/neareface.go
  internal/lidar/perframeeval/evalfixture/neareface_test.go
  internal/lidar/perframeeval/first_body.go
  internal/lidar/perframeeval/neareface.go
  internal/lidar/perframeeval/neareface_markdown.go
  internal/lidar/perframeeval/neareface_test.go
Due: format-go, format-markdown

[ai][docs] plan: annotation saves batched, off the main thread, and cheaper to keep
  docs/plans/lidar-annotation-save-latency-plan.md
Due: format-markdown

[ai][docs] Annotation pack ad8b9438: kirk0 near-face and identity run script
  results/annot-ad8b9438/run-kirk0.sh
Due: none

[ai][go][docs] annotation: thin the revision history behind a verified backup (#658)
  cmd/tools/lidar-annotation-prune/main.go
  cmd/tools/lidar-annotation-prune/main_test.go
  docs/DEVLOG.md
  docs/lidar/operations/point-annotation-tool.md
  internal/lidar/annotation/prune.go
  internal/lidar/annotation/prune_test.go
Due: format-go, format-markdown

[ai][docs] plan: keep the diskutil info code span on one line
  docs/plans/lidar-annotation-save-latency-plan.md
Due: format-markdown

[ai][go][docs] split-draft: refuse a taken -freeze-draft path before writing the manifest; DEVLOG entry
  cmd/tools/lidar-annotation-split-draft/main.go
  cmd/tools/lidar-annotation-split-draft/main_test.go
  docs/DEVLOG.md
Due: format-go, format-markdown

[ai][docs] plan: annotation saves batched, off the main thread, and cheaper to keep (#660)
  docs/plans/lidar-annotation-save-latency-plan.md
Due: format-markdown

[ai][go] near-face scorer and split draft: cover the reachable failure paths, drop the checks nothing can reach
  internal/lidar/annotation/split_draft.go
  internal/lidar/annotation/split_draft_test.go
  internal/lidar/perframeeval/evalfixture/neareface.go
  internal/lidar/perframeeval/evalfixture/neareface_test.go
  internal/lidar/perframeeval/neareface.go
  internal/lidar/perframeeval/neareface_test.go
Due: format-go

[ai][go][docs] near-face scorer and a split-manifest draft tool for reviewed packs (#659)
  cmd/tools/lidar-annotation-split-draft/main.go
  cmd/tools/lidar-annotation-split-draft/main_test.go
  cmd/tools/lidar-near-face-eval/main.go
  cmd/tools/lidar-near-face-eval/main_test.go
  docs/DEVLOG.md
  docs/lidar/operations/near-face-evaluation.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
  internal/lidar/annotation/split_draft.go
  internal/lidar/annotation/split_draft_test.go
  internal/lidar/perframeeval/evalfixture/neareface.go
  internal/lidar/perframeeval/evalfixture/neareface_test.go
  internal/lidar/perframeeval/first_body.go
  internal/lidar/perframeeval/neareface.go
  internal/lidar/perframeeval/neareface_markdown.go
  internal/lidar/perframeeval/neareface_test.go
Due: format-go, format-markdown

[ai][docs] Annotation pack ad8b9438: build the tools from main, the branches they came from are gone
  results/annot-ad8b9438/run-kirk0.sh
  results/annot-ad8b9438/run-prune.sh
Due: none

[ai][docs][go] recover F1 findings and correct transition commentary
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  docs/DEVLOG.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
  internal/lidar/replayeval/solid_body_summary.go
Due: format-go, format-markdown

[ai][docs][go] Recover F1 findings and transition commentary from #641 (#663)
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  docs/DEVLOG.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
  internal/lidar/replayeval/solid_body_summary.go
Due: format-go, format-markdown

[ai][sql][go] migration 57: capture job kinds and motion period bounds
  internal/db/migration_058_test.go
  internal/db/migrations/000058_lidar_capture_job_period_checks.down.sql
  internal/db/migrations/000058_lidar_capture_job_period_checks.up.sql
  internal/db/schema.sql
  internal/lidar/storage/sqlite/capture_jobs_test.go
Due: format-go, format-sql

[ai][go] replay cases: a case outlives the session it was cut from
  internal/lidar/storage/sqlite/replay_case_files_test.go
Due: format-go

[ai][docs] data model decisions: align D-27 with the platform vocabulary plan
  data/structures/SCHEMA-REVIEW.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/plans/platform-survey-capture-export-plan.md
  docs/plans/platform-vocabulary-and-data-model-plan.md
Due: format-markdown

[ai][sql][go] migration 57 and replay cases: name what the vocabulary plan changes
  internal/db/migrations/000058_lidar_capture_job_period_checks.up.sql
  internal/lidar/storage/sqlite/replay_case_files.go
  internal/lidar/storage/sqlite/replay_case_files_test.go
Due: format-go, format-sql

[ai][docs] data model review: decide capture identity, session notes, clock steps and queue kinds
  data/structures/SCHEMA-REVIEW.md
  docs/BACKLOG.md
  docs/DECISIONS.md
Due: format-markdown

[ai][docs][go] scope vocabulary phases and align capture checks with migration 58
  data/structures/SCHEMA-REVIEW.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/DEVLOG.md
  docs/plans/platform-vocabulary-and-data-model-plan.md
  docs/plans/platform-vocabulary-phase1-contract-plan.md
  docs/plans/platform-vocabulary-phase1-interfaces-plan.md
  docs/plans/platform-vocabulary-phase1-lidar-plan.md
  docs/plans/platform-vocabulary-phase1-radar-plan.md
  docs/plans/platform-vocabulary-phase2-captures-plan.md
  docs/plans/platform-vocabulary-phase2-clips-labels-plan.md
  docs/plans/platform-vocabulary-phase2-jobs-plan.md
  docs/plans/platform-vocabulary-phase2-radar-plan.md
  docs/plans/platform-vocabulary-phase2-retirement-plan.md
  docs/plans/platform-vocabulary-phase2-surveys-plan.md
  docs/plans/platform-vocabulary-phase2-vrlog-pose-plan.md
  internal/lidar/storage/sqlite/capture_jobs_test.go
Due: format-go, format-markdown

[ai][go] physical references: one editing service and HTTP API for the macOS client
  internal/lidar/annotation/physical_edit.go
  internal/lidar/annotation/physical_edit_test.go
  internal/lidar/annotation/physical_store.go
  internal/lidar/annotation/physical_swift_fixture_test.go
  internal/lidar/annotation/sidecar_store.go
  internal/lidar/annotation/testdata/physical_geometry_fixture.json
  internal/lidar/server/physical_reference_api.go
  internal/lidar/server/physical_reference_api_test.go
  internal/lidar/server/routes.go
Due: format-go

[ai][mac] annotation window: physical-reference authoring and raw intensity inspection
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession+Physical.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSidecar.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/IntensityDisplay.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PhysicalReferenceGeometry.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PhysicalReferenceModels.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PhysicalReferenceSession.swift
  tools/visualiser-macos/VelocityVisualiser/Labelling/PhysicalReferenceAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/Shaders/PointCloud.metal
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiser/UI/IntensityInspectorSection.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiser/UI/PhysicalReferenceOverlay.swift
  tools/visualiser-macos/VelocityVisualiser/UI/PhysicalReferencePane.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationObjectFlowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/IntensityInspectionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PhysicalReferenceModelTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PhysicalReferenceSessionTests.swift
Due: format-mac

[docs] Add Swift physical-pose authoring and inspection plan
  docs/plans/lidar-swift-physical-pose-plan.md
Due: format-markdown
