Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] Refactor tick cadence logic and improve time series point conversion for NaN handling
  internal/report/chart/timeseries.go
  internal/report/report.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
  internal/report/tex/render_test.go
Due: format-go

[tex] Refactor report templates to enhance formatting and improve clarity of survey parameters
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/templates/survey_parameters.tex
Due: none

[go] Add render-sample-tex tool for generating Go report .tex templates with sample data
  cmd/tools/render-sample-tex/main.go
Due: format-go

[go] Enhance time series handling by adding P98 reference line and improving NaN management for speed metrics
  internal/api/server_charts.go
  internal/report/chart/timeseries.go
Due: format-go

[js] Add p98 reference to TimeSeriesChartRequest and update chart loading logic
  web/src/lib/api.ts
  web/src/routes/+page.svelte
Due: format-web

[go] Refactor time series chart handling to include aggregate p98 reference line and improve paper size management
  internal/api/server_charts.go
  internal/api/server_charts_test.go
  internal/report/chart/config.go
  internal/report/chart/config_test.go
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  internal/report/report.go
  internal/report/report_test.go
  internal/report/tex/render_test.go
Due: format-go

[tex] Add map section template and integrate into report structure; enhance statistics formatting
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/templates/site_info.tex
  internal/report/tex/templates/statistics.tex
Due: none

[js] Add InlineSvgChart component and integrate into report pages; update chart request handling to include paper size
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/components/charts/InlineSvgChart.svelte
  web/src/routes/(constrained)/reports/+page.svelte
  web/src/routes/+page.svelte
Due: format-web

[js] Add normaliseStoredPeriodType function and update report settings handling; refactor date range logic in reports
  web/src/lib/reportSettings.test.ts
  web/src/lib/reportSettings.ts
  web/src/routes/(constrained)/reports/+page.svelte
  web/src/routes/+page.svelte
Due: format-web

[go] Enhance report generation by adding support for Python comparison TeX; refactor ZIP handling and configuration management
  Makefile
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/report/archive.go
  internal/report/archive_test.go
Due: format-go

[go][tex] Refactor report templates to support single and comparison views; enhance period display and survey parameters
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/period_report.tex
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/templates/survey_parameters.tex
Due: format-go

[js] Refactor report download section to improve accessibility and user feedback; streamline message display and download options
  web/src/routes/(constrained)/reports/+page.svelte
Due: format-web

[docs] Add Phase 8 implementation plan for Tex output consistency; outline goals, status, and required changes for structural and content parity between Go and Python-generated .tex files
  docs/plans/pdf-go-chart-migration-plan.md
Due: format-markdown

[go][tex] Enhance report generation with comparison support; add cosine angle handling, dual histogram table, and percentage formatting
  internal/report/config.go
  internal/report/report.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/period_report.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/templates/science.tex
  internal/report/tex/templates/site_info.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/templates/survey_parameters.tex
Due: format-go

[js] fix: correct closing tag for radar SVG dot in MapEditorInteractive component; improve markup consistency
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/routes/+page.svelte
Due: format-web

[go] feat: add CompareCosineAngle field to ReportRequest for customizable comparison period
  internal/api/server_reports_generate.go
Due: format-go

[go] feat: enhance histogram rendering with Atkinson Hyperlegible font; update time formatting to ISO standard in TeX helpers and tests
  internal/report/chart/histogram.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/statistics.tex
Due: format-go

[go][tex] feat: enhance time series rendering with dynamic x-axis label rotation; add comparison chart support in LaTeX output
  internal/report/chart/timeseries.go
  internal/report/tex/templates/chart_section.tex
  web/src/lib/map-svg.ts
Due: format-go, format-web

[tex] feat: replace histogram chart with comparison chart in overview; update caption for clarity
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/overview.tex
Due: none

[go][tex] feat: implement pre-rendered LaTeX stat tables with customizable captions; update template for detailed data display
  internal/report/report.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/statistics.tex
Due: format-go

[img] feat: remove Python PDF generator setup; switch to Go-based PDF backend
  image/scripts/build-image.sh
  image/stage-velocity/00-install-packages/00-packages
  image/stage-velocity/02-velocity-python/00-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-report.service
Due: none

[img] feat: remove Python CI workflow; update Makefile and build script to eliminate Python dependencies
  .github/workflows/python-ci.yml
  Makefile
  image/scripts/build-image.sh
Due: none

[go] feat: migrate to Go PDF backend; remove Python dependencies and related tests
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/api/server_reports_generate_output_test.go
Due: format-go

[go] feat: update report generation tests to remove Python dependencies; verify Go pipeline execution
  internal/api/server_coverage_test.go
Due: format-go

[js] feat: enhance report settings management with safe parsing and freshness checks
  web/src/lib/reportSettings.test.ts
  web/src/lib/reportSettings.ts
  web/src/routes/(constrained)/reports/+page.svelte
  web/src/routes/+page.svelte
Due: format-web

[go] feat: remove Python PDF generator tests and clean up related imports
  internal/api/generate_e2e_test.go
  internal/api/server_generate_go_test.go
  internal/report/tex/helpers_test.go
Due: format-go

[go][tex] fix histogram percentage assertion (12.3 → 12.5%)
  internal/report/tex/helpers_test.go
Due: format-go

[js] implement report request building and filtering logic in reportRequests module
  web/src/lib/reportRequests.test.ts
  web/src/lib/reportRequests.ts
  web/src/routes/(constrained)/reports/+page.svelte
  web/src/routes/+page.svelte
Due: format-web

[tex][go] refactor: standardize date format in report generation and templates
  internal/report/report.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/period_report.tex
  internal/report/tex/templates/statistics.tex
Due: format-go

[ai][go][docs] complete PDF plan open items: FirmwareVersion, golden tests, tex-compare
  Makefile
  docs/plans/pdf-go-chart-migration-plan.md
  internal/report/config.go
  internal/report/report.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go, format-markdown

[ai][docs] update PDF plan status: correct plan/code drift and close remaining open items
  docs/plans/pdf-go-chart-migration-plan.md
Due: format-markdown

[docs] migrate PDF generation from Python to Go and update documentation
  ARCHITECTURE.md
  Makefile
  tools/pdf-generator/README.md
Due: format-markdown

[docs] migrate PDF generation from Python to Go: update documentation, remove deprecated Python references, and clarify new Go pipeline structure
  .claude/skills/ship-change/SKILL.md
  .github/copilot-instructions.md
  .github/knowledge/build-and-test.md
  CLAUDE.md
  README.md
  docs/plans/pdf-go-chart-migration-plan.md
  docs/platform/operations/pdf-reporting.md
  docs/platform/operations/python-venv.md
  docs/ui/DESIGN.md
Due: format-markdown

[docs] remove Python CI coverage reference from documentation
  docs/COVERAGE.md
Due: format-markdown

[ai][go][tex] fix trailing whitespace in tex templates and regenerate golden files
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: none

[ai][go][chart] timeseries: apply count mask and break line on NaN
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
Due: format-go

[ai][go][tex] render: require PaperOption in TemplateData
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: format-go

[ai][go] report: deterministic ZIP entry order
  internal/report/archive.go
  internal/report/archive_test.go
Due: format-go

[ai][go] report: sentinel ErrInvalidConfig for 4xx mapping
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/report/report.go
  internal/report/report_test.go
Due: format-go

[ai][js] reportSettings: reject arrays and match spelling
  web/src/lib/reportSettings.test.ts
  web/src/lib/reportSettings.ts
Due: format-web
