Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[js] refactor imports in +page.svelte: reorganize and clean up component and API imports
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[sql] lint
  data/migrations/20250826_rename_tables_column.sql
  data/migrations/20250827_migrate_ro_to_unix_timestamp.sql
  data/migrations/20251106_create_radar_serial_config.sql
Due: none

[js] add Tailwind CSS support: configure PostCSS and Tailwind settings
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.js
  web/tailwind.config.ts
  web/vite.config.ts
Due: format-web

[js] refactor +page.svelte: enhance notification display and improve table styling for better readability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: enhance state management and replace select elements with SelectField for improved usability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: simplify label generation for port path options
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: streamline imports, enhance data loading, and replace SelectField with native select elements for improved performance
  web/src/routes/settings/serial/+page.svelte
Due: format-web

[js] refactor +page.svelte: replace SelectField components with native select elements for improved performance and usability
  web/src/routes/settings/serial/+page.svelte
Due: format-web

Refactor migration command handling: consolidate logic into RunMigrateCommand and improve argument passing
  cmd/radar/radar.go
  internal/db/migrate_cli.go
Due: format-go

[sql] refactor database migrations: consolidate and rename tables for clarity, add new tables for sessionization and reports, and implement rollback scripts
  data/migrations/000001_initial_schema.down.sql
  data/migrations/000001_initial_schema.up.sql
  data/migrations/000002_create_site_table.down.sql
  data/migrations/000002_create_site_table.up.sql
  data/migrations/000002_rename_tables.down.sql
  data/migrations/000002_rename_tables.up.sql
  data/migrations/000003_create_lidar_bg_snapshot.down.sql
  data/migrations/000003_create_lidar_bg_snapshot.up.sql
  data/migrations/000003_create_site_reports.down.sql
  data/migrations/000003_create_site_reports.up.sql
  data/migrations/000004_add_velocity_report_prefix.down.sql
  data/migrations/000004_add_velocity_report_prefix.up.sql
  data/migrations/000004_create_radar_data_transits.down.sql
  data/migrations/000004_create_radar_data_transits.up.sql
  data/migrations/000005_create_radar_data_transits.down.sql
  data/migrations/000005_create_radar_data_transits.up.sql
  data/migrations/000005_create_radar_transit_links.down.sql
  data/migrations/000005_create_radar_transit_links.up.sql
  data/migrations/000006_create_radar_transit_links.down.sql
  data/migrations/000006_create_radar_transit_links.up.sql
  data/migrations/000006_create_site_table.down.sql
  data/migrations/000006_create_site_table.up.sql
  data/migrations/000007_create_lidar_bg_snapshot.down.sql
  data/migrations/000007_create_lidar_bg_snapshot.up.sql
  data/migrations/000007_create_site_reports.down.sql
  data/migrations/000007_create_site_reports.up.sql
  data/migrations/000008_add_velocity_report_prefix.down.sql
  data/migrations/000008_add_velocity_report_prefix.up.sql
  data/migrations/000009_test_future.down.sql
  data/migrations/000009_test_future.up.sql
  data/migrations/20250826_rename_tables_column.sql
  data/migrations/20250827_migrate_ro_to_unix_timestamp.sql
  data/migrations/20250929_migrate_data_to_radar_data.sql
Due: none

[fs] mv data/migrations internal/db/
  internal/db/migrations/000001_initial_schema.down.sql
  internal/db/migrations/000001_initial_schema.up.sql
  internal/db/migrations/000002_rename_tables.down.sql
  internal/db/migrations/000002_rename_tables.up.sql
  internal/db/migrations/000003_create_lidar_bg_snapshot.down.sql
  internal/db/migrations/000003_create_lidar_bg_snapshot.up.sql
  internal/db/migrations/000004_create_radar_data_transits.down.sql
  internal/db/migrations/000004_create_radar_data_transits.up.sql
  internal/db/migrations/000005_create_radar_transit_links.down.sql
  internal/db/migrations/000005_create_radar_transit_links.up.sql
  internal/db/migrations/000006_create_site_table.down.sql
  internal/db/migrations/000006_create_site_table.up.sql
  internal/db/migrations/000007_create_site_reports.down.sql
  internal/db/migrations/000007_create_site_reports.up.sql
  internal/db/migrations/000008_add_velocity_report_prefix.down.sql
  internal/db/migrations/000008_add_velocity_report_prefix.up.sql
  internal/db/migrations/000009_test_future.down.sql
  internal/db/migrations/000009_test_future.up.sql
  internal/db/migrations/README.md
Due: none

[sql] remove test migration and rollback scripts for future table
  internal/db/migrations/000009_test_future.down.sql
  internal/db/migrations/000009_test_future.up.sql
Due: none

[go] refactor migration handling to use embedded filesystem for migrations, improving development and production consistency. Update related functions and commands to accept filesystem interface.
  internal/db/db.go
  internal/db/migrate.go
  internal/db/migrate_cli.go
Due: format-go

[go] refactor migration tests to use filesystem interface for migrations, enhancing consistency and alignment with recent changes in migration handling
  internal/db/migrate_check_test.go
  internal/db/migrate_test.go
  internal/db/schema_consistency_test.go
  internal/db/schema_detection_test.go
Due: format-go

[go] implement applyPragmas function to set essential SQLite PRAGMAs for performance and concurrency; add tests to verify PRAGMAs are applied consistently across new and existing databases
  internal/db/db.go
  internal/db/migrations/000001_initial_schema.up.sql
  internal/db/pragmas_test.go
Due: format-go

Update database migration documentation and paths
  ARCHITECTURE.md
  README.md
  TROUBLESHOOTING.md
  docs/database-migration-system-design.md
  docs/database-migrations.md
  docs/features/SERIAL-CONFIG-QUICKREF.md
  docs/features/serial-configuration-ui.md
  internal/db/migrate_cli.go
Due: format-go

Refactor database migration documentation and enhance migration commands
  README.md
  docs/database-migration-system-design.md
  docs/database-migrations.md
  internal/db/migrations/README.md
  internal/db/schema_consistency_test.go
Due: format-go

[go] refactor SQL normalization in schema consistency tests to use regex for handling quoted table names and parentheses, improving maintainability and readability.
  internal/db/schema_consistency_test.go
Due: format-go

refactor TestNewDBWithMigrationCheck_FreshDatabase to use uint for version variable, ensuring type consistency with database schema
  internal/db/migrate_check_test.go
Due: format-go

Clarify comments regarding resource management for migrate instance when using WithInstance() in migration functions
  internal/db/migrate.go
Due: format-go

Optimize schema version detection by applying migrations incrementally in a temporary database, improving performance and early exit conditions for high similarity scores.
  internal/db/migrate.go
Due: format-go

Enhance schema consistency checks and SQL normalization in migration functions
  internal/db/db.go
  internal/db/migrate.go
Due: format-go

[make] refactor migration commands in Makefile to use 'go run' for improved execution consistency
  Makefile
Due: none

[go] add baseline verification for database migrations to ensure integrity
  internal/db/db.go
  internal/db/migrate_check_test.go
Due: format-go

[go] add test for baseline verification to catch incorrect baselines
  internal/db/migrate_check_test.go
Due: format-go

[go] enhance web server start/stop test with debug logging and synchronization for improved reliability
  internal/lidar/monitor/webserver_test.go
Due: format-go

[go] refactor migrate command to re-parse flags for improved flexibility in argument handling
  cmd/radar/radar.go
Due: format-go

[cfg] dependabot configuration to unify update schedules and remove deprecated entries
  .github/dependabot.yml
Due: none

[ci] include go.mod and go.sum in CI trigger paths
  .github/workflows/go-ci.yml
Due: none

[cfg] update dependabot config (#138)
  .github/dependabot.yml
  .github/workflows/go-ci.yml
Due: none

Stop requiring cosine error angle when creating sites
  internal/api/server.go
Due: format-go

[sql] remove PRAGMA statements for database configuration from schema.sql
  internal/db/schema.sql
Due: none

[go] lint
  internal/db/cosine_correction_test.go
  internal/db/site.go
  internal/db/site_config_period.go
  internal/db/site_config_period_test.go
Due: format-go

Update E2E tests to include cosine error angle and remove missing field test; adjust cosine correction tests for timestamp handling and site configuration periods.
  internal/api/generate_e2e_test.go
  internal/api/server_test.go
  internal/db/cosine_correction_test.go
  internal/db/site_config_period_test.go
  internal/db/site_test.go
Due: format-go

[sql] lint queries in db.go
  internal/db/db.go
Due: format-go

[sql] Refactor SQL migration for site configuration: improve readability of INSERT statements and formatting in site_variable_config and site_config_periods population logic.
  internal/db/migrations/000009_refactor_site_config.up.sql
Due: none

[go][sql] Enhance site configuration retrieval: add GetActiveSiteConfigPeriodForSite method and update related triggers and tests for site-specific active periods.
  internal/api/server.go
  internal/db/migrations/000009_refactor_site_config.up.sql
  internal/db/schema.sql
  internal/db/site_config_period.go
  internal/db/site_config_period_test.go
Due: format-go

[go][sql] optimize LEFT JOIN with site_config_periods for better performance and accuracy.
  internal/db/db.go
Due: format-go

[js] update formatting and linting scripts to use pnpm and prettier plugin
  Makefile
  web/package.json
Due: format-web

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
