Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[docs] add auto-tuning plan documentation for iterative parameter optimization
  docs/plans/auto-tuning-plan.md
Due: format-markdown

[go] adjust parameter setting order and ensure grid reset uses new config
  internal/lidar/sweep/runner.go
Due: format-go

[go] adjust parameter setting order to ensure new config is active before grid reset
  cmd/sweep/main.go
Due: format-go

[go] add analysis mode to PCAP replay for grid preservation and implement wait for completion
  internal/lidar/monitor/client.go
  internal/lidar/sweep/runner.go
Due: format-go

[go] add settle mode to sweep request for optimized parameter settling
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/sweep/runner.go
Due: format-go

[mac] set AppState to be seekable in replay mode
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
Due: format-mac

[go] correct iteration check in Sample method to use local variable
  internal/lidar/sweep/sampler.go
Due: format-go

[go] enhance sweep dashboard layout and add chart resizing after layout settles
  internal/lidar/monitor/html/sweep_dashboard.html
  internal/lidar/sweep/sampler.go
Due: format-go

[go] improve iteration validation and clamping in Sample method
  internal/lidar/sweep/sampler.go
Due: format-go

[go] rename flush_disable to background_flush for clarity in configuration
  cmd/radar/flags_test.go
  cmd/radar/radar.go
  config/README.md
  config/tuning.defaults.json
  config/tuning.example.json
Due: format-go, format-markdown

[make] add code editor command to open logfile in run_dev_go target
  Makefile
Due: none

[go] rename FlushDisable to BackgroundFlush for clarity in TuningConfig
  internal/config/tuning.go
  internal/config/tuning_test.go
  internal/lidar/monitor/html/sweep_dashboard.html
Due: format-go

[html] add current tuning parameters display with refresh functionality
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[docs] add auto-tuning feature to sweep dashboard with scenario support and progress visualization
  docs/plans/auto-tuning-plan.md
Due: format-markdown

[html] enhance layout of charts and form grids for improved responsiveness
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[go] refactor Sample method to improve iteration clamping and logging
  internal/lidar/sweep/sampler.go
Due: format-go

[html] add configuration cards for sweep parameters with responsive layout
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[html] refactor sweep dashboard layout for improved configuration card display
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[html] enhance sweep dashboard layout for ultra-wide displays and improve field stack alignment
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[html] udpate sweep dashboard layout for improved configuration card alignment and responsiveness
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[html] update sweep dashboard layout for improved button visibility and parameter labels
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[go] add maximum tuning parameters limit to prevent overflow in map allocation
  internal/lidar/sweep/runner.go
Due: format-go

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[html] add auto-tuning mode and recommendation card to LiDAR sweep dashboard
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[go] update PCAP replay methods to use full file path for pcap_file parameter
  internal/lidar/monitor/client.go
  internal/lidar/monitor/client_test.go
Due: format-go

[html] enhance LiDAR sweep dashboard with additional heatmap visualizations and improved parameter schema
  internal/lidar/monitor/html/sweep_dashboard.html
Due: none

[docs] add design document for track labeling and label-aware auto-tuning workflow
  docs/plans/track-labeling-auto-aware-tuning.md
Due: format-markdown

[fs] mv docs
  docs/lidar/future/auto-tuning-plan.md
  docs/lidar/future/track-labeling-auto-aware-tuning.md
  docs/plans/distribution-packaging-plan.md
Due: format-markdown

[docs] update LiDAR documentation with implementation status and future plans for auto-tuning and track labeling
  docs/lidar/README.md
  docs/lidar/architecture/lidar_sidecar_overview.md
  docs/lidar/future/auto-tuning-plan.md
  docs/lidar/future/settling-time-optimisation.md
  docs/lidar/future/track-labeling-auto-aware-tuning.md
  docs/lidar/future/velocity-coherent-foreground-extraction.md
  docs/lidar/operations/DATA-SOURCE-SWITCHING-PLAN.md
  docs/lidar/refactor/01-tracking-upgrades.md
  docs/lidar/roadmap/ml_pipeline_roadmap.md
  docs/lidar/visualiser/04-implementation-plan.md
Due: format-markdown

[go] clean up formatting in LIDAR ML Pipeline roadmap diagram
  docs/lidar/roadmap/ml_pipeline_roadmap.md
Due: format-markdown

[docs] expand development log with recent updates on auto-tuning, dashboard enhancements, and documentation audit
  docs/lidar/roadmap/devlog.md
Due: format-markdown

[fs] mv docs
  docs/DEVLOG.md
  docs/lidar/ROADMAP.md
Due: format-markdown

Potential fix for code scanning alert no. 43: Slice memory allocation with excessive size value
  internal/lidar/sweep/auto.go
Due: format-go

[docs] update lidar doc locations
  docs/lidar/README.md
  docs/lidar/architecture/foreground_tracking.md
  docs/lidar/future/motion-capture-architecture.md
  docs/lidar/future/static-pose-alignment-plan.md
  docs/lidar/future/track-labeling-auto-aware-tuning.md
  docs/lidar/future/velocity-coherent-foreground-extraction.md
  docs/lidar/operations/auto-tuning.md
  docs/lidar/operations/data-source-switching.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/operations/performance-regression-testing.md
  docs/lidar/operations/settling-time-optimization.md
Due: format-markdown

[ai][go] implement parameter limit checks and DoS protection in cartesianProduct
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/runner_test.go
Due: format-go

[ai][go] enforce limits on value parsing and range generation to prevent excessive memory allocation
  internal/lidar/sweep/math.go
  internal/lidar/sweep/ranges.go
Due: format-go

[ver] bump version to 0.5.0-pre3
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

[go] implement input validation to prevent excessive memory allocation and DoS attacks
  cmd/sweep/main.go
  internal/lidar/training_data.go
  internal/lidar/visualiser/recorder/recorder.go
Due: format-go

[go] add safety checks to prevent excessive memory allocation and DoS attacks in grid generation functions
  internal/lidar/sweep/auto.go
  internal/lidar/sweep/math.go
Due: format-go

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
