Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] add tests for SSE data streaming and context cancellation in serialmux
  internal/serialmux/sse_coverage_test.go
Due: format-go

[go] update SQL queries to use 'track_state' instead of 'state' for deleted tracks
  internal/lidar/storage/sqlite/track_store.go
Due: format-go

[go] add unit tests for labeling progress, track updates, and evaluation deletion
  internal/lidar/storage/sqlite/coverage_boost_test.go
Due: format-go

[go] add unit tests for track observations, recent clusters, and tracks in range
  internal/lidar/storage/sqlite/coverage_boost_test.go
Due: format-go

[go] add unit tests for database coverage, including admin routes and transit controller
  internal/db/coverage_boost_test.go
Due: format-go

[go] add unit tests to boost coverage for nullable fields in GetRunTracks and ListRuns
  internal/lidar/storage/sqlite/coverage_boost_test.go
Due: format-go

[mac] refactor test comments for clarity and consistency in CoverageBoostTests
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
Due: format-mac

[py] add coverage tests for HistogramChartBuilder, including non-numeric sort fallback, zero-total branches, and exception handling
  tools/pdf-generator/pdf_generator/tests/test_chart_builder_coverage.py
Due: format-python

[mac] add coverage tests for VisualiserClient, enhancing connection handling and method body coverage
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
Due: format-mac

[mac] add coverage tests for VisualiserClient, enhancing decoding for coordinate frames, state predictions, and playback info
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
Due: format-mac

[mac] add coverage tests for CompositePointCloudRenderer, enhancing coverage for transient data clearing, point filtering, and hit testing
  tools/visualiser-macos/VelocityVisualiserTests/CompositePointCloudRendererTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/MetalRendererTests.swift
Due: format-mac

[mac] refactor VisualiserClientConnectionTests for clarity and lifecycle coverage
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
Due: format-mac

Apply suggestions from code review
  .github/workflows/nightly-full-ci.yml
Due: none

[go] simplify schema consistency checks and improve error handling in NewDBWithMigrationCheck
  internal/db/db.go
Due: format-go

[go] add tests for schema consistency checks and migration validation
  internal/db/db_schema_consistency_cache_test.go
Due: format-go

[go] add guidance comments to prevent use of Debugf in trace functions
  internal/lidar/l2frames/debug.go
  internal/lidar/l3grid/debug.go
  internal/lidar/pipeline/debug.go
Due: format-go

[go] refactor debug tests to use SetLogWriters for logging setup and enhance trace logging coverage
  internal/lidar/l2frames/debug_test.go
  internal/lidar/l3grid/debug_test.go
  internal/lidar/pipeline/debug_test.go
Due: format-go

[ci] perf improvements (#292)
  .github/workflows/go-ci.yml
  .github/workflows/mac-ci.yml
  .github/workflows/nightly-full-ci.yml
  .github/workflows/performance.yml
  internal/api/server_test.go
  internal/api/testmain_test.go
  internal/db/db.go
  internal/db/db_schema_consistency_cache_test.go
Due: format-go

[go] update LiDARPoint references to Point in tracking pipeline tests
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
Due: format-go

[js] add tests for trackColour function in lidar types
  web/src/lib/types/lidar.test.ts
Due: format-web

[go] add unit tests for debug logging, tracking pipeline, and SQLite analysis run comparison
  internal/lidar/l2frames/debug_test.go
  internal/lidar/l3grid/debug_test.go
  internal/lidar/monitor/direct_backend_test.go
  internal/lidar/pipeline/debug_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_compare_test.go
  internal/lidar/sweep/backend_test.go
Due: format-go

[go] add unit tests for recorder error handling in lidar visualiser
  internal/lidar/sweep/coverage_boost_test.go
  internal/lidar/visualiser/recorder/coverage_boost_test.go
Due: format-go

[go] add unit tests for debug collector and SQLite analysis run tracking
  internal/lidar/debug/collector_coverage_test.go
  internal/lidar/l1packets/parse/coverage_boost_test.go
  internal/lidar/pipeline/debug_fg_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
Due: format-go

[go] add tests for foreground detection and tracking pipeline
  internal/lidar/l5tracks/tracking_coverage_test.go
  internal/lidar/pipeline/debug_fg_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
Due: format-go

[go] add more tests (#289)
  internal/db/coverage_boost_test.go
  internal/lidar/debug/collector_coverage_test.go
  internal/lidar/l1packets/parse/coverage_boost_test.go
  internal/lidar/l2frames/debug.go
  internal/lidar/l2frames/debug_test.go
  internal/lidar/l3grid/debug.go
  internal/lidar/l3grid/debug_test.go
  internal/lidar/l5tracks/tracking_coverage_test.go
  internal/lidar/monitor/direct_backend_test.go
  internal/lidar/pipeline/debug.go
  internal/lidar/pipeline/debug_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_compare_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/sweep/backend_test.go
  internal/lidar/sweep/coverage_boost_test.go
  internal/lidar/visualiser/recorder/coverage_boost_test.go
  internal/serialmux/sse_coverage_test.go
  tools/pdf-generator/pdf_generator/tests/test_chart_builder_coverage.py
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/CompositePointCloudRendererTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/MetalRendererTests.swift
  web/src/lib/types/lidar.test.ts
Due: format-go, format-python, format-web, format-mac

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: format-markdown
