Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

format-go:
  name: format-go (gofmt)
  entry: make format-go
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-python:
  name: format-python (black/ruff in data/ & tools/)
  entry: make format-python
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-web:
  name: format-web (prettier in web/ & docs/)
  entry: make format-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-mac:
  name: format-mac (swift-format for macOS visualiser)
  entry: make format-mac
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-markdown:
  name: format-markdown (prettier for Markdown files)
  entry: make format-markdown
  language: system
  pass_filenames: false
  stages:
  - pre-commit

format-sql:
  name: format-sql (sql-formatter for SQL scripts)
  entry: make format-sql
  language: system
  pass_filenames: false
  stages:
  - pre-commit

[ai][docs] Address PR #422 review comments
  docs/platform/operations/documentation-standards.md
  docs/ui/homepage.md
  docs/ui/macos-menu-layout-design.md
  docs/ui/web-frontend-consolidation.md
  scripts/check-plan-canonical-links.py
  scripts/flo-planning-review.sh
Due: format-markdown

[ai][docs] Restore 7 graduated symlinks to completed plan files
  docs/plans/data-database-alignment-plan.md
  docs/plans/data-sqlite-client-standardisation-plan.md
  docs/plans/go-god-file-split-plan.md
  docs/plans/lidar-analysis-run-infrastructure-plan.md
  docs/plans/lidar-l2-dual-representation-plan.md
  docs/plans/lidar-layer-dependency-hygiene-plan.md
  docs/plans/lidar-visualiser-run-list-labelling-rollup-icon-plan.md
Due: format-markdown

[ai][docs] Restore 4 remaining symlinked plans, fix 3 dead links
  docs/lidar/architecture/velocity-foreground-extraction.md
  docs/plans/lidar-sweep-hint-mode-plan.md
  docs/plans/platform-hub-restructure-plan.md
  docs/plans/tooling-python-venv-consolidation-plan.md
  docs/plans/v050-tech-debt-removal-plan.md
  docs/platform/architecture/canonical-plan-graduation.md
  docs/platform/operations/agent-preparedness.md
Due: format-markdown

[docs] Refactor structural hygiene plan: update implementation status and fix JSON tag inconsistencies
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: format-markdown

[js] Refactor Event and RawRadarStats interfaces: update property names to camelCase for consistency
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: format-web

[go] Enhance error handling in radar and lidar processing: add error checks for setting ring elevations and background parameters
  internal/db/db_radar.go
  internal/lidar/l3grid/export_bg_snapshot.go
  internal/lidar/server/datasource_handlers.go
Due: format-go

[go] Fix casing for radar event API keys: change "magnitude", "uptime", and "speed" to "Magnitude", "Uptime", and "Speed" for consistency
  internal/db/db_radar.go
Due: format-go

[go] Fix metric key casing in cosine correction test: change "MaxSpeed" to "max_speed" for consistency
  internal/api/radar_stats_correction_test.go
Due: format-go

[docs] Standardize JSON tags for EventAPI and RadarObjectsRollupRow to snake_case
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: format-markdown

Fix casing for EventAPI keys: change "Magnitude", "Uptime", and "Speed" to "magnitude", "uptime", and "speed" for consistency
  internal/db/db_radar.go
Due: format-go

[docs][ai] backlog audit: PR refs, landed items, open PR links
  docs/BACKLOG.md
Due: format-markdown

[docs] revise LiDAR Schema Hardening Plan for clarity and scope adjustments
  docs/plans/lidar-schema-robustness-plan.md
Due: format-markdown

[docs] add LiDAR Schema Robustness Plan to address ownership and integrity issues
  docs/plans/lidar-schema-robustness-plan.md
Due: format-markdown

[docs] enhance LiDAR Schema Robustness Plan with architecture decisions and migration strategies
  docs/plans/lidar-schema-robustness-plan.md
Due: format-markdown

[sql] Implement schema hardening and data migration for lidar-related tables
  internal/db/migrations/000032_replay_annotations_and_eval_integrity.down.sql
  internal/db/migrations/000032_replay_annotations_and_eval_integrity.up.sql
  internal/db/migrations/000033_schema_hardening_pre_v050.down.sql
  internal/db/migrations/000033_schema_hardening_pre_v050.up.sql
  internal/db/schema.sql
Due: format-sql

[mac] Update Label API to support replay case and run IDs for annotations
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Labelling/LabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
Due: format-mac

[sql] Refactor radar_data and radar_transit_links tables for improved schema integrity and indexing
  internal/db/migrations/000034_schema_hardening_pre_v050.down.sql
  internal/db/migrations/000034_schema_hardening_pre_v050.up.sql
  internal/db/schema.sql
Due: format-sql

[go] Enable foreign key constraints in SQLite and enhance site report handling
  internal/api/lidar_labels.go
  internal/api/lidar_labels_test.go
  internal/db/db.go
  internal/db/migrations/000033_replay_annotations_and_eval_integrity.down.sql
  internal/db/migrations/000033_replay_annotations_and_eval_integrity.up.sql
  internal/db/migrations/000034_schema_hardening_pre_v050.down.sql
  internal/db/migrations/000034_schema_hardening_pre_v050.up.sql
  internal/db/pragmas_test.go
  internal/db/schema_hardening_test.go
  internal/db/site_report.go
  internal/lidar/server/run_track_api.go
  internal/lidar/server/track_api_test.go
Due: format-go, format-sql

[go] Enhance test coverage by adding site creation and foreign key handling in various tests
  internal/api/download_compat_test.go
  internal/db/db_coverage_test.go
  internal/db/schema_hardening_test.go
  internal/db/site_report_test.go
  internal/db/transit_worker.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
Due: format-go

Refine schema hardening plan annotation checks
  docs/plans/lidar-schema-robustness-plan.md
Due: format-markdown

[go] Add test for replay annotations requiring valid run/track pair linkage
  internal/db/schema_hardening_test.go
Due: format-go

Strengthen LiDAR schema plan architecture and failure analysis
  internal/db/schema.sql
  scripts/order-schema-tables.py
  scripts/test_order_schema_tables.py
Due: format-sql

[go] Refactor lidar label scanning to use pointers for nullable fields and improve error handling
  internal/api/lidar_labels.go
Due: format-go

Fix post-rebase schema cleanup
  internal/db/migrations/000034_schema_hardening_pre_v050.down.sql
  internal/db/migrations/000034_schema_hardening_pre_v050.up.sql
  internal/db/schema.sql
  scripts/test_order_schema_tables.py
Due: format-sql

[docs] Refresh schema hardening status and fix dead links
  data/explore/vrlog-analysis-runs/VRLOG_ANALYSIS.md
  data/structures/VRLOG_FORMAT.md
  docs/BACKLOG.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  docs/plans/lidar-schema-robustness-plan.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
Due: format-markdown

[ver] bump version to 0.5.0-pre23 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: format-web

Preserve legacy labels in migration 000033
  docs/BACKLOG.md
  docs/plans/lidar-schema-robustness-plan.md
  internal/api/lidar_labels.go
  internal/api/lidar_labels_test.go
  internal/db/migrations/000033_replay_annotations_and_eval_integrity.down.sql
  internal/db/migrations/000033_replay_annotations_and_eval_integrity.up.sql
  internal/db/schema.sql
  internal/db/schema_hardening_test.go
  tools/visualiser-macos/VelocityVisualiser/Labelling/LabelAPIClient.swift
Due: format-go, format-mac, format-markdown, format-sql

[py] Refactor topological_sort to simplify unique dependencies extraction
  scripts/order-schema-tables.py
Due: none

Remove legacy annotation shim from 000033
  docs/plans/lidar-schema-robustness-plan.md
  internal/api/lidar_labels.go
  internal/api/lidar_labels_test.go
  internal/db/migrations/000033_replay_annotations_and_eval_integrity.down.sql
  internal/db/migrations/000033_replay_annotations_and_eval_integrity.up.sql
  internal/db/schema.sql
  internal/db/schema_hardening_test.go
Due: format-go, format-markdown, format-sql

Regenerate schema ERD
  data/structures/SCHEMA.dot
  data/structures/SCHEMA.svg
Due: none

[svg] update schema
  data/structures/SCHEMA.svg
Due: none

[py] Enhance schema ERD generation and testing
  Makefile
  scripts/sqlite-erd/graph.sh
  scripts/sqlite-erd/group-dot.py
  scripts/test_order_schema_tables.py
  scripts/test_sqlite_erd.py
Due: none

[fs][git] rm SCHEMA.dot
  .gitignore
  data/structures/SCHEMA.dot
Due: none

[go] Add comprehensive tests for run track API coverage
  internal/api/lidar_labels_coverage_test.go
  internal/lidar/server/run_track_api_coverage2_test.go
Due: format-go

[go] Refactor tests to improve error handling and coverage for label updates and run processing
  internal/api/lidar_labels_coverage_test.go
  internal/lidar/server/run_track_api_coverage2_test.go
Due: format-go

[ai][go][python] Address PR review: normalise empty optional strings, fix unused param, add dot guard
  internal/api/lidar_labels.go
  internal/api/lidar_labels_coverage_test.go
  internal/db/site_report.go
  scripts/test_sqlite_erd.py
Due: format-go

[ai][go] Add coverage tests for lidar_labels.go and transit_worker.go
  internal/api/lidar_labels_coverage_test.go
  internal/db/transit_worker_cov_test.go
Due: format-go

[py] Fix formatting by adding blank lines for improved readability in group-dot.py
  scripts/sqlite-erd/group-dot.py
Due: none

[ai][go][swift][docs] Fix three CI failures after rebase
  docs/lidar/architecture/schema-hardening.md
  docs/plans/lidar-schema-robustness-plan.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  internal/lidar/l9endpoints/grpc_server_test.go
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: format-go, format-mac, format-markdown

Path conditions:
  format-go: any of: ^.*\.go$
  format-python: any of: ^(tools|data)/.*\.py$
  format-web: any of: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
  format-mac: any of: ^tools/visualiser-macos/.*\.swift$
  format-markdown: any of: \.md$
  format-sql: any of: \.sql$
