Repository banshee-data/velocity.report: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-go, format-python, format-web, format-mac, format-markdown, format-sql

.pre-commit-config.yaml:

repos:
  # Basic file hygiene (fast, reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  # Run repository-level formatting targets for changed files
  - repo: local
    hooks:
      - id: format-go
        name: format-go (gofmt)
        entry: make format-go
        language: system
        pass_filenames: false
        files: ^.*\.go$
        stages: [pre-commit]

      - id: format-python
        name: format-python (black/ruff in data/ & tools/)
        entry: make format-python
        language: system
        pass_filenames: false
        # Only run the repo-level python formatter on utility and data scripts
        files: ^(tools|data)/.*\.py$
        stages: [pre-commit]

      - id: format-web
        name: format-web (prettier in web/ & docs/)
        entry: make format-web
        language: system
        pass_filenames: false
        files: ^(web/|docs/).*(\.js|\.ts|\.svelte|\.css|\.json)$
        stages: [pre-commit]

      - id: format-mac
        name: format-mac (swift-format for macOS visualiser)
        entry: make format-mac
        language: system
        pass_filenames: false
        files: ^tools/visualiser-macos/.*\.swift$
        stages: [pre-commit]

      - id: format-markdown
        name: format-markdown (prettier for Markdown files)
        entry: make format-markdown
        language: system
        pass_filenames: false
        files: \.md$
        stages: [pre-commit]

      - id: format-sql
        name: format-sql (sql-formatter for SQL scripts)
        entry: make format-sql
        language: system
        pass_filenames: false
        files: \.sql$
        stages: [pre-commit]
# Note: Go formatting and linting handled by your editor/IDE
# Note: Web linting (pnpm) handled by CI on PRs
# This keeps pre-commit fast and reliable!

[go] validate source path in BackupDatabase to prevent DSN injection
  internal/db/backup.go
  internal/db/backup_test.go
Due: format-go

[img] enforce pure-Go build for ARM64 when pcap support is unavailable
  image/scripts/build-image.sh
Due: none

wip: go-typst migration from latex
  Makefile
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/pdf-typst-parity-todo.md
  docs/plans/pdf-typst-phase-0-results.md
  docs/plans/qemu-arm64-pi-image-dev-vm-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
  go.mod
  go.sum
  internal/report/chart/osmtiles.go
  internal/report/chart/palette.go
  internal/report/chart/sitemap.go
  internal/report/typst/cmd/typst-prototype/main.go
  internal/report/typst/render.go
  internal/report/typst/render_test.go
  internal/report/typst/templates/preamble.typ
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
  internal/report/typst/testdata/sample.json
Due: format-go, format-markdown

[git] update .gitignore for improved clarity and organization
  .gitignore
Due: none

[git] add .gitkeep to ensure typst binary directory exists for downloads
  internal/report/typst/typstbin/dist/.gitkeep
Due: none

[git] reorganise .gitignore files for improved clarity and structure
  .gitignore
  docs_html/.gitignore
  tools/rack-drawing/build/.gitignore
  web/.gitignore
Due: none

[ci] update .prettierignore to include agent metadata and build artifacts
  .prettierignore
Due: none

[git] update build tags and add typst installation targets in Makefile
  .pre-commit-config.yaml
  Makefile
Due: none

[git] add typst binary to .gitignore for developer-installed binaries
  .gitignore
Due: none

[docs] update PDF generation plans to reflect Typst as default engine and remove outdated references
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/pdf-typst-phase-0-results.md
  docs/plans/qemu-arm64-pi-image-dev-vm-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
Due: format-markdown

[go] Implement Typst PDF generation and source packaging
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/cmd/server/pdf.go
  internal/report/typst/data.go
  internal/report/typst/render.go
  internal/report/typst/templates/preamble.typ
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
  internal/report/typst/testdata/sample.json
  internal/report/typst/typstbin/download.go
  internal/report/typst/typstbin/embed_off.go
  internal/report/typst/typstbin/embed_on.go
  internal/report/typst/typstbin/typstbin.go
  internal/report/typst_generate.go
  internal/report/typst_generate_test.go
Due: format-go

[js] update POI rendering to use vector markers instead of emoji glyphs for better PDF compatibility
  web/src/lib/map-svg.test.ts
  web/src/lib/map-svg.ts
Due: format-web

[img] embed typst PDF engine into velocity binary for seamless installation
  image/scripts/build-image.sh
Due: none

[sh] add script to download Typst release binaries for specified Go targets
  scripts/download-typst.sh
Due: none

[js] replace emoji glyphs with vector pictographs for landmark POIs in SVG generation
  web/src/lib/map-svg.test.ts
  web/src/lib/map-svg.ts
Due: format-web

[go] enhance typst templates and improve table rendering for better layout and alignment
  internal/report/typst/templates/preamble.typ
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
  internal/report/typst_generate.go
Due: format-go

[law] add third-party notices for bundled components and their licenses
  THIRD_PARTY_NOTICES.md
Due: format-markdown

[go] enhance typst integration and improve build process
  Makefile
  internal/report/chart/sitemap.go
  internal/report/typst/cmd/typst-prototype/main.go
  internal/report/typst/render.go
  internal/report/typst/templates/preamble.typ
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
  internal/report/typst/typstbin/download.go
  internal/report/typst/typstbin/typstbin.go
  scripts/download-typst.sh
  scripts/release-assets.sh
Due: format-go

[js] add licenses section for third-party components in settings page
  web/src/routes/settings/+page.svelte
Due: format-web

[ci] skip embedding typst binary during build to optimize CI process
  .github/workflows/go-ci.yml
Due: none

[ai][go] make Typst prototype OSM tiles opt-in
  internal/report/typst/cmd/typst-prototype/main.go
Due: format-go

[ai][make] honour VELOCITY_TYPST_PATH in prototype target
  Makefile
Due: none

[ai][docs] sync Typst prototype docs with current pin
  docs/plans/pdf-typst-parity-todo.md
  docs/plans/pdf-typst-phase-0-results.md
Due: format-markdown

Remove legacy TeX report files and scripts
  cmd/tools/render-sample-tex/main.go
  image/stage-velocity/00-install-packages/01-run.sh
  internal/report/chart_pipeline.go
  internal/report/tex/dependency-manifest.txt
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/period_report.tex
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/templates/science.tex
  internal/report/tex/templates/site_info.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.pdf
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
  internal/report/tex/velocity-report.ini
  scripts/build-minimal-texlive.sh
  scripts/install-minimal-texlive.sh
Due: format-go

[py] remove pylatex
  requirements.in
  requirements.txt
Due: none

[img] Refactor Raspberry Pi image pipeline: remove TeX Live dependencies and update package list
  image/README.md
  image/scripts/build-image.sh
  image/stage-velocity/00-install-packages/00-packages
  image/stage-velocity/03-velocity-config/files/velocity-report.service
  image/stage-velocity/06-cleanup/00-run.sh
Due: format-markdown

Refactor PDF report generation to use Typst instead of LaTeX
  .claude/agents/malory.md
  .claude/skills/docs-release-prep/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/security-review/SKILL.md
  .claude/skills/style-fix/SKILL.md
  .github/STYLE.md
  .github/agents/malory.agent.md
  .github/copilot-instructions.md
  .github/knowledge/architecture.md
  .github/knowledge/coding-standards.md
  .github/knowledge/role-technical.md
  .github/knowledge/security-surface.md
  ARCHITECTURE.md
  CLAUDE.md
  COMMANDS.md
  CONTRIBUTING.md
  DEBUGGING.md
  README.md
  data/structures/MATRIX.md
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
  docs/platform/operations/pdf-reporting.md
  docs/platform/operations/python-venv.md
  docs/platform/operations/rpi-imager.md
  docs/radar/cli-comprehensive-guide.md
  docs/ui/DESIGN.md
  docs/ui/PDF_REPORT_DESIGN.md
  image/README.md
Due: format-markdown

Enhance documentation index: add links to additional Markdown files in the repository root
  docs_html/.eleventy.js
  docs_html/src/index.md
Due: format-markdown

Update go.mod and go.sum: remove unused dependencies and add golang.org/x/sys
  go.mod
  go.sum
Due: none

[ci] Remove TeX Live installation and related steps from CI workflows
  .github/workflows/go-ci.yml
  .github/workflows/nightly-full-ci.yml
Due: none

[git] Update .gitignore: remove LaTeX artifacts and simplify reports section
  .gitignore
Due: none

Refactor report generation to use Typst exclusively
  internal/api/server_generate_go_test.go
  internal/cmd/server/README.md
  internal/cmd/server/flags_test.go
  internal/cmd/server/pdf.go
  internal/cmd/server/radar.go
  internal/db/db_radar.go
  internal/db/db_rollup_test.go
  internal/lidar/l9endpoints/gridplotter.go
  internal/report/archive_test.go
  internal/report/chart/config.go
  internal/report/chart/histogram.go
  internal/report/report.go
  internal/report/report_phases.go
  internal/report/report_test.go
  internal/report/typst_generate.go
  internal/report/typst_generate_test.go
Due: format-go, format-markdown

[js] Update third-party notices link in settings page for better accessibility
  web/src/routes/settings/+page.svelte
Due: format-web

Remove LaTeX tools configuration from VSCode settings
  .vscode/settings.json
Due: none

[docs] Update documentation to remove references to gonum and clarify dependencies
  docs/DECISIONS.md
  docs/platform/architecture/go-package-structure.md
  docs/platform/operations/simplification-deprecation.md
Due: format-markdown

Update migration and setup scripts to replace LaTeX with Typst
  scripts/batch-canonical-migration.py
  scripts/dev-setup.sh
  scripts/list-matrix-fields.py
Due: none

[go] Refactor comments and documentation to remove LaTeX references and clarify report generation details
  internal/report/chart/config.go
  internal/report/chart/svg.go
  internal/report/config.go
  internal/report/typst/templates/preamble.typ
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
  internal/report/typst_generate.go
Due: format-go

[js] Refactor licenses section for clarity and improved layout on settings page
  web/src/routes/settings/+page.svelte
Due: format-web

Refactor PDF generation plans to reflect Typst migration and remove legacy LaTeX references
  docs/plans/pdf-go-chart-migration-plan.md
  docs/plans/pdf-latex-precompiled-format-plan.md
  docs/plans/pdf-pure-go-latex-plan.md
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
Due: format-markdown
