Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[make] LaTeX references and update commands for Typst integration
  Makefile
Due: none

Add Gonum module stubs and ChiSquared distribution implementation
  go.mod
  go.sum
  internal/modstubs/gonum/go.mod
  internal/modstubs/gonum/stat/distuv/chisquared.go
Due: go

[js] Fix layout of Licences section for improved alignment on settings page
  web/src/routes/settings/+page.svelte
Due: web

[docs] Update documentation to clarify local-first data handling and optional remote requests
  .github/copilot-instructions.md
  .github/knowledge/architecture.md
  .github/knowledge/security-surface.md
  README.md
  TENETS.md
  docs/lidar/architecture/geometry-prior-service.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/vector-scene-map.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  docs/plans/pdf-latex-precompiled-format-plan.md
  docs/plans/qemu-headscale-dev-vm-plan.md
Due: none

[js] Update .prettierignore and eslint.config.js to include build artifacts and ignore patterns
  web/.prettierignore
  web/eslint.config.js
Due: none

docs: Clarify comments in SiteMapOptions regarding OSMTiles functionality and privacy implications
  internal/report/chart/sitemap.go
Due: go

[ai][go] drive Typst report paper size from config
  internal/report/typst/data.go
  internal/report/typst/templates/report.typ
  internal/report/typst/testdata/sample.json
  internal/report/typst_generate.go
Due: go

[ai][go] harden OSM tile cache directory
  internal/report/chart/osmtiles.go
Due: go

[ai][js] fix serial editor panel width on settings page
  web/src/routes/settings/+page.svelte
Due: web

[ver] bump version to 0.5.1-pre23 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[typ] update layout and styling for report sections and tables
  internal/report/typst/templates/preamble.typ
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
Due: go

[go] remove gonum module and related ChiSquared implementation
  go.mod
  internal/modstubs/gonum/go.mod
  internal/modstubs/gonum/stat/distuv/chisquared.go
Due: go

[docs] refine PDF reporting documentation and update Raspberry Pi image size estimates
  docs/platform/operations/pdf-reporting.md
  image/README.md
Due: none

[go] add readZipEntry function to extract specific entries from ZIP files in tests
  internal/report/typst_generate_test.go
Due: go

refactor: update map editor tests for report generation and consent requirements
  web/src/__mocks__/@testing-library/svelte.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/components/MapEditorInteractive.test.ts
  web/src/lib/map-svg.test.ts
  web/src/lib/map-svg.ts
  web/src/routes/+page.svelte
  web/src/routes/reports/+page.svelte
Due: web

[js] add functionality to load map tiles with user consent and update report map preview handling
  web/src/__mocks__/@testing-library/svelte.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/components/MapEditorInteractive.test.ts
Due: web

[go] add PDF metadata support for Typst-generated reports
  internal/report/typst/pdf_metadata.go
  internal/report/typst/render.go
  internal/report/typst/render_test.go
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
  internal/report/typst_generate.go
  internal/report/typst_generate_test.go
Due: go

[js] add report map preview stale detection and validation for bounding box changes
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/components/MapEditorInteractive.test.ts
Due: web

[js] enhance map editor with SVG overlay and style selection for report generation
  web/src/lib/components/MapEditorInteractive.svelte
Due: web

[js] update map editor to use tile snapshot terminology and remove address search functionality
  web/src/__mocks__/@testing-library/svelte.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/components/MapEditorInteractive.test.ts
Due: web

[docs] update PDF reporting documentation to clarify map data handling and user consent for external requests
  docs/platform/operations/pdf-reporting.md
Due: none

[js] enhance FOV triangle calculations and overlay rendering with tile consent handling
  web/src/lib/components/MapEditorInteractive.svelte
Due: web

[go] add unit test for parsing PDF trailer references and ID
  internal/report/typst/pdf_metadata.go
  internal/report/typst/render_test.go
Due: go

[js] enhance map editor to manage report overlays visibility based on tile loading state
  web/src/lib/components/MapEditorInteractive.svelte
Due: web

[typ] reduce clearance for figure elements in sections template
  internal/report/typst/templates/sections.typ
Due: go

[typ] refine layout for report sections and figure placements
  internal/report/typst/templates/report.typ
  internal/report/typst/templates/sections.typ
Due: go

[js] refactor report feedback display logic and improve download options section
  web/src/routes/reports/+page.svelte
Due: web

[ai][js] remove dead Overpass map module from web editor
  web/src/lib/api.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/map-svg.test.ts
  web/src/lib/map-svg.ts
  web/src/lib/svg.test.ts
  web/src/lib/svg.ts
Due: web

[ai][go] remove unused /api/map/overpass proxy
  internal/api/map.go
  internal/api/map_test.go
  internal/api/server.go
Due: go

[ai][go] remove server-side OSM site-map renderer and Phase 0 prototype
  Makefile
  internal/report/chart/osmtiles.go
  internal/report/chart/sitemap.go
  internal/report/typst/cmd/typst-prototype/main.go
Due: go

[ai][docs] note removal of Phase 0 typst-prototype driver
  docs/plans/pdf-typst-parity-todo.md
  docs/plans/pdf-typst-phase-0-results.md
Due: none

[ai][go] typstbin: private cache-dir fallback and Windows exec-bit parity
  internal/report/typst/typstbin/typstbin.go
Due: go

[ai][typ] report: render surveyor/contact line only when present
  internal/report/typst/templates/sections.typ
Due: go

[ai][go] typst render: reject asset names that escape the work dir
  internal/report/typst/render.go
Due: go

[go] test: add fixture test for rendering without histogram buckets
  internal/api/server_generate_go_test.go
  internal/report/typst/render_test.go
Due: go

[typ] improve histogram bucket handling for velocity distribution
  internal/report/typst/templates/sections.typ
Due: go

[docs] add test coverage expectations for PDF report generation
  docs/platform/operations/pdf-reporting.md
Due: none

[go] refactor typstbin package: extract functions and improve environment variable handling
  internal/report/typst/typstbin/deps.go
  internal/report/typst/typstbin/download.go
  internal/report/typst/typstbin/typstbin.go
Due: go

[go] Add comprehensive tests for Typst rendering and binary resolution
  internal/report/typst/pdf_metadata_test.go
  internal/report/typst/render_test.go
  internal/report/typst/typstbin/typstbin_test.go
  internal/report/typst_generate_test.go
Due: go

[sh] refactor download-typst.sh: streamline Windows support and remove unused code
  scripts/download-typst.sh
Due: none

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
