Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[docs] update backlog with new debug surfaces and performance metrics for v0.5.2
  docs/BACKLOG.md
Due: none

[agent] Jess standup + planning (#350)
  .github/agents/jess.agent.md
  scripts/jess-planning-review.sh
  scripts/jess-standup.sh
Due: none

[docs] expand decision register with detailed resolutions and sources
  docs/DECISIONS.md
Due: none

[docs] update backlog and visualiser proto contract documentation for clarity and consistency
  docs/BACKLOG.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
Due: none

[docs] add script to check and fix American English spellings in documentation
  scripts/check-british-spelling.py
Due: none

[ci] update Python version to 3.12 in CI workflow
  .github/workflows/go-ci.yml
Due: none

[make] add lint-docs target to check British English spelling in documentation
  Makefile
Due: none

[py] add additional British English spellings for "serializer", "visualizer", and "optimizer" in check-british-spelling script
  scripts/check-british-spelling.py
Due: none

[py] remove unused import of sys in check-british-spelling script
  scripts/check-british-spelling.py
Due: none

[py] enhance fenced code block detection to support variable-length markers in check-british-spelling script
  scripts/check-british-spelling.py
Due: none

[docs] add BACKLOG v0.9.0
  docs/BACKLOG.md
Due: none

[docs] update BACKLOG for speed metric redesign and new profile comparison features
  docs/BACKLOG.md
Due: none

[docs] retire phases C and D from LiDAR visualiser proto contract and platform simplification plans, tracking tasks in BACKLOG.md v0.5.0
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
Due: none

[docs] update retirement tracking in plans for visualiser track proto parity and backward compatibility shim removal
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
Due: none

[docs] update BACKLOG with governance guidelines and prune
  docs/BACKLOG.md
Due: none

[docs] update BACKLOG with formatting guidelines and enhance v0.5.0 section details
  docs/BACKLOG.md
Due: none

[docs] update DECISIONS.md with new platform extraction details and add TicTacTail plan references
  docs/DECISIONS.md
  docs/plans/lidar-l8-analytics-l9-endpoints-l10-client-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/tictactail-platform-plan.md
Due: none

[docs] standardize terminology from "L10 Client" to "L10 Clients" across multiple plans
  docs/plans/SERVER_MANAGER.md
  docs/plans/WIRESHARK_MENU_ALIGNMENT.md
  docs/plans/lidar-l7-scene-plan.md
  docs/plans/lidar-visualiser-labelling-qc-enhancements-overview-plan.md
  docs/plans/lidar-visualiser-trails-and-uncertainty-visualisation-plan.md
  docs/plans/web-frontend-background-debug-surfaces-plan.md
  docs/plans/web-frontend-consolidation-plan.md
Due: none

[docs] L10 Clients
  docs/plans/lidar-l8-analytics-l9-endpoints-l10-clients-plan.md
Due: none

[docs] standardize terminology from "Client" to "Clients" in LiDAR Data Layer Model
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

[ai][go] finish report download migration and reject malformed auto-tune JSON
  internal/api/coverage_test.go
  internal/api/download_compat_test.go
  internal/api/handlers_test.go
  internal/api/server.go
  internal/api/server_coverage_test.go
  internal/api/server_test.go
  internal/lidar/monitor/sweep_handlers.go
Due: go

[go] implement benchmark mode for performance tracing in tracking pipeline and related components
  cmd/radar/radar.go
  cmd/tools/pcap-analyse/main.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/frame_timer.go
  internal/lidar/pipeline/frame_timer_test.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: go, go-cli

[go] add pprof routes for runtime profiling in webserver
  internal/lidar/monitor/webserver.go
Due: go

[go] reorganize pprof route registration for lidar-only server
  internal/lidar/monitor/webserver.go
Due: go

[ai][go] add Executor interface to sqlite for transactional track writes
  internal/lidar/storage/sqlite/track_store.go
Due: go

[go] add tests for BenchmarkMode and scene name population in analysis run
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
Due: go

[proto] add replay_epoch to PlaybackInfo for tracking replay loads
  proto/velocity_visualiser/v1/visualiser.proto
Due: none

[ai][go] add occlusion aggregate metrics to TrackingMetrics and sweep pipeline
  internal/lidar/l5tracks/tracking.go
  internal/lidar/sweep/output.go
  internal/lidar/sweep/sampler.go
Due: go

[mac] throttle frame dispatching to ~30fps for improved UI responsiveness in VisualiserClient
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[ai][go][js] add speed_ratio as sweep variable and expose occlusion in dashboard
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/sweep/runner.go
Due: go

[ai][go] wire SpeedRatio through PCAP replay stack
  internal/lidar/monitor/client.go
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/datasource_handlers_test.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/sweep/backend.go
Due: go

[mac] add scene name and short hex ID to AnalysisRun model; format creation date to short time style
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
Due: mac

[mac] add performance logging for frame processing and adjust frame dispatching logic
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
Due: mac

[mac] enhance RunBrowserView layout with 5-column table; update tests for sceneName and shortHexId
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunTrackLabelAPIClientTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
Due: mac

[mac] add replayEpoch to PlaybackInfo and enhance stale frame logging with epoch details
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[mac] enhance date formatting for AnalysisRun and adjust RunBrowserView layout
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: mac

[go] refactor pprof route tests: consolidate endpoint checks and improve naming
  internal/lidar/monitor/webserver_coverage_test.go
Due: go

[go] enhance PCAP handling for fast mode: implement blocking frame channel to prevent frame drops during analysis runs
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/monitor/datasource_handlers.go
Due: go
