Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[go][tex] Refactor report templates and data structures for improved time display and consistency
  internal/api/server_charts_test.go
  internal/api/server_reports_generate.go
  internal/report/chart/assets/fonts.go
  internal/report/chart/config.go
  internal/report/chart/histogram.go
  internal/report/chart/timeseries.go
  internal/report/config.go
  internal/report/report_phases.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/period_report.tex
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[docs] Update PDF report design for default paper size and table styling consistency
  docs/ui/PDF_REPORT_DESIGN.md
Due: none

[py] Add script to compare generated report PDFs with Poppler tools
  scripts/compare_report_layout.py
Due: none

[py] update script permissions for compare_report_layout.py
  scripts/compare_report_layout.py
Due: none

[go][tex] refactor report templates and update LaTeX formatting for consistency and clarity
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/chart/histogram.go
  internal/report/report_phases.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[go][tex] Refactor TeX report generation and improve table formatting
  internal/report/chart/histogram.go
  internal/report/chart/histogram_test.go
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  internal/report/report.go
  internal/report/report_phases.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[docs] update PDF_REPORT_DESIGN
  docs/ui/PDF_REPORT_DESIGN.md
Due: none

[go][tex] Update time series chart rendering to include aggregate p98 and max reference lines
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  internal/report/report_phases.go
  internal/report/report_test.go
Due: go

[go][tex] update histogram chart rendering, tests for legend positioning and axis label spacing
  internal/report/chart/histogram.go
  internal/report/chart/histogram_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/preamble.tex
Due: go

[docs] Enhance PDF report design with detailed chart layout adjustments and legend positioning
  docs/ui/PDF_REPORT_DESIGN.md
Due: none

[tex] Add afterpage package for improved page management in TeX reports
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[tex] Enhance PDF report layout and rendering logic for charts and maps
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[tex] Improve time series chart legend layout and rendering; enhance table header formatting in TeX reports
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/preamble.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[ci] Add CodeQL workflow for automated security analysis
  .github/workflows/codeql.yml
Due: none

Apply suggestions from code review
  .github/workflows/codeql.yml
Due: none

[tex] Implement balanced two-column layout for long detailed-data tables; enhance spacing and formatting in PDF reports
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/report_phases.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[go][tex] Refactor PDF report table rendering to use flow tables; remove supertabular dependencies and improve layout for granular and daily percentile tables
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/report_phases.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/period_report.tex
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

[ci] Fix codeql-action SHA pins to valid v3.35.2 commit
  .github/workflows/codeql.yml
Due: none

[tex][go] Enhance PDF report layout and rendering; add media headings and improve spacing for detailed data tables
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

Refactor PDF report table rendering to position captions below flowing rows; update tests and examples accordingly
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
Due: go

Apply suggestions from code review
  docs/ui/PDF_REPORT_DESIGN.md
  internal/report/tex/helpers.go
  internal/report/tex/templates/overview.tex
Due: go

[ai][go][tex] resolve live PDF review comments
  cmd/tools/render-sample-tex/main.go
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/report/config.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/site_info.tex
  internal/report/tex/templates/statistics.tex
Due: go, go-cli

[ai][docs] sync PDF design note with current output
  docs/ui/PDF_REPORT_DESIGN.md
Due: none

[tex] fix formatting (#481)
  cmd/tools/render-sample-tex/main.go
  docs/ui/PDF_REPORT_DESIGN.md
  internal/api/server_charts_test.go
  internal/api/server_generate_go_test.go
  internal/api/server_reports_generate.go
  internal/report/chart/assets/AtkinsonHyperlegibleMono-Italic-VariableFont_wght.ttf
  internal/report/chart/assets/AtkinsonHyperlegibleMono-VariableFont_wght.ttf
  internal/report/chart/assets/fonts.go
  internal/report/chart/config.go
  internal/report/chart/histogram.go
  internal/report/chart/histogram_test.go
  internal/report/chart/timeseries.go
  internal/report/chart/timeseries_test.go
  internal/report/config.go
  internal/report/report.go
  internal/report/report_phases.go
  internal/report/report_test.go
  internal/report/tex/helpers.go
  internal/report/tex/helpers_test.go
  internal/report/tex/render.go
  internal/report/tex/render_test.go
  internal/report/tex/templates/chart_section.tex
  internal/report/tex/templates/map_section.tex
  internal/report/tex/templates/overview.tex
  internal/report/tex/templates/period_report.tex
  internal/report/tex/templates/preamble.tex
  internal/report/tex/templates/report.tex
  internal/report/tex/templates/site_info.tex
  internal/report/tex/templates/statistics.tex
  internal/report/tex/templates/survey_parameters.tex
  internal/report/tex/testdata/golden_comparison.tex
  internal/report/tex/testdata/golden_single.tex
  scripts/compare_report_layout.py
Due: go, go-cli

[ai][deps] fix 19 dependabot alerts across all ecosystems
  go.mod
  go.sum
  public_html/package.json
  public_html/pnpm-lock.yaml
  requirements.txt
  web/package.json
  web/pnpm-lock.yaml
Due: none

[ver] bump version to 0.5.1-pre11 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[js] update picomatch and cookie versions in pnpm lockfiles
  public_html/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: none

[docs] rm all py pdf-gen refs
  docs/COVERAGE.md
  docs/VISION.md
  docs/platform/PLATFORM.md
  docs/platform/operations/distribution-packaging.md
  docs/platform/operations/pdf-reporting.md
  docs/platform/operations/python-venv.md
  docs/platform/operations/quality-coverage.md
  docs/platform/operations/rpi-imager.md
  docs/radar/architecture/site-config-cosine-correction-spec.md
  docs/radar/cli-comprehensive-guide.md
  docs/radar/operations/remote-host-upgrade-runbook.md
  docs/ui/design-review-and-improvement.md
Due: none

[ai][ci] upgrade codeql-action v3→v4, add swift, fix Node 20 deprecation
  .github/workflows/codeql.yml
Due: none

[go][js][py] package version bump (#462)
  Makefile
  go.mod
  go.sum
  public_html/package.json
  public_html/pnpm-lock.yaml
  requirements.txt
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
  web/pnpm-lock.yaml
Due: python, mac

[js] Implement offlineDocsUrl function and corresponding tests
  web/src/lib/docsUrl.test.ts
  web/src/lib/docsUrl.ts
Due: web

[go] Implement embedded offline documentation server and validation
  assets.go
  cmd/radar/radar.go
  internal/docsite/docsite.go
  internal/docsite/docsite_test.go
Due: go, go-cli

[docs] Add offline documentation site structure and styles
  docs_html/.eleventy.js
  docs_html/.gitignore
  docs_html/package.json
  docs_html/pnpm-lock.yaml
  docs_html/src/_data/build.js
  docs_html/src/_includes/sidebar.njk
  docs_html/src/_layouts/base.njk
  docs_html/src/assets/site.css
  docs_html/src/index.njk
  docs_html/stub-index.html
Due: none

[make][sh] Add offline documentation build and management scripts
  Makefile
  scripts/check-docs-offline-links.js
  scripts/docs-offline-symlinks.sh
  scripts/ensure-docs-stub.sh
Due: none

Potential fix for pull request finding 'CodeQL / Incomplete multi-character sanitization'
  docs_html/.eleventy.js
Due: none

[ai][docs] render offline docs index as Markdown
  docs_html/.gitignore
  docs_html/src/index.md
Due: none

[ai][ci] add offline docs embed stub step to Go CI jobs
  .github/workflows/go-ci.yml
Due: none

[ai][make][js] make offline docs lint non-mutating and arg-tolerant
  Makefile
  scripts/check-docs-offline-links.js
Due: none

[js] Add Docs navigation item and update offlineDocsUrl handling
  web/src/routes/+layout.svelte
Due: web

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
