Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][docs] the guide gets the half-space elevations and the grid angle
  docs/lidar/operations/point-annotation-tool.md
Due: none

docs: plan resilient lidar worker pool
  docs/lidar/architecture/distributed-sweep.md
  docs/plans/lidar-distributed-sweep-workers-plan.md
  docs/plans/lidar-worker-pool-and-results-hub-plan.md
Due: none

[ai][docs] map the worker pool plan onto packages, tables, routes and an order of work
  docs/plans/lidar-job-queue-implementation-plan.md
  docs/plans/lidar-worker-pool-and-results-hub-plan.md
Due: none

[ai][docs] tick the contract package off the job queue map
  docs/plans/lidar-job-queue-implementation-plan.md
Due: none

[ai][docs] the worker's guide, and the map re-sequenced: runner first, hub after
  docs/lidar/LIDAR.md
  docs/lidar/operations/analysis-worker.md
  docs/plans/lidar-job-queue-implementation-plan.md
Due: none

[ai][go] the job contract: what hub, worker, dashboard and CLI must agree on
  internal/lidar/jobs/attempt.go
  internal/lidar/jobs/bundle.go
  internal/lidar/jobs/digest.go
  internal/lidar/jobs/doc.go
  internal/lidar/jobs/jobs_test.go
  internal/lidar/jobs/kinds.go
  internal/lidar/jobs/manifest.go
  internal/lidar/jobs/request.go
Due: go

[ai][go] the worker: run a job over verified captures, keep the bundle, serve it back
  internal/lidar/jobs/runner/api.go
  internal/lidar/jobs/runner/benchmark_pcap.go
  internal/lidar/jobs/runner/campaign.go
  internal/lidar/jobs/runner/captures.go
  internal/lidar/jobs/runner/diskfree_other.go
  internal/lidar/jobs/runner/diskfree_unix.go
  internal/lidar/jobs/runner/executor.go
  internal/lidar/jobs/runner/runner.go
  internal/lidar/jobs/runner/runner_test.go
  internal/lidar/jobs/runner/store.go
Due: go

[ai][go] velocity worker and velocity jobs
  internal/cmd/jobs/jobs.go
  internal/cmd/root/root.go
  internal/cmd/worker/worker.go
Due: go

[ai][go] store analysis-run tracks as they finished, not as first sighted
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_mutations.go
  internal/lidar/storage/sqlite/analysis_run_track_update_test.go
Due: go

Add retry mechanism for SQLite updates and commits
  internal/lidar/storage/sqlite/analysis_run_mutations.go
Due: go

[ai][docs] the path from a rough fix to a registered capture
  docs/plans/sf-priors-bootstrap-plan.md
  docs/plans/spatial-priors-service-plan.md
Due: none

[ai][go] close the cluster dump on every exit from runBenchmark (#583)
  internal/lidar/lidarbench/lidarbench.go
Due: go

[ai][mac] proposing again adds to the list instead of throwing it away
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ObjectProposer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/ObjectProposerTests.swift
Due: mac

[ai][mac] hide what is settled, and work on what is left
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationFrameSync.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationViewState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
Due: mac

[ai][docs] the guide gets the label-state toggles and what proposing again does
  docs/lidar/operations/point-annotation-tool.md
Due: none

[ai][mac] make the label toggles reach the masks drawn over the cloud
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationFrameSync.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationViewState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
Due: mac

[ai][mac] picking an object goes to its first frame, and objects can be merged
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/ObjectProposerTests.swift
Due: mac

[ai][docs] the guide gets merging, and what a hidden label state hides
  docs/lidar/operations/point-annotation-tool.md
Due: none

[ai][mac] turn the views with the grid, not just the brush
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PointSelection.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiserTests/PointSelectionTests.swift
Due: mac

[ai][mac] put merging where it can be found, and take several at once
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/ObjectProposerTests.swift
Due: mac

[ai][docs] the grid angle turns the views too, and merging takes several
  docs/lidar/operations/point-annotation-tool.md
Due: none

[ai][mac] the map-marks line has to parse, whatever is typed into it
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationKeyTests.swift
Due: mac

[ai][docs] Design portable LiDAR and IMU acquisition timing
  data/experiments/try/backpack-motion-spectrum-and-stabiliser.md
  data/experiments/try/route-speed-accuracy-vs-fixed-radar.md
  docs/BACKLOG.md
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/portable-capture-timing.md
  docs/lidar/operations/motion-capture.md
  docs/plans/lidar-route-capture-plan.md
Due: none

[ai][docs] the 71 m figure is San Francisco's, and registered implies recorded
  docs/plans/spatial-priors-service-plan.md
Due: none

[ai][docs] the dynamic footprint needs braking distance, not domain 5
  docs/plans/vehicle-encyclopedia-plan.md
  docs/platform/architecture/identifiability-analysis.md
Due: none

[ai][docs] Design portable LiDAR and IMU acquisition timing (#590)
  data/experiments/try/backpack-motion-spectrum-and-stabiliser.md
  data/experiments/try/route-speed-accuracy-vs-fixed-radar.md
  docs/BACKLOG.md
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/portable-capture-timing.md
  docs/lidar/operations/motion-capture.md
  docs/plans/lidar-route-capture-plan.md
Due: none

[ai][go] store analysis-run tracks as they finished, not as first sighted (#584)
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_mutations.go
  internal/lidar/storage/sqlite/analysis_run_track_update_test.go
Due: go

[ai][docs] the path from a rough fix to a registered capture (#588)
  docs/plans/sf-priors-bootstrap-plan.md
  docs/plans/spatial-priors-service-plan.md
Due: none

[ai][docs] ideate a vehicle encyclopedia, and derive what it may publish (#587)
  data/QUESTIONS.md
  data/maths/MATHS.md
  data/maths/proposals/20260922-vehicle-taxonomy-resolution-maths.md
  docs/BACKLOG.md
  docs/lidar/architecture/label-vocabulary.md
  docs/lidar/architecture/vehicle-taxonomy.md
  docs/plans/scene-vehicle-identification-plan.md
  docs/plans/vehicle-encyclopedia-plan.md
  docs/platform/architecture/identifiability-analysis.md
  docs/platform/architecture/vehicle-encyclopedia.md
Due: none

[ai][docs] Route capture plan, experiments, and LiDAR market watch (#580)
  data/experiments/try/backpack-motion-spectrum-and-stabiliser.md
  data/experiments/try/route-speed-accuracy-vs-fixed-radar.md
  data/experiments/try/survey-walk-geometry-gain.md
  docs/BACKLOG.md
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/portable-capture-timing.md
  docs/lidar/operations/motion-capture.md
  docs/plans/lidar-route-capture-plan.md
  docs/platform/hardware/lidar-market-watch.md
Due: none

[mac] annotation: five views, keys, merging, and a grid angle (#589)
  Makefile
  docs/lidar/operations/point-annotation-tool.md
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationFrameSync.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationViewState.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushHover.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/BrushSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/Lattice.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ObjectProposer.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/OrthoViewport.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PointSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/SelectionFootprint.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationStatusViews.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationViewports.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiser/UI/LassoOverlay.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationKeyTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationObjectFlowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/LatticeTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ObjectProposerTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PointSelectionTests.swift
Due: mac

[ai][docs] WorldPoint's size estimate names the field it counts, and stop this branch's docs commits failing
  docs/plans/lidar-cluster-observation-log-and-async-tracking-plan.md
Due: none

Document decoupled LiDAR observation logging and async tracking plan
  docs/plans/lidar-cluster-observation-log-and-async-tracking-plan.md
Due: none

[docs] decoupled LiDAR observation log and asynchronous tracking design (#582)
  docs/plans/lidar-cluster-observation-log-and-async-tracking-plan.md
Due: none

[ai][go] fix six review findings on the worker: fd leak, dead code, and an orphaned campaign parent
  internal/cmd/jobs/jobs.go
  internal/lidar/jobs/runner/api.go
  internal/lidar/jobs/runner/campaign.go
  internal/lidar/jobs/runner/captures.go
  internal/lidar/jobs/runner/runner.go
  internal/lidar/jobs/runner/runner_test.go
Due: go

[docs] Add comprehensive plan for Shared VRLOG storage of LiDAR observations
  docs/plans/lidar-vrlog-observation-format-plan.md
  docs/platform/hardware/lidar-market-watch.md
Due: none

[mac] Update packageManager version to pnpm@12.6.0 for compatibility improvements
  package.json
Due: none

[ai][mac] default to the sphere brush, not the lasso
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSessionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewportInputTests.swift
Due: mac

[ai][mac] let a new object take the selection while another is unsaved
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationObjectFlowTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewStateTests.swift
Due: mac

[ai][mac] open on the foreground, not the whole scan
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSessionTests.swift
Due: mac

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
