Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][docs] add LiDAR state estimation and vehicle behaviour plan
  docs/plans/lidar-state-estimation-and-behaviour-plan.md
Due: none

[ai][docs] split state estimation and behaviour plans, add soma experiment
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][docs] revise both LiDAR plans: road users, evidence split, elevation
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][docs] record plan decisions, trim matrices, add backlog entries
  docs/BACKLOG.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][docs] confirm the partial-visibility mechanism on real data (f84105d8)
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][docs] refine backlog and plans for LiDAR state estimation and behaviour analytics
  docs/BACKLOG.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][go][docs] add course-alignment metric for LiDAR track heading (D1.1)
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/analysis/course_alignment_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/course_alignment_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][go][docs] release the OBB heading lock after repeated rejections (D1.3)
  cmd/tools/config-migrate/main.go
  cmd/tools/config-migrate/main_test.go
  cmd/tools/config-validate/main_test.go
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/config/tuning.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
  internal/lidar/l5tracks/heading_lock_release_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/server/webserver_coverage_test.go
Due: go, go-cli

[ai][go][docs] add heading lock telemetry for LiDAR tracks (D1.2)
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/analysis/heading_lock_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/heading_lock_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][go][docs] add the fragment guard and decouple the ghost fade (D1.5, D1.6)
  cmd/tools/config-migrate/main.go
  cmd/tools/config-migrate/main_test.go
  cmd/tools/config-validate/main_test.go
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/config/tuning.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
  internal/lidar/l5tracks/deleted_track_fade_test.go
  internal/lidar/l5tracks/fragment_guard_test.go
  internal/lidar/l5tracks/tracker_interface.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_metrics_test.go
  internal/lidar/l9endpoints/adapter.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/server/webserver_coverage_test.go
Due: go, go-cli

[ai][docs] add the unified scene semantics research proposal
  data/maths/MATHS.md
  data/maths/classification-maths.md
  data/maths/proposals/20260905-unified-scene-semantic-classification-maths.md
Due: none

[ai][go][docs] add a headless PCAP replay harness and measure the Day 1 gate
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/replay.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_pcap_test.go
  internal/lidar/replayeval/replayeval_test.go
Due: go

[ai][go][docs] make the replay harness deterministic with frame back-pressure
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_pcap_test.go
Due: go

[ai][ops] add the PCAP folder scan script, ignore built tool binaries
  .gitignore
  scripts/pcap-scan-folder.sh
Due: none

[docs] object tracking improvements
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260222-obb-heading-stability-review.md
  data/maths/proposals/20260905-visibility-aware-object-tracking-research.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-test-corpus-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-labelling-qc-enhancements-overview-plan.md
Due: none

[ai][docs] correct the aspect-ratio lock direction and narrow D2.1
  docs/plans/lidar-heading-coherence-sprint-plan.md
Due: none

[ai][go][docs] seed the DBSCAN subsample from the point set, not the clock
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/l4perception/cluster.go
  internal/lidar/l4perception/cluster_subsample_test.go
  internal/lidar/l5tracks/tracking_association.go
Due: go

[ai][go] record provenance in headless replay recordings
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_pcap_test.go
  internal/lidar/replayeval/replayeval_test.go
Due: go

[ai][go][docs] sort the association track list, correct the determinism claim
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/l5tracks/tracking_association.go
Due: go

[ai][docs] record the background warm-up requirement for replay captures
  docs/plans/lidar-heading-coherence-sprint-plan.md
Due: none

[ai][go][docs] split the heading-lock outcome three ways, mark forced releases
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/cmd/lidar/replay.go
  internal/lidar/analysis/heading_lock_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/heading_lock_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

Refine visibility-aware object tracking proposal and related plans
  data/maths/MATHS.md
  data/maths/pipeline-review-open-questions.md
  data/maths/proposals/20260905-visibility-aware-object-tracking-research.md
  docs/plans/lidar-heading-coherence-sprint-plan.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][go] attribute heading abstentions, bound the axis hold, report acceptance
  internal/cmd/lidar/replay.go
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/heading_acceptance_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/heading_axis.go
  internal/lidar/l5tracks/heading_axis_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][docs] record the re-measured A/B and relocate the D2.1 blocker
  docs/plans/lidar-heading-coherence-sprint-plan.md
  docs/plans/lidar-heading-d2-implementation-report.md
Due: none

[ai][go] add the new required tuning key to the config-validate fixture
  cmd/tools/config-validate/main_test.go
Due: go-cli

[ai][go][docs] add a bounded shape term to association and measure duplicates (D2.2)
  cmd/tools/config-migrate/main.go
  cmd/tools/config-migrate/main_test.go
  cmd/tools/config-validate/main_test.go
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/plans/lidar-heading-d2-implementation-report.md
  internal/cmd/lidar/replay.go
  internal/config/tuning.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/association_extent_test.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/server/webserver_coverage_test.go
Due: go, go-cli

[ai][go][docs] replace the extent mean with a censored lower-bound belief
  docs/plans/lidar-heading-d2-implementation-report.md
  internal/cmd/lidar/replay.go
  internal/lidar/l5tracks/heading_axis.go
  internal/lidar/l5tracks/heading_axis_test.go
  internal/lidar/l5tracks/heading_extent.go
  internal/lidar/l5tracks/heading_extent_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
Due: go

[docs] Refactor LiDAR docs, clarify status and implementation details
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-heading-coherence-sprint-plan.md
  docs/plans/lidar-heading-d2-implementation-report.md
  docs/plans/lidar-heading-d2-readiness-review.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-test-corpus-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-labelling-qc-enhancements-overview-plan.md
Due: none

[go] Add sidecar annotations and associated tests for lidar packs
  internal/cmd/lidar/annotation.go
  internal/cmd/lidar/annotation_test.go
  internal/cmd/lidar/lidar.go
  internal/lidar/annotation/coverage_test.go
  internal/lidar/annotation/export.go
  internal/lidar/annotation/export_test.go
  internal/lidar/annotation/pack.go
  internal/lidar/annotation/pack_test.go
  internal/lidar/annotation/sidecar.go
  internal/lidar/annotation/sidecar_test.go
Due: go

[go] Add tests for axis square first observation and release behavior; remove unused spread method from extentBelief
  internal/lidar/l5tracks/heading_axis_test.go
  internal/lidar/l5tracks/heading_extent.go
  internal/lidar/l5tracks/heading_extent_test.go
Due: go

[docs] Add new configuration parameters for LiDAR tuning
  config/CONFIG.md
Due: none

[ai][go] cover the LiDAR CLI applets and replay harness error paths
  internal/cmd/lidar/annotation.go
  internal/cmd/lidar/annotation_test.go
  internal/cmd/lidar/replay.go
  internal/cmd/lidar/replay_test.go
  internal/lidar/replayeval/replayeval_pcap_test.go
Due: go

[docs] Enhance documentation for LiDAR plans and improve code clarity
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-heading-coherence-sprint-plan.md
  docs/plans/lidar-heading-d2-implementation-report.md
  docs/plans/lidar-heading-d2-readiness-review.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-static-pose-alignment-plan.md
  docs/plans/lidar-test-corpus-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-labelling-qc-enhancements-overview-plan.md
Due: none

[feat] Implement sidecar storage and revision management with conflict resolution
  internal/lidar/annotation/sidecar.go
  internal/lidar/annotation/sidecar_store.go
  internal/lidar/annotation/sidecar_store_test.go
Due: go

[ai][go][docs] measure filter consistency by speed band (Phase 0)
  docs/plans/lidar-state-estimation-plan.md
  internal/cmd/lidar/replay.go
  internal/lidar/l5tracks/residuals.go
  internal/lidar/l5tracks/residuals_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/replayeval/replayeval.go
Due: go

[ai][go][docs] make host class a dimension of the performance matrix
  Makefile
  docs/lidar/operations/performance-regression-testing.md
  internal/cmd/lidar/bench.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/perf/baseline/baseline-kirk0-full-mac.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only-mac.json
Due: go

[docs] Update performance regression testing and state estimation plans with recovery checkpoints and status improvements
  docs/lidar/operations/performance-regression-testing.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[docs] Add Pi performance benchmark runbook for capturing and refreshing baselines
  docs/lidar/operations/pi-benchmark-runbook.md
Due: none

[py] Add lidar jump candidates extractor and corresponding unit tests
  scripts/lidar-jump-candidates.py
  scripts/test_lidar_jump_candidates.py
Due: none

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
