Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[js] update RunTrack interface to use p98_speed_mps instead of p95_speed_mps
  web/src/lib/types/lidar.ts
Due: web

[ver] bump version to 0.5.0-pre16 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[ver] bump version to 0.5.0-pre15 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[go] implement benchmark mode for performance tracing in tracking pipeline and related components
  cmd/radar/radar.go
  cmd/tools/pcap-analyse/main.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/frame_timer.go
  internal/lidar/pipeline/frame_timer_test.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: go, go-cli

[go] add speedWindow implementation with tests for percentile calculations
  internal/lidar/l5tracks/speed_window.go
  internal/lidar/l5tracks/speed_window_test.go
Due: go

[go] replace speedHistory with speeds for improved percentile calculations
  internal/lidar/l5tracks/testing_helpers.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_coverage_test.go
  internal/lidar/l5tracks/tracking_extended_test.go
Due: go

[mac] throttle frame dispatching to ~30fps for improved UI responsiveness in VisualiserClient
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[mac] add performance logging for frame processing and adjust frame dispatching logic
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
Due: mac

[go] update speed mode handling and enhance frame timestamp tracking in analysis run
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
Due: go

[go] enhance PCAP replay logging and update speed mode selection in status dashboard
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/monitor/html/status.html
  internal/lidar/pipeline/tracking_pipeline.go
Due: go

[mac] enhance RunBrowserView layout with 5-column table; update tests for sceneName and shortHexId
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunTrackLabelAPIClientTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
Due: mac

[mac] add scene name and short hex ID to AnalysisRun model; format creation date to short time style
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
Due: mac

[go] enhance PCAP handling for fast mode: implement blocking frame channel to prevent frame drops during analysis runs
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/monitor/datasource_handlers.go
Due: go

[go] add pprof routes for runtime profiling in webserver
  internal/lidar/monitor/webserver.go
Due: go

[go] reorganize pprof route registration for lidar-only server
  internal/lidar/monitor/webserver.go
Due: go

[go] add tests for BenchmarkMode and scene name population in analysis run
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
Due: go

[go] refactor pprof route tests: consolidate endpoint checks and improve naming
  internal/lidar/monitor/webserver_coverage_test.go
Due: go

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[go] revert, add AvgSpeedMps to TrackExport and ClassStats; update computations and tests
  cmd/tools/pcap-analyse/main.go
  cmd/tools/pcap-analyse/stats_test.go
  internal/lidar/l5tracks/tracking_speed_test.go
Due: go, go-cli

[git] add pcap-analyse to .gitignore
  .gitignore
Due: none

[py] format,improve readability of sys.path insertion in plot_test.py
  scripts/plot_test.py
Due: none

[mac] enhance date formatting for AnalysisRun and adjust RunBrowserView layout
  tools/visualiser-macos/VelocityVisualiser/Labelling/RunTrackLabelAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
Due: mac

[proto] add replay_epoch to PlaybackInfo for tracking replay loads
  proto/velocity_visualiser/v1/visualiser.proto
Due: none

[go] enhance PCAP replay logging with backoff metrics and add replay epoch tracking
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/publisher.go
Due: go

[mac] add replayEpoch to PlaybackInfo and enhance stale frame logging with epoch details
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[ai][go] wire SpeedRatio through PCAP replay stack
  internal/lidar/monitor/client.go
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/datasource_handlers_test.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/sweep/backend.go
Due: go

[ai][go] add occlusion aggregate metrics to TrackingMetrics and sweep pipeline
  internal/lidar/l5tracks/tracking.go
  internal/lidar/sweep/output.go
  internal/lidar/sweep/sampler.go
Due: go

[ai][go][js] add speed_ratio as sweep variable and expose occlusion in dashboard
  internal/lidar/monitor/assets/sweep_dashboard.js
  internal/lidar/sweep/runner.go
Due: go

[ai][go] add per-phase timing to PCAP backoff logging and SubLogger infrastructure
  internal/lidar/debug.go
  internal/lidar/l1packets/network/pcap_realtime.go
Due: go

[ai][go] add Executor interface to sqlite for transactional track writes
  internal/lidar/storage/sqlite/track_store.go
Due: go

[ai][go] batch track DB writes per frame; disable persistence during analysis replays
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: go, go-cli

[ai][go][sh][docs] rename PCAP speed modes fastest→analysis, fixed→scaled; remove fast mode
  data/explore/kirk0-lifecycle/sweep.sh
  docs/lidar/playback-speed-vs-track-quality.md
  internal/lidar/l1packets/network/pcap_realtime.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/monitor/client.go
  internal/lidar/monitor/datasource.go
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/monitor/datasource_handlers_test.go
  internal/lidar/monitor/datasource_test.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/webserver_coverage_test.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/sweep/backend.go
  internal/lidar/sweep/runner.go
  scripts/perf/macos_profile_lidar.sh
Due: go

[ai][go] fix PCAP progress reporting and backoff log quality
  internal/lidar/l1packets/network/pcap.go
  internal/lidar/l1packets/network/pcap_realtime.go
Due: go

[ai][html] fix corrupted multiply sign in realtime speed option
  internal/lidar/monitor/html/status.html
Due: go

[go] revert PacketHeader removal
  internal/lidar/l1packets/parse/extract.go
Due: go

[git] add BuildInfo.swift to .gitignore to prevent build output pollution
  .gitignore
Due: none

[docs] add light mode theme compliance updates for TrackList, MapPane, and TimelinePane components
  docs/BACKLOG.md
  docs/ui/design-review-and-improvement.md
Due: none

[docs] add v0.5.0 Backward Compatibility Shim Removal Plan
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none
