Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[img] add web frontend build step to image script
  image/scripts/build-image.sh
Due: none

[git] simplify .gitignore entries for stage-velocity-config files by using wildcard
  .gitignore
Due: none

[docs] update architecture and README to reflect HTTPS API changes and add TLS configuration options
  .github/knowledge/architecture.md
  ARCHITECTURE.md
  README.md
  cmd/radar/README.md
Due: go-cli

[go] enable HTTPS support with TLS certificate and key configuration
  cmd/radar/radar.go
  internal/api/server.go
  internal/api/server_coverage_test.go
Due: go, go-cli

[make] update run_dev_go to listen on port 8080 for velocity-report-local
  Makefile
Due: none

[docs] update DEVLOG with March 29, 2026 entries for RPi image enhancements, including web build fixes, TLS support, and documentation updates
  docs/DEVLOG.md
Due: none

[img] add TLS certificate generation script and update service configuration
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-generate-tls.sh
  image/stage-velocity/03-velocity-config/files/velocity-report.service
Due: none

[docs] update README to include TLS certificate strategy for local appliances and add new documentation for TLS implementation
  docs/platform/README.md
  docs/platform/operations/tls-local-certificates.md
Due: none

[go] update server to listen on port 8080 and remove TLS configuration; adjust tests accordingly
  cmd/radar/radar.go
  internal/api/server.go
  internal/api/server_coverage_test.go
  internal/api/server_reports_generate.go
Due: go, go-cli

[docs] update architecture and documentation for HTTP API changes; move TLS termination to nginx
  .github/knowledge/architecture.md
  ARCHITECTURE.md
  README.md
  cmd/radar/README.md
  docs/DEVLOG.md
  docs/platform/operations/tls-local-certificates.md
Due: go-cli

[go] serialmux: add noise floor cutoff command to Initialise method
  internal/serialmux/serialmux.go
Due: go

[js] update default angle value in site configuration to 5
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: web

[js] replace TextField with native input for start and end time in period form
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: web

[fs] mv
  image/stage-velocity/00-install-packages/00-packages
Due: none

[img] implement nginx reverse proxy with TLS termination and add service for certificate generation
  image/stage-velocity/00-packages
  image/stage-velocity/02-velocity-python/00-run.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-generate-tls.service
  image/stage-velocity/03-velocity-config/files/velocity-generate-tls.sh
  image/stage-velocity/03-velocity-config/files/velocity-nginx.conf
  image/stage-velocity/03-velocity-config/files/velocity-report.service
Due: none

[ver] bump version to 0.5.1-pre1 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[img] update password check to use passwordless sudo with -n option
  image/stage-velocity/03-velocity-config/files/velocity-motd.sh
Due: none

[go] update installBinary to use os.Open and io.Copy for improved file handling
  cmd/velocity-ctl/upgrade.go
Due: go-cli

[js] update date formatting in editPeriod function to use toLocalDatetimeString
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: web

[img] update udev rule for velocity-radar symlink to set group and permissions
  image/stage-velocity/03-velocity-config/files/99-velocity-report.rules
Due: none

[img ]update lidar-network configuration to use allow-hotplug for eth1 interface
  image/stage-velocity/04-velocity-lidar/files/lidar-network.conf
Due: none

[js] remove eslint-disable comments for improved code clarity
  web/src/routes/lidar/tracks/+page.svelte
Due: web

[go] Refactor upgrade process and implement manager for velocity-ctl
  cmd/velocity-ctl/backup.go
  cmd/velocity-ctl/backup_test.go
  cmd/velocity-ctl/manager.go
  cmd/velocity-ctl/rollback.go
  cmd/velocity-ctl/rollback_test.go
  cmd/velocity-ctl/status.go
  cmd/velocity-ctl/status_test.go
  cmd/velocity-ctl/upgrade.go
  cmd/velocity-ctl/upgrade_test.go
  internal/ctl/manager.go
  internal/ctl/manager_test.go
Due: go, go-cli

[ci] update build-image workflow to enhance ARM64 cross-compilation and improve image handling
  .github/workflows/build-image.yml
Due: none

[js] Refactor import order for datetimeLocal helper functions in site page
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: web

[py] Add LD_LIBRARY_PATH handling in TeX environment resolution and corresponding tests
  tools/pdf-generator/pdf_generator/core/tex_environment.py
  tools/pdf-generator/pdf_generator/tests/test_tex_environment.py
Due: python

[img] Remove minimal TeX Live build script and associated configuration files
  image/stage-velocity/00-install-packages/files/build-minimal-texlive.sh
  image/stage-velocity/00-install-packages/files/dependency-manifest.txt
  image/stage-velocity/00-install-packages/files/velocity-report.ini
Due: none

[js] Add datetimeLocal helper functions and refactor usage in site page
  web/src/lib/datetimeLocal.test.ts
  web/src/lib/datetimeLocal.ts
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: web

[go] Enhance upgrade process and add tests for includePrereleases configuration handling
  cmd/velocity-ctl/upgrade.go
  cmd/velocity-ctl/upgrade_test.go
  internal/ctl/manager_test.go
Due: go, go-cli

[img] Add minimal TeX Live build script and dependency manifest for velocity.report
  image/stage-velocity/00-install-packages/files/build-minimal-texlive.sh
  image/stage-velocity/00-install-packages/files/dependency-manifest.txt
  image/stage-velocity/00-install-packages/files/velocity-report.ini
Due: none

[go] Implement support for including pre-releases in upgrade process and enhance configuration handling
  cmd/velocity-ctl/upgrade.go
  cmd/velocity-ctl/upgrade_test.go
  internal/ctl/manager.go
  internal/ctl/manager_test.go
Due: go, go-cli

[img] Add minimal TeX Live build script and update service environment variables
  image/scripts/build-image.sh
  image/stage-velocity/00-install-packages/00-packages
  image/stage-velocity/00-install-packages/01-run.sh
  image/stage-velocity/03-velocity-config/files/velocity-report.service
Due: none

[sh] Enhance manifest file copying to support Debian and other distributions' TeX Live layouts
  scripts/build-minimal-texlive.sh
Due: none

[tex] Remove OpenType font entry from TeX dependency manifest
  tools/pdf-generator/tex/dependency-manifest.txt
Due: python

[git] Add directory to .gitignore for stage-velocity package installations
  .gitignore
Due: none

[go] Change flag behavior in backup, rollback, and status commands to continue on error
  cmd/velocity-ctl/backup.go
  cmd/velocity-ctl/rollback.go
  cmd/velocity-ctl/status.go
Due: go-cli

[js] update default cosine error angle and improve error handling in period form
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: web

[docs] Update changelog and documentation for Raspberry Pi image pipeline enhancements
  CHANGELOG.md
  docs/BACKLOG.md
  docs/platform/operations/tls-local-certificates.md
  image/README.md
Due: none

[docs] Fix path for os-list JSON in Eleventy configuration
  public_html/.eleventy.js
Due: none

[img] Remove condition for existing TLS certificate in velocity-generate-tls.service
  image/stage-velocity/03-velocity-config/files/velocity-generate-tls.service
Due: none
