Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][go] Report VRLOG replay and recording state from the lidar HTTP API
  internal/cmd/server/lidar_helpers.go
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/server/datasource_handlers_test.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/pipeline_state_reporting_test.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/server.go
  internal/lidar/server/status.go
  internal/lidar/server/webserver_coverage_test.go
Due: go

[ai][go] Suppress live frames while a VRLOG replay is active
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_vrlog.go
  internal/lidar/l9endpoints/publisher_vrlog_suppression_test.go
Due: go

[ai][go] Mark settling and recording passes during two-pass PCAP replay
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
Due: go

[ai][go] Stop the live listener during VRLOG replay
  internal/lidar/server/pipeline_state_reporting_test.go
  internal/lidar/server/playback_handlers.go
Due: go

[ai][go] Remove the divergent DataSourceManager state accessors
  internal/lidar/server/coverage_test.go
  internal/lidar/server/datasource.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_test.go
  internal/lidar/server/webserver_test.go
Due: go

[ai][proto] Add source_mode and recording to PlaybackInfo
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/grpc_source_mode_test.go
  internal/lidar/l9endpoints/model.go
  internal/lidar/l9endpoints/pb/visualiser.pb.go
  proto/velocity_visualiser/v1/visualiser.proto
Due: go

[ai][go] Identify settled PCAP snapshots by their resolved path
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/pipeline_state_reporting_test.go
  internal/lidar/server/playback_handlers.go
Due: go

[ai][docs] Document the LiDAR pipeline state model
  data/structures/MATRIX.md
  docs/BACKLOG.md
  docs/lidar/operations/data-source-switching.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/lidar-pipeline-state-model-plan.md
  docs/plans/metrics-registry-and-observability-plan.md
  docs/ui/visualiser/api-contracts.md
  internal/lidar/l9endpoints/l10clients/html/status.html
  internal/lidar/server/status.go
  tools/visualiser-macos/VelocityVisualiser/App/BuildInfo.swift
Due: go, mac

[ai][swift] Read playback source mode from the proto instead of inferring it
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/App/BuildInfo.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PlaybackSourceModeTests.swift
Due: mac

[ai][go] Keep the live grid from overwriting a replay's own background
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_vrlog.go
  internal/lidar/l9endpoints/publisher_vrlog_background_test.go
Due: go

[ai][go] Keep replayed frames' recorded background sequence
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_vrlog.go
  internal/lidar/l9endpoints/publisher_vrlog_background_test.go
Due: go

[ai][go] Guard the publisher's background bookkeeping fields
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_vrlog_background_test.go
Due: go

[ver] bump version to 0.5.1-pre31 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[ai][go] Always release the replay slot; trace every pipeline transition
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_test.go
  internal/lidar/server/direct_backend_test.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/pipeline_state_helpers_test.go
  internal/lidar/server/pipeline_state_reporting_test.go
  internal/lidar/server/pipeline_state_test.go
  internal/lidar/server/pipeline_state_wedge_test.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/playback_handlers_coverage_extra_test.go
  internal/lidar/server/scene_api_coverage_test.go
  internal/lidar/server/webserver_coverage_test.go
Due: go

[ai][go] One teardown, and replays that end return to live by themselves
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_replay_end_test.go
  internal/lidar/l9endpoints/publisher_vrlog.go
  internal/lidar/server/pipeline_state_wedge_test.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/playback_handlers_coverage_extra_test.go
  internal/lidar/server/return_to_live.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/server/webserver_test.go
Due: go

[ai][ci][mac] Keep generated build stamps out of git
  .github/workflows/buildinfo-ci.yml
  .pre-commit-config.yaml
  Makefile
  scripts/check-buildinfo-placeholder.sh
  tools/visualiser-macos/VelocityVisualiser/App/BuildInfo.swift
Due: mac

[ai][go][docs] One stop route; PCAP returns to live; clear background on switch
  docs/lidar/architecture/foreground-tracking.md
  docs/lidar/operations/data-source-switching.md
  docs/lidar/operations/getting-started-guide.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/operations/track-labelling-ui-implementation.md
  docs/radar/architecture/networking.md
  docs/radar/cli-comprehensive-guide.md
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_vrlog_background_test.go
  internal/lidar/server/client.go
  internal/lidar/server/client_test.go
  internal/lidar/server/coverage_test.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/pipeline_state_reporting_test.go
  internal/lidar/server/pipeline_state_wedge_test.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/playback_handlers_coverage_extra_test.go
  internal/lidar/server/return_to_live.go
  internal/lidar/server/routes.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/server/webserver_test.go
Due: go

[ai][go] Never discard a background frame in transit
  .prettierignore
  internal/lidar/l9endpoints/background_delivery_test.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/publisher.go
Due: go

[js] downgrade typescript to 6.x and add native alias for compatibility
  .github/dependabot.yml
  web/package.json
  web/pnpm-lock.yaml
Due: none

[go] add start and duration parameters for PCAP replay in lidar commands
  internal/cmd/lidar/bench.go
  internal/cmd/lidar/bench_test.go
  internal/cmd/lidar/settling.go
  internal/cmd/lidar/split.go
  internal/cmd/lidar/split_test.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/server.go
  internal/lidar/settlingeval/settlingeval.go
  internal/lidar/settlingeval/settlingeval_test.go
Due: go

[go] update Run function calls to use Config struct for better clarity and maintainability
  internal/lidar/pcapsplit/fixture_run_test.go
  internal/lidar/settlingeval/error_test.go
  internal/lidar/settlingeval/integration_test.go
  internal/lidar/settlingeval/settlingeval_pcap_test.go
Due: go

[ci] update LiDAR test commands to improve clarity and execution time
  .github/workflows/nightly-full-ci.yml
  Makefile
Due: none

[docs] add start and duration parameters for PCAP replay in performance regression testing
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/operations/performance-regression-testing.md
Due: none

[go] normalise replay duration handling in benchmark and analysis functions
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/fixture_run_test.go
Due: go

[go] clarify replay duration defaults
  docs/lidar/operations/pcap-analysis-mode.md
  internal/cmd/lidar/bench.go
  internal/cmd/lidar/settling.go
  internal/cmd/lidar/split.go
Due: go

[py] Enhance import_paths_for_patterns to support build tags and update tests accordingly
  scripts/check_changed_go_coverage.py
  scripts/test_changed_go_coverage.py
Due: none

[go] Add support for settling before recording in PCAP replay
  docs/lidar/operations/pcap-analysis-mode.md
  internal/cmd/lidar/applet_test.go
  internal/cmd/lidar/split_test.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l2frames/frame_builder_close_flush_test.go
  internal/lidar/l3grid/background_persistence.go
  internal/lidar/l3grid/background_persistence_test.go
  internal/lidar/l9endpoints/l10clients/html/status.html
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/fixture_run_test.go
  internal/lidar/pcapsplit/split_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/server/client.go
  internal/lidar/server/client_coverage_test.go
  internal/lidar/server/client_test.go
  internal/lidar/server/datasource.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/settlingeval/error_test.go
  internal/lidar/settlingeval/settlingeval.go
Due: go

[ai][go] Migrate lidar server state fields to PipelineState
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/server/datasource_handlers_test.go
  internal/lidar/server/direct_backend_test.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/pipeline_state_helpers_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/playback_handlers_coverage_extra_test.go
  internal/lidar/server/scene_api_coverage_test.go
  internal/lidar/server/server.go
  internal/lidar/server/state.go
  internal/lidar/server/status.go
  internal/lidar/server/tuning_runtime_test.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/server/webserver_test.go
Due: go

[ai][go] Add PipelineState as the single lidar pipeline state store
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/pipeline_state_test.go
  internal/lidar/server/server.go
Due: go

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
