Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][docs] record the Columbus re-run, and correct the E1 estimate counts
  docs/lidar/operations/state-estimation-e1-lateral-error.md
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
Due: none

[ai][go] add POST /api/lidar/runs/{run_id}/annotation-export
  internal/cmd/server/radar.go
  internal/lidar/server/annotation_api.go
  internal/lidar/server/annotation_api_test.go
  internal/lidar/server/run_track_api.go
  internal/lidar/server/server.go
Due: go

[ai][mac] generate an annotation pack from a run without leaving the app
  tools/visualiser-macos/VelocityVisualiser/Labelling/AnnotationExportAPIClient.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiser/UI/GenerateAnnotationPackSheet.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationExportAPIClientTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationMockURLProtocol.swift
  tools/visualiser-macos/VelocityVisualiserTests/GenerateAnnotationPackStateTests.swift
Due: mac

[ai][cfg] add LIDAR_ANNOTATION_DIR and EVIDENCE_DURATION to the Makefile
  Makefile
Due: none

[ai][mac] guard leaving an annotation pack against unsaved membership
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSessionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
Due: mac

[sql] update LiDAR migration scripts for improved tracking and provenance management
  internal/db/migrations/000047_lidar_observations.down.sql
  internal/db/migrations/000047_lidar_observations.up.sql
  internal/db/migrations/000048_lidar_track_estimates.down.sql
  internal/db/migrations/000048_lidar_track_estimates.up.sql
  internal/db/migrations/000048_track_observation_measurement_provenance.down.sql
  internal/db/migrations/000048_track_observation_measurement_provenance.up.sql
  internal/db/migrations/000049_lidar_track_residuals.down.sql
  internal/db/migrations/000049_lidar_track_residuals.up.sql
  internal/db/migrations/000049_lidar_track_state_records.down.sql
  internal/db/migrations/000050_lidar_track_estimates_creation_sequence.down.sql
  internal/db/migrations/000050_lidar_track_estimates_creation_sequence.up.sql
  internal/db/schema.sql
Due: go

[docs] add Day 2 gate evidence analysis for kirk0 A/B comparison
  docs/plans/lidar-heading-coherence-sprint-plan.md
Due: none

[ai][docs] add four-site D2.1/D2.2 A/B, Guard 2 experiment, and E1 fourth-placement evidence
  docs/lidar/operations/state-estimation-e1-clar0-20260917.json
  docs/lidar/operations/state-estimation-e1-lateral-error.md
  docs/plans/lidar-heading-coherence-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][go] warn when evidence output shares a mounted volume with the pcap source
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/plans/lidar-heading-coherence-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
  internal/cmd/lidar/replay.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/volume_check.go
  internal/lidar/replayeval/volume_check_test.go
Due: go, go-cli

[ai][cfg] register all 24 S2 archive sites in the phase01 corpus
  tools/s2-archive/state-estimation-phase01-corpus.json
Due: none

[ai][docs] extend the phase01 corpus baseline to all 24 S2 sites
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
Due: none

[ai][docs] preliminary tune-sweep pass on L5 tracking noise parameters (kirk0)
  data/experiments/try/l5-tracking-noise-parameter-sweep-kirk0-20260917.csv
  data/experiments/try/l5-tracking-noise-parameter-sweep.md
Due: none

[ai][docs] plan a 44h parameter experiment campaign against the 24-site corpus
  data/experiments/try/l3-background-settling-sweep.md
  data/experiments/try/l3-settling-sweep/.gitignore
  data/experiments/try/l3-settling-sweep/run_sweep.py
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/l5-tracking-noise-parameter-sweep.md
  data/experiments/try/multi-key-interaction-grid.md
  data/experiments/try/velocity-coherent-baseline-comparison.md
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
Due: none

[ai][go][py] add unattended campaign supervisor; land Batch 1 L3 sensitivity findings
  .gitignore
  cmd/tools/lidar-ground-truth-eval/main.go
  cmd/tools/lidar-ground-truth-eval/main_test.go
  data/experiments/try/campaign/.gitignore
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/supervisor.py
  data/experiments/try/l3-settling-sweep/analyze_replicate_consistency.py
  data/experiments/try/l3-settling-sweep/analyze_sensitivity.py
  data/experiments/try/l3-settling-sweep/plan_interaction_levels.py
  data/experiments/try/l3-settling-sweep/plan_narrowed_sweep.py
  data/experiments/try/l3-settling-sweep/run_interaction_grid.py
  data/experiments/try/l3-settling-sweep/run_sweep.py
  data/experiments/try/l3-settling-sweep/sensitivity-analysis.json
  data/experiments/try/l5-gt-sweep/.gitignore
  data/experiments/try/l5-gt-sweep/run_l5_gt_sweep.py
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
Due: go-cli

[ai][py] fix missing trailing newlines in generated JSON, record first pass
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
  data/experiments/try/campaign/supervisor.py
  data/experiments/try/l3-settling-sweep/analyze_replicate_consistency.py
  data/experiments/try/l3-settling-sweep/analyze_sensitivity.py
  data/experiments/try/l3-settling-sweep/plan_interaction_levels.py
  data/experiments/try/l3-settling-sweep/plan_narrowed_sweep.py
Due: none

[data] update analyze_l3_batch1 stage to completed with results and update status counts
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
Due: none

[make] to use absolute paths for LiDAR directory flags and outputs
  Makefile
Due: none

[ai][py][docs] fix silent interaction-grid data loss, extend L5 GT sweep to multiple sites
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
  data/experiments/try/campaign/supervisor.py
  data/experiments/try/l3-settling-sweep/analyze_interaction_grid.py
  data/experiments/try/l3-settling-sweep/plan_interaction_levels.py
  data/experiments/try/l3-settling-sweep/run_interaction_grid.py
  data/experiments/try/l5-gt-sweep/analyze_l5_results.py
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
Due: none

[ai][py][docs] queue pass 3: L4/L5 GT one-at-a-time sweep, extended L3 keys, repeat check
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
  data/experiments/try/campaign/supervisor.py
  data/experiments/try/l3-settling-sweep/analyze_interaction_grid.py
  data/experiments/try/l3-settling-sweep/analyze_repeat_check.py
  data/experiments/try/l3-settling-sweep/analyze_replicate_consistency.py
  data/experiments/try/l3-settling-sweep/analyze_sensitivity.py
  data/experiments/try/l3-settling-sweep/param_types.py
  data/experiments/try/l3-settling-sweep/plan_interaction_levels.py
  data/experiments/try/l3-settling-sweep/plan_replicate_sweep.py
  data/experiments/try/l3-settling-sweep/run_interaction_grid.py
  data/experiments/try/l3-settling-sweep/run_repeat_check.py
  data/experiments/try/l3-settling-sweep/run_sweep.py
  data/experiments/try/l4-clustering-parameter-sweep.md
  data/experiments/try/l5-gt-sweep/analyze_gt_oat.py
  data/experiments/try/l5-gt-sweep/run_gt_oat_sweep.py
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
Due: none

[data] record pass 1-2 evidence: L3 sweeps, interaction grid, L5 GT sweeps
  data/experiments/try/l3-settling-sweep/interaction-grid-analysis.json
  data/experiments/try/l3-settling-sweep/interaction-levels.json
  data/experiments/try/l3-settling-sweep/interaction-results.csv
  data/experiments/try/l3-settling-sweep/narrowed-sweep.json
  data/experiments/try/l3-settling-sweep/replicate-consistency.json
  data/experiments/try/l3-settling-sweep/results.csv
  data/experiments/try/l3-settling-sweep/summary.json
  data/experiments/try/l5-gt-sweep/full-duration/results.csv
  data/experiments/try/l5-gt-sweep/kirk0-dd98/results.csv
  data/experiments/try/l5-gt-sweep/kirk1-f069/results.csv
  data/experiments/try/l5-gt-sweep/ranked-results-multisite.json
  data/experiments/try/l5-gt-sweep/results.csv
Due: none

[ai][py] match only Python processes running the sweep scripts in the concurrency guard
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
  data/experiments/try/campaign/supervisor.py
Due: none

[data] experiment results and additional parameters
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
  data/experiments/try/l3-settling-sweep/interaction-results.csv
  data/experiments/try/l3-settling-sweep/results.csv
  data/experiments/try/l3-settling-sweep/summary.json
Due: none

[data] Update summary.json with new experiment results and metrics
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
  data/experiments/try/l3-settling-sweep/interaction-results.csv
  data/experiments/try/l3-settling-sweep/results.csv
  data/experiments/try/l3-settling-sweep/summary.json
Due: none

[ai][py][docs] fix silent row loss in sweep drivers, recover 344 lost rows, queue pass 4
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/supervisor.py
  data/experiments/try/l3-settling-sweep/analyze_interaction_grid.py
  data/experiments/try/l3-settling-sweep/plan_interaction_levels.py
  data/experiments/try/l3-settling-sweep/recover_rows_from_raw.py
  data/experiments/try/l3-settling-sweep/row_appender.py
  data/experiments/try/l3-settling-sweep/run_interaction_grid.py
  data/experiments/try/l3-settling-sweep/run_repeat_check.py
  data/experiments/try/l3-settling-sweep/run_sweep.py
  data/experiments/try/l5-gt-sweep/run_gt_oat_sweep.py
  data/experiments/try/l5-gt-sweep/run_l5_gt_sweep.py
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
Due: none

[ai][py][docs] reload manifest before saving a stage result, queue GT sweep of the five unseen L3 keys
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/supervisor.py
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
Due: none

[ai][py][docs] post-settle analysis, label-free GT harness mode, long-window L3 stages, queue pass 5
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/supervisor.py
  data/experiments/try/l3-settling-sweep/analyze_post_settle.py
  data/experiments/try/l5-gt-sweep/analyze_label_free_oat.py
  data/experiments/try/l5-gt-sweep/run_gt_oat_sweep.py
  docs/plans/lidar-parameter-experiment-campaign-2026-09.md
Due: none

[docs] Update paper-vs-implementation gap analysis with revised scope, findings, and source inventory
  data/maths/paper-implementation-gap-analysis.md
Due: none

[py] Add scene asset management and corpus verification tools
  Makefile
  tools/s2-archive/README.md
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/test_publish_scenes.py
  tools/s2-archive/test_verify_corpus.py
  tools/s2-archive/verify-corpus.py
Due: none

[data] Update manifest and status files with completed analysis results and revised stage statuses
  data/experiments/try/campaign/manifest.json
  data/experiments/try/campaign/status.json
Due: none

Update lidar jump track replacement review documentation
  docs/BACKLOG.md
  docs/lidar/operations/lidar-jump-track-replacement-20260915.json
  docs/lidar/operations/lidar-jump-track-replacement-review.md
Due: none

[go] Add sidecar annotations and associated tests for lidar packs
  internal/cmd/lidar/annotation.go
  internal/cmd/lidar/annotation_test.go
  internal/cmd/lidar/lidar.go
  internal/lidar/annotation/coverage_test.go
  internal/lidar/annotation/export.go
  internal/lidar/annotation/export_test.go
  internal/lidar/annotation/pack.go
  internal/lidar/annotation/pack_test.go
  internal/lidar/annotation/sidecar.go
  internal/lidar/annotation/sidecar_test.go
Due: go

[feat] Implement sidecar storage and revision management with conflict resolution
  internal/lidar/annotation/sidecar.go
  internal/lidar/annotation/sidecar_store.go
  internal/lidar/annotation/sidecar_store_test.go
Due: go

[ai][mac][go] point-cloud editing toolset for the physical reference pilot
  internal/lidar/annotation/swift_fixture_test.go
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationPack.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSidecar.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/PointSelection.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationPackTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSessionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationSidecarTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationViewportTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PointSelectionTests.swift
Due: go, mac

[ai][mac] make track and run IDs selectable and right-click copyable
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/CopyableID.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/CopyableIDTests.swift
Due: mac

[go] immutable point packs and reference annotations; implement revision space exhaustion check in sidecar storage
  internal/lidar/annotation/README.md
  internal/lidar/annotation/sidecar_store.go
  internal/lidar/annotation/sidecar_store_test.go
Due: go

[ai][mac] wire the annotation toolset into the app with a pack picker
  tools/visualiser-macos/VelocityVisualiser/App/VelocityVisualiserApp.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationPane.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
Due: mac

[ai][mac] cover the annotation pack-open happy path
  tools/visualiser-macos/VelocityVisualiserTests/AnnotationWindowTests.swift
Due: mac

[math] paper review
  data/maths/paper-implementation-gap-analysis.md
Due: none

[ai][go] add ResolvePathWithinDirectory for annotation pack paths
  internal/security/pathvalidation.go
Due: go

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
