Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[go] Stop active auto-tune/sweep before starting reference runs in HINTTuner
  internal/lidar/sweep/hint.go
Due: go

[docs] terryfic
  internal/lidar/l9endpoints/l10clients/html/sweep_dashboard.html
Due: go

[go] Add unit tests for normalise functions and error handling in evaluation and sweep stores
  internal/lidar/server/run_track_api_helpers_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_compare_coverage_test.go
  internal/lidar/storage/sqlite/evaluation_store_test.go
  internal/lidar/storage/sqlite/sweep_store_test.go
  internal/lidar/sweep/runner_coverage_test.go
Due: go

[js] mv cards
  internal/lidar/l9endpoints/l10clients/html/sweep_dashboard.html
Due: go

[go] Rename comparison test functions for cOnSisTeNcY and cLaRiTy
  internal/lidar/storage/sqlite/analysis_run_compare_coverage_test.go
Due: go

[go] Update track state to 'confirmed' in coverage comparison tests and adjust error handling for missing runs
  internal/lidar/storage/sqlite/analysis_run_compare_coverage_test.go
Due: go

[js] Refactor sweep dashboard to replace "scene" terminology with "replay_case"
  internal/lidar/l9endpoints/l10clients/assets/sweep_dashboard.css
  internal/lidar/l9endpoints/l10clients/assets/sweep_dashboard.js
  internal/lidar/l9endpoints/l10clients/html/sweep_dashboard.html
  web/src/lib/__tests__/sweep_dashboard.test.ts
Due: go, web

[go] Add tests for error handling in coverage and sweep store functionalities
  internal/lidar/l9endpoints/recorder/coverage_boost_test.go
  internal/lidar/server/run_track_api_helpers_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_compare_coverage_test.go
  internal/lidar/storage/sqlite/scene_store_coverage_test.go
  internal/lidar/storage/sqlite/sweep_store_test.go
Due: go

[docs] Align LiDAR terminology by renaming "scene" to "replay case" across Go API, store, and Web components; preserves "scene" in geometric context.
  docs/BACKLOG.md
  docs/plans/lidar-replay-case-terminology-alignment-plan.md
Due: none

[docs] Implement Phase 2 of Replay Case Management, introducing new database schema, API endpoints, and CRUD operations for replay cases.
  docs/lidar/operations/replay-case-management-implementation.md
  docs/lidar/operations/scene-management-implementation.md
  docs/plans/platform-hub-restructure-plan.md
Due: none

[docs] Update LiDAR terminology alignment plan to reflect completed database schema changes and pending file renames for "scene" to "replay case"
  docs/plans/lidar-replay-case-terminology-alignment-plan.md
Due: none

[test] Add test for API response shape in track history retrieval
  internal/lidar/server/track_api_test.go
Due: go

[js] Enhance track loading for current run's time window to include PCAP replay tracks
  web/src/routes/lidar/tracks/+page.svelte
Due: web

[go] Refactor recording metadata handling and orphaned sweep recovery into separate functions for improved readability and maintainability
  cmd/radar/lidar_helpers.go
  cmd/radar/radar.go
Due: go-cli

[js] Enhance track selection synchronization with URL parameters and improve run track handling
  web/src/routes/lidar/runs/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: web

[go] Add unit tests for recording metadata and orphaned sweep recovery functionality
  cmd/radar/lidar_helpers_test.go
Due: go-cli

[go] Add tests for parseRunPath and parseTrackPath edge cases
  internal/lidar/server/run_track_api_helpers.go
  internal/lidar/server/run_track_api_helpers_coverage_test.go
Due: go

[go] Refactor backfill logic into a separate run function and add comprehensive tests for success and error scenarios
  cmd/tools/backfill_lidar_run_config/main.go
  cmd/tools/backfill_lidar_run_config/main_test.go
Due: go-cli

[go] Add tests for handling database errors in evaluation store deletion
  internal/lidar/storage/sqlite/analysis_run_compare_coverage_test.go
  internal/lidar/storage/sqlite/evaluation_store_test.go
Due: go

[go] fix: bounds check, frame encoding, migration guard, deduplicate tests
  internal/db/migrations/000036_drop_legacy_params_json.up.sql
  internal/lidar/analysis/report.go
  internal/lidar/l9endpoints/recorder/coverage_boost_test.go
  internal/lidar/l9endpoints/recorder/recorder.go
Due: go

[ai] Make plan canonical-link CI gate advisory only
  .github/workflows/plan-hygiene-ci.yml
  Makefile
Due: none

[docs] add LiDAR background grid display bug to backlog for investigation and fix
  docs/BACKLOG.md
Due: none

[py][sh] Add ERD configuration and enhance graph generation script
  Makefile
  scripts/sqlite-erd/erd-config.json
  scripts/sqlite-erd/graph.sh
  scripts/sqlite-erd/group-dot.py
Due: none

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

Apply suggestions from code review
  scripts/sqlite-erd/graph.sh
  scripts/sqlite-erd/group-dot.py
Due: none

[ai][py][make] Address PR review: fix config init, error handling, LAYOUT quoting
  Makefile
  data/structures/SCHEMA.svg
  scripts/sqlite-erd/group-dot.py
Due: none

[ai][py][sh][make] Add ERD crossing report and layout override levers
  scripts/sqlite-erd/erd-config.json
  scripts/sqlite-erd/graph.sh
  scripts/sqlite-erd/group-dot.py
Due: none

[ai] Refactor tools section in Matrix Tracer agent documentation for clarity and consistency
  .github/agents/matrix-tracer.agent.md
Due: none

[make] Add schema ERD report generation for crossing analysis
  Makefile
Due: none

[ai][docs] Update MATRIX.md: Revise LiDAR schema to include new tables and fields, remove deprecated speed percentile columns, and enhance clarity in descriptions.
  data/structures/MATRIX.md
Due: none

[py][svg] Enhance ERD configuration and grouping logic
  data/structures/SCHEMA.svg
  scripts/sqlite-erd/erd-config.json
  scripts/sqlite-erd/group-dot.py
Due: none

[svg] Refactor lidar subgroup configuration in erd-config.json
  data/structures/SCHEMA.svg
  scripts/sqlite-erd/erd-config.json
Due: none

[py] Enhance DAG analysis in emit_lidar_subgroup: add longest path calculation and per-table upstream/downstream details
  scripts/sqlite-erd/group-dot.py
Due: none

[ai][py] Address PR #432 review: cluster validation, init order, YAML fix
  .github/agents/matrix-tracer.agent.md
  scripts/sqlite-erd/group-dot.py
Due: none

[svg] Enhance ERD configuration and improve cycle handling in topological sorting
  Makefile
  data/structures/SCHEMA.svg
  scripts/sqlite-erd/erd-config.json
  scripts/sqlite-erd/group-dot.py
Due: none

[py] erd config + MATRIX (#432)
  .github/agents/matrix-tracer.agent.md
  Makefile
  data/structures/MATRIX.md
  data/structures/SCHEMA.svg
  docs/plans/agent-claude-preparedness-review-plan.md
  scripts/sqlite-erd/erd-config.json
  scripts/sqlite-erd/graph.sh
  scripts/sqlite-erd/group-dot.py
Due: none

[docs] update changelog for release 0.5.0: correct release date and streamline feature listing
  CHANGELOG.md
  docs/DEVLOG.md
Due: none

[docs] update BACKLOG.md: move v0.5.0 section and remove v0.5.0 heading
  docs/BACKLOG.md
Due: none

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
