Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

Update DESIGN.md
  DESIGN.md
Due: none

[docs] init DESIGN.md; frontend design language doc (#282)
  DESIGN.md
Due: none

Apply suggestions from code review
  docs/plans/design-review-and-improvement-plan.md
Due: none

[docs] design review against DESIGN.md (#283)
  docs/plans/design-review-and-improvement-plan.md
Due: none

[js] Add RadarOverviewChart component for visualizing radar statistics
  web/src/lib/components/charts/RadarOverviewChart.svelte
  web/src/routes/+page.svelte
Due: web

[py][go][js] Enhance PDF generation with TeX environment configuration
  .github/workflows/python-ci.yml
  .gitignore
  Makefile
  cmd/radar/README.md
  cmd/radar/flags_test.go
  cmd/radar/radar.go
  docs/lidar/README.md
  docs/lidar/architecture/arena-go-deprecation-and-layered-type-layout-design-20260217.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review-20260217.md
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
  docs/lidar/visualiser/06-labelling-qc-enhancements-overview.md
  scripts/build-minimal-texlive.sh
  scripts/install-minimal-texlive.sh
  tools/pdf-generator/pdf_generator/core/dependency_checker.py
  tools/pdf-generator/pdf_generator/core/document_builder.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/core/tex_environment.py
  tools/pdf-generator/pdf_generator/tests/conftest.py
  tools/pdf-generator/pdf_generator/tests/test_config_integration.py
  tools/pdf-generator/pdf_generator/tests/test_dependency_checker.py
  tools/pdf-generator/pdf_generator/tests/test_document_builder.py
  tools/pdf-generator/pdf_generator/tests/test_latex_failure.py
  tools/pdf-generator/pdf_generator/tests/test_tex_environment.py
  tools/pdf-generator/scripts/check_latex_package_parity.py
  tools/pdf-generator/tex/dependency-manifest.txt
  tools/pdf-generator/tex/velocity-report.ini
Due: go-cli, python

[go] Add PCAP capture statistics and per-10s frame rate reporting
  Makefile
  cmd/tools/pcap-analyse/main.go
Due: go-cli

[go] Override wall-clock duration with actual PCAP capture span in getCaptureStats
  cmd/tools/pcap-analyse/main.go
Due: go-cli

[js] Enhance RadarOverviewChart with additional metrics and improved data handling
  web/src/lib/components/charts/RadarOverviewChart.svelte
  web/src/routes/+page.svelte
Due: web

[go] Refactor average frame rate calculation to use true average from recorded RPM samples
  cmd/tools/pcap-analyse/main.go
Due: go-cli

[make] Improve artifact selection in validate-tex-minimal by using timestamp sorting
  Makefile
Due: none

[py] Fix geometry options handling in DocumentBuilder and update related tests
  tools/pdf-generator/pdf_generator/core/document_builder.py
  tools/pdf-generator/pdf_generator/tests/test_document_builder.py
Due: python

[js] Refactor RadarOverviewChart to use SvelteMap for day summaries and improve type handling for xInterval
  web/src/lib/components/charts/RadarOverviewChart.svelte
Due: web

[js] Refactor RadarOverviewChart and update site selection handling in +page.svelte
  web/src/lib/components/charts/RadarOverviewChart.svelte
  web/src/routes/+page.svelte
Due: web

[ver] bump version to 0.5.0-pre10 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[py][js] update TeX + svelte charts (#281)
  .github/workflows/python-ci.yml
  .gitignore
  Makefile
  cmd/radar/README.md
  cmd/radar/flags_test.go
  cmd/radar/radar.go
  cmd/tools/pcap-analyse/main.go
  docs/lidar/README.md
  docs/lidar/architecture/arena-go-deprecation-and-layered-type-layout-design-20260217.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review-20260217.md
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
  docs/lidar/visualiser/06-labelling-qc-enhancements-overview.md
  public_html/package.json
  scripts/build-minimal-texlive.sh
  scripts/install-minimal-texlive.sh
  tools/pdf-generator/pdf_generator/core/dependency_checker.py
  tools/pdf-generator/pdf_generator/core/document_builder.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
  tools/pdf-generator/pdf_generator/core/tex_environment.py
  tools/pdf-generator/pdf_generator/tests/conftest.py
  tools/pdf-generator/pdf_generator/tests/test_config_integration.py
  tools/pdf-generator/pdf_generator/tests/test_dependency_checker.py
  tools/pdf-generator/pdf_generator/tests/test_document_builder.py
  tools/pdf-generator/pdf_generator/tests/test_latex_failure.py
  tools/pdf-generator/pdf_generator/tests/test_tex_environment.py
  tools/pdf-generator/pyproject.toml
  tools/pdf-generator/scripts/check_latex_package_parity.py
  tools/pdf-generator/tex/dependency-manifest.txt
  tools/pdf-generator/tex/velocity-report.ini
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
  web/src/lib/components/charts/RadarOverviewChart.svelte
  web/src/routes/+page.svelte
Due: go-cli, python, web, mac

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

Update internal/lidar/monitor/run_track_api.go
  internal/lidar/monitor/run_track_api.go
Due: go

[sql] schema-sync
  internal/db/schema.sql
Due: go

[docs] format
  docs/lidar/visualiser/performance-investigation.md
Due: none

[go] format
  internal/lidar/evaluation_store.go
  internal/lidar/evaluation_store_test.go
Due: go

[ci] remove phase comment check from CI workflow
  .github/workflows/go-ci.yml
Due: none

[go][git]: update PCAP file paths and migrate to LFS
  .gitattributes
  internal/lidar/integration_test.go
  internal/lidar/l1packets/network/pcap_tag_test.go
  internal/lidar/perf/pcap/lidar_20Hz.pcapng
  internal/lidar/testdata/lidar_20Hz.pcapng
Due: go

Increase timeout for CI jobs in go-ci.yml
  .github/workflows/go-ci.yml
Due: none

[docs] improve readability of size distribution table and recommendations in LiDAR layer alignment review
  docs/lidar/architecture/lidar-layer-alignment-refactor-review-20260217.md
Due: none

[ci] update Go setup action to v5 and disable caching for lint job
  .github/workflows/go-ci.yml
Due: none

[ci] enhance Go CI workflow: add concurrency settings and download Go modules
  .github/workflows/go-ci.yml
Due: none

[ver] bump version to 0.5.0-pre11 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[ci] update TeX Live installation for PDF generation tests and add minimal TeX tree build step
  .github/workflows/go-ci.yml
Due: none

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] 3d vector ground plane, scene (#285)
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/ground-plane-maths.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/lidar/architecture/vector-scene-map.md
  docs/plans/pcap-ground-plane-export-tool.md
Due: none

[js][docs] shared palette module, CSS standard classes(#286)
  CONTRIBUTING.md
  README.md
  web/src/lib/components/charts/RadarOverviewChart.svelte
  web/src/lib/palette.test.ts
  web/src/lib/palette.ts
  web/src/routes/+page.svelte
  web/src/routes/app.css
  web/src/routes/lidar/runs/+page.svelte
  web/src/routes/lidar/scenes/+page.svelte
  web/src/routes/lidar/sweeps/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: web

[docs] format
  BACKLOG.md
  DESIGN.md
  docs/lidar/architecture/README.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review-20260217.md
  docs/plans/design-review-and-improvement-plan.md
Due: none

[docs] reorganise BACKLOG.md sections
  BACKLOG.md
Due: none

[tests] remove unnecessary blank line in webserver_test.go
  internal/lidar/monitor/webserver_test.go
Due: go

[docs] update DEVLOG.md, Feb 9-19
  docs/DEVLOG.md
Due: none

[go] add unit tests for dependency injection and run state handling in AnalysisRunManager
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
Due: go

[go] add unit tests for ComputeTemporalIoU function
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/l6objects/comparison_test.go
Due: go

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
