Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

Add LiDAR refactor plan review
  docs/plans/lidar-l7-analytics-l8-visualization-refactor-plan.md
Due: none

[docs] compat plans (#343)
  .gitignore
  docs/BACKLOG.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
  docs/ui/design-review-and-improvement.md
Due: none

[ai][sh][go][docs] redirect deprecation warnings to stderr, align text with retirement gate, update backlog + next steps
  Makefile
  README.md
  cmd/deploy/README.md
  cmd/deploy/main.go
  docs/BACKLOG.md
  docs/DECISIONS.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: go-cli

Apply suggestions from code review
  docs/plans/platform-simplification-and-deprecation-plan.md
Due: none

[make] update deprecation warnings in Makefile to use correct emoji
  Makefile
Due: none

[docs][go][mac] make format
  docs/DECISIONS.md
  internal/lidar/visualiser/grpc_server_test.go
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: go, mac

[go] update protoc and protoc-gen-go versions in generated files
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/pb/visualiser_grpc.pb.go
Due: go

[mac] remove median and percentile speed details from TrackInspectorDetailCards
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: mac

[docs] update lidar visualiser plan to reflect partial completion of Swift client/UI parity and clarify blocked inspector rows
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
Due: none

[docs] update platform simplification and backward compatibility shim removal plans for clarity and scope definition
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[docs] update plans to reflect removal of avg_speed_mps in favor of p50_speed_mps across multiple components
  docs/plans/data-track-description-language-plan.md
  docs/plans/lidar-analysis-run-infrastructure-plan.md
  docs/plans/lidar-static-pose-alignment-plan.md
  docs/plans/lidar-track-labeling-auto-aware-tuning-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

Apply suggestions from code review
  docs/plans/lidar-l7-analytics-l8-visualization-refactor-plan.md
Due: none

[docs] update LiDAR visualiser proto contract and debug overlay fixes plan to reflect completion status and implementation details
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
Due: go

[docs] update README for clarity on LiDAR sensor integration and deprecate velocity-deploy tool
  README.md
Due: none

[docs] update backward compatibility shim removal plan with completion status and action items
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[go] refactor report download handling and remove legacy support
  cmd/tools/pcap-analyse/main.go
  internal/api/server.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l6objects/features.go
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/track_api.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/sweep_params.go
Due: go, go-cli

[sql] remove avg_speed_mps column from lidar_run_tracks and lidar_tracks tables
  internal/db/migrations/000030_drop_avg_speed_mps.down.sql
  internal/db/migrations/000030_drop_avg_speed_mps.up.sql
  internal/db/schema.sql
Due: go

[go] replace AvgSpeedMps with MedianSpeedMps across tests and data structures
  internal/lidar/adapters/ground_truth_test.go
  internal/lidar/l6objects/classification_test.go
  internal/lidar/l6objects/features_test.go
  internal/lidar/monitor/run_track_api_coverage_test.go
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/scene_api_coverage_test.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
  internal/lidar/storage/sqlite/analysis_run_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
  internal/lidar/storage/sqlite/track_store_extended_test.go
  internal/lidar/storage/sqlite/track_store_test.go
Due: go

[proto][go] update Track message to rename median_speed_mps to avg_speed_mps and adjust related fields
  internal/lidar/visualiser/pb/visualiser.pb.go
  proto/velocity_visualiser/v1/visualiser.proto
Due: go

[mac] rename medianSpeedMps to p50SpeedMps and update related references across models and tests
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ExtractedHelpersTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ModelExtendedTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/VisualiserClientTests.swift
Due: mac

[go] rename MedianSpeedMps to P50SpeedMps across models and related functions
  cmd/tools/pcap-analyse/main.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/monitor/track_api.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/model.go
Due: go, go-cli

[docs] retain avg_speed_mps and add p50_speed_mps alongside p85_speed_mps and p98_speed_mps in visualiser proto
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
Due: none

[go] reorder proto speed percentile fields in Track message for consistency
  internal/lidar/visualiser/pb/visualiser.pb.go
Due: go

[go] replace P95SpeedMps with P98SpeedMps across models and related functions
  cmd/tools/pcap-analyse/main.go
  internal/lidar/l6objects/classification.go
  internal/lidar/l6objects/classification_test.go
  internal/lidar/l6objects/features.go
  internal/lidar/l6objects/l6objects_test.go
  internal/lidar/monitor/scene_api_coverage_test.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
  internal/lidar/storage/sqlite/track_store.go
Due: go, go-cli

[go] update speed percentile references from p95 to p98 in documentation and schema
  docs/lidar/architecture/foreground_tracking.md
  docs/maths/classification-maths.md
  docs/plans/data-track-description-language-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[sql] revert p98_speed_mps back to p95_speed_mps in migrations and schema
  internal/db/migrations/000030_rename_p95_to_p98_speed.down.sql
  internal/db/migrations/000030_rename_p95_to_p98_speed.up.sql
  internal/db/schema.sql
Due: go

[js] update RunTrack interface to use p98_speed_mps instead of p95_speed_mps
  web/src/lib/types/lidar.ts
Due: web

[ver] bump version to 0.5.0-pre16 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[ver] bump version to 0.5.0-pre15 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[mac] reset gitSHA and buildTime in BuildInfo to unknown
  tools/visualiser-macos/VelocityVisualiser/App/BuildInfo.swift
Due: mac

[go] replace speedHistory with speeds for improved percentile calculations
  internal/lidar/l5tracks/testing_helpers.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_coverage_test.go
  internal/lidar/l5tracks/tracking_extended_test.go
Due: go

[go] add speedWindow implementation with tests for percentile calculations
  internal/lidar/l5tracks/speed_window.go
  internal/lidar/l5tracks/speed_window_test.go
Due: go

Add plan doc and verify accuracy
  docs/plans/lidar-l7-analytics-l8-visualisation-refactor-plan.md
Due: none

[docs] add light mode theme compliance updates for TrackList, MapPane, and TimelinePane components
  docs/BACKLOG.md
Due: none

[go] implement benchmark mode for performance tracing in tracking pipeline and related components
  cmd/radar/radar.go
  cmd/tools/pcap-analyse/main.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/playback_handlers.go
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/frame_timer.go
  internal/lidar/pipeline/frame_timer_test.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: go, go-cli

[docs] add newline for clarity in backward compatibility shim removal plan
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[mac] throttle frame dispatching to ~30fps for improved UI responsiveness in VisualiserClient
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
