Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[docs] refactor documentation for clarity and consistency across LiDAR architecture and math files
  docs/lidar/README.md
  docs/lidar/ROADMAP.md
  docs/lidar/architecture/README.md
  docs/lidar/architecture/dynamic-algorithm-selection.md
  docs/lidar/architecture/foreground_tracking.md
  docs/lidar/architecture/lidar-multi-model-ingestion-and-configuration.md
  docs/lidar/architecture/lidar-network-configuration.md
  docs/lidar/architecture/lidar_sidecar_overview.md
  docs/lidar/future/motion-capture-architecture.md
  docs/lidar/future/track-labeling-auto-aware-tuning.md
  docs/lidar/future/velocity-coherent-foreground-extraction.md
  docs/lidar/operations/adaptive-region-parameters.md
  docs/lidar/operations/lidar-foreground-tracking-status.md
  docs/lidar/visualiser/15-performance-and-scene-health-timeline-metrics.md
  docs/maths/README.md
  docs/maths/background-grid-settling-maths.md
  docs/maths/ground-plane-maths.md
  docs/maths/proposal/20260220-velocity-coherent-foreground-extraction.md
  docs/plans/coverage-improvement-plan.md
Due: none

[docs] add getting started guide and config parameter tuning guide for LiDAR pipeline
  docs/lidar/operations/A_GETTING_STARTED_GUIDE.md
  docs/lidar/operations/config-param-tuning.md
Due: none

[docs] move proposal for Ground Plane and Vector-Scene Maths
  docs/maths/proposals/20260221-ground-plane-vector-scene-maths.md
Due: none

[docs] fix AI edits
  docs/COVERAGE.md
  docs/DEVLOG.md
  docs/README.md
  docs/architecture/20260221-docs-structure-audit.md
  docs/lidar/ROADMAP.md
  docs/lidar/architecture/20260221-lidar-foundations-fixit-plan.md
  docs/lidar/architecture/20260221-lidar-foundations-fixit.md
  docs/lidar/architecture/20260221-math-foundations-audit.md
  docs/lidar/architecture/20260221-vector-vs-velocity-workstreams.md
  docs/lidar/architecture/arena-go-deprecation-and-layered-type-layout-design-20260217.md
  docs/lidar/architecture/foreground_tracking.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/hesai_packet_structure.md
  docs/lidar/architecture/lidar_sidecar_overview.md
  docs/lidar/terminology.md
Due: none

[docs] update purpose and status sections across multiple documents
  docs/lidar/architecture/lidar-background-grid-standards.md
  docs/lidar/operations/A_GETTING_STARTED_GUIDE.md
  docs/lidar/operations/adaptive-region-parameters.md
  docs/lidar/operations/auto-tuning.md
  docs/lidar/operations/config-param-tuning.md
  docs/lidar/operations/data-source-switching.md
  docs/lidar/operations/lidar-foreground-tracking-status.md
  docs/lidar/operations/parameter-comparison.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/operations/performance-regression-testing.md
  docs/lidar/operations/quickstart-pipeline-fix.md
  docs/lidar/operations/scene-management-implementation.md
  docs/lidar/operations/settling-time-optimization.md
  docs/lidar/operations/sweep-tool.md
  docs/lidar/operations/track-labeling-auto-aware-tuning.md
  docs/lidar/troubleshooting/01-tracking-upgrades.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  docs/lidar/troubleshooting/pipeline-diagnosis.md
  docs/lidar/troubleshooting/warmup-trails-fix-20260113.md
  docs/maths/README.md
  docs/maths/background-grid-settling-maths.md
  docs/maths/clustering-maths.md
  docs/maths/ground-plane-maths.md
  docs/maths/proposals/20260219-unify-l3-l4-settling.md
  docs/maths/proposals/20260220-velocity-coherent-foreground-extraction.md
  docs/maths/proposals/20260221-ground-plane-vector-scene-maths.md
  docs/maths/tracking-maths.md
  docs/plans/data-sqlite-client-standardization-plan.md
  docs/plans/data-transit-deduplication-plan.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-rpi-imager-fork-plan.md
  docs/plans/lidar-architecture-av-range-image-format-alignment-plan.md
  docs/plans/lidar-architecture-dynamic-algorithm-selection-plan.md
  docs/plans/lidar-architecture-gps-ethernet-parsing-plan.md
Due: none

[docs] add documentation standardization plan and multiple design proposals for LiDAR visualiser features
  docs/plans/platform-documentation-standardization-plan.md
  docs/proposals/lidar-visualiser-physics-checks-and-confirmation-gates.md
  docs/proposals/lidar-visualiser-qc-dashboard-and-audit-export.md
  docs/proposals/lidar-visualiser-trails-and-uncertainty-visualisation.md
Due: none

[docs] create comprehensive LiDAR documentation covering architecture, maths assumptions, and detailed implementation status
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/maths/README.md
Due: none

[docs] mv plans
  docs/plans/lidar-architecture-foundations-fixit-plan.md
  docs/plans/ui-velocity-visualiser-implementation-plan.md
Due: none

[docs] remove obsolete design proposals for LiDAR visualiser features
  docs/proposals/lidar-visualiser-physics-checks-and-confirmation-gates.md
  docs/proposals/lidar-visualiser-qc-dashboard-and-audit-export.md
  docs/proposals/lidar-visualiser-trails-and-uncertainty-visualisation.md
Due: none

[docs] update links to implementation plan across multiple documents
  docs/lidar/troubleshooting/01-tracking-upgrades.md
  docs/plans/lidar-architecture-foundations-fixit-progress.md
  docs/plans/lidar-visualiser-performance-and-scene-health-timeline-metrics-plan.md
  docs/plans/ui-velocity-visualiser-architecture-plan.md
  docs/plans/ui-velocity-visualiser-implementation-plan.md
  docs/plans/web-frontend-background-debug-surfaces-plan.md
  docs/ui/VelocityVisualiser.app/01-problem-and-user-workflows.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
  docs/ui/VelocityVisualiser.app/performance-investigation.md
Due: none

[docs] update velocity coherent plan
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
Due: none

[docs] update links in LiDAR documentation for consistency and clarity
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/maths/README.md
Due: none

Apply suggestions from code review
  BACKLOG.md
Due: none

[docs] reorganise docs/plans (#308)
  BACKLOG.md
  docs/DEVLOG.md
  docs/README.md
  docs/lidar/README.md
  docs/lidar/architecture/20260221-math-foundations-audit.md
  docs/lidar/architecture/av-range-image-format-alignment.md
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/lidar/architecture/ml-solver-expansion.md
  docs/lidar/architecture/multi-model-ingestion-and-configuration.md
  docs/lidar/architecture/network-configuration.md
  docs/lidar/architecture/vector-scene-map.md
  docs/lidar/operations/foundations-fixit-progress.md
  docs/lidar/operations/hint-sweep-mode.md
  docs/lidar/operations/pcap-ground-plane-export-tool.md
  docs/lidar/operations/pcap-split-tool.md
  docs/lidar/operations/track-labeling-ui-implementation.md
  docs/lidar/operations/webserver-tuning-schema-parity.md
  docs/lidar/troubleshooting/01-tracking-upgrades.md
  docs/maths/proposals/20260219-unify-l3-l4-settling.md
  docs/maths/proposals/20260221-ground-plane-vector-scene-maths.md
  docs/plans/lidar-sweep-hint-mode-plan.md
  docs/plans/lidar-visualiser-performance-and-scene-health-timeline-metrics-plan.md
  docs/plans/web-frontend-background-debug-surfaces-plan.md
  docs/radar/architecture/networking.md
  docs/radar/architecture/serial-configuration-ui.md
  docs/radar/architecture/site-config-cosine-correction-spec.md
  docs/radar/architecture/speed-limit-schedules.md
  docs/radar/architecture/time-partitioned-data-tables.md
  docs/radar/architecture/transit-deduplication.md
  docs/radar/serial-config-quickref.md
  docs/ui/design-review-and-improvement.md
  docs/ui/velocity-visualiser-architecture.md
  docs/ui/velocity-visualiser-implementation.md
Due: none

[go] address review: extract effectiveCellParams helper, fix NeighborConfirmationCount=0 semantics, validate max_tracks (#309)
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/foreground.go
  internal/lidar/l3grid/foreground_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
Due: go

[docs] update ROADMAP.md (#312)
  docs/README.md
  docs/ROADMAP.md
  docs/lidar/ROADMAP.md
  docs/lidar/architecture/foreground_tracking.md
  docs/lidar/architecture/lidar_sidecar_overview.md
  docs/lidar/operations/lidar-foreground-tracking-status.md
  docs/plans/lidar-analysis-run-infrastructure-plan.md
  docs/plans/lidar-architecture-dynamic-algorithm-selection-plan.md
  docs/plans/lidar-ml-classifier-training-plan.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/lidar-parameter-tuning-optimisation-plan.md
  docs/plans/lidar-track-labeling-auto-aware-tuning-plan.md
Due: none

[docs] VISION.md + TDL design (#311)
  docs/README.md
  docs/VISION.md
  docs/plans/data-track-description-language-plan.md
Due: none

Update internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver.go
Due: go

[go] add UpdateConfig method to Tracker and refactor config updates in WebServer
  internal/lidar/l5tracks/tracker_interface.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/monitor/webserver.go
Due: go

[go] add no-op UpdateConfig method to mockTrackerCov for testing purposes
  internal/lidar/tracking_pipeline_coverage_test.go
Due: go

[go] implement region-adaptive parameters (#307)
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/foreground.go
  internal/lidar/l3grid/foreground_test.go
  internal/lidar/l5tracks/tracker_interface.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/tracking_pipeline_coverage_test.go
Due: go

[go] add backoff logging to PCAP real-time processing for diagnostics
  internal/lidar/l1packets/network/pcap_realtime.go
Due: go

[make] add log-level options for lidar development commands
  Makefile
Due: none

[go]: log-level flag and streamline logging configuration
  cmd/radar/radar.go
  docs/lidar/architecture/lidar-logging-stream-split-and-rubric-design-20260217.md
  internal/lidar/debug.go
  internal/lidar/debug_test.go
Due: go, go-cli

[go] replace trace logs with diagnostic logs in tracking pipeline, gRPC server, and visualiser publisher
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/publisher.go
Due: go

[go] refactor logging in LiDAR processing: remove debug flags and implement structured logging
  internal/lidar/integration_test.go
  internal/lidar/l1packets/parse/coverage_boost_test.go
  internal/lidar/l1packets/parse/debug.go
  internal/lidar/l1packets/parse/extract.go
  internal/lidar/l1packets/parse/extract_edge_test.go
  internal/lidar/l1packets/parse/extract_test.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/l2frames/frame_builder_extended_test.go
  internal/lidar/l2frames/frame_builder_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_pipeline_coverage_test.go
  internal/lidar/tracking_pipeline_test.go
Due: go

[go] update recorder, support size-based chunk rotation and update HTML label for analysis mode
  internal/lidar/monitor/html/status.html
  internal/lidar/visualiser/recorder/coverage_boost_test.go
  internal/lidar/visualiser/recorder/recorder.go
Due: go

Apply suggestions from code review
  internal/lidar/monitor/datasource_handlers.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/publisher.go
Due: go

[go] prevent overflow in frame offset and length checks in Replayer
  internal/lidar/visualiser/recorder/recorder.go
Due: go

[go] update MaxFrameRate to 25 in radar and tracking pipeline to prevent frame drops
  cmd/radar/radar.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: go, go-cli

[go] add unit tests for logging functionality and error handling in recorder and replayer
  internal/lidar/l1packets/parse/debug_test.go
  internal/lidar/l2frames/frame_builder_coverage_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/visualiser/recorder/coverage_boost_test.go
Due: go

[go] replace tracef with diagf for throttled frame logging in tracking pipeline
  internal/lidar/pipeline/tracking_pipeline.go
Due: go

[go] use local random generator in uniformSubsample to avoid lock contention during concurrent DBSCAN calls
  internal/lidar/l4perception/cluster.go
Due: go

[go] add foreground_max_input_points to tuning configuration for DBSCAN performance
  config/tuning.defaults.json
  internal/config/tuning.go
  internal/lidar/l3grid/background.go
  internal/lidar/l3grid/config.go
  internal/lidar/monitor/direct_backend.go
  internal/lidar/monitor/webserver.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: go

[go] prevent advancing miss counters during throttle in tracking pipeline
  internal/lidar/pipeline/tracking_pipeline.go
Due: go

[go] add one-shot logging for nil FgForwarder and disabled ground removal in tracking pipeline
  internal/lidar/pipeline/tracking_pipeline.go
Due: go

[go] add foreground_max_input_points to tuning configuration for improved DBSCAN performance
  config/tuning.example.json
  config/tuning.optimised.json
  internal/config/tuning_test.go
Due: go

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
