Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][js][go] fly the camera on one constant-speed orbit
  docs/BACKLOG.md
  docs/plans/lidar-scene-catalogue-publishing-plan.md
  docs/plans/lidar-web-scene-export-plan.md
  internal/cmd/scene/scene.go
  internal/scene/vantage.go
  public_html/src/js/__tests__/scene-camera.test.mjs
  public_html/src/js/__tests__/scene-flight.test.mjs
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-flight.js
  public_html/src/js/scene-player.js
  public_html/src/scenes/soma1/assets/vantages.json
  public_html/src/scenes/soma1/index.njk
Due: go

[ai][docs] index every site on the s2 archive, with a position where the map gives one [split 1]
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/deployments.py
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

[ai][py] attribute a continuous analysis's segments to the captures they span [split 1]
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/site-index.json
Due: none

[ai][js] put three more scenes on the map, and stop their names colliding [split 1]
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

[cfg] day1 lat/longs [split 1]
  tools/s2-archive/map-marks.json
Due: none

[ai][py][js] stop a settling artefact splitting one site into two published scenes [split 1]
  tools/s2-archive/build-site-index.py
  tools/s2-archive/site-index.json
Due: none

[ai][py][docs] let the operator assert a nudged tripod is still one site [split 1]
  docs/plans/continuous-classification-brief.md
  docs/plans/motion-static-parameter-tuning-plan.md
  docs/plans/static-sensor-nudge-tolerance-plan.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/site-index.json
  tools/s2-archive/site-joins.json
Due: none

[cfg] add new intersection marks for September 1, 2026, and update existing entries for accuracy [split 1]
  tools/s2-archive/map-marks.json
Due: none

[ai][data] refresh the archive index and scene catalogue together [split 1]
  tools/s2-archive/site-index.json
Due: none

update published_as field for marina-broderick entry in site-index.json [split 1]
  tools/s2-archive/site-index.json
Due: none

[ai][js][py] orbit the sensor, and carry two measured angles into the viewer [split 1]
  tools/s2-archive/build-site-index.py
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

[ai][js] rebuild the index and the site from one target, and follow a renamed mark [split 1]
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

[ai][py] distinguish field marks by identity across recording days [split 1]
  tools/s2-archive/build-site-index.py
Due: none

[ai][docs] brief the continuous-classification investigation for handover [split 1]
  docs/plans/archive-ingest-in-go-plan.md
  docs/plans/continuous-classification-brief.md
Due: none

[ai][docs] record that continuous classification loses a 9/3 site [split 1]
  docs/plans/archive-ingest-in-go-plan.md
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

update map marks with new locations and identifiers for accuracy [split 1]
  tools/s2-archive/map-marks.json
Due: none

[ai][js][py] derive scene-sites.json from the archive index instead of retyping it [split 1]
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
Due: none

update coordinates for Ashbury at Downey mark to improve accuracy [split 1]
  tools/s2-archive/map-marks.json
Due: none

[ai][docs] separate the two causes of a truncated site in the ingest plan [split 1]
  docs/plans/archive-ingest-in-go-plan.md
  tools/s2-archive/map-marks.json
Due: none

[ai][js] let the field mark be the only name a scene has [split 1]
  tools/s2-archive/site-index.json
Due: none

[ai][docs] plan moving archive scan and split off Python and into the index [split 1]
  docs/plans/archive-ingest-in-go-plan.md
Due: none

[ai][js][py][go] give every site one stable identity, sourced from its field mark [split 1]
  tools/s2-archive/build-site-index.py
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
Due: none

[ai][docs] distinguish archive evidence from unmerged replay and catalogue work
  docs/plans/archive-ingest-in-go-plan.md
  docs/plans/continuous-classification-brief.md
  docs/plans/motion-static-parameter-tuning-plan.md
  docs/plans/static-sensor-nudge-tolerance-plan.md
  tools/s2-archive/README.md
Due: none

[py][docs] site inventory tool (#571)
  docs/plans/archive-ingest-in-go-plan.md
  docs/plans/continuous-classification-brief.md
  docs/plans/motion-static-parameter-tuning-plan.md
  docs/plans/static-sensor-nudge-tolerance-plan.md
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/deployments.py
  tools/s2-archive/map-marks.json
  tools/s2-archive/site-index.json
  tools/s2-archive/site-joins.json
Due: none

[ai][go][sql] capture index, configured roots, and drift reporting
  docs/plans/lidar-captures-multi-file-cases-plan.md
  internal/cmd/server/capture_root_flag.go
  internal/cmd/server/radar.go
  internal/db/migrations/000039_create_lidar_capture_index.down.sql
  internal/db/migrations/000039_create_lidar_capture_index.up.sql
  internal/db/schema.sql
  internal/lidar/capindex/capindex_test.go
  internal/lidar/capindex/drift.go
  internal/lidar/capindex/indexer.go
  internal/lidar/capindex/indexer_test.go
  internal/lidar/capindex/scan.go
  internal/lidar/capindex/session.go
  internal/lidar/server/capture_api.go
  internal/lidar/server/capture_api_test.go
  internal/lidar/server/routes.go
  internal/lidar/server/server.go
  internal/lidar/storage/sqlite/capture_store.go
  internal/lidar/storage/sqlite/capture_store_test.go
Due: go

[ai][go][js][sql] correct the S2 cell scale claims
  internal/db/migrations/000042_replay_case_geography.up.sql
  internal/lidar/geoindex/geoindex.go
  internal/lidar/storage/sqlite/replay_case_geography.go
  web/src/lib/types/captures.ts
  web/src/routes/lidar/scene-map/+page.svelte
Due: go, web

[ai][go][js][sql] geographic identity for located replay cases
  go.mod
  go.sum
  internal/db/migrations/000042_replay_case_geography.down.sql
  internal/db/migrations/000042_replay_case_geography.up.sql
  internal/db/schema.sql
  internal/lidar/geoindex/geoindex.go
  internal/lidar/geoindex/geoindex_test.go
  internal/lidar/server/routes.go
  internal/lidar/server/scene_api.go
  internal/lidar/server/scene_geo_api.go
  internal/lidar/server/scene_geo_api_test.go
  internal/lidar/storage/sqlite/replay_case_geography.go
  internal/lidar/storage/sqlite/replay_case_geography_test.go
  internal/lidar/storage/sqlite/scene_store.go
  web/src/lib/api.ts
  web/src/lib/captures/__tests__/api.test.ts
  web/src/lib/types/captures.ts
  web/src/routes/+layout.svelte
  web/src/routes/lidar/captures/+page.svelte
  web/src/routes/lidar/scene-map/+page.svelte
Due: go, web

[ai][go][docs] capture sequencing core for multi-file replay cases
  docs/plans/lidar-captures-multi-file-cases-plan.md
  internal/lidar/capseq/capseq.go
  internal/lidar/capseq/capseq_test.go
Due: go

[ai][go][docs] multi-file replay execution across capture-file joins
  docs/plans/lidar-captures-multi-file-cases-plan.md
  internal/lidar/l1packets/network/pcap_sequence.go
  internal/lidar/l1packets/network/pcap_sequence_integration_test.go
  internal/lidar/l1packets/network/pcap_sequence_test.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l2frames/frame_builder_seam_test.go
  internal/lidar/server/datasource.go
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/server/replay_sequence.go
  internal/lidar/server/replay_sequence_launch_test.go
  internal/lidar/server/replay_sequence_test.go
Due: go

[ai][docs] plan: salvaging the frames either side of a lossy join
  docs/plans/lidar-seam-frame-salvage-plan.md
Due: none

[ai][go][sql] motion pass jobs and multi-capture replay cases
  docs/plans/lidar-captures-multi-file-cases-plan.md
  internal/db/migrations/000040_create_lidar_capture_jobs.down.sql
  internal/db/migrations/000040_create_lidar_capture_jobs.up.sql
  internal/db/migrations/000041_replay_case_files.down.sql
  internal/db/migrations/000041_replay_case_files.up.sql
  internal/db/schema.sql
  internal/lidar/capjobs/runner.go
  internal/lidar/capjobs/runner_test.go
  internal/lidar/server/capture_jobs.go
  internal/lidar/server/capture_jobs_test.go
  internal/lidar/server/capture_motion_pcap.go
  internal/lidar/server/capture_motion_stub.go
  internal/lidar/server/replay_case_files_test.go
  internal/lidar/server/replay_case_validate.go
  internal/lidar/server/routes.go
  internal/lidar/server/scene_api.go
  internal/lidar/server/scene_api_coverage_test.go
  internal/lidar/server/scene_api_test.go
  internal/lidar/server/server.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/storage/sqlite/capture_jobs.go
  internal/lidar/storage/sqlite/capture_jobs_test.go
  internal/lidar/storage/sqlite/evaluation_store_test.go
  internal/lidar/storage/sqlite/replay_case_files.go
  internal/lidar/storage/sqlite/replay_case_files_test.go
  internal/lidar/storage/sqlite/scene_store.go
  internal/lidar/storage/sqlite/scene_store_test.go
Due: go

[ai][sql] fix migration 042, which the SQL formatter had mangled
  internal/db/migrations/000042_replay_case_geography.up.sql
  internal/lidar/storage/sqlite/replay_case_geography_test.go
Due: go

[ai][js][go][docs] Captures page
  docs/plans/lidar-captures-multi-file-cases-plan.md
  internal/lidar/capindex/capindex_test.go
  internal/lidar/capindex/scan.go
  internal/lidar/server/capture_api.go
  internal/lidar/server/capture_jobs.go
  internal/lidar/server/capture_jobs_test.go
  internal/lidar/server/capture_probe_pcap.go
  internal/lidar/server/capture_probe_stub.go
  internal/lidar/server/capture_probe_test.go
  internal/lidar/server/replay_case_files_test.go
  internal/lidar/server/replay_case_validate.go
  web/src/lib/api.ts
  web/src/lib/captures/__tests__/api.test.ts
  web/src/lib/captures/__tests__/timeline.test.ts
  web/src/lib/captures/timeline.ts
  web/src/lib/components/lidar/CoverageTimeline.svelte
  web/src/lib/components/lidar/MotionLegend.svelte
  web/src/lib/components/lidar/MotionStrip.svelte
  web/src/lib/types/captures.ts
  web/src/routes/+layout.svelte
  web/src/routes/lidar/captures/+page.svelte
  web/src/routes/lidar/replay-cases/+page.svelte
Due: go, web

[ai][go][docs] joined pcap-split and single-segment extraction
  docs/plans/lidar-captures-multi-file-cases-plan.md
  internal/cmd/lidar/multiflag.go
  internal/cmd/lidar/split.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/analyse_sequence.go
  internal/lidar/pcapsplit/run.go
  internal/lidar/pcapsplit/select_test.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/pcapsplit/writer.go
Due: go

add .scratch-analysis to .gitignore to exclude scratch analysis files [core]
  .gitignore
Due: none

[ai][js] put three more scenes on the map, and stop their names colliding [split 2]
  public_html/scene-sites.json
  public_html/src/_data/scenes.json
  public_html/src/_includes/scene-map.svg
  tools/s2-hilbert/scene-map.mjs
Due: none

[ai][go][js] probe files a metadata-only scan leaves pending; join selected scan files into one case
  internal/lidar/capindex/drift.go
  internal/lidar/capindex/indexer.go
  internal/lidar/capindex/indexer_test.go
  internal/lidar/storage/sqlite/capture_store.go
  internal/lidar/storage/sqlite/capture_store_test.go
  web/src/routes/lidar/replay-cases/+page.svelte
Due: go, web

[ai][py][js] stop a settling artefact splitting one site into two published scenes [core]
  tools/s2-archive/publish-scenes.py
Due: none

[ai][js][py][go] give every site one stable identity, sourced from its field mark [core]
  internal/lidar/l1packets/network/pcap_realtime.go
Due: go

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
