Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[ai] refactor flowchart in CLAUDE.md to improve clarity and structure of API interactions
  CLAUDE.md
Due: none

[docs] refine sensor hardware specifications in ARCHITECTURE.md for accuracy and clarity
  ARCHITECTURE.md
Due: none

[img] deterministic DHCP config (#488)
  ARCHITECTURE.md
  CLAUDE.md
  Makefile
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/platform/operations/rpi-imager.md
  docs/ui/visualiser/performance-investigation.md
  image/README.md
  image/scripts/build-image.sh
  image/stage-velocity/03-velocity-config/00-run.sh
  image/stage-velocity/07-networking/00-run.sh
  image/stage-velocity/07-networking/files/NetworkManager.state
  image/stage-velocity/07-networking/files/velocity-wired-dhcp.nmconnection
  public_html/package.json
  public_html/src/index.njk
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: mac

[release] update to version 0.5.1-pre14 with new URLs and checksums
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[cfg] release v0.5.1-pre14 (#490)
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[js] add missing test exports and enhance test coverage for dashboard components
  web/src/lib/__tests__/dashboard_common.test.ts
  web/src/lib/__tests__/regions_dashboard.test.ts
  web/src/lib/__tests__/sweep_dashboard.test.ts
  web/src/lib/api.test.ts
  web/src/lib/types/lidar.test.ts
Due: web

[js] enhance Track interface with additional object classes and update TRACK_COLORS for improved visualization
  web/src/lib/types/lidar.ts
Due: web

[docs] correct spelling of "organised", "visualisation", and "normalisation" in CLI and LIDAR integration plans
  docs/plans/cli-restructuring-plan.md
  docs/plans/lidar-av-lidar-integration-plan.md
  docs/plans/lidar-motion-capture-architecture-plan.md
Due: none

[mac] improve comments for clarity and update replay case handling in tests
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiserTests/LabelAPIClientTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
Due: mac

[js] fix node deprecation issue
  web/jest.config.js
  web/jest.esbuild-transformer.cjs
  web/package.json
  web/pnpm-lock.yaml
Due: none

[js] update ESLint configuration and improve lint script execution
  web/eslint.config.js
  web/package.json
Due: none

[js[ revert vite dep versions
  web/package.json
  web/pnpm-lock.yaml
Due: none

[html] update stub index for frontend/docs not built with improved styling and instructions
  docs_html/stub-index.html
  web/stub-index.html
Due: none

[nav] reorder Docs NavItem position in layout
  web/src/routes/+layout.svelte
Due: web

[img] enhance build script to include version and git SHA information
  image/scripts/build-image.sh
Due: none

[build] enhance build metadata handling for Raspberry Pi image
  .github/workflows/build-image.yml
Due: none

[html] refactor stub index for improved readability and structure
  web/stub-index.html
Due: none

[version] update version to 0.5.1-pre15 across all relevant files
  Makefile
  public_html/package.json
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: mac

[build] enhance CI workflow and release asset management with new scripts and Makefile targets
  .github/knowledge/coding-standards.md
  .github/workflows/build-image.yml
  Makefile
  image/scripts/build-image.sh
  scripts/build-embedded-assets.sh
  scripts/release-assets.sh
Due: none

[go][js] add frontend asset request handling and corresponding tests
  internal/api/server.go
  internal/api/server_coverage_test.go
  web/svelte.config.js
Due: go

[make] add print-version target to display current version
  Makefile
Due: none

[go] refactor server tests to use helper for starting server on free port
  internal/api/server.go
  internal/api/server_coverage_test.go
Due: go

[sh] refactor build scripts for improved version handling and tag detection
  scripts/build-embedded-assets.sh
  scripts/release-assets.sh
Due: none

[ai][go] keep API startup tests on owned listeners
  internal/api/server.go
  internal/api/server_coverage_test.go
Due: go

[img] fix asset build & stub html (#491)
  .github/knowledge/coding-standards.md
  .github/workflows/build-image.yml
  Makefile
  docs_html/stub-index.html
  image/scripts/build-image.sh
  internal/api/server.go
  internal/api/server_coverage_test.go
  public_html/package.json
  scripts/build-embedded-assets.sh
  scripts/release-assets.sh
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
  web/src/routes/+layout.svelte
  web/stub-index.html
  web/svelte.config.js
Due: go, web, mac

[ci] remove version specification for pnpm setup
  .github/workflows/lint-autofix.yml
Due: none

[go] correct track state and update time calculations in pcap-analyse
  cmd/tools/pcap-analyse/main.go
Due: go-cli

[ci] update base image to golang:1.26-bookworm for improved compatibility
  image/Dockerfile.build
Due: none

[ai][go] test collectTrackResults field mapping in pcap-analyse
  .gitignore
  cmd/tools/pcap-analyse/collect_test.go
Due: go-cli

[ci] fix version issues (#492)
  .github/workflows/lint-autofix.yml
  .gitignore
  cmd/tools/pcap-analyse/collect_test.go
  cmd/tools/pcap-analyse/main.go
  image/Dockerfile.build
Due: go-cli

[ci] update package-ecosystem from npm to pnpm in dependabot configuration
  .github/dependabot.yml
Due: none

[ver] bump version to 0.5.1-pre16 across all relevant files
  Makefile
  public_html/package.json
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: mac

[ci] update dependabot schedule to weekly for application group and adjust documentation paths
  .github/dependabot.yml
Due: none

[ci] change package-ecosystem from pnpm to npm in dependabot configuration
  .github/dependabot.yml
Due: none

[ci] update minimatch version to 3.1.5 in package.json and pnpm-lock.yaml
  public_html/package.json
  public_html/pnpm-lock.yaml
Due: none

[ci] dependabot npm -> pnpm (#493)
  .github/dependabot.yml
  Makefile
  public_html/package.json
  public_html/pnpm-lock.yaml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: mac

[ai][build] consolidate version bumps to Makefile + Xcode project
  .github/workflows/version-check.yml
  Makefile
  docs_html/package.json
  public_html/package.json
  scripts/set-version.sh
  web/package.json
  web/scripts/set-build-env.js
Due: none

[ai][docs] mark version-bump consolidation plan complete
  docs/BACKLOG.md
  docs/plans/version-bump-consolidation-plan.md
Due: none

[ai][web] drop redundant app-web-version meta tag
  web/scripts/set-build-env.js
  web/src/app.html
Due: web

[ai][build] default set-version.sh targets to --all
  Makefile
  scripts/set-version.sh
Due: none
