Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[go] add vrlog-analyse command for generating and comparing .vrlog analysis reports
  Makefile
  cmd/tools/vrlog-analyse/main.go
  docs/data/VRLOG_ANALYSIS.md
Due: go-cli

[go] streamline report loading by implementing loadOrGenerate function
  internal/lidar/analysis/compare.go
Due: go

[go] add frame rate and inferred replay speed to analysis report
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
Due: go

[go] add comprehensive tests for report generation and analysis functionality
  internal/lidar/analysis/report_test.go
Due: go

[docs] add inferred replay speed and frame rate to recording metadata in VRLOG analysis report
  docs/data/VRLOG_ANALYSIS.md
Due: none

[go] add tests for computeDistStats and error handling in GenerateReport
  internal/lidar/analysis/compare_test.go
  internal/lidar/analysis/report_test.go
Due: go

[go] refactor TestGenerateReportCorruptFrames to truncate chunk file for error simulation
  internal/lidar/analysis/report_test.go
Due: go

[js] rename peak_speed_mps to max_speed_mps for consistency in Track interface
  web/src/lib/types/lidar.ts
Due: web

[go] Add §12.1 implementable-now metrics to vrlog analysis and comparison (#356)
  Makefile
  cmd/tools/vrlog-analyse/main.go
  docs/data/VRLOG_ANALYSIS.md
  internal/lidar/analysis/compare.go
  internal/lidar/analysis/compare_test.go
  internal/lidar/analysis/doc.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/report_test.go
  internal/lidar/analysis/types.go
Due: go, go-cli

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

Expand math proposal for static sign
  CONTRIBUTING.md
  docs/maths/README.md
  docs/maths/proposals/20260310-reflective-sign-pose-anchor-maths.md
  docs/plans/platform-data-science-metrics-first-plan.md
Due: none

Add shared web cache activation
  .codex/environments/environment.toml
  Makefile
  docs/data/VRLOG_ANALYSIS.md
  scripts/ensure-shared-web-node-modules.sh
Due: none

Apply suggestions from code review
  docs/maths/proposals/20260310-reflective-sign-pose-anchor-maths.md
Due: none

Draft sign anchor proposal
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/maths/proposals/20260310-reflective-sign-pose-anchor-maths.md
Due: none

[docs] update contributing documentation and refine reflective sign anchor proposals for improved pose estimation
  CONTRIBUTING.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/maths/README.md
  docs/maths/proposals/20260310-reflective-sign-pose-anchor-maths.md
  docs/plans/platform-data-science-metrics-first-plan.md
Due: none

[docs] refine contributing documentation and clarify reflective sign anchor proposals for improved pose estimation
  CONTRIBUTING.md
  docs/maths/README.md
  docs/maths/proposals/20260310-reflective-sign-pose-anchor-maths.md
  docs/plans/platform-data-science-metrics-first-plan.md
Due: none

Clarify lidar layer docs
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Clarify lidar mermaid charts
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Improve lidar docs diagrams
  docs/lidar/README.md
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Improve lidar layer diagrams
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Improve lidar diagram layers
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Add mermaid validation target
  Makefile
  docs/lidar/architecture/lidar-data-layer-model.md
  scripts/check-mermaid-blocks.py
Due: none

Clarify shared web cache fallback
  Makefile
  scripts/ensure-shared-web-node-modules.sh
Due: none

Align lidar layer flowchart
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Improve lidar architecture diagram
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Fix LiDAR diagram issues
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Fix lidar mermaid linting
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

Adjust lidar architecture layout
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

[docs] lidar mermaid, DS Q's (#359)
  CONTRIBUTING.md
  Makefile
  docs/lidar/README.md
  docs/lidar/architecture/README.md
  docs/lidar/architecture/lidar-data-layer-model.md
  docs/maths/README.md
  docs/maths/proposals/20260310-reflective-sign-pose-anchor-maths.md
  docs/plans/platform-data-science-metrics-first-plan.md
  scripts/check-mermaid-blocks.py
Due: none

[docs] enhance LiDAR data layer model documentation with updated flowchart and layer descriptions
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

[docs] update LiDAR data layer model documentation with refined flowchart labels and structure
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

[docs] refine LiDAR data layer model documentation with updated flowchart labels and connections
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

[docs] update LiDAR data layer model documentation with revised flowchart structure and labels
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

[docs] update LiDAR data layer model documentation with additional flowchart connections and reading notes
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none

[docs] refine LiDAR data layer model documentation with updated legend and concept mapping
  docs/lidar/architecture/lidar-data-layer-model.md
Due: none
