Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[docs] tailgating MVP sprint plan (#612)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/lidar/architecture/time-domain-model.md
  docs/lidar/operations/0.5.2-sprint-review.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-clock-abstraction-and-time-domain-model-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-visualiser-trails-and-uncertainty-visualisation-plan.md
  docs/ui/DESIGN.md
Due: none

Make Kirk0 strict rewrite check independent of replay chunk timing
  internal/lidar/storage/vrlog/kirk0_pcap_test.go
Due: go

[ai][go] storage/vrlog: shed and fixture tests independent of storage speed
  internal/lidar/storage/vrlog/commit_test.go
  internal/lidar/storage/vrlog/container_test.go
Due: go

[ai][go] replayeval: a declared sensor coverage unlocks the continuity experiments
  cmd/tools/lidar-refinement-eval/main.go
  cmd/tools/lidar-state-estimation-baseline/main.go
  internal/lidar/replayeval/coverage.go
  internal/lidar/replayeval/coverage_test.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_continuity_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: go, go-cli

[ai][go] l5tracks: a static-occluder continuity scene
  internal/lidar/l5tracks/continuity_scenario_test.go
  internal/lidar/l5tracks/continuity_scene_test.go
Due: go

[ai][docs] coverage declarations and the S0 evidence repairs
  docs/lidar/architecture/time-domain-model.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][docs] backlog, devlog and sprint plan entries for #617
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
Due: none

[ai][go][docs] vrlog: document the commit-stall test's timing window
  data/structures/VRLOG_FORMAT.md
  docs/plans/lidar-vrlog-observation-format-plan.md
  internal/lidar/storage/vrlog/commit_test.go
  internal/lidar/storage/vrlog/policy.go
  internal/lidar/storage/vrlog/writer.go
Due: go

[ai][go][docs] vrlog: give other packages' test writers a generous commit deadline
  cmd/tools/vrlog-check/main_test.go
  docs/plans/lidar-vrlog-observation-format-plan.md
  internal/cmd/lidar/observations_test.go
  internal/cmd/server/lidar_observations_test.go
  internal/lidar/l9endpoints/recorder/observation_container_test.go
  internal/lidar/pipeline/observation_frame_tap_test.go
  internal/lidar/storage/vrlog/export_test.go
  internal/lidar/storage/vrlog/kirk0_pcap_test.go
Due: go, go-cli

[ai][go][sql] honest body anchors, support detail, and a solid-body reader for the field run
  docs/lidar/architecture/label-vocabulary.md
  internal/cmd/server/headway.go
  internal/cmd/server/headway_test.go
  internal/db/migrations/000053_lidar_solid_body_support.down.sql
  internal/db/migrations/000053_lidar_solid_body_support.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/solid_body.go
  internal/lidar/l5tracks/solid_body_lifecycle.go
  internal/lidar/l5tracks/solid_body_test.go
  internal/lidar/l8behaviour/adapter.go
  internal/lidar/l8behaviour/adapter_solid_body_test.go
  internal/lidar/l8behaviour/adapter_test.go
  internal/lidar/l8behaviour/trajectory.go
  internal/lidar/l8behaviour/trajectory_test.go
  internal/lidar/l8behaviour/vocabulary.go
  internal/lidar/l8behaviour/vocabulary_test.go
  internal/lidar/storage/sqlite/behaviour_estimate_queries.go
  internal/lidar/storage/sqlite/behaviour_estimate_queries_test.go
  internal/lidar/storage/sqlite/solid_body_store.go
  internal/lidar/storage/sqlite/solid_body_store_test.go
  internal/report/headway/fieldrun/fieldrun.go
  internal/report/headway/fieldrun/fieldrun_test.go
  internal/report/headway/fieldrun/kirk0_pcap_test.go
Due: go

[ai][make] bump version to 0.5.1-pre39 for migration 000053
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[ai][docs] anchors, support detail and the solid-body field run (#618)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/headway-report-oracle.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/radar/cli-comprehensive-guide.md
Due: none

[ai][go] replayeval: a total coverage id and no trailing JSON
  internal/lidar/replayeval/coverage.go
  internal/lidar/replayeval/coverage_test.go
Due: go

[ai][go] headway: name the table whose versions could not be listed
  internal/cmd/server/headway.go
Due: go

[ai][go] replayeval: a per-case solid-body summary for corpus runs
  cmd/tools/lidar-state-estimation-baseline/evidence_flags_test.go
  cmd/tools/lidar-state-estimation-baseline/main.go
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/replayeval/solid_body_summary_test.go
Due: go, go-cli

[ai][docs] plan: near-edge measurement feeding the tracker (S2)
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: none

[ai][go][docs] S0: coverage-qualified continuity replay, static-occluder scene, VRLOG shed test (#617)
  cmd/tools/lidar-refinement-eval/main.go
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/architecture/time-domain-model.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/l5tracks/continuity_scenario_test.go
  internal/lidar/l5tracks/continuity_scene_test.go
  internal/lidar/replayeval/coverage.go
  internal/lidar/replayeval/coverage_test.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_continuity_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/storage/vrlog/commit_test.go
  internal/lidar/storage/vrlog/container_test.go
Due: go, go-cli

[ai][go] corpus: franklin-mcallister is five captures since #613
  cmd/tools/import-s2-site-index/main_test.go
  tools/s2-archive/state-estimation-phase01-corpus.json
Due: go-cli

[ai][go][sql][docs] S1: honest body anchors, support detail, and a solid-body reader for the field run (#618)
  Makefile
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/architecture/label-vocabulary.md
  docs/lidar/operations/headway-report-oracle.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/radar/cli-comprehensive-guide.md
  internal/cmd/server/headway.go
  internal/cmd/server/headway_test.go
  internal/db/migrations/000053_lidar_solid_body_support.down.sql
  internal/db/migrations/000053_lidar_solid_body_support.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/solid_body.go
  internal/lidar/l5tracks/solid_body_lifecycle.go
  internal/lidar/l5tracks/solid_body_test.go
  internal/lidar/l8behaviour/adapter.go
  internal/lidar/l8behaviour/adapter_solid_body_test.go
  internal/lidar/l8behaviour/adapter_test.go
  internal/lidar/l8behaviour/trajectory.go
  internal/lidar/l8behaviour/trajectory_test.go
  internal/lidar/l8behaviour/vocabulary.go
  internal/lidar/l8behaviour/vocabulary_test.go
  internal/lidar/storage/sqlite/behaviour_estimate_queries.go
  internal/lidar/storage/sqlite/behaviour_estimate_queries_test.go
  internal/lidar/storage/sqlite/solid_body_store.go
  internal/lidar/storage/sqlite/solid_body_store_test.go
  internal/report/headway/fieldrun/fieldrun.go
  internal/report/headway/fieldrun/fieldrun_test.go
  internal/report/headway/fieldrun/kirk0_pcap_test.go
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: go, mac

[ai][docs] S2 plan: evaluation hosts, sprint row, backlog and devlog
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: none

[ai][go] corpus tool: refuse a missing evidence database rather than create one
  cmd/tools/lidar-state-estimation-baseline/evidence_flags_test.go
  cmd/tools/lidar-state-estimation-baseline/main.go
Due: go-cli

[ai][go][docs] vrlog: harden timing-sensitive tests under load; document the stall test's window (#616)
  cmd/tools/vrlog-check/main_test.go
  data/structures/VRLOG_FORMAT.md
  docs/plans/lidar-vrlog-observation-format-plan.md
  internal/cmd/lidar/observations_test.go
  internal/cmd/server/lidar_observations_test.go
  internal/lidar/l9endpoints/recorder/observation_container_test.go
  internal/lidar/pipeline/observation_frame_tap_test.go
  internal/lidar/storage/vrlog/commit_test.go
  internal/lidar/storage/vrlog/container_test.go
  internal/lidar/storage/vrlog/export_test.go
  internal/lidar/storage/vrlog/fixtures_test.go
  internal/lidar/storage/vrlog/kirk0_pcap_test.go
  internal/lidar/storage/vrlog/policy.go
  internal/lidar/storage/vrlog/writer.go
Due: go, go-cli

[ai][docs] S2 T0 Mac results (solid_body shadow, 256 and 1024 sample points)
  results/s2-t0/results.md
  results/s2-t0/sp1024-phase0-summary.json
  results/s2-t0/sp1024-run.log
  results/s2-t0/sp256-phase0-summary.json
  results/s2-t0/sp256-run.log
Due: none

[ai][docs] S2 plan: T0 results from three corpus sites
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: none

[ai][go][docs] S2 plan: near-edge measurement feeding the tracker, with a per-case solid-body summary (#619)
  cmd/tools/import-s2-site-index/main_test.go
  cmd/tools/lidar-state-estimation-baseline/evidence_flags_test.go
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/replayeval/solid_body_summary_test.go
  tools/s2-archive/state-estimation-phase01-corpus.json
Due: go, go-cli

[ai][go] S2.1: face-transition remedies on the solid body, and heading-rate and range strata
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
  internal/lidar/l8analytics/lateral_fit.go
  internal/lidar/l8analytics/lateral_fit_test.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/replayeval/solid_body_summary_test.go
Due: go

[ai][go] S2.1: full cluster members for the near-edge measurement, and a declared sensor origin
  internal/lidar/l4bobserve/observation.go
  internal/lidar/l4bobserve/observation_test.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/l4perception/retention_test.go
  internal/lidar/l4perception/types.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
  internal/lidar/l8behaviour/adapter_solid_body_test.go
  internal/lidar/pipeline/state_estimate_sink_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: go

[ai][docs] runbook: disk relocation, CPU passthrough fix, eno1 hardware hang
  docs/platform/operations/truenas-vm-shared-storage-runbook.md
Due: none

[sql] clean up comments and formatting in LiDAR migration scripts
  internal/db/migrations/000050_lidar_track_estimate_revisions.up.sql
  internal/db/migrations/000051_lidar_interaction_persistence.up.sql
Due: go

[sql] add lidar_segment_selections and lidar_segment_clip_jobs tables
  internal/db/migrations/000054_lidar_segments.down.sql
  internal/db/migrations/000054_lidar_segments.up.sql
  internal/db/schema.sql
Due: go

[go] add segment clipping functionality and related APIs
  internal/cmd/lidar/clip.go
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/segments.go
  internal/lidar/annotation/sidecar.go
  internal/lidar/segments/read.go
  internal/lidar/segments/read_test.go
  internal/lidar/segments/record.go
  internal/lidar/segments/segments.go
  internal/lidar/segments/segments_test.go
  internal/lidar/server/capture_jobs.go
  internal/lidar/server/routes.go
  internal/lidar/server/scene_api.go
  internal/lidar/server/segment_clip_api.go
  internal/lidar/server/segment_clip_pcap.go
  internal/lidar/server/segment_clip_stub.go
  internal/lidar/server/segment_packs_api.go
  internal/lidar/server/segments_api.go
  internal/lidar/server/segments_api_test.go
Due: go

[js] implement segment handling and proposal layer management in annotation session
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSidecar.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ProposalLayerStore.swift
  tools/visualiser-macos/VelocityVisualiser/UI/AnnotationWindow.swift
  tools/visualiser-macos/VelocityVisualiserTests/ObjectProposerTests.swift
  web/src/routes/+layout.svelte
  web/src/routes/lidar/segments/+page.svelte
  web/src/routes/lidar/tracks/+page.svelte
Due: web, mac

[ai][docs] S2.1 F2 Mac results: full cluster members on the tuning sites
  results/s2-f2/fm-phase0-summary.json
  results/s2-f2/fm-run.log
  results/s2-f2/results.md
  results/s2-f2/t1fm-phase0-summary.json
  results/s2-f2/t1fm-run.log
Due: none

[ai][docs] S2.1 findings: hysteresis leaves a 2.5x tail, turns carry columbus's, full members match
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
Due: none

[ai][go] S2.1 tests: the solid body's origin from a coverage declaration, and two uncovered branches
  internal/lidar/l8analytics/lateral_fit_test.go
  internal/lidar/replayeval/coverage_test.go
  internal/lidar/replayeval/solid_body_summary_test.go
Due: go

Complete annotation segment workflow and coverage
  docs/BACKLOG.md
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-annotation-segment-finder-plan.md
  internal/cmd/lidar/clip.go
  internal/cmd/lidar/clip_cli_test.go
  internal/cmd/lidar/clip_selection_test.go
  internal/cmd/lidar/segments.go
  internal/cmd/lidar/segments_cli_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/segments/kirk0_pcap_test.go
  internal/lidar/segments/read.go
  internal/lidar/segments/read_driver_test.go
  internal/lidar/segments/read_test.go
  internal/lidar/segments/record.go
  internal/lidar/segments/record_test.go
  internal/lidar/segments/segments.go
  internal/lidar/segments/segments_test.go
  internal/lidar/server/segment_clip_api.go
  internal/lidar/server/segment_clip_pcap.go
  internal/lidar/server/segment_clip_pcap_test.go
  internal/lidar/server/segment_packs_api.go
  internal/lidar/server/segment_packs_api_test.go
  internal/lidar/server/segments_api.go
  internal/lidar/server/segments_api_test.go
  tools/visualiser-macos/VelocityVisualiser/Annotation/AnnotationSession.swift
  tools/visualiser-macos/VelocityVisualiser/Annotation/ProposalLayerStore.swift
  web/src/routes/lidar/segments/+page.svelte
Due: go, web, mac

[ai][go][docs] S2.1: face-transition remedies, full cluster members and a declared sensor origin for the solid body (#621)
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-near-edge-tracked-state-plan.md
  internal/lidar/l4bobserve/observation.go
  internal/lidar/l4bobserve/observation_test.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/l4perception/retention_test.go
  internal/lidar/l4perception/types.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
  internal/lidar/l8analytics/lateral_fit.go
  internal/lidar/l8analytics/lateral_fit_test.go
  internal/lidar/l8behaviour/adapter_solid_body_test.go
  internal/lidar/pipeline/state_estimate_sink_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/coverage_test.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/solid_body_summary.go
  internal/lidar/replayeval/solid_body_summary_test.go
Due: go

[ai][go] S2.1 T3: course-aligned faces on the solid body
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: go

[ai][docs] S2.1 F3 Mac results: course-aligned faces on the tuning sites
  results/s2-f3/results.md
  results/s2-f3/t1t3fm-phase0-summary.json
  results/s2-f3/t1t3fm-run.log
  results/s2-f3/t3fm-phase0-summary.json
  results/s2-f3/t3fm-run.log
Due: none

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
