Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, python, web

[go] add mock implementations and testing utilities for lidar monitoring
  docs/coverage-improvement-checklist.md
  internal/fsutil/filesystem.go
  internal/fsutil/filesystem_test.go
  internal/httputil/client.go
  internal/httputil/client_test.go
  internal/lidar/monitor/chart_api.go
  internal/lidar/monitor/chart_api_test.go
  internal/lidar/monitor/mock_background.go
  internal/lidar/monitor/mock_background_test.go
  internal/lidar/monitor/templates.go
  internal/lidar/monitor/templates_test.go
  internal/lidar/monitor/webserver.go
  internal/timeutil/clock.go
  internal/timeutil/clock_test.go
Due: go

Migrate docs deployment from gh-pages branch to main (#227)
  .github/workflows/deploy-gh-pages.yml
  docs/README.md
Due: none

[go] add tests for StandardClient and MockBackgroundManager, and embed template and asset files
  internal/deploy/executor_test.go
  internal/deploy/sshconfig_test.go
  internal/httputil/client_test.go
  internal/lidar/monitor/mock_background_test.go
  internal/lidar/monitor/templates_test.go
  internal/lidar/monitor/testdata/assets/style.css
  internal/lidar/monitor/testdata/templates/hello.html
Due: go

[docs] update coverage improvement documents with phase completion status and coverage metrics
  docs/coverage-improvement-analysis.md
  docs/coverage-improvement-checklist.md
  docs/coverage-improvement-summary.md
Due: none

[make] add test-go-coverage-summary target to display coverage summary for cmd/ and internal packages
  Makefile
Due: none

[go] add newline to expected output in template tests
  internal/lidar/monitor/templates_test.go
Due: go

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[make][ci][docs] update workflows and documentation paths to use public_html
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/docs-ci.yml
  Makefile
  README.md
  public_html/README.md
Due: none

[docs] restructure documentation paths and update references to public_html
  README.md
  docs/README.md
  public_html/README.md
Due: none

[docs] update make targets and add database migration instructions
  README.md
Due: none

[docs] update workflow paths to use public_html directory
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/docs-ci.yml
Due: none

[go] refactor: dependency injection, improve tests (#229)
  Makefile
  docs/coverage/coverage-improvement-checklist.md
  docs/coverage/coverage-improvement-summary.md
  internal/deploy/command.go
  internal/deploy/command_test.go
  internal/deploy/executor.go
  internal/deploy/executor_test.go
  internal/lidar/monitor/datasource.go
  internal/lidar/monitor/datasource_test.go
  internal/lidar/monitor/webserver.go
  internal/lidar/monitor/webserver_test.go
  internal/lidar/network/listener.go
  internal/lidar/network/listener_test.go
  internal/lidar/network/pcap_interface.go
  internal/lidar/network/pcap_interface_test.go
  internal/lidar/network/udp_interface.go
  internal/lidar/network/udp_interface_test.go
  internal/serialmux/factory.go
  internal/serialmux/factory_test.go
  internal/serialmux/mock.go
  internal/serialmux/mock_test.go
  internal/serialmux/port.go
  package.json
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  web/package-lock.json
  web/package.json
Due: go, python

[js] add unit tests for TRACK_COLORS in lidar types
  web/src/lib/api.test.ts
  web/src/lib/types/lidar.test.ts
Due: web

[js] add unit tests for TRACK_COLORS in lidar types (#230)
  web/src/lib/api.test.ts
  web/src/lib/types/lidar.test.ts
Due: web

[docs] format coverage assessment and implementation reports for clarity
  docs/coverage/coverage-assessment-2026-02.md
  docs/coverage/coverage-implementation-report.md
  docs/coverage/coverage-improvement-checklist.md
  docs/coverage/coverage.md
Due: none

[go] add comprehensive tests for BackgroundManager and WebServer functionality
  docs/coverage-improvement-summary.md
  internal/lidar/background_extended_test.go
  internal/lidar/monitor/chart_api_test.go
  internal/lidar/monitor/webserver_test.go
Due: go

[go] add tests for PCAP path resolution and handling in WebServer
  internal/lidar/monitor/webserver_test.go
Due: go

[docs] update coverage documentation and checklist to reflect Phase 4 completion and improvements in PCAP testing
  docs/coverage-improvement-summary.md
  docs/coverage/coverage-improvement-checklist.md
  docs/coverage/coverage-improvement-summary.md
Due: none

[docs] Remove outdated coverage improvement summary and add detailed coverage status documentation
  docs/coverage-improvement-summary.md
  docs/coverage/coverage-assessment-2026-02.md
  docs/coverage/coverage-implementation-report.md
  docs/coverage/coverage-improvement-analysis.md
  docs/coverage/coverage-improvement-checklist.md
  docs/coverage/coverage-improvement-summary.md
  docs/coverage/coverage-status.md
  docs/coverage/coverage.md
Due: none

[go] add PCAP tests to improve coverage for WebServer functionality
  docs/coverage/coverage-status.md
  internal/lidar/monitor/webserver_test.go
Due: go

[go] API + PCAP tests (#231)
  docs/coverage/coverage-improvement-analysis.md
  docs/coverage/coverage-improvement-checklist.md
  docs/coverage/coverage-improvement-summary.md
  docs/coverage/coverage-status.md
  docs/coverage/coverage.md
  internal/lidar/background_extended_test.go
  internal/lidar/monitor/chart_api_test.go
  internal/lidar/monitor/webserver_test.go
Due: go

[docs] update spacing and margins on homepage for improved layout
  public_html/src/index.njk
Due: none

[docs] add mobile menu functionality and update homepage heading line break
  public_html/src/_includes/header.njk
  public_html/src/index.njk
Due: none

[docs] update homepage spacing, add hamburger (#235)
  public_html/src/_includes/header.njk
  public_html/src/index.njk
Due: none

[make] format
  web/src/lib/api.test.ts
  web/src/lib/components/MapEditor.test.ts
Due: web

[ver] bump to 0.4.3
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  web/package.json
Due: python

[fix] update documentation path for package.json in version script
  scripts/set-version.sh
Due: none

[js] update jest configuration for improved module handling and coverage
  web/jest.config.js
Due: none

[js] pnpm update
  web/package.json
  web/pnpm-lock.yaml
Due: none

[js] add mock implementations for Svelte testing library components
  web/src/__mocks__/@testing-library/svelte.ts
  web/src/__mocks__/svelte-component.ts
  web/src/lib/components/MapEditor.test.ts
  web/src/lib/components/MapEditorInteractive.svelte
Due: web

[js] update MapEditorInteractive to maintain bounding box size during radar movement
  web/src/lib/components/MapEditor.svelte
  web/src/lib/components/MapEditor.test.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/components/MapEditorInteractive.test.ts
  web/src/routes/(constrained)/site/[id]/+page.svelte
Due: web

[js[ add FOV triangle visualization and adjustable radar angle in MapEditorInteractive
  web/src/lib/components/MapEditorInteractive.svelte
Due: web

[js] implement Overpass API integration for SVG map downloads and enhance bounding box validation
  web/src/__mocks__/@testing-library/svelte.ts
  web/src/lib/components/MapEditorInteractive.svelte
  web/src/lib/components/MapEditorInteractive.test.ts
Due: web

[js] update success message for SVG download to clarify saving instructions
  web/src/lib/components/MapEditorInteractive.svelte
Due: web

[go] add map inclusion flag to report output
  internal/api/server.go
Due: go

[py] enhance location sanitization and improve logging messages in PDF generation
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/core/map_utils.py
  tools/pdf-generator/pdf_generator/core/pdf_generator.py
Due: python

Path conditions:
  go: any of: cmd/, internal/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
