Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[ai][ci] pin chart workflow to triggering run, fix artifact paths
  .github/workflows/loc-coverage-chart.yml
Due: none

[ai][ci][make] move nightly Go coverage command into a Make target
  .github/workflows/nightly-full-ci.yml
  Makefile
Due: none

[ai][sh] stats publish: force-with-lease push, reword worktree comment
  scripts/publish-stats-branch.sh
Due: none

[ai][py] black-format loc-coverage-chart.py
  scripts/loc-coverage-chart.py
Due: none

[ai][make] register test_loc_coverage_chart.py in PYTHON_TEST_PATHS
  Makefile
Due: none

[ai][ci][make] point web coverage at jest's real output path
  .github/workflows/loc-coverage-chart.yml
  .github/workflows/nightly-full-ci.yml
  Makefile
Due: none

[ci] LOC + coverage chart 📊 (#509)
  .github/workflows/loc-coverage-chart.yml
  .github/workflows/nightly-full-ci.yml
  .gitignore
  Makefile
  README.md
  scripts/loc-coverage-chart.py
  scripts/publish-stats-branch.sh
  scripts/test_loc_coverage_chart.py
Due: none

[ai][py] loc chart: shrink, drop title/footer, dark-mode-aware text
  scripts/loc-coverage-chart.py
  scripts/test_loc_coverage_chart.py
Due: none

[ai][docs] README: move LOC chart caption to text, shrink embed
  README.md
Due: none

[ai][py] loc chart: drop percentages, merge docs+scripts, rename to docs
  scripts/loc-coverage-chart.py
  scripts/test_loc_coverage_chart.py
Due: none

Potential fix for pull request finding
  scripts/loc-coverage-chart.py
Due: none

[loc] fix dark-mode (#529)
  README.md
  scripts/loc-coverage-chart.py
  scripts/test_loc_coverage_chart.py
Due: none

fix: remove unnecessary line break in textarea placeholder
  web/src/routes/lidar/sweeps/+page.svelte
Due: web

fix: update dompurify to version 3.4.11 in package.json and pnpm-lock.yaml
  docs_html/package.json
  docs_html/pnpm-lock.yaml
Due: none

chore: update esbuild and related dependencies to version 0.28.1
  web/package.json
  web/pnpm-lock.yaml
Due: none

fix: remove unused dependencies from requirements files
  data/explore/align/pyproject.toml
  requirements.in
  requirements.txt
Due: none

fix: remove autoprefixer dependency from package.json and pnpm-lock.yaml
  public_html/package.json
  public_html/pnpm-lock.yaml
Due: none

fix: remove cross-env dependency from package.json and pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: none

docs: align Python dependency guide
  docs/platform/operations/python-venv.md
Due: none

[ai][go] motion/static timeline + pcap-analyse --motion
  cmd/tools/pcap-analyse/main.go
  internal/lidar/pcapsplit/refine.go
  internal/lidar/pcapsplit/refine_test.go
  internal/lidar/pcapsplit/timeline.go
  internal/lidar/pcapsplit/timeline_test.go
Due: go, go-cli

[ai][go] per-frame settling metrics on BackgroundManager
  internal/lidar/l3grid/frame_metrics.go
  internal/lidar/l3grid/frame_metrics_test.go
Due: go

[ai][go][make] pcap-split motion/static segmentation tool
  .gitignore
  Makefile
  cmd/tools/pcap-split/main.go
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/export.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/pcapsplit/split_test.go
  internal/lidar/pcapsplit/writer.go
  internal/lidar/pcapsplit/writer_test.go
Due: go, go-cli

[ai][docs] plan: velocity lidar namespace (fold in pcap-analyse)
  docs/plans/velocity-lidar-namespace-plan.md
Due: none

[ai][go] velocity lidar namespace: fold in pcap-analyse
  cmd/tools/pcap-analyse/main.go
  internal/cmd/lidar/analyse.go
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/lidar_stub.go
  internal/cmd/lidar/lidar_test.go
  internal/cmd/root/root.go
  internal/cmd/root/root_test.go
  internal/lidar/pcapanalyse/collect_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapanalyse/stats_test.go
Due: go, go-cli

[ai][go] velocity lidar: fold in pcap-split and settling-eval
  cmd/tools/pcap-split/main.go
  cmd/tools/settling-eval/main.go
  internal/cmd/lidar/analyse.go
  internal/cmd/lidar/applet_flags_test.go
  internal/cmd/lidar/applet_test.go
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/lidar_stub_test.go
  internal/cmd/lidar/run_error_test.go
  internal/cmd/lidar/settling.go
  internal/cmd/lidar/split.go
  internal/lidar/pcapsplit/corrupt_test.go
  internal/lidar/pcapsplit/export_test.go
  internal/lidar/pcapsplit/refine_empty_test.go
  internal/lidar/pcapsplit/run.go
  internal/lidar/pcapsplit/run_cov_test.go
  internal/lidar/settlingeval/error_test.go
  internal/lidar/settlingeval/integration_test.go
  internal/lidar/settlingeval/settlingeval.go
  internal/lidar/settlingeval/settlingeval_test.go
Due: go, go-cli

[ai][go] pcap-analyse: fix run-record insert, drop dead clamps, add coverage
  internal/lidar/l3grid/frame_metrics_extra_test.go
  internal/lidar/pcapanalyse/branches_test.go
  internal/lidar/pcapanalyse/errorpaths_test.go
  internal/lidar/pcapanalyse/frame_test.go
  internal/lidar/pcapanalyse/helpers_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapanalyse/run_test.go
Due: go

[ai][docs] mark velocity lidar pcap tooling implemented
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/pcap-motion-detection-and-split-plan.md
  docs/plans/pcap-split-tool-plan.md
  docs/plans/velocity-lidar-namespace-plan.md
Due: none

[ai][go] pcap-analyse: capture stats in benchmark mode, capture-span duration
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapanalyse/run_test.go
Due: go

[ai][go] pcapsplit: propagate frame errors, reject unsafe segment paths
  internal/lidar/pcapsplit/analyse.go
  internal/lidar/pcapsplit/timeline.go
  internal/lidar/pcapsplit/writer.go
  internal/lidar/pcapsplit/writer_test.go
Due: go

[ai][go] velocity lidar: range-check settled-threshold, tidy routing test
  internal/cmd/lidar/lidar_test.go
  internal/cmd/lidar/settled_test.go
  internal/cmd/lidar/split.go
Due: go

[ai][go] pcap-analyse: dedicated -motion report mode, surface errors to stderr
  internal/lidar/pcapanalyse/errorpaths_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
  internal/lidar/pcapanalyse/run_test.go
Due: go

[ai][docs] fix dead settling-eval links; note -motion is report-only
  docs/plans/go-cmd-extraction-plan.md
  docs/plans/pcap-motion-detection-and-split-plan.md
Due: none

[ai][go] pcap-analyse: test the -motion+benchmark export carve-out
  internal/lidar/pcapanalyse/run_test.go
Due: go

[ai][go] velocity root: list all three lidar subcommands in help
  internal/cmd/root/root.go
Due: go

[ai][go] tests: close redirected os.DevNull handles
  internal/cmd/lidar/applet_test.go
  internal/cmd/lidar/lidar_stub_test.go
  internal/lidar/pcapsplit/run_cov_test.go
Due: go

[ai][go] velocity lidar: auto-detect the UDP port when --port is unset
  internal/cmd/lidar/analyse.go
  internal/cmd/lidar/detect_test.go
  internal/cmd/lidar/lidar_port.go
  internal/cmd/lidar/settling.go
  internal/cmd/lidar/split.go
  internal/lidar/l1packets/network/detect_port.go
  internal/lidar/l1packets/network/detect_port_test.go
Due: go

[ai][go] pcap-analyse: add --motion-json to write the motion timeline
  internal/cmd/lidar/analyse.go
  internal/lidar/pcapanalyse/motion_json_test.go
  internal/lidar/pcapanalyse/pcapanalyse.go
Due: go

[ai][docs] pcap-analysis-mode: note --motion-json and port auto-detect
  docs/lidar/operations/pcap-analysis-mode.md
Due: none

[go] enhance FrameBuilder: flush current frame and clear buffer on close
  internal/lidar/l2frames/frame_builder_cleanup.go
  internal/lidar/l2frames/frame_builder_close_flush_test.go
Due: go

[docs] update pcap-split tool status and clarify timeline behavior
  docs/lidar/operations/pcap-analysis-mode.md
Due: none
