Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[ai][swift][go] Rule out the app, and raise the client's HTTP/2 window
  internal/lidar/l9endpoints/grpc_server.go
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: go, mac

[ai][mac] Ship a breakpoint that names the view behind a cycle
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/xcshareddata/xcdebugger/Breakpoints_v2.xcbkptlist
Due: mac

[ai][make] Add a target that captures the stack behind each cycle
  Makefile
Due: none

[ai][swift] Stop the source control triggering AttributeGraph cycles
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/InertModifier.swift
  tools/visualiser-macos/VelocityVisualiserTests/InertModifierTests.swift
Due: mac

[ai][swift] Stop every control disabling on changing state
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/UI/RunBrowserView.swift
  tools/visualiser-macos/VelocityVisualiserTests/InertModifierTests.swift
Due: mac

[ai][docs] Record the AttributeGraph cycle fix and its measurement
  docs/BACKLOG.md
Due: none

[ai][docs] Add the cycle findings to the stream robustness plan
  docs/plans/lidar-visualiser-stream-robustness-plan.md
Due: none

[ai][go][make] Add a second gRPC client to isolate the stall
  .gitignore
  Makefile
  cmd/tools/grpc-probe/main.go
Due: go-cli

[ai][docs] Record what the second client settled about the stall
  docs/BACKLOG.md
Due: none

[ai][docs] Replace the stall's open item with what the probe found
  docs/plans/lidar-visualiser-stream-robustness-plan.md
Due: none

[ai][swift] Remove the instrumentation built on a disproved theory
  tools/visualiser-macos/VelocityVisualiser/App/MainThreadWatchdog.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/PendingCounterTests.swift
Due: mac

[ai][go] Require a background manager to report settling
  internal/lidar/l9endpoints/background_delivery_test.go
  internal/lidar/l9endpoints/publisher.go
  internal/lidar/l9endpoints/publisher_m35_test.go
  internal/lidar/l9endpoints/publisher_test.go
  internal/lidar/l9endpoints/publisher_vrlog_background_test.go
  internal/lidar/l9endpoints/replay_test.go
  internal/lidar/l9endpoints/vrlog_test.go
Due: go

[ai][go][swift] Remove the settling fraction nothing read
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/model.go
  internal/lidar/l9endpoints/pb/visualiser.pb.go
  internal/lidar/server/status.go
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/BranchRegressionTests.swift
Due: go, mac

[ai][go][swift][proto] Delete the is_live compatibility layer
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/grpc_server_test.go
  internal/lidar/l9endpoints/grpc_source_mode_test.go
  internal/lidar/l9endpoints/model.go
  internal/lidar/l9endpoints/model_test.go
  internal/lidar/l9endpoints/pb/visualiser.pb.go
  internal/lidar/l9endpoints/publisher_test.go
  internal/lidar/l9endpoints/publisher_vrlog.go
  internal/lidar/l9endpoints/recorder/proto_codec.go
  internal/lidar/l9endpoints/recorder/proto_codec_test.go
  internal/lidar/l9endpoints/recorder/recorder.go
  internal/lidar/l9endpoints/recorder/recorder_test.go
  internal/lidar/l9endpoints/synthetic.go
  internal/lidar/l9endpoints/synthetic_test.go
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/BranchRegressionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/LiveToggleTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ModelExtendedTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PlaybackSourceModeTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/VelocityVisualiserTests.swift
Due: go, mac

[ai][docs] Record the review's simplifications and what it deferred
  docs/BACKLOG.md
  docs/plans/lidar-visualiser-stream-robustness-plan.md
Due: none

[ai][go][swift] Keep settling off replay frames, and drop the third live mirror
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/settling_background_test.go
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/RunBrowserViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
Due: go, mac

[ai][go] Let a parked replay take live input when it arrives
  docs/plans/lidar-pipeline-state-model-plan.md
  internal/lidar/server/parked_live_watch_test.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/return_to_live.go
  internal/lidar/server/server.go
Due: go

[ai][go][swift] Hand every client the background, and fix the idle badge
  internal/lidar/l9endpoints/background_on_subscribe_test.go
  internal/lidar/l9endpoints/grpc_server.go
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiserTests/BranchRegressionTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/LiveToggleTests.swift
Due: go, mac

[ai][go][swift] Clear the background on return to live, and name the idle wait
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/background_on_subscribe_test.go
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/model.go
  internal/lidar/l9endpoints/pb/visualiser.pb.go
  internal/lidar/server/stats.go
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/BranchBehaviourTests.swift
Due: go, mac

[docs] Expand DEVLOG with recent changes: remove compatibility layers, enhance replay handling, and improve regression coverage
  docs/DEVLOG.md
Due: none

[docs] Update data source switching and PCAP analysis documentation to clarify state transitions and background handling
  docs/lidar/operations/data-source-switching.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/lidar-pipeline-state-model-plan.md
  docs/plans/lidar-visualiser-stream-robustness-plan.md
Due: none

[swift] Clarify source mode documentation and update BuildInfo with correct values; enhance tests for playback source mode and sensor silence handling
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/CoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/PlaybackSourceModeTests.swift
Due: mac

[go] Enhance gRPC probe with probeStats struct for frame and gap tracking; add tests for probeStats functionality and replay handling in server
  cmd/tools/grpc-probe/main.go
  cmd/tools/grpc-probe/main_test.go
  internal/cmd/server/flags_test.go
  internal/cmd/server/lidar_helpers.go
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server.go
  internal/lidar/l9endpoints/grpc_source_mode_test.go
  internal/lidar/l9endpoints/model.go
  internal/lidar/l9endpoints/settling_background_test.go
  internal/lidar/server/parked_live_watch_test.go
  internal/lidar/server/stats_test.go
Due: go, go-cli

[ai][go][make] Open recordings with a background, and add a soak for the stall
  .gitignore
  Makefile
  cmd/tools/grpc-probe/main.go
  docs/BACKLOG.md
  internal/cmd/server/radar.go
  internal/lidar/l9endpoints/l10clients/html/status.html
  internal/lidar/l9endpoints/settle_record_defaults_test.go
Due: go, go-cli

[ai][swift][docs] Report silence over settling, and record what the soak showed
  docs/BACKLOG.md
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiserTests/BranchBehaviourTests.swift
Due: mac

[ai][sh] Add a script to record three clean VRLOGs from PCAP
  scripts/record-clean-vrlogs.sh
Due: none

[ai][docs] Close the stall: an hour of soak found no trace of it
  docs/BACKLOG.md
  docs/plans/lidar-visualiser-stream-robustness-plan.md
Due: none

[ai][docs] Record where the stream work stands, and what it has not proved
  docs/BACKLOG.md
  docs/lidar/operations/settling-time-optimisation.md
  docs/plans/lidar-visualiser-stream-robustness-plan.md
Due: none

[sh] Add additional PCAP captures for VRLOG recording
  scripts/record-clean-vrlogs.sh
Due: none

[ai][go][sh] Give back the replay slot's source when a start fails
  internal/lidar/server/abandoned_replay_test.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/server.go
  scripts/record-clean-vrlogs.sh
Due: go

[ai][go] Add vrlog-check to report what a recording contains
  cmd/tools/vrlog-check/main.go
Due: go-cli

[ai][go] Send a frame when a replay pauses, so the client learns it
  docs/BACKLOG.md
  internal/lidar/l9endpoints/paused_state_delivery_test.go
  internal/lidar/l9endpoints/publisher_vrlog.go
Due: go

[docs] standardise geographic plans on S2
  docs/BACKLOG.md
  docs/lidar/architecture/geographic-indexing.md
  docs/lidar/architecture/geometry-prior-service.md
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/lidar/architecture/vector-scene-map.md
  docs/plans/pcap-ground-plane-export-tool-plan.md
Due: none

Apply batched suggestions from code review
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/plans/pcap-ground-plane-export-tool-plan.md
Due: none

[docs] explain S2 cell hierarchy and positioning
  docs/lidar/architecture/geographic-indexing.md
  docs/lidar/architecture/geometry-prior-service.md
  docs/lidar/architecture/gps-ethernet-parsing.md
  docs/lidar/architecture/ground-plane-extraction.md
  docs/plans/pcap-ground-plane-export-tool-plan.md
Due: none

[ai][swift] Cover the source-switch regressions this branch fixed
  tools/visualiser-macos/VelocityVisualiserTests/SourceSwitchRegressionTests.swift
Due: mac

[ai][docs] Bring the devlog to merge state
  docs/DEVLOG.md
Due: none

[ai][ops] Narrow clean VRLOG capture set
  scripts/record-clean-vrlogs.sh
Due: none

[ai][docs] Restore the branch tags for work not landing here
  docs/DEVLOG.md
Due: none
