Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[ai][go][docs] measure filter consistency by speed band (Phase 0)
  docs/plans/lidar-state-estimation-plan.md
  internal/cmd/lidar/replay.go
  internal/lidar/l5tracks/residuals.go
  internal/lidar/l5tracks/residuals_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/replayeval/replayeval.go
Due: go

[docs] Enhance documentation for LiDAR plans and improve code clarity
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-heading-coherence-sprint-plan.md
  docs/plans/lidar-heading-d2-implementation-report.md
  docs/plans/lidar-heading-d2-readiness-review.md
  docs/plans/lidar-motion-capture-architecture-plan.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-static-pose-alignment-plan.md
  docs/plans/lidar-test-corpus-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-labelling-qc-enhancements-overview-plan.md
Due: none

[docs] Add Pi performance benchmark runbook for capturing and refreshing baselines
  docs/lidar/operations/pi-benchmark-runbook.md
Due: none

[docs] Update performance regression testing and state estimation plans with recovery checkpoints and status improvements
  docs/lidar/operations/performance-regression-testing.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[py] Add lidar jump candidates extractor and corresponding unit tests
  scripts/lidar-jump-candidates.py
  scripts/test_lidar_jump_candidates.py
Due: none

[docs] Update backlog with new Pi performance benchmark automation and static binary details
  docs/BACKLOG.md
Due: none

[cfg] Add max_sample_points parameter to configuration files for DBSCAN
  config/CONFIG.md
  config/profiles/detect.json
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
Due: none

[go] immutable point packs and reference annotations; implement revision space exhaustion check in sidecar storage
  internal/lidar/annotation/README.md
  internal/lidar/annotation/sidecar_store.go
  internal/lidar/annotation/sidecar_store_test.go
Due: go

[go] Add debug recording options and enhance tracking baseline handling
  internal/cmd/lidar/replay.go
  internal/cmd/lidar/replay_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/replayeval/replay_window_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: go

[go] L4/L5 Add L4BObserve and L4Perception modules with tests for evidence handling and clustering
  internal/lidar/l4bobserve/observation.go
  internal/lidar/l4bobserve/observation_test.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/l4perception/retention_test.go
  internal/lidar/l4perception/types.go
  internal/lidar/l5tracks/residuals.go
  internal/lidar/l5tracks/residuals_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[go] L9 Enhance diagnostic data handling and add sample points support in frame processing
  internal/lidar/l9endpoints/adapter.go
  internal/lidar/l9endpoints/adapter_test.go
  internal/lidar/l9endpoints/debug_proto.go
  internal/lidar/l9endpoints/debug_proto_test.go
  internal/lidar/l9endpoints/grpc_frames.go
  internal/lidar/l9endpoints/grpc_server_test.go
  internal/lidar/l9endpoints/recorder/proto_codec.go
Due: go

[go] Add max_sample_points to L4Common configuration and validation
  internal/config/tuning.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_validate.go
Due: go

[go] add max_sample_points to the remaining L4 config fixtures
  cmd/tools/config-migrate/main_test.go
  cmd/tools/config-validate/main_test.go
  internal/config/tuning_test.go
Due: go, go-cli

[cfg] update baseline performance metrics and timestamps for kirk0 configurations
  internal/lidar/perf/baseline/baseline-kirk0-full-mac.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only-mac.json
Due: go

[docs] update various plans with retention details, recovery checkpoints, and observation model progress
  config/CONFIG.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-branch-audit.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[go] fix a broken import in replay_test.go
  internal/cmd/lidar/replay_test.go
Due: go

[lidar] add immutable observation replay foundation
  cmd/tools/import-s2-site-index/main.go
  cmd/tools/import-s2-site-index/main_test.go
  docs/plans/lidar-state-estimation-plan.md
  internal/db/migrations/000047_lidar_observations.down.sql
  internal/db/migrations/000047_lidar_observations.up.sql
  internal/db/schema.sql
  internal/lidar/l4bobserve/identity.go
  internal/lidar/l4bobserve/identity_test.go
  internal/lidar/l4bobserve/primitives.go
  internal/lidar/l4bobserve/primitives_test.go
  internal/lidar/pipeline/observation_sink.go
  internal/lidar/pipeline/observation_sink_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/observation_store.go
  internal/lidar/storage/sqlite/observation_store_test.go
  tools/s2-archive/state-estimation-phase01-corpus.json
Due: go, go-cli

[go] enhance Record structure with SchemaVersion and CalibrationID; add Primitives type for geometric data
  internal/lidar/l4bobserve/observation.go
  internal/lidar/l4bobserve/observation_test.go
Due: go

refactor test assertions for improved readability and consistency
  public_html/src/js/__tests__/scene-playback.test.mjs
  public_html/src/js/__tests__/scene-speed-stats.test.mjs
  public_html/src/js/__tests__/scene-timeline.test.mjs
  public_html/src/js/scene-playback.js
  public_html/src/js/scene-player.js
Due: none

[go] refactor replay evaluation runtime and enhance error handling in tests
  internal/cmd/lidar/replay_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_test.go
  internal/lidar/replayeval/runtime.go
  internal/lidar/replayeval/runtime_pcap_test.go
Due: go

[lidar][web] import multi-file archive replay cases
  cmd/tools/import-s2-site-index/main.go
  internal/lidar/capindex/capindex_test.go
  internal/lidar/capindex/indexer.go
  internal/lidar/capindex/scan.go
  internal/lidar/server/capture_api.go
  internal/lidar/server/capture_api_test.go
  internal/lidar/server/replay_case_files_test.go
  internal/lidar/server/scene_api.go
  internal/lidar/storage/sqlite/capture_store.go
  web/src/lib/api.ts
  web/src/lib/types/captures.ts
  web/src/routes/lidar/captures/+page.svelte
  web/src/routes/lidar/replay-cases/+page.svelte
Due: go, go-cli, web

[ver] bump version to 0.5.1-pre34 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[lidar] replay immutable multi-file cases
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/l3grid/ground_surface.go
  internal/lidar/l3grid/ground_surface_test.go
  internal/lidar/l4perception/surface_filter.go
  internal/lidar/l4perception/surface_filter_test.go
  internal/lidar/l4perception/types.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/replay_observation_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_test.go
Due: go, go-cli

Document deterministic scene capture milestones
  docs/BACKLOG.md
Due: none

[docs] Add SQLite schema v2 freeze-and-cleanup plan documentation
  docs/plans/data-sqlite-schema-v2-freeze-plan.md
Due: none

[lidar] use OBB centre measurement provenance
  docs/plans/lidar-state-estimation-plan.md
  internal/db/migrations/000048_track_observation_measurement_provenance.down.sql
  internal/db/migrations/000048_track_observation_measurement_provenance.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/measurement.go
  internal/lidar/l5tracks/measurement_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/storage/sqlite/track_store_test.go
Due: go

[lidar] persist versioned state estimates and residuals
  docs/plans/lidar-state-estimation-plan.md
  internal/db/migrations/000049_lidar_track_state_records.down.sql
  internal/db/migrations/000049_lidar_track_state_records.up.sql
  internal/db/schema.sql
  internal/lidar/l5tracks/measurement.go
  internal/lidar/l5tracks/measurement_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/pipeline/state_estimate_sink.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/storage/sqlite/state_estimate_store.go
  internal/lidar/storage/sqlite/state_estimate_store_test.go
Due: go

[lidar] export settled static site captures
  internal/lidar/replayeval/replay_observation_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  tools/s2-archive/README.md
  tools/s2-archive/build-site-index.py
  tools/s2-archive/export-static-pcaps.py
  tools/s2-archive/site-index.json
Due: go

[lidar] add identified measurement gate replay
  cmd/tools/lidar-state-estimation-baseline/main.go
  internal/lidar/l5tracks/measurement.go
  internal/lidar/l5tracks/measurement_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/replayeval/replayeval.go
  tools/s2-archive/export-static-pcaps.py
  tools/state-estimation-gate.py
Due: go, go-cli

[py] cleanup
  scripts/check_changed_go_coverage.py
  scripts/check_go_coverage.py
  scripts/lidar-jump-candidates.py
  scripts/spider-docs-404s.py
  scripts/test_check_go_coverage.py
  scripts/test_lidar_jump_candidates.py
  scripts/test_spider_docs_404s.py
  scripts/test_update_packaging.py
  scripts/test_verify_embedded_docs_server.py
  scripts/verify-docs-source-case.py
  scripts/verify-embedded-docs-server.py
  scripts/verify-public-html-build.py
  scripts/write-embedded-docs-manifest.py
Due: none

[ai][js][cfg] fix layer-visibility initial state and add deterministic trail history
  .claude/launch.json
  public_html/src/_layouts/scene.njk
  public_html/src/js/__tests__/scene-coords.test.mjs
  public_html/src/js/__tests__/scene-player.test.mjs
  public_html/src/js/__tests__/scene-reader.test.mjs
  public_html/src/js/scene-coords.js
  public_html/src/js/scene-player.js
  public_html/src/js/scene-reader.js
Due: none

[ai][js] add scene capture preparation API
  public_html/src/js/__tests__/scene-capture.test.mjs
  public_html/src/js/scene-capture.js
  public_html/src/js/scene-player.js
  public_html/src/js/scene-reader.js
Due: none

[ai][js][sh] add scene-capture tool for milestone 1 stills
  Makefile
  public_html/src/js/scene-player.js
  tools/scene-capture/browser.mjs
  tools/scene-capture/capture-view.mjs
  tools/scene-capture/cli.mjs
  tools/scene-capture/contact-sheet.mjs
  tools/scene-capture/harness.html
  tools/scene-capture/manifest.mjs
  tools/scene-capture/package.json
  tools/scene-capture/pnpm-lock.yaml
  tools/scene-capture/recipe.mjs
  tools/scene-capture/run-capture.mjs
  tools/scene-capture/server.mjs
  tools/scene-capture/test/recipe.test.mjs
Due: none

[ai][js] add bullet-time camera paths for milestone 2
  public_html/src/js/scene-player.js
  tools/scene-capture/bullet-time.mjs
  tools/scene-capture/recipe.mjs
  tools/scene-capture/run-capture.mjs
  tools/scene-capture/test/bullet-time.test.mjs
  tools/scene-capture/test/recipe.test.mjs
Due: none

[ai][docs] mark milestones 1-2 complete in the scene capture plan
  docs/plans/lidar-deterministic-scene-capture-plan.md
Due: none

Document spatial priors service review
  docs/plans/spatial-priors-reference-data-plan.md
  docs/plans/spatial-priors-service-plan.md
  docs/plans/spatial-priors-service-review.md
Due: none

[ai][js] harden deterministic scene capture provenance
  docs/plans/lidar-deterministic-scene-capture-plan.md
  public_html/src/_layouts/scene.njk
  public_html/src/js/__tests__/scene-capture.test.mjs
  public_html/src/js/scene-capture.js
  public_html/src/js/scene-player.js
  public_html/src/js/scene-reader.js
  tools/scene-capture/recipe.mjs
  tools/scene-capture/run-capture.mjs
  tools/scene-capture/test/recipe.test.mjs
Due: none

Document SF spatial-priors bootstrap plan references
  docs/plans/sf-priors-bootstrap-plan.md
  docs/plans/spatial-priors-reference-data-plan.md
  docs/plans/spatial-priors-service-review.md
Due: none

[js] deterministic scene capture 🖼️ (#576)
  .claude/launch.json
  Makefile
  docs/plans/lidar-deterministic-scene-capture-plan.md
  public_html/src/_layouts/scene.njk
  public_html/src/js/__tests__/scene-capture.test.mjs
  public_html/src/js/__tests__/scene-coords.test.mjs
  public_html/src/js/__tests__/scene-player.test.mjs
  public_html/src/js/__tests__/scene-reader.test.mjs
  public_html/src/js/scene-capture.js
  public_html/src/js/scene-coords.js
  public_html/src/js/scene-player.js
  public_html/src/js/scene-reader.js
  tools/scene-capture/browser.mjs
  tools/scene-capture/bullet-time.mjs
  tools/scene-capture/capture-view.mjs
  tools/scene-capture/cli.mjs
  tools/scene-capture/contact-sheet.mjs
  tools/scene-capture/harness.html
  tools/scene-capture/manifest.mjs
  tools/scene-capture/package.json
  tools/scene-capture/pnpm-lock.yaml
  tools/scene-capture/recipe.mjs
  tools/scene-capture/run-capture.mjs
  tools/scene-capture/server.mjs
  tools/scene-capture/test/bullet-time.test.mjs
  tools/scene-capture/test/recipe.test.mjs
Due: none

[docs] priors service review (#577)
  docs/plans/sf-priors-bootstrap-plan.md
  docs/plans/spatial-priors-reference-data-plan.md
  docs/plans/spatial-priors-service-plan.md
  docs/plans/spatial-priors-service-review.md
Due: none
