Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[ci] add scripts to ensure web and docs stubs for embedding
  .github/workflows/nightly-full-ci.yml
  Makefile
Due: none

[go] add sensor_movement_drift_ratio_threshold to config validation
  cmd/tools/config-validate/main_test.go
Due: go-cli

[ci] refine nightly CI to match specific baseline JSON file pattern and adjust benchmark cleanup logic
  .github/workflows/nightly-full-ci.yml
  Makefile
Due: none

[ci] update baseline-kirk0-ci.json with new timestamp and system info for performance metrics
  internal/lidar/perf/baseline/baseline-kirk0-ci.json
Due: go

[ci] remove continue-on-error from performance benchmark step in nightly CI
  .github/workflows/nightly-full-ci.yml
Due: none

[ci] add performance regression threshold to test-perf target
  Makefile
Due: none

[go] update output filename prefix logic and tests for PCAP segmentation
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/pcap-split-tool-plan.md
  internal/cmd/lidar/split.go
  internal/lidar/pcapsplit/run.go
  internal/lidar/pcapsplit/run_cov_test.go
  internal/lidar/pcapsplit/split.go
  internal/lidar/pcapsplit/split_test.go
Due: go

[ai][docs] lidar: update reference/design docs for the pcap-split/lidar-bench tooling
  data/maths/clustering-maths.md
  data/structures/MATRIX.md
  data/structures/VRLOG_ANALYSIS_FORMAT.md
  docs/lidar/operations/clustering-diagnostics.md
  docs/lidar/operations/data-completeness-remediation.md
  docs/lidar/operations/playback-speed-vs-track-quality.md
  docs/lidar/operations/settling-time-optimisation.md
  docs/lidar/operations/test-corpus.md
Due: none

[ai][docs] keep CLAUDE.md skills table and lidar pipeline reference current
  CLAUDE.md
  docs/lidar/architecture/lidar-pipeline-reference.md
Due: none

[ai][docs] backlog: move completed PCAP motion-detection/split item to Complete
  docs/BACKLOG.md
Due: none

[ai][docs] mark pcap-split + motion-detection plans Complete
  docs/plans/pcap-motion-detection-and-split-plan.md
  docs/plans/pcap-split-tool-plan.md
Due: none

[go] update summary filename to include output prefix in PCAP split tool
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/pcap-split-tool-plan.md
  internal/lidar/pcapsplit/export.go
  internal/lidar/pcapsplit/export_test.go
  internal/lidar/pcapsplit/run.go
  internal/lidar/pcapsplit/run_cov_test.go
Due: go

[go] enhance progress tracking: add packet-only mode for PCAP segment writing
  docs/lidar/operations/pcap-analysis-mode.md
  internal/lidar/l1packets/network/progress.go
  internal/lidar/l1packets/network/progress_test.go
  internal/lidar/pcapsplit/writer.go
Due: go

Potential fix for pull request finding
  internal/cmd/lidar/bench.go
Due: go

[ci][js] move web tooling to Node 22
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/docs-offline-ci.yml
  .github/workflows/lint-autofix.yml
  docs_html/package.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/types/lidar.ts
Due: web

[docs] lint
  data/structures/VRLOG_ANALYSIS_FORMAT.md
  docs/radar/architecture/time-partitioned-data-tables.md
Due: none

[docs] update LiDAR maths coherence and classification plans for clarity and completeness
  docs/plans/lidar-maths-coherence-plan.md
  docs/plans/lidar-ml-classifier-training-plan.md
Due: none

[git] add web/node_modules to ignore list
  .gitignore
Due: none

[ai][docs] backlog review: 052 plans, stale item audit, overclaim fixes
  docs/BACKLOG.md
Due: none

Fix prettier specifier format in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Bump packageManager version to pnpm@11.18.0 in package.json
  package.json
Due: none

[ai][cfg][js] Fix CI: repair corrupt lockfile, migrate pnpm 11 settings
  docs_html/package.json
  docs_html/pnpm-workspace.yaml
  public_html/package.json
  public_html/pnpm-workspace.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: none

Refactor pnpm-lock.yaml to remove duplicate entries and clean up dependencies
  web/pnpm-lock.yaml
Due: none

Refactor code structure for improved readability and maintainability
  web/package.json
  web/pnpm-lock.yaml
Due: none

Update TypeScript version to 6.0.3 in package.json and pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: none

chore: update typescript version to 6.0.3 in package.json and pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: none

[ai][docs] point VC plan at archived prototype tags
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
Due: none

[ai][docs] point VC plan at archived prototype tags (#544)
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
Due: none

[ai][docs] recover OBB guard-stack notes
  config/CONFIG.md
  data/maths/MATHS.md
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260222-obb-heading-stability-review.md
  docs/DECISIONS.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
Due: none

Potential fix for pull request finding
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
Due: none

[ai][docs] align OBB doc references
  data/maths/MATHS.md
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260222-obb-heading-stability-review.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
Due: none

[docs] recover OBB guard-stack validation notes (#548)
  config/CONFIG.md
  data/maths/MATHS.md
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260222-obb-heading-stability-review.md
  docs/DECISIONS.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
Due: none

[ai][docs] shape descriptor plan; classifier analysis lane outline
  docs/BACKLOG.md
  docs/plans/lidar-ml-classifier-training-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
Due: none

[ai][docs] correct subsample determinism claim; log DBSCAN replay defect
  docs/BACKLOG.md
  docs/plans/lidar-shape-descriptors-plan.md
Due: none

[docs] lidar plans, v0.5.2 (#540)
  .gitignore
  data/structures/VRLOG_ANALYSIS_FORMAT.md
  docs/BACKLOG.md
  docs/plans/lidar-maths-coherence-plan.md
  docs/plans/lidar-ml-classifier-training-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/radar/architecture/time-partitioned-data-tables.md
Due: none

[mac] add codesigning and notarisation steps to CI workflow and Makefile
  .github/workflows/mac-ci.yml
  Makefile
  scripts/codesign-notarise.sh
  tools/visualiser-macos/BUILDING.md
Due: mac

[sh] Enhance notarisation process with detailed error handling and logging
  scripts/codesign-notarise.sh
Due: none

[ai][mac] Bound DMG Finder layout timeout
  scripts/create-dmg.sh
  scripts/dmg-layout.applescript
Due: none

[ai][ci] Fix CI guard conditions and notary auth quoting
  .github/workflows/mac-ci.yml
  scripts/codesign-notarise.sh
Due: none
