Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][go][config] add pipeline depth profiles and gate the stage boundaries
  config/CONFIG.md
  config/tuning.example.json
  config/tuning.optimised.json
  config/tuning.profile-detect.json
  config/tuning.profile-l3-only.json
  config/tuning.profile-track.json
  internal/cmd/server/radar.go
  internal/config/profile.go
  internal/config/profile_test.go
  internal/config/tuning.go
  internal/config/tuning_validate.go
  internal/lidar/pipeline/profile_gating_test.go
  internal/lidar/pipeline/tracking_pipeline.go
Due: go

[ai][go][docs] document profiles and the frame budget, cover the bench work counters
  docs/lidar/operations/config-param-tuning.md
  docs/lidar/operations/performance-regression-testing.md
  docs/plans/lidar-pipeline-profiles-plan.md
  internal/lidar/lidarbench/profile_work_test.go
Due: go

[ai][make][ci] gate two profiles, retire the stale baseline, add a re-baselining button
  .github/workflows/nightly-full-ci.yml
  .github/workflows/perf-baseline.yml
  Makefile
  config/CONFIG.md
  docs/lidar/operations/clustering-diagnostics.md
  docs/plans/lidar-clustering-observability-and-benchmark-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/platform-data-science-metrics-first-plan.md
  docs/platform/operations/data-science-methodology.md
  internal/lidar/lidarbench/baseline_identity_test.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/perf/baseline/baseline-kirk0-ci.json
  internal/lidar/perf/baseline/baseline-kirk0-full.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only.json
  internal/lidar/perf/baseline/baseline-kirk0.json
Due: go

[ai][go][config] derive the pipeline profile from engine selectors, drop pipeline.profile
  .github/workflows/perf-baseline.yml
  .gitignore
  Makefile
  config/CONFIG.md
  config/profiles/detect.json
  config/profiles/l3-only.json
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  config/tuning.profile-detect.json
  docs/BACKLOG.md
  docs/lidar/operations/config-param-tuning.md
  docs/lidar/operations/performance-regression-testing.md
  docs/plans/lidar-pipeline-profiles-plan.md
  internal/cmd/lidar/bench.go
  internal/cmd/server/radar.go
  internal/config/profile.go
  internal/config/profile_test.go
  internal/config/tuning.go
  internal/config/tuning_accessors.go
  internal/config/tuning_codec.go
  internal/config/tuning_validate.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/profile_work_test.go
  internal/lidar/perf/baseline/baseline-kirk0-full.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only.json
  internal/lidar/pipeline/profile_gating_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  kirk0_benchmark.json
Due: go

[ai][ci] capture perf baselines on pull requests, not only on dispatch
  .github/workflows/perf-baseline.yml
  docs/lidar/operations/performance-regression-testing.md
Due: none

[ai][docs] bring devlog, backlog and operations docs current for the perf gate rebuild
  CLAUDE.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/clustering-diagnostics.md
  docs/lidar/operations/performance-regression-testing.md
  docs/plans/lidar-pipeline-profiles-plan.md
Due: none

[ai][go][make] stop the frame budget failing instrumented builds, and address review
  Makefile
  docs/BACKLOG.md
  docs/lidar/operations/performance-regression-testing.md
  internal/cmd/lidar/bench.go
  internal/cmd/lidar/bench_test.go
  internal/lidar/lidarbench/baseline_identity_test.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
Due: go

[ai][docs] backlog the track-count identity gap raised in review
  docs/BACKLOG.md
Due: none

[go][ci] pipeline profiles (#566)
  .github/workflows/nightly-full-ci.yml
  .github/workflows/perf-baseline.yml
  .gitignore
  CLAUDE.md
  Makefile
  config/CONFIG.md
  config/profiles/detect.json
  config/profiles/l3-only.json
  config/tuning.defaults.json
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/clustering-diagnostics.md
  docs/lidar/operations/config-param-tuning.md
  docs/lidar/operations/performance-regression-testing.md
  docs/plans/lidar-clustering-observability-and-benchmark-plan.md
  docs/plans/lidar-pipeline-profiles-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/platform-data-science-metrics-first-plan.md
  docs/platform/operations/data-science-methodology.md
  internal/cmd/lidar/bench.go
  internal/cmd/lidar/bench_test.go
  internal/cmd/server/radar.go
  internal/config/profile.go
  internal/config/profile_test.go
  internal/config/tuning.go
  internal/config/tuning_accessors.go
  internal/config/tuning_codec.go
  internal/config/tuning_validate.go
  internal/lidar/lidarbench/baseline_identity_test.go
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/lidarbench/lidarbench_run_test.go
  internal/lidar/lidarbench/lidarbench_test.go
  internal/lidar/lidarbench/profile_work_test.go
  internal/lidar/perf/baseline/baseline-kirk0-ci.json
  internal/lidar/perf/baseline/baseline-kirk0-full.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only.json
  internal/lidar/perf/baseline/baseline-kirk0.json
  internal/lidar/pipeline/profile_gating_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  kirk0_benchmark.json
Due: go

[ai][go] replay the benchmark in capture time, making its workload reproducible
  docs/lidar/operations/performance-regression-testing.md
  internal/lidar/lidarbench/lidarbench.go
  internal/lidar/perf/baseline/baseline-kirk0-full.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only.json
Due: go

[ai][docs] plan VRLOG web profile and scene catalogue
  docs/plans/lidar-scene-catalogue-publishing-plan.md
  docs/plans/lidar-vrlog-web-profile-plan.md
Due: none

[ai][docs] refine backlog and plans for LiDAR state estimation and behaviour analytics
  docs/BACKLOG.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][docs] JSON web scene export, one-site Phase 0
  docs/plans/lidar-scene-catalogue-publishing-plan.md
  docs/plans/lidar-vrlog-web-profile-plan.md
  docs/plans/lidar-web-scene-export-plan.md
Due: none

[ai][go][docs] add course-alignment metric for LiDAR track heading (D1.1)
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/analysis/course_alignment_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/course_alignment_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][docs] name soma1-static-0 the reference capture
  docs/lidar/operations/reference-capture.md
  docs/plans/lidar-scene-catalogue-publishing-plan.md
  docs/plans/lidar-web-scene-export-plan.md
Due: none

[ai][go][docs] add heading lock telemetry for LiDAR tracks (D1.2)
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/analysis/heading_lock_test.go
  internal/lidar/analysis/report.go
  internal/lidar/analysis/types.go
  internal/lidar/l5tracks/heading_lock_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][go][docs] release the OBB heading lock after repeated rejections (D1.3)
  cmd/tools/config-migrate/main.go
  cmd/tools/config-migrate/main_test.go
  cmd/tools/config-validate/main_test.go
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/config/tuning.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
  internal/lidar/l5tracks/heading_lock_release_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/server/webserver_coverage_test.go
Due: go, go-cli

[ai][go][docs] add the fragment guard and decouple the ghost fade (D1.5, D1.6)
  cmd/tools/config-migrate/main.go
  cmd/tools/config-migrate/main_test.go
  cmd/tools/config-validate/main_test.go
  config/tuning.defaults.json
  config/tuning.example.json
  config/tuning.optimised.json
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/config/tuning.go
  internal/config/tuning_coverage_test.go
  internal/config/tuning_test.go
  internal/config/tuning_validate.go
  internal/lidar/l5tracks/deleted_track_fade_test.go
  internal/lidar/l5tracks/fragment_guard_test.go
  internal/lidar/l5tracks/tracker_interface.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l5tracks/tracking_metrics_test.go
  internal/lidar/l9endpoints/adapter.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/server/tuning_runtime.go
  internal/lidar/server/webserver_coverage_test.go
Due: go, go-cli

[ai][go][docs] add a headless PCAP replay harness and measure the Day 1 gate
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/replay.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_pcap_test.go
  internal/lidar/replayeval/replayeval_test.go
Due: go

[ai][go][docs] make the replay harness deterministic with frame back-pressure
  docs/plans/lidar-heading-coherence-sprint-plan.md
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/replayeval_pcap_test.go
Due: go

[ai][docs] add the unified scene semantics research proposal
  data/maths/MATHS.md
  data/maths/classification-maths.md
  data/maths/proposals/20260905-unified-scene-semantic-classification-maths.md
Due: none

[ai][ops] add the PCAP folder scan script, ignore built tool binaries
  .gitignore
  scripts/pcap-scan-folder.sh
Due: none

[docs] object tracking improvements
  data/maths/proposals/20260222-geometry-coherent-tracking.md
  data/maths/proposals/20260222-obb-heading-stability-review.md
  data/maths/proposals/20260905-visibility-aware-object-tracking-research.md
  docs/plans/lidar-point-annotation-and-object-dataset-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-test-corpus-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-labelling-qc-enhancements-overview-plan.md
Due: none

[ai][docs] correct the aspect-ratio lock direction and narrow D2.1
  docs/plans/lidar-heading-coherence-sprint-plan.md
Due: none

[ai][go][js] scene index metadata and CRUD editor
  internal/api/server.go
  internal/api/server_scenes.go
  internal/api/server_scenes_test.go
  internal/db/migrations/000039_create_lidar_scenes.down.sql
  internal/db/migrations/000039_create_lidar_scenes.up.sql
  internal/db/scene.go
  internal/db/schema.sql
  public_html/src/js/__tests__/scene-reader.test.mjs
  public_html/src/js/scene-player.js
  public_html/src/js/scene-reader.js
  web/src/lib/api.ts
  web/src/routes/scene/+page.svelte
  web/src/routes/scene/[id]/+page.svelte
Due: go, web

[ai][go][js] background cloud, touch viewport, timeline annotation
  internal/cmd/scene/scene.go
  internal/scene/background.go
  internal/scene/export.go
  internal/scene/timeline.go
  internal/scene/timeline_test.go
  internal/scene/types.go
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-player.js
  public_html/src/js/scene-timeline.js
  public_html/src/scenes/soma1/assets/background/background.json.gz
  public_html/src/scenes/soma1/assets/part-000/header.json
  public_html/src/scenes/soma1/assets/part-000/timeline.json
  public_html/src/scenes/soma1/index.njk
Due: go

[ai][js] diverging timeline, mode colours, vehicle speed labels
  internal/scene/export.go
  internal/scene/types.go
  public_html/src/js/__tests__/scene-camera.test.mjs
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-player.js
  public_html/src/js/scene-timeline.js
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/soma1/assets/part-000/header.json
  public_html/src/scenes/soma1/index.njk
Due: go

[ai][go] add named viewpoints (vantages) to scenes, including validation and export functionality
  internal/api/server_scenes.go
  internal/cmd/scene/scene.go
  internal/db/migrations/000040_add_scene_vantages.down.sql
  internal/db/migrations/000040_add_scene_vantages.up.sql
  internal/db/scene.go
  internal/db/schema.sql
  internal/lidar/l9endpoints/recorder/recorder.go
  internal/scene/export.go
  internal/scene/types.go
  internal/scene/vantage.go
  internal/scene/vantage_test.go
Due: go

[public] add default vantages for scenes and update scene player to utilize them
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-player.js
  public_html/src/scenes/soma1/assets/part-000/header.json
  public_html/src/scenes/soma1/index.njk
Due: none

[js] add named viewpoints (vantages) to scenes with CRUD functionality
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-player.js
  web/src/lib/api.ts
  web/src/routes/scene/[id]/+page.svelte
Due: web

Update import to use DEFAULT_VANTAGES
  public_html/src/js/__tests__/scene-camera.test.mjs
Due: none

[js] Add vantages.json with initial viewpoint definitions and enhance TrackVisual class for dynamic color updates
  public_html/src/js/__tests__/scene-camera.test.mjs
  public_html/src/js/scene-player.js
  public_html/src/scenes/soma1/assets/vantages.json
Due: none

[go] Enhance LoadVantages function to handle empty vantages gracefully with an error message
  internal/scene/vantage.go
Due: go

[js] Add vantage normalization and enhance scene camera functionality
  public_html/src/js/__tests__/scene-camera.test.mjs
  public_html/src/js/scene-camera.js
  public_html/src/js/scene-player.js
  public_html/src/scenes/soma1/assets/vantages.json
  public_html/src/scenes/soma1/index.njk
Due: none

[ai][go][js] give a scene's vantages exactly one home
  internal/api/server_scenes.go
  internal/cmd/scene/scene.go
  internal/db/migrations/000041_drop_scene_vantages.down.sql
  internal/db/migrations/000041_drop_scene_vantages.up.sql
  internal/db/scene.go
  internal/db/scene_vantages_test.go
  internal/db/schema.sql
  internal/lidar/l9endpoints/recorder/recorder.go
  internal/scene/export.go
  internal/scene/types.go
  internal/scene/vantage.go
  internal/scene/vantage_test.go
  public_html/src/js/__tests__/scene-vantages.test.mjs
  public_html/src/js/scene-player.js
  public_html/src/scenes/soma1/assets/part-000/header.json
  public_html/src/scenes/soma1/assets/vantages.json
  public_html/src/scenes/soma1/index.njk
  web/src/lib/api.ts
  web/src/routes/scene/[id]/+page.svelte
Due: go, web

[ai][js][docs] one timeline, looping playback, and docs for the scene work
  docs/BACKLOG.md
  docs/lidar/operations/reference-capture.md
  docs/plans/lidar-scene-catalogue-publishing-plan.md
  docs/plans/lidar-web-scene-export-plan.md
  public_html/src/js/__tests__/scene-timeline.test.mjs
  public_html/src/js/scene-player.js
  public_html/src/js/scene-timeline.js
  public_html/src/scenes/soma1/assets/vantages.json
  public_html/src/scenes/soma1/index.njk
Due: none

[ver] bump version to 0.5.1-pre32 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
