Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[fs] mv docs
  docs/lidar/visualiser/M3.5-IMPLEMENTATION-SUMMARY.md
  docs/lidar/visualiser/M3.5-M4-MACOS-IMPLEMENTATION.md
  docs/lidar/visualiser/M4-COMPLETION-CHECKLIST.md
  docs/lidar/visualiser/M4-IMPLEMENTATION-SUMMARY.md
  docs/lidar/visualiser/m3.5-macos-visualiser.md
  docs/lidar/visualiser/m4-macos-visualiser.md
Due: none

[sh] fix LFS validation script to correctly increment validated and error counts
  scripts/validate-lfs-files.sh
Due: none

[go] adjust floating-point tolerance in determinism tests for improved accuracy across environments
  internal/lidar/golden_replay_test.go
Due: go

[docs] format
  M3.5-IMPLEMENTATION-SUMMARY.md
  M3.5-M4-MACOS-IMPLEMENTATION.md
  M4-COMPLETION-CHECKLIST.md
  M4-IMPLEMENTATION-SUMMARY.md
  docs/lidar/m3.5-macos-visualiser.md
  docs/lidar/m4-macos-visualiser.md
Due: none

[mac] format
  tools/visualiser-macos/VelocityVisualiser/Rendering/CompositePointCloudRenderer.swift
Due: mac

[mac] implement auto-connect on startup with a 500ms delay
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: mac

[go] sort tracks by ID in runTrackingPipeline for deterministic comparison
  internal/lidar/golden_replay_test.go
Due: go

[py] format
  data/align/get_telraam.py
  data/align/get_unifi.py
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/tests/test_zip_utils.py
Due: python

[mac] implement M3.5 split streaming fields in LockedState
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[go] implement M3.5 split streaming and optimize background processing in visualiser
  cmd/radar/radar.go
  internal/lidar/background.go
  internal/lidar/clustering.go
  internal/lidar/foreground_snapshot.go
  internal/lidar/foreground_snapshot_test.go
  internal/lidar/tracker_interface.go
  internal/lidar/tracking.go
  internal/lidar/tracking_pipeline.go
  internal/lidar/tracking_test.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/publisher.go
Due: go, go-cli

[mac] remove unused app icon assets and update Contents.json for 1024x1024 icon
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-128x128@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-128x128@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-16x16@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-16x16@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-256x256@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-256x256@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-32x32@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-32x32@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-512x512@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Contents.json
Due: mac

[go] implement frame rate limiting and buffer reuse in lidar processing
  cmd/radar/radar.go
  internal/lidar/background.go
  internal/lidar/foreground.go
  internal/lidar/tracking_pipeline.go
Due: go, go-cli

[docs] update with current state
  docs/lidar/future/settling-time-optimisation.md
  docs/lidar/visualiser/00-repo-inspection-notes.md
  docs/lidar/visualiser/03-architecture.md
  docs/lidar/visualiser/04-implementation-plan.md
  docs/lidar/visualiser/M3.5-IMPLEMENTATION-SUMMARY.md
  docs/lidar/visualiser/M3.5-M4-MACOS-IMPLEMENTATION.md
  docs/lidar/visualiser/M4-COMPLETION-CHECKLIST.md
  docs/lidar/visualiser/M4-IMPLEMENTATION-SUMMARY.md
  docs/lidar/visualiser/m3.5-macos-visualiser.md
  docs/lidar/visualiser/m4-macos-visualiser.md
  docs/lidar/visualiser/performance-investigation.md
  tools/visualiser-macos/README.md
Due: mac

[mac] update app icon assets with multiple sizes and scales
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Contents.json
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_128x128@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_16x16.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_16x16@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_256x256@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_32x32.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_32x32@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_512x512@2x.png
Due: mac

[docs] format
  docs/lidar/visualiser/04-implementation-plan.md
Due: none

[mac] enhance debug overlay features and rendering capabilities
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/Shaders/PointCloud.metal
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[go] add unit tests for Hungarian assignment algorithm and improve OBB estimation
  internal/lidar/features.go
  internal/lidar/features_test.go
  internal/lidar/hungarian.go
  internal/lidar/hungarian_test.go
  internal/lidar/obb.go
  internal/lidar/obb_test.go
  internal/lidar/tracker_interface_test.go
  internal/lidar/tracking.go
  internal/lidar/tracking_extended_test.go
  internal/lidar/tracking_pipeline.go
  internal/lidar/tracking_test.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/adapter_test.go
  internal/lidar/voxel.go
  internal/lidar/voxel_test.go
Due: go

[ver] set version to 0.5.0-pre1 across all platforms
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[go] update clustering parameters and enhance track rendering with recently deleted tracks
  internal/lidar/clustering.go
  internal/lidar/tracker_interface.go
  internal/lidar/tracking.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/pb/visualiser_grpc.pb.go
Due: go

[mac] add alpha property to Track and update rendering logic for fade-out effects
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/Rendering/MetalRenderer.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[go] implement PCAP lifecycle callbacks for visualiser server and update tracker configuration
  cmd/radar/radar.go
  internal/lidar/monitor/webserver.go
  internal/lidar/tracking_test.go
  internal/lidar/visualiser/grpc_server.go
Due: go, go-cli

[go] implement packet offset and progress reporting in PCAP file handling
  internal/lidar/network/pcap.go
  internal/lidar/network/pcap_count.go
  internal/lidar/network/pcap_count_stub.go
  internal/lidar/network/pcap_realtime.go
  internal/lidar/network/pcap_realtime_stub.go
Due: go

[docs] update M5 and M6 statuses to reflect completion of Track A and Track B; enhance algorithm upgrades and debug overlays
  docs/lidar/visualiser/04-implementation-plan.md
Due: none

[go] implement PCAP progress tracking and metrics retrieval; enhance tracking configuration API
  internal/lidar/clustering.go
  internal/lidar/clustering_test.go
  internal/lidar/monitor/client.go
  internal/lidar/monitor/track_api.go
  internal/lidar/monitor/webserver.go
  internal/lidar/network/pcap_count.go
  internal/lidar/network/pcap_stub.go
  internal/lidar/network/pcap_stub_test.go
  internal/lidar/tracker_interface.go
  internal/lidar/tracking.go
  internal/lidar/visualiser/grpc_server.go
Due: go

[go] implement tracking sweep parameters and progress reporting; enhance PCAP file handling
  cmd/radar/radar.go
  cmd/sweep/main.go
  cmd/tools/pcap-analyse/main.go
Due: go-cli

[mac] enhance connection handling in AppState; prevent race conditions during connection attempts
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: mac

[go] refine OBB center calculation and smoothing parameters; enhance track deletion handling in visualizer
  internal/lidar/obb.go
  internal/lidar/tracking.go
  internal/lidar/visualiser/adapter.go
Due: go

[docs] add comprehensive guide for Sweep Tool; detail parameter optimization and usage instructions
  docs/guides/sweep-tool.md
Due: none

[go] consolidate LIDAR API routes and enhance tracker configuration handling
  cmd/radar/radar.go
  internal/lidar/monitor/chart_api.go
  internal/lidar/monitor/client.go
  internal/lidar/monitor/html/status.html
  internal/lidar/monitor/track_api.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/monitor/webserver.go
Due: go, go-cli

[go] remove deprecated tracker configuration endpoint and associated types
  internal/lidar/monitor/track_api.go
Due: go

[docs] unify tracker and background parameter configuration under a single API endpoint
  docs/guides/sweep-tool.md
Due: none

[go] add 1024x1024 app icon for macOS visualiser
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Contents.json
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/icon_1024x1024@1x.png
Due: mac

[go] enhance comments in heading variance test for clarity
  internal/lidar/features_test.go
Due: go

[go] implement region snapshot persistence and restoration for lidar data
  internal/db/db.go
  internal/db/migrations/000017_create_lidar_bg_regions.down.sql
  internal/db/migrations/000017_create_lidar_bg_regions.up.sql
  internal/db/schema.sql
  internal/lidar/arena.go
  internal/lidar/background.go
Due: go

[go] implement region persistence and restoration in BackgroundManager
  internal/lidar/background.go
  internal/lidar/foreground.go
Due: go

[docs] implement region persistence and restoration for adaptive parameters in LiDAR
  docs/lidar/README.md
  docs/lidar/future/settling-time-optimisation.md
  docs/lidar/operations/adaptive-region-parameters.md
Due: none

[go] implement database connection for region persistence and restoration in analysis frame builder
  cmd/tools/pcap-analyse/main.go
Due: go-cli

[go] implement source path handling for region restoration in lidar processing
  internal/db/db.go
  internal/db/migrations/000017_create_lidar_bg_regions.down.sql
  internal/db/migrations/000017_create_lidar_bg_regions.up.sql
  internal/db/schema.sql
  internal/lidar/arena.go
  internal/lidar/background.go
  internal/lidar/monitor/webserver.go
Due: go

[go] implement background region restoration with linked grid snapshot handling
  internal/db/db.go
  internal/lidar/background.go
Due: go
