Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][go] lidar-state-estimation-baseline: -uncertainty-report and -uncertainty-calibration
  cmd/tools/lidar-state-estimation-baseline/main.go
  cmd/tools/lidar-state-estimation-baseline/uncertainty.go
  cmd/tools/lidar-state-estimation-baseline/uncertainty_test.go
Due: go-cli

[ai][go] replayeval: adaptive_uncertainty experiment, uncertainty report and calibration file
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_uncertainty_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/uncertainty.go
  internal/lidar/replayeval/uncertainty_test.go
Due: go

[ai][go] l8analytics: judge stratum bias only with enough samples, on the fit's own statistic
  internal/lidar/l8analytics/uncertainty_calibration.go
  internal/lidar/l8analytics/uncertainty_calibration_test.go
Due: go

[ai][go] l5tracks, replayeval: join keys and a samples file for the labelled manoeuvre row
  internal/lidar/l5tracks/pregate.go
  internal/lidar/l5tracks/uncertainty_scene_test.go
  internal/lidar/l8analytics/uncertainty_calibration.go
  internal/lidar/replayeval/replay_uncertainty_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/uncertainty.go
  internal/lidar/replayeval/uncertainty_test.go
Due: go

[ai][docs] kirk0 uncertainty evidence and the state plan's Phase 3 status
  docs/lidar/operations/adaptive-uncertainty-criteria.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

Correct scene provenance and preserve main LiDAR API route
  internal/cmd/server/README.md
  internal/cmd/server/radar.go
  public_html/scene-sites.json
  public_html/src/scenes/lombard-laguna/index.njk
  tools/s2-archive/analysis-overrides/franklin-mcallister-20260903.json
  tools/s2-archive/publish-scenes.py
  tools/s2-archive/site-index.json
Due: go

[ai][go] l5tracks: parse the solid-body names written into persisted rows
  internal/lidar/l5tracks/solid_body.go
  internal/lidar/l5tracks/solid_body_test.go
Due: go

[ai][go] l5tracks: populate the solid-body estimate from the near-edge model
  internal/lidar/l5tracks/continuity.go
  internal/lidar/l5tracks/solid_body_lifecycle.go
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
  internal/lidar/l5tracks/time_domain.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
Due: go

[ai][go] pipeline: file each track's solid body beside its online estimate
  internal/lidar/pipeline/state_estimate_sink.go
  internal/lidar/pipeline/state_estimate_sink_test.go
Due: go

[ai][go][sql] storage: persist solid-body estimates behind the state_model discriminator
  internal/db/migrations/000052_lidar_track_solid_bodies.down.sql
  internal/db/migrations/000052_lidar_track_solid_bodies.up.sql
  internal/db/schema.sql
  internal/db/solid_body_migration_test.go
  internal/lidar/storage/sqlite/frame_evidence_store.go
  internal/lidar/storage/sqlite/solid_body_store.go
  internal/lidar/storage/sqlite/solid_body_store_test.go
  internal/lidar/storage/sqlite/state_estimate_store.go
Due: go

[ai][go] l5tracks: admit solid-body extents only along axes the course supports
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
Due: go

[ai][go] l5tracks: lapse a faceless body-centre solid body to the medoid
  internal/lidar/l5tracks/solid_body_nearedge.go
  internal/lidar/l5tracks/solid_body_nearedge_test.go
Due: go

[ai][go] l8behaviour: sample directly from a solid-body reading
  internal/lidar/l8behaviour/adapter.go
  internal/lidar/l8behaviour/adapter_solid_body_test.go
Due: go

[ai][go] replayeval: solid_body experiment writes solid-body rows
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replayeval.go
Due: go

[ai][go] l8analytics: five-point lateral-fit summary for any estimate series
  internal/lidar/l8analytics/lateral_fit.go
  internal/lidar/l8analytics/lateral_fit_test.go
Due: go

[ai][go] replayeval: kirk0 evidence for the solid_body experiment
  internal/lidar/replayeval/replay_solid_body_pcap_test.go
Due: go

[ai][go] perframeeval: score solid-body estimate versions
  cmd/tools/lidar-ground-truth-eval/perframe.go
  cmd/tools/lidar-ground-truth-eval/perframe_test.go
  internal/lidar/perframeeval/compare.go
  internal/lidar/perframeeval/hypothesis.go
  internal/lidar/perframeeval/markdown.go
  internal/lidar/perframeeval/perframeeval_solid_body_test.go
  internal/lidar/storage/sqlite/perframe_eval_queries.go
Due: go, go-cli

Validate isolated live LiDAR UDP port
  internal/cmd/server/radar.go
Due: go

[ai][go] l8analytics: one finite32 helper for the lateral fit and the calibration
  internal/lidar/l8analytics/lateral_fit.go
Due: go

[ai][go] l5tracks: default-off tentative priority and class identity for association
  internal/lidar/l5tracks/continuity.go
  internal/lidar/l5tracks/identity.go
  internal/lidar/l5tracks/identity_scene_test.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
Due: go

Point LiDAR replay examples at the main API
  internal/cmd/server/README.md
Due: go

[ai][go] l5tracks: tests for tentative priority, class identity and contested rejoins
  internal/lidar/l5tracks/identity_regression_test.go
  internal/lidar/l5tracks/identity_test.go
  internal/lidar/l6objects/class_extent_test.go
Due: go

[ai][make] bump version to 0.5.1-pre38
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[ai][go] replayeval: kirk0 continuity smoke run under the coverage refusal
  internal/lidar/replayeval/replay_continuity_pcap_test.go
Due: go

[ai][docs] solid body, identity options and the field run: plans, gap analysis, backlog, devlog
  data/maths/paper-implementation-gap-analysis.md
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][docs] backlog: record the consolidation PR number
  docs/BACKLOG.md
Due: none

[ai][go] cli: refuse --stage with velocity report headway --oracle
  internal/cmd/server/headway.go
  internal/cmd/server/headway_test.go
Due: go

[ai][go] storage: allow-list the per-frame query table before building SQL
  internal/lidar/storage/sqlite/perframe_eval_queries.go
  internal/lidar/storage/sqlite/perframe_eval_queries_test.go
Due: go

Publish versioned Franklin scene and correct Lombard listing data
  public_html/src/_data/scenes.json
  public_html/src/scenes/franklin-mcallister/assets/background/background.json.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0000.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0001.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0002.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0003.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0004.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0005.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0006.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0007.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0008.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0009.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0010.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0011.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0012.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0013.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0014.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0015.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0016.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0017.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0018.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/frames/chunk_0019.ndjson.gz
  public_html/src/scenes/franklin-mcallister/assets/part-000/header.json
  public_html/src/scenes/franklin-mcallister/assets/part-000/index.json
  public_html/src/scenes/franklin-mcallister/assets/part-000/timeline.json
Due: none

[ai][py][make] lidar-following-windows: rank evidence windows by vehicle following
  Makefile
  scripts/lidar-following-windows.py
  scripts/test_lidar_following_windows.py
Due: none

[ai][docs] annotation segment finder plan: choose, cut and propose clips
  docs/BACKLOG.md
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-annotation-segment-finder-plan.md
Due: none

[ai][docs] backlog and devlog: the following-window review queue
  docs/BACKLOG.md
  docs/DEVLOG.md
Due: none

[ai][py] lidar-following-windows: rank on exact pair-frames, not rounded seconds
  scripts/lidar-following-windows.py
  scripts/test_lidar_following_windows.py
Due: none

feat: Add 0.5.2 MVP sprint plan and integrate following distance measurement
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/lidar/architecture/time-domain-model.md
  docs/lidar/operations/0.5.2-sprint-review.md
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-clock-abstraction-and-time-domain-model-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-visualiser-trails-and-uncertainty-visualisation-plan.md
  docs/ui/DESIGN.md
Due: none

[ai][docs] 0.5.2 sprint plan: progress after #614 and the segment finder track
  docs/plans/lidar-052-mvp-sprint-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
Due: none

[ai][go] vrlog: make shed-gap and commit-prefix tests hold under load
  internal/lidar/storage/vrlog/commit_test.go
  internal/lidar/storage/vrlog/fixtures_test.go
Due: go

[ai][docs] segment finder: the Svelte segments page moves into 0.5.2
  docs/BACKLOG.md
  docs/plans/lidar-annotation-segment-finder-plan.md
Due: none

[ai][docs] backlog: list the segment finder items last in Sprint 0.5.2.0
  docs/BACKLOG.md
Due: none

[ai][py][docs] annotation segment finder: following-window review queue and plan (#615)
  Makefile
  docs/BACKLOG.md
  docs/DEVLOG.md
  docs/lidar/operations/point-annotation-tool.md
  docs/plans/lidar-annotation-segment-finder-plan.md
  scripts/lidar-following-windows.py
  scripts/test_lidar_following_windows.py
Due: none

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
