Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[mac] update copyright year in AboutView to 2026
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
Due: mac

[docs] restructure config schema to layer-scoped sub-objects
  config/CONFIG-RESTRUCTURE.md
  config/README.maths.md
  config/README.md
  docs/BACKLOG.md
  docs/lidar/architecture/ml-solver-expansion.md
  docs/maths/proposals/20260220-velocity-coherent-foreground-extraction.md
Due: none

Apply suggestions from code review
  docs/maths/proposals/20260220-velocity-coherent-foreground-extraction.md
  tools/visualiser-macos/VelocityVisualiser/UI/AboutView.swift
Due: mac

[docs] Refactor engine configuration structure in velocity coherent foreground extraction proposal
  config/CONFIG-RESTRUCTURE.md
  docs/maths/proposals/20260220-velocity-coherent-foreground-extraction.md
Due: none

[docs] Update CONFIG-RESTRUCTURE.md: clarify engine-specific parameter structure and adjust implementation phases
  config/CONFIG-RESTRUCTURE.md
Due: none

[docs] config + maths updates (#335)
  config/CONFIG-RESTRUCTURE.md
  config/README.maths.md
  config/README.md
  docs/BACKLOG.md
  docs/lidar/architecture/ml-solver-expansion.md
  docs/maths/README.md
  docs/maths/proposals/20260220-velocity-coherent-foreground-extraction.md
Due: none

Update .github/agents/jess.agent.md
  .github/agents/jess.agent.md
Due: none

[ai] add Jess (PM) agent (#339)
  .github/agents/hadaly.agent.md
  .github/agents/ictinus.agent.md
  .github/agents/jess.agent.md
  .github/agents/malory.agent.md
  .github/agents/thompson.agent.md
Due: none

[docs] contributor personas + work themes (#340)
  CONTRIBUTING.md
Due: none

[py] format
  scripts/plot_test.py
Due: none

[js] disable eslint no-useless-assignment rule for Svelte files
  web/eslint.config.js
Due: none

[git] add BuildInfo.swift to .gitignore to prevent build output pollution
  .gitignore
Due: none

[go] update protoc and protoc-gen-go versions in generated files
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/pb/visualiser_grpc.pb.go
Due: go

[docs][go][mac] make format
  docs/DECISIONS.md
  internal/lidar/visualiser/grpc_server_test.go
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: go, mac

[mac] remove median and percentile speed details from TrackInspectorDetailCards
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: mac

[docs] add v0.5.0 Backward Compatibility Shim Removal Plan
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[docs] update lidar visualiser plan to reflect partial completion of Swift client/UI parity and clarify blocked inspector rows
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
Due: none

[docs] update plans to reflect removal of avg_speed_mps in favor of p50_speed_mps across multiple components
  docs/plans/data-track-description-language-plan.md
  docs/plans/lidar-analysis-run-infrastructure-plan.md
  docs/plans/lidar-static-pose-alignment-plan.md
  docs/plans/lidar-track-labeling-auto-aware-tuning-plan.md
  docs/plans/lidar-velocity-coherent-foreground-extraction-plan.md
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[docs] add light mode theme compliance updates for TrackList, MapPane, and TimelinePane components
  docs/BACKLOG.md
  docs/ui/design-review-and-improvement.md
Due: none

[docs] update platform simplification and backward compatibility shim removal plans for clarity and scope definition
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[docs] update LiDAR visualiser proto contract and debug overlay fixes plan to reflect completion status and implementation details
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
Due: go

Apply suggestions from code review
  docs/plans/platform-simplification-and-deprecation-plan.md
Due: none

[docs] add newline for clarity in backward compatibility shim removal plan
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[docs] update README for clarity on LiDAR sensor integration and deprecate velocity-deploy tool
  README.md
Due: none

[sql] remove avg_speed_mps column from lidar_run_tracks and lidar_tracks tables
  internal/db/migrations/000030_drop_avg_speed_mps.down.sql
  internal/db/migrations/000030_drop_avg_speed_mps.up.sql
  internal/db/schema.sql
Due: go

[docs] update backward compatibility shim removal plan with completion status and action items
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[go] replace AvgSpeedMps with MedianSpeedMps across tests and data structures
  internal/lidar/adapters/ground_truth_test.go
  internal/lidar/l6objects/classification_test.go
  internal/lidar/l6objects/features_test.go
  internal/lidar/monitor/run_track_api_coverage_test.go
  internal/lidar/monitor/run_track_api_test.go
  internal/lidar/monitor/scene_api_coverage_test.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
  internal/lidar/storage/sqlite/analysis_run_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
  internal/lidar/storage/sqlite/track_store_extended_test.go
  internal/lidar/storage/sqlite/track_store_test.go
Due: go

[go] refactor report download handling and remove legacy support
  cmd/tools/pcap-analyse/main.go
  internal/api/server.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l6objects/features.go
  internal/lidar/monitor/sweep_handlers.go
  internal/lidar/monitor/track_api.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/sweep/runner.go
  internal/lidar/sweep/sweep_params.go
Due: go, go-cli

[proto][go] update Track message to rename median_speed_mps to avg_speed_mps and adjust related fields
  internal/lidar/visualiser/pb/visualiser.pb.go
  proto/velocity_visualiser/v1/visualiser.proto
Due: go

[mac] rename medianSpeedMps to p50SpeedMps and update related references across models and tests
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewCoverageTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ContentViewTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ExtractedHelpersTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ModelExtendedTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/UICoverageBoostTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/VisualiserClientTests.swift
Due: mac

[go] reorder proto speed percentile fields in Track message for consistency
  internal/lidar/visualiser/pb/visualiser.pb.go
Due: go

[make] update deprecation warnings in Makefile to use correct emoji
  Makefile
Due: none

[docs] retain avg_speed_mps and add p50_speed_mps alongside p85_speed_mps and p98_speed_mps in visualiser proto
  docs/plans/lidar-visualiser-proto-contract-and-debug-overlay-fixes-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  docs/ui/VelocityVisualiser.app/02-api-contracts.md
Due: none

[go] rename MedianSpeedMps to P50SpeedMps across models and related functions
  cmd/tools/pcap-analyse/main.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/monitor/track_api.go
  internal/lidar/storage/sqlite/track_store.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/grpc_server_test.go
  internal/lidar/visualiser/model.go
Due: go, go-cli

[sql] revert p98_speed_mps back to p95_speed_mps in migrations and schema
  internal/db/migrations/000030_rename_p95_to_p98_speed.down.sql
  internal/db/migrations/000030_rename_p95_to_p98_speed.up.sql
  internal/db/schema.sql
Due: go

[go] update speed percentile references from p95 to p98 in documentation and schema
  docs/lidar/architecture/foreground_tracking.md
  docs/maths/classification-maths.md
  docs/plans/data-track-description-language-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
Due: none

[go] replace P95SpeedMps with P98SpeedMps across models and related functions
  cmd/tools/pcap-analyse/main.go
  internal/lidar/l6objects/classification.go
  internal/lidar/l6objects/classification_test.go
  internal/lidar/l6objects/features.go
  internal/lidar/l6objects/l6objects_test.go
  internal/lidar/monitor/scene_api_coverage_test.go
  internal/lidar/monitor/track_api_test.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_extended_test.go
  internal/lidar/storage/sqlite/coverage_boost_test.go
  internal/lidar/storage/sqlite/track_store.go
Due: go, go-cli

[mac] reset gitSHA and buildTime in BuildInfo to unknown
  tools/visualiser-macos/VelocityVisualiser/App/BuildInfo.swift
Due: mac

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
