Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[ai][go] lidar: stop the PCAP integration test holding every frame
  internal/lidar/integration_test.go
Due: go

[ai][go] replayeval: report an unset observation calibration as unset
  internal/lidar/replayeval/observation_frames_test.go
  internal/lidar/replayeval/replayeval.go
Due: go

[ai][go] l8behaviour: read the predicted gap from its measurement; reuse band buffer
  internal/lidar/l8behaviour/encounter.go
  internal/lidar/l8behaviour/encounter_test.go
  internal/lidar/l8behaviour/pairing.go
Due: go

[ai][docs] runbook: read-only captures confirmed, media share added read-only
  docs/platform/operations/truenas-vm-shared-storage-runbook.md
Due: none

[ai][go] lidar: stop the PCAP integration test holding every frame (runner OOM) (#601)
  internal/lidar/integration_test.go
Due: go

[ai][go][docs] l5tracks: capture-time boundary for prediction, coast age and expiry (#597)
  .github/workflows/go-ci.yml
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
  docs/lidar/architecture/multi-model-ingestion-and-configuration.md
  docs/lidar/architecture/time-domain-model.md
  docs/plans/lidar-clock-abstraction-and-time-domain-model-plan.md
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/l1packets/parse/timestamp_mode_test.go
  internal/lidar/l2frames/frame_builder.go
  internal/lidar/l5tracks/doc.go
  internal/lidar/l5tracks/time_domain.go
  internal/lidar/l5tracks/time_domain_boundary_test.go
  internal/lidar/l5tracks/time_domain_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/pipeline/time_domain_test.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_pacing_pcap_test.go
  internal/lidar/replayeval/replay_time_domain_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/replayeval/runtime.go
  internal/lidar/time_domain_chain_test.go
Due: go, go-cli

[ai][docs] Occlusion continuity: time-domain model, tracking maths and plan status
  data/maths/tracking-maths.md
  docs/lidar/architecture/time-domain-model.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-visualiser-trails-and-uncertainty-visualisation-plan.md
Due: none

[ai][go] replayeval: occlusion-continuity experiments and manifest continuity block
  cmd/tools/lidar-state-estimation-baseline/main.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_continuity_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: go, go-cli

[ai][go] l5tracks: state the likelihood offset's invariance by the solver's objective
  internal/lidar/l5tracks/tracking_association.go
Due: go

[ai][go] l5tracks: existence separate from observation; default-off occlusion continuity
  internal/lidar/l5tracks/continuity.go
  internal/lidar/l5tracks/continuity_scenario_test.go
  internal/lidar/l5tracks/continuity_scene_test.go
  internal/lidar/l5tracks/continuity_test.go
  internal/lidar/l5tracks/doc.go
  internal/lidar/l5tracks/residuals.go
  internal/lidar/l5tracks/solid_body.go
  internal/lidar/l5tracks/solid_body_lifecycle.go
  internal/lidar/l5tracks/time_domain.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][go][docs] l4bobserve: foreground-complete observation profile, frame records and an opt-in L4 tap (#599)
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-vrlog-observation-format-plan.md
  internal/lidar/l4bobserve/builder.go
  internal/lidar/l4bobserve/builder_bench_test.go
  internal/lidar/l4bobserve/builder_test.go
  internal/lidar/l4bobserve/doc.go
  internal/lidar/l4bobserve/frame.go
  internal/lidar/l4bobserve/frame_test.go
  internal/lidar/l4bobserve/observation.go
  internal/lidar/l4bobserve/profile.go
  internal/lidar/l4bobserve/profile_test.go
  internal/lidar/l4bobserve/stream.go
  internal/lidar/l4perception/cluster.go
  internal/lidar/l4perception/lineage_test.go
  internal/lidar/l4perception/types.go
  internal/lidar/pipeline/observation_frame_tap.go
  internal/lidar/pipeline/observation_frame_tap_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/observation_frames_test.go
  internal/lidar/replayeval/replay_observation_frames_pcap_test.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/storage/sqlite/observation_profile_test.go
  internal/lidar/storage/sqlite/observation_store.go
Due: go

[ai][go][make] recording-domain protobuf schema for VRLOG 1.x observation payloads
  Makefile
  internal/lidar/recordingpb/recording.pb.go
  proto/velocity_recording/v1/recording.proto
Due: go

[ai][go] recorder: refuse VRLOG 1.x observation containers by their root
  internal/lidar/l9endpoints/recorder/observation_container_test.go
  internal/lidar/l9endpoints/recorder/recorder.go
Due: go

[ai][go] l4bobserve: versioned semantic digest and exact frame comparison
  internal/lidar/l4bobserve/diff.go
  internal/lidar/l4bobserve/digest.go
  internal/lidar/l4bobserve/digest_test.go
Due: go

[ai][go] storage/vrlog: typed VRLOG 1.x container, sealed-chunk writer and offline reader
  internal/lidar/storage/vrlog/codec.go
  internal/lidar/storage/vrlog/codec_test.go
  internal/lidar/storage/vrlog/container_test.go
  internal/lidar/storage/vrlog/corruption_test.go
  internal/lidar/storage/vrlog/doc.go
  internal/lidar/storage/vrlog/errors.go
  internal/lidar/storage/vrlog/export_test.go
  internal/lidar/storage/vrlog/fixtures_test.go
  internal/lidar/storage/vrlog/format.go
  internal/lidar/storage/vrlog/manifest.go
  internal/lidar/storage/vrlog/reader.go
  internal/lidar/storage/vrlog/verify.go
  internal/lidar/storage/vrlog/writer.go
Due: go

[ai][docs] specify the VRLOG 1.x observation container and record phase 1
  data/structures/DATA_STRUCTURES.md
  data/structures/VRLOG_FORMAT.md
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-vrlog-observation-format-plan.md
Due: none

[ai][go] lidar CLI: capture observations from a PCAP replay; verify, inspect and compare them
  cmd/tools/vrlog-check/main.go
  cmd/tools/vrlog-check/main_test.go
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/observations.go
  internal/cmd/lidar/observations_test.go
  internal/cmd/lidar/replay.go
Due: go, go-cli

[ai][go] replayeval: write foreground-complete frames to an observation container
  internal/lidar/replayeval/replayeval.go
  internal/lidar/storage/vrlog/kirk0_pcap_test.go
Due: go

[ai][go] l5tracks: 5 ms tolerance on capture-time smoother lags
  internal/lidar/l5tracks/smoother.go
  internal/lidar/l5tracks/smoother_test.go
Due: go

[ai][go][sql] storage: revision records for refined estimate stages
  internal/db/migrations/000050_lidar_track_estimate_revisions.down.sql
  internal/db/migrations/000050_lidar_track_estimate_revisions.up.sql
  internal/db/schema.sql
  internal/lidar/storage/sqlite/estimate_revision_store.go
  internal/lidar/storage/sqlite/estimate_revision_store_test.go
  internal/lidar/storage/sqlite/evidence_oracle.go
  internal/lidar/storage/sqlite/scorecard_queries.go
  internal/lidar/storage/sqlite/state_estimate_store.go
Due: go

[ai][docs] retrospective refinement: predeclared criteria, maths, plan status
  data/maths/tracking-maths.md
  docs/lidar/LIDAR.md
  docs/lidar/operations/per-frame-evaluation.md
  docs/lidar/operations/retrospective-refinement-criteria.md
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][go] replayeval: fixed_lag_rts experiment, refined persistence and comparison
  cmd/tools/lidar-refinement-eval/main.go
  cmd/tools/lidar-refinement-eval/main_test.go
  cmd/tools/lidar-state-estimation-baseline/main.go
  internal/lidar/l5tracks/filter_steps.go
  internal/lidar/l8analytics/refinement.go
  internal/lidar/l8analytics/refinement_test.go
  internal/lidar/pipeline/refined_estimate_sink.go
  internal/lidar/pipeline/refined_estimate_sink_test.go
  internal/lidar/pipeline/state_estimate_sink.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/refinement.go
  internal/lidar/replayeval/refinement_test.go
  internal/lidar/replayeval/replay_refinement_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: go, go-cli

[ai][go] l5tracks: filter-step record and bounded fixed-lag RTS smoother
  internal/lidar/l5tracks/filter_steps.go
  internal/lidar/l5tracks/smoother.go
  internal/lidar/l5tracks/smoother_helpers_test.go
  internal/lidar/l5tracks/smoother_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][go][docs] l8behaviour: local following path, leader choice, following exposure and held-out gap scoring (#602)
  CLAUDE.md
  docs/lidar/architecture/label-vocabulary.md
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/metrics-registry-and-observability-plan.md
  docs/platform/architecture/metrics-registry.md
  internal/lidar/l8behaviour/doc.go
  internal/lidar/l8behaviour/docs_test.go
  internal/lidar/l8behaviour/encounter.go
  internal/lidar/l8behaviour/encounter_fixtures.go
  internal/lidar/l8behaviour/encounter_test.go
  internal/lidar/l8behaviour/fixtures.go
  internal/lidar/l8behaviour/following.go
  internal/lidar/l8behaviour/following_test.go
  internal/lidar/l8behaviour/heldout.go
  internal/lidar/l8behaviour/heldout_test.go
  internal/lidar/l8behaviour/localpath.go
  internal/lidar/l8behaviour/localpath_test.go
  internal/lidar/l8behaviour/metrics.go
  internal/lidar/l8behaviour/metrics_test.go
  internal/lidar/l8behaviour/pairing.go
  internal/lidar/l8behaviour/pairing_test.go
  internal/lidar/l8behaviour/pathframe.go
  internal/lidar/l8behaviour/vocabulary.go
  internal/lidar/l8behaviour/vocabulary_test.go
Due: go

[ai][go] l5tracks: skip observed bookkeeping when the update deletes the track
  internal/lidar/l5tracks/continuity_test.go
  internal/lidar/l5tracks/tracking.go
Due: go

[ai][docs] record following-interaction persistence and its registry surfaces
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/metrics-registry-and-observability-plan.md
  docs/platform/architecture/metrics-registry.md
Due: none

[ai][go][docs] l8behaviour: stored interaction records keyed by the registry
  docs/lidar/architecture/label-vocabulary.md
  internal/lidar/l8behaviour/doc.go
  internal/lidar/l8behaviour/docs_test.go
  internal/lidar/l8behaviour/encounter.go
  internal/lidar/l8behaviour/encounter_test.go
  internal/lidar/l8behaviour/following.go
  internal/lidar/l8behaviour/following_test.go
  internal/lidar/l8behaviour/interaction.go
  internal/lidar/l8behaviour/interaction_test.go
  internal/lidar/l8behaviour/surface.go
  internal/lidar/l8behaviour/surface_test.go
  internal/lidar/l8behaviour/vocabulary.go
  internal/lidar/l8behaviour/vocabulary_test.go
Due: go

[ai][sql][go] persist following interactions: events, instants, exposure windows
  internal/db/migrate_latest_test.go
  internal/db/migrations/000051_lidar_interaction_persistence.down.sql
  internal/db/migrations/000051_lidar_interaction_persistence.up.sql
  internal/db/schema.sql
  internal/lidar/storage/sqlite/interaction_store.go
  internal/lidar/storage/sqlite/interaction_store_test.go
Due: go

[ai][go] storage: return residual rows from ListRevisedEstimates
  internal/lidar/storage/sqlite/estimate_revision_store.go
  internal/lidar/storage/sqlite/estimate_revision_store_test.go
Due: go

[ai][go][typ] headway: render the oracle through the real report path
  internal/report/chart/following.go
  internal/report/headway/render.go
  internal/report/headway/render_test.go
  internal/report/headway/testdata/oracle/charts/aggregate_A1.svg
  internal/report/headway/testdata/oracle/charts/aggregate_A2.svg
  internal/report/headway/testdata/oracle/charts/encounter_E1.svg
  internal/report/headway/testdata/oracle/charts/encounter_E2.svg
  internal/report/headway/testdata/oracle/charts/encounter_E3.svg
  internal/report/headway/testdata/oracle/charts/encounter_E4.svg
  internal/report/headway/testdata/oracle/charts/encounter_E5.svg
  internal/report/headway/testdata/oracle/charts/encounter_E6.svg
  internal/report/headway/testdata/oracle/charts/encounter_E7.svg
  internal/report/headway/testdata/oracle/charts/encounter_E8.svg
  internal/report/headway/testdata/oracle/data.json
  internal/report/typst/render.go
  internal/report/typst/templates/headway.typ
Due: go

[ai][docs] headway report oracle: operations guide, chart policy and plan status
  docs/lidar/LIDAR.md
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/lidar/operations/headway-report-oracle.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/platform/operations/pdf-reporting.md
  docs/radar/cli-comprehensive-guide.md
  docs/ui/DESIGN.md
Due: none

[ai][go] typst: compile a named entry and ship only its template set
  internal/report/typst/entry_test.go
  internal/report/typst/render.go
  internal/report/typst/render_test.go
Due: go

[ai][go] cli: velocity report headway --oracle
  internal/cmd/root/root.go
  internal/cmd/root/root_test.go
  internal/cmd/server/headway.go
  internal/cmd/server/headway_test.go
  internal/cmd/server/radar.go
Due: go

[ai][go] headway: report contract, builder and aggregates, with the oracle input
  internal/report/headway/aggregate.go
  internal/report/headway/build.go
  internal/report/headway/build_test.go
  internal/report/headway/doc.go
  internal/report/headway/format.go
  internal/report/headway/model.go
  internal/report/headway/oracle.go
  internal/report/headway/oracle_test.go
  internal/report/headway/status.go
  internal/report/headway/validate.go
Due: go

[ai][go] chart: following-evidence charts for the headway report
  internal/report/chart/following.go
  internal/report/chart/following_test.go
  internal/report/chart/palette.go
  internal/report/chart/svg.go
Due: go

[ai][go] storage: refuse a refined estimate that would replace another version's row
  internal/lidar/storage/sqlite/estimate_revision_store.go
  internal/lidar/storage/sqlite/estimate_revision_store_test.go
Due: go

[ai][go][docs] l8behaviour: audit a surface as one JSON document; name the provenance fault
  docs/platform/architecture/metrics-registry.md
  internal/lidar/l8behaviour/following.go
  internal/lidar/l8behaviour/following_test.go
  internal/lidar/l8behaviour/surface.go
  internal/lidar/l8behaviour/surface_test.go
Due: go

[ai][go][docs] VRLOG 1.x observation container: typed codec, sealed-chunk writer and offline reader (phase 1) (#604)
  Makefile
  cmd/tools/vrlog-check/main.go
  cmd/tools/vrlog-check/main_test.go
  data/structures/DATA_STRUCTURES.md
  data/structures/VRLOG_FORMAT.md
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-vrlog-observation-format-plan.md
  internal/cmd/lidar/lidar.go
  internal/cmd/lidar/observations.go
  internal/cmd/lidar/observations_test.go
  internal/cmd/lidar/replay.go
  internal/lidar/l4bobserve/diff.go
  internal/lidar/l4bobserve/digest.go
  internal/lidar/l4bobserve/digest_test.go
  internal/lidar/l9endpoints/recorder/observation_container_test.go
  internal/lidar/l9endpoints/recorder/recorder.go
  internal/lidar/recordingpb/recording.pb.go
  internal/lidar/replayeval/replayeval.go
  internal/lidar/storage/vrlog/codec.go
  internal/lidar/storage/vrlog/codec_test.go
  internal/lidar/storage/vrlog/container_test.go
  internal/lidar/storage/vrlog/corruption_test.go
  internal/lidar/storage/vrlog/doc.go
  internal/lidar/storage/vrlog/errors.go
  internal/lidar/storage/vrlog/export_test.go
  internal/lidar/storage/vrlog/fixtures_test.go
  internal/lidar/storage/vrlog/format.go
  internal/lidar/storage/vrlog/kirk0_pcap_test.go
  internal/lidar/storage/vrlog/manifest.go
  internal/lidar/storage/vrlog/reader.go
  internal/lidar/storage/vrlog/verify.go
  internal/lidar/storage/vrlog/writer.go
  proto/velocity_recording/v1/recording.proto
Due: go, go-cli

[ai][go][docs] l5tracks: occlusion continuity — existence separate from observation (default-off) (#603)
  cmd/tools/lidar-state-estimation-baseline/main.go
  data/maths/tracking-maths.md
  docs/lidar/architecture/time-domain-model.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-visualiser-trails-and-uncertainty-visualisation-plan.md
  internal/lidar/l5tracks/continuity.go
  internal/lidar/l5tracks/continuity_scenario_test.go
  internal/lidar/l5tracks/continuity_scene_test.go
  internal/lidar/l5tracks/continuity_test.go
  internal/lidar/l5tracks/doc.go
  internal/lidar/l5tracks/residuals.go
  internal/lidar/l5tracks/solid_body.go
  internal/lidar/l5tracks/solid_body_lifecycle.go
  internal/lidar/l5tracks/time_domain.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_update.go
  internal/lidar/replayeval/experiments.go
  internal/lidar/replayeval/experiments_test.go
  internal/lidar/replayeval/replay_continuity_pcap_test.go
  internal/lidar/replayeval/replayeval.go
Due: go, go-cli

[ai][docs] VRLOG 1.1 commit chain, durable frontier and recovery; record phase 2
  data/structures/VRLOG_FORMAT.md
  docs/lidar/architecture/LIDAR_ARCHITECTURE.md
  docs/lidar/operations/pcap-analysis-mode.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/lidar-vrlog-observation-format-plan.md
Due: none
