Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[make] refactor Makefile: update comments for clarity and conciseness
  Makefile
Due: none

[go] tests: improve mock Typst scripts and enhance error handling in PDF metadata tests
  internal/report/typst/pdf_metadata_test.go
  internal/report/typst/render_test.go
  internal/report/typst/typstbin/typstbin_test.go
  internal/report/typst_generate_test.go
Due: go

[go] tests: refactor Typst binary mock usage and enhance PDF metadata error handling
  internal/api/server_generate_go_test.go
  internal/report/typst/pdf_metadata_test.go
  internal/report/typst/render_test.go
  internal/report/typst/typstbin/typstbin_test.go
  internal/report/typst_generate_test.go
Due: go

[go] tests: enhance PDF metadata error handling and refactor mock Typst CLI usage
  internal/report/typst/pdf_metadata_test.go
  internal/report/typst/render_test.go
  internal/report/typst/typstbin/typstbin_test.go
Due: go

[go] refactor download.go: remove zip support and streamline archive handling
  internal/report/typst/typstbin/download.go
Due: go

[go] streamline PDF metadata handling and improve error management
  internal/report/typst/pdf_metadata.go
  internal/report/typst/render.go
  internal/report/typst/typstbin/deps.go
  internal/report/typst/typstbin/embed_off.go
  internal/report/typst/typstbin/typstbin.go
  internal/report/typst_generate.go
Due: go

[docs] update PDF reporting to clarify Typst resolution options and add downloader details
  docs/platform/operations/pdf-reporting.md
Due: none

[go] enhance TestRenderResolveAndMetadataErrors: preserve original PATH environment variable
  internal/report/typst/render_test.go
Due: go

[docs] consolidate PDF migration documentation: merge phase results and parity todo into migration plan
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/pdf-typst-parity-todo.md
  docs/plans/pdf-typst-phase-0-results.md
Due: none

[docs] update PDF migration plan: fix links to Typst renderer and templates for clarity
  docs/plans/pdf-typst-migration-plan.md
Due: none

[img] encapsulate Docker temp cache removal in a dedicated function
  image/scripts/build-image.sh
Due: none

[py] add test for Docker Go cache cleanup in build script
  scripts/test_update_packaging.py
Due: none

[docs] update CHANGELOG.md to reflect changes in Typst report engine and security hardening improvements
  CHANGELOG.md
Due: none

[ver] bump version to 0.5.1-pre24 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[public] update stack.png image for improved visual quality
  public_html/src/images/stack.png
Due: none

[docs] update DEVLOG.md to reflect recent enhancements in Typst map editor and Docker cache management
  docs/DEVLOG.md
Due: none

[docs] update DEVLOG.md to reflect changes in single-binary transition, build fixes, and enhancements to CLI commands
  docs/DEVLOG.md
Due: none

[docs][ci] 0.5.1-pre24 changelog/devlog & Docker cache fix (#523)
  CHANGELOG.md
  Makefile
  docs/DEVLOG.md
  image/scripts/build-image.sh
  public_html/src/images/stack.png
  scripts/test_update_packaging.py
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[docs] update backlog
  docs/BACKLOG.md
Due: none

[release] update to version 0.5.1-pre24 with new URLs, sizes, and checksums
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[ai][docs] graduate v050-backward-compatibility-shim-removal-plan to symlink
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  docs/platform/operations/v050-release-migration.md
Due: none

[ai][docs] graduation prep: complete finished plans, consolidate to hub docs
  docs/plans/cli-restructuring-plan.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/plans/pdf-go-chart-migration-plan.md
  docs/plans/pdf-latex-precompiled-format-plan.md
  docs/plans/pdf-pure-go-latex-plan.md
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/visualiser-performance-investigation.md
  docs/platform/operations/distribution-packaging.md
  docs/platform/operations/pdf-reporting.md
Due: none

[img] update release .json's (#525)
  docs/BACKLOG.md
  docs/plans/cli-restructuring-plan.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/plans/pdf-go-chart-migration-plan.md
  docs/plans/pdf-latex-precompiled-format-plan.md
  docs/plans/pdf-pure-go-latex-plan.md
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/v050-backward-compatibility-shim-removal-plan.md
  docs/plans/visualiser-performance-investigation.md
  docs/platform/operations/distribution-packaging.md
  docs/platform/operations/pdf-reporting.md
  docs/platform/operations/v050-release-migration.md
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[ai][docs] graduate 8 completed plans to symlinks
  docs/plans/cli-restructuring-plan.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/plans/pdf-go-chart-migration-plan.md
  docs/plans/pdf-latex-precompiled-format-plan.md
  docs/plans/pdf-pure-go-latex-plan.md
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/visualiser-performance-investigation.md
  docs/platform/architecture/canonical-plan-graduation.md
  docs/platform/operations/pdf-reporting.md
  docs/radar/cli-comprehensive-guide.md
  docs/ui/visualiser/performance-investigation.md
Due: none

[ai][docs] make reference docs durable: drop drift-prone counts
  .github/agents/README.md
  .github/knowledge/architecture.md
  CLAUDE.md
  data/structures/DATA_STRUCTURES.md
  docs/platform/architecture/canonical-plan-graduation.md
Due: none

[ai][docs] make reference docs durable: resolve borderline drift cases
  .github/copilot-instructions.md
  .github/knowledge/architecture.md
  .github/knowledge/build-and-test.md
  CLAUDE.md
  data/structures/DATA_STRUCTURES.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review.md
  docs/lidar/troubleshooting/01-tracking-upgrades.md
  docs/platform/architecture/go-package-structure.md
  docs/platform/operations/agent-preparedness.md
  docs/platform/operations/quality-coverage.md
  docs/ui/visualiser/architecture.md
  docs/ui/visualiser/implementation.md
  internal/db/migrations/README.md
Due: go

[docs] graduate completed plans (#526)
  .github/agents/README.md
  .github/copilot-instructions.md
  .github/knowledge/architecture.md
  .github/knowledge/build-and-test.md
  CLAUDE.md
  data/structures/DATA_STRUCTURES.md
  docs/lidar/architecture/lidar-layer-alignment-refactor-review.md
  docs/lidar/troubleshooting/01-tracking-upgrades.md
  docs/plans/cli-restructuring-plan.md
  docs/plans/deploy-distribution-packaging-plan.md
  docs/plans/deploy-versioned-binary-plan.md
  docs/plans/pdf-go-chart-migration-plan.md
  docs/plans/pdf-latex-precompiled-format-plan.md
  docs/plans/pdf-pure-go-latex-plan.md
  docs/plans/pdf-typst-migration-plan.md
  docs/plans/visualiser-performance-investigation.md
  docs/platform/architecture/canonical-plan-graduation.md
  docs/platform/architecture/go-package-structure.md
  docs/platform/operations/agent-preparedness.md
  docs/platform/operations/pdf-reporting.md
  docs/platform/operations/quality-coverage.md
  docs/radar/cli-comprehensive-guide.md
  docs/ui/visualiser/architecture.md
  docs/ui/visualiser/implementation.md
  docs/ui/visualiser/performance-investigation.md
  internal/db/migrations/README.md
Due: go

[ai][go] date-range API: ISO 8601 instants for queries, dates for reports
  internal/api/coverage_test.go
  internal/api/date_coverage_test.go
  internal/api/handlers_test.go
  internal/api/parse_date_range_test.go
  internal/api/radar_stats_correction_test.go
  internal/api/server_charts.go
  internal/api/server_charts_test.go
  internal/api/server_coverage_test.go
  internal/api/server_radar.go
  internal/api/server_reports_generate.go
  internal/api/server_test.go
Due: go

[ai][js] dashboard sends ISO 8601 instants computed in the display timezone
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/dateUtils.test.ts
  web/src/lib/dateUtils.ts
  web/src/lib/timezone.test.ts
  web/src/lib/timezone.ts
  web/src/routes/+page.svelte
  web/src/routes/reports/+page.svelte
Due: web

[ai][docs] document the date design for the DB and APIs
  ARCHITECTURE.md
  DEBUGGING.md
  docs/radar/architecture/dates-and-timezones.md
Due: none

[ver] bump version to 0.5.1-pre25 across all relevant files
  Makefile
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: mac

[ai][js] assert calendar date in tomorrowLocal no-arg test
  web/src/lib/dateUtils.test.ts
Due: web

[ai][js] use RFC3339 instants in getRadarStats client tests
  web/src/lib/api.test.ts
Due: web

[go][js] fix chart timezone bug (#527)
  ARCHITECTURE.md
  DEBUGGING.md
  Makefile
  docs/radar/architecture/dates-and-timezones.md
  internal/api/coverage_test.go
  internal/api/date_coverage_test.go
  internal/api/handlers_test.go
  internal/api/parse_date_range_test.go
  internal/api/radar_stats_correction_test.go
  internal/api/server_charts.go
  internal/api/server_charts_test.go
  internal/api/server_coverage_test.go
  internal/api/server_radar.go
  internal/api/server_reports_generate.go
  internal/api/server_test.go
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/dateUtils.test.ts
  web/src/lib/dateUtils.ts
  web/src/lib/timezone.test.ts
  web/src/lib/timezone.ts
  web/src/routes/+page.svelte
  web/src/routes/reports/+page.svelte
Due: go, web, mac

[cfg] update to version 0.5.1-pre25 with new URLs and checksums
  image/os-list-velocity.json
  public_html/src/_data/release.json
Due: none

[py] enhance asset name matching for release binaries and add new test cases
  scripts/test_update_packaging.py
  scripts/update-release-json.py
Due: none

[cfg] v0.5.1-pre25 release json (#528)
  image/os-list-velocity.json
  public_html/src/_data/release.json
  scripts/test_update_packaging.py
  scripts/update-release-json.py
Due: none

[ai][ci][py] add nightly LOC + coverage chart job
  .github/workflows/loc-coverage-chart.yml
  .github/workflows/nightly-full-ci.yml
  .gitignore
  Makefile
  README.md
  scripts/loc-coverage-chart.py
  scripts/publish-stats-branch.sh
  scripts/test_loc_coverage_chart.py
Due: none

[ai][py] fix cloc invocation: enumerate files via git ls-files
  scripts/loc-coverage-chart.py
Due: none

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
