Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[ai][go][docs] l1packets: read PCAP packets in place (#679)
  docs/lidar/operations/pcap-analysis-mode.md
  docs/lidar/operations/pcap-read-in-place-2026-10.md
  internal/lidar/l1packets/network/pcap.go
  internal/lidar/l1packets/network/pcap_count.go
  internal/lidar/l1packets/network/pcap_next.go
  internal/lidar/l1packets/network/pcap_next_test.go
Due: go

[ai][go] api: read an overflowing long-poll version as 0, not MaxUint64
  internal/api/server_tailscale.go
  internal/api/server_tailscale_test.go
Due: go

[ai][js] public_html: override shell-quote, js-yaml and markdown-it to patched versions
  public_html/pnpm-lock.yaml
  public_html/pnpm-workspace.yaml
Due: none

[ai][js] docs_html: override js-yaml, lodash-es and markdown-it to patched versions
  docs_html/pnpm-lock.yaml
  docs_html/pnpm-workspace.yaml
Due: none

[ai][js] web: override sveld so Svelte 4 leaves the dependency tree
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
Due: none

[ai][py] requirements: idna 3.10 to 3.15
  requirements.txt
Due: none

[ai][sql][go] site config periods: a posted speed limit, its unit and its jurisdiction
  internal/api/server_sites.go
  internal/api/site_config_periods_test.go
  internal/db/migration_059_test.go
  internal/db/migrations/000059_site_config_speed_limit.down.sql
  internal/db/migrations/000059_site_config_speed_limit.up.sql
  internal/db/schema.sql
  internal/db/site_config_periods.go
  internal/db/site_config_speed_limit_test.go
Due: go

[ai][js] site page: edit a period's posted speed limit and jurisdiction
  web/src/lib/api.ts
  web/src/lib/speedLimit.test.ts
  web/src/lib/speedLimit.ts
  web/src/routes/site/[id]/+page.svelte
Due: web

[ai][docs] matrix and behaviour plan: the site config period's speed limit
  data/structures/MATRIX.md
  docs/plans/lidar-behaviour-analytics-plan.md
Due: none

[ai][go] tailscale ACL gate: never grant an unresolved peer; refuse Funnel; typed not-found
  internal/api/auth.go
  internal/api/auth_test.go
  internal/cmd/server/radar.go
  internal/tailscale/peercaps.go
  internal/tailscale/peercaps_test.go
Due: go

[ai][docs] Tailscale guide: the gate's sources, failure modes, ports and Funnel
  docs/platform/operations/tailscale-remote-access.md
Due: none

[ai][go][docs] tailscale ACL gate: refuse Funnel and forwarded outsiders on ungated routes too
  docs/platform/operations/tailscale-remote-access.md
  internal/api/auth.go
  internal/api/auth_test.go
  internal/api/server.go
Due: go

[ai][go] l8behaviour: clip a stored following encounter to a window, recomputed
  internal/lidar/l8behaviour/clip.go
  internal/lidar/l8behaviour/clip_test.go
  internal/lidar/l8behaviour/interaction.go
Due: go

[ai][go] scene headway: read overlapping encounters and serve them clipped to the window
  internal/api/server_scenes_headway.go
  internal/api/server_scenes_headway_test.go
  internal/lidar/l8behaviour/surface.go
  internal/lidar/storage/sqlite/interaction_store.go
  internal/lidar/storage/sqlite/interaction_store_test.go
Due: go

[ai][docs] behaviour plan, R4 and backlog: scene encounters are clipped to the window
  docs/BACKLOG.md
  docs/lidar/operations/0.5.2-sprint-review.md
  docs/plans/lidar-behaviour-analytics-plan.md
Due: none

[ai][docs] perf guide: name no worktree path the stale-path check cannot find
  docs/lidar/operations/performance-regression-testing.md
Due: none

[ai][go][docs] clipping: count unobserved leader rows, half-open window, portable bounds
  docs/plans/lidar-behaviour-analytics-plan.md
  internal/api/server_scenes_headway.go
  internal/lidar/l8behaviour/clip.go
  internal/lidar/l8behaviour/clip_test.go
Due: go

[ai][go] lidarbench: give the heap stability test CI's noise room
  internal/lidar/lidarbench/profile_work_test.go
Due: go

[ai][go][docs] tailscale ACL gate: review follow-ups (lookup race, status redaction, refusal log)
  docs/platform/operations/tailscale-remote-access.md
  internal/api/auth.go
  internal/api/auth_test.go
  internal/api/server.go
  internal/api/server_tailscale.go
  internal/api/server_tailscale_test.go
  internal/tailscale/manager.go
  internal/tailscale/peercaps.go
  internal/tailscale/peercaps_test.go
Due: go

[ai][go] l8behaviour: held-out scoring v2 pins reference content and gates coverage
  internal/lidar/l8behaviour/heldout.go
  internal/lidar/l8behaviour/heldout_test.go
Due: go

[ai][docs] held-out scoring v2: method table, behaviour plan, R6 status and backlog
  docs/BACKLOG.md
  docs/lidar/architecture/lidar-pipeline-reference.md
  docs/lidar/operations/0.5.2-sprint-review.md
  docs/plans/lidar-behaviour-analytics-plan.md
Due: none

[ai][go] replayeval: time each scored frame's pipeline callback under -campaign-metrics
  internal/lidar/replayeval/campaign_metrics.go
  internal/lidar/replayeval/campaign_metrics_pcap_test.go
  internal/lidar/replayeval/campaign_metrics_test.go
  internal/lidar/replayeval/replayeval.go
Due: go

[ai][docs] near-edge frame cost: A2 moves the frame 2-7% at p99 where its update is 9-21x
  docs/lidar/LIDAR.md
  docs/lidar/operations/near-edge-frame-cost-2026-10.md
Due: none

[ai][go] analysis runs: store run statistics when a run completes
  internal/lidar/l5tracks/quality_metrics_test.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/l8analytics/summary.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
  internal/lidar/storage/sqlite/analysis_run_mutations.go
Due: go

[ai][go] run track API: GET /api/lidar/runs/{id}/statistics
  internal/lidar/server/run_track_api.go
  internal/lidar/server/run_track_api_test.go
Due: go

[ai][js] web API: RunStatistics type and getRunStatistics
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/types/lidar.ts
Due: web

[ai][docs] unpopulated data structures: Phases 1 and 4 implemented
  data/structures/MATRIX.md
  docs/BACKLOG.md
  docs/lidar/operations/data-completeness-remediation.md
  docs/plans/unpopulated-data-structures-remediation-plan.md
Due: none

[ai][go] run statistics: read the tracker's lifetime counters
  internal/lidar/l5tracks/quality_metrics_test.go
  internal/lidar/l5tracks/spatial_coverage_test.go
  internal/lidar/l5tracks/tracking_metrics.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
Due: go

[ai][go] lidar_tracks: write the track quality columns
  internal/lidar/server/track_api_format.go
  internal/lidar/server/track_api_test.go
  internal/lidar/server/webserver_coverage_test.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/track_quality_sql.go
  internal/lidar/storage/sqlite/track_quality_sql_test.go
  internal/lidar/storage/sqlite/track_store.go
Due: go

[ai][js] web Track type: track length and occlusion counters
  web/src/lib/types/lidar.ts
Due: web

[ai][docs] unpopulated data structures: Phase 2 implemented
  data/structures/MATRIX.md
  docs/BACKLOG.md
  docs/lidar/operations/data-completeness-remediation.md
  docs/plans/unpopulated-data-structures-remediation-plan.md
Due: none

[ai][go] transits: magnitude-only radar rows are diagnostics, not inputs
  internal/db/transit_gaps.go
  internal/db/transit_magnitude_only_test.go
  internal/db/transit_worker.go
Due: go

[ai][docs] runtime correctness: Phase 3 transit contract delivered
  docs/BACKLOG.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/platform/architecture/runtime-pipeline-correctness.md
  docs/radar/architecture/transit-deduplication.md
Due: none

[ai][go] capabilities: report LiDAR ready or error from its startup
  internal/cmd/server/capabilities.go
  internal/cmd/server/capabilities_lifecycle_test.go
  internal/cmd/server/radar.go
  internal/lidar/server/server.go
  internal/lidar/server/webserver_test.go
Due: go

[ai][docs] runtime correctness: Phase 4 capability lifecycle delivered
  docs/BACKLOG.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/platform/architecture/runtime-pipeline-correctness.md
Due: none

[ai][go] track quality: store occlusions the track was seen again after
  internal/lidar/l5tracks/closed_occlusion_test.go
  internal/lidar/l5tracks/tracking.go
  internal/lidar/server/track_api_format.go
  internal/lidar/server/track_api_test.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
  internal/lidar/storage/sqlite/track_quality_sql.go
  internal/lidar/storage/sqlite/track_quality_sql_test.go
Due: go

[ai][go] analysis runs: complete without statistics that cannot encode
  internal/lidar/storage/sqlite/analysis_run_manager_test.go
  internal/lidar/storage/sqlite/analysis_run_mutations.go
Due: go

[ai][js] web types: say what the track quality fields measure
  web/src/lib/types/lidar.ts
Due: web

[ai][docs] unpopulated data structures: review findings and Phase 3's precondition
  data/structures/MATRIX.md
  docs/BACKLOG.md
  docs/lidar/operations/data-completeness-remediation.md
  docs/plans/unpopulated-data-structures-remediation-plan.md
Due: none

[ai][go] held-out scoring v2: validate estimates, digest after validation
  internal/lidar/l8behaviour/heldout.go
  internal/lidar/l8behaviour/heldout_test.go
Due: go

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
