Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

[lidar] add creation_sequence to lidar_track_estimates for deterministic tracking
  internal/db/migrations/000050_lidar_track_estimates_creation_sequence.down.sql
  internal/db/migrations/000050_lidar_track_estimates_creation_sequence.up.sql
  internal/db/schema.sql
  internal/lidar/pipeline/state_estimate_sink.go
  internal/lidar/storage/sqlite/evidence_oracle.go
  internal/lidar/storage/sqlite/evidence_oracle_test.go
  internal/lidar/storage/sqlite/state_estimate_store.go
Due: go

[docs] add deterministic track identity plan to ensure reproducible track_id across replays
  docs/BACKLOG.md
  docs/plans/lidar-deterministic-track-identity-plan.md
Due: none

[docs] Refine lidar plans for clarity and target sequencing
  ARCHITECTURE.md
  docs/BACKLOG.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-deterministic-scene-capture-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/metrics-registry-and-observability-plan.md
Due: none

[lidar] Enhance PCAP replay handling with analysis mode support
  docs/BACKLOG.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  internal/cmd/server/radar.go
  internal/lidar/pipeline/throttle_gating_test.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/pipeline/tracking_pipeline_coverage_test.go
  internal/lidar/server/client.go
  internal/lidar/server/client_test.go
  internal/lidar/server/pipeline_state.go
  internal/lidar/server/playback_api_test.go
  internal/lidar/server/playback_handlers.go
  internal/lidar/server/playback_handlers_coverage_extra_test.go
  internal/lidar/server/server.go
  internal/lidar/server/webserver_coverage_test.go
Due: go

[docs] Update DEVLOG with recent changes on evidence oracle profiling and deterministic track identity
  docs/DEVLOG.md
Due: none

[docs] Update BACKLOG with corpus provenance and lossless frame-batch acceptance details
  docs/BACKLOG.md
Due: none

[docs] Update BACKLOG and corpus baseline with detailed Phase 0 replay evidence and association failure analysis
  docs/BACKLOG.md
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
Due: none

[docs] add jump-track replacement review documentation
  ARCHITECTURE.md
  docs/BACKLOG.md
  docs/VISION.md
  docs/lidar/operations/lidar-jump-track-replacement-review.md
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  docs/plans/data-traffic-description-language-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-state-estimation-plan.md
  docs/plans/metrics-registry-and-observability-plan.md
  docs/platform/architecture/traffic-description-language.md
Due: none

[docs] add frozen jump-track replacement JSON artefact
  docs/lidar/operations/lidar-jump-track-replacement-20260915.json
Due: none

[docs] Update BACKLOG with Phase 1 persistence gate details and new metrics for behaviour analytics
  docs/BACKLOG.md
Due: none

[docs] complete Phase 0 failure-cause review with three reconstructed episodes
  docs/BACKLOG.md
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
Due: none

[docs] sync plan-doc milestone references with renumbered v0.5.x/v0.6.x backlog
  docs/plans/archive-ingest-in-go-plan.md
  docs/plans/deploy-nginx-removal-plan.md
  docs/plans/deploy-single-binary-image-consolidation-plan.md
  docs/plans/go-cmd-extraction-plan.md
  docs/plans/go-runtime-pipeline-correctness-plan.md
  docs/plans/go-structured-logging-plan.md
  docs/plans/lidar-bodies-in-motion-plan.md
  docs/plans/lidar-captures-multi-file-cases-plan.md
  docs/plans/lidar-deterministic-scene-capture-plan.md
  docs/plans/lidar-ml-classifier-training-plan.md
  docs/plans/lidar-replay-case-terminology-alignment-plan.md
  docs/plans/lidar-scene-catalogue-publishing-plan.md
  docs/plans/lidar-seam-frame-salvage-plan.md
  docs/plans/lidar-shape-descriptors-plan.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  docs/plans/lidar-visualiser-trails-and-uncertainty-visualisation-plan.md
  docs/plans/lidar-web-scene-export-plan.md
  docs/plans/platform-simplification-and-deprecation-plan.md
  docs/plans/radar-serial-line-classification-and-command-response-plan.md
  docs/plans/speed-percentile-aggregation-alignment-plan.md
Due: none

[docs] resolve remaining v0.5.x/v0.6.x+ placeholders to concrete sprint numbers
  docs/plans/go-codebase-structural-hygiene-plan.md
  docs/plans/lidar-behaviour-analytics-plan.md
  docs/plans/lidar-deterministic-track-identity-plan.md
  docs/plans/speed-percentile-aggregation-alignment-plan.md
Due: none

[ai][js] port track picking and region marking into the scene, drop the flat map
  docs/BACKLOG.md
  public_html/src/js/__tests__/scene-player.test.mjs
  public_html/src/js/scene-player.js
  web/src/lib/components/lidar/MapPane.svelte
  web/src/lib/components/lidar/ScenePane.svelte
  web/src/lib/scene/scene-reader.d.ts
  web/src/routes/lidar/tracks/+page.svelte
Due: web

[go][docs] real per-site calibration identity, and measure P11 gradient on the corpus
  cmd/tools/lidar-state-estimation-baseline/calibration_test.go
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/BACKLOG.md
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/replayeval.go
Due: go, go-cli

[ai][js] render the tracks page through the shared scene player
  .claude/launch.json
  public_html/src/js/__tests__/scene-reader.test.mjs
  public_html/src/js/scene-player.js
  public_html/src/js/scene-reader.js
  web/jest.config.js
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/lidar/ScenePane.svelte
  web/src/lib/scene/__tests__/liveSceneSource.test.ts
  web/src/lib/scene/liveSceneSource.ts
  web/src/lib/scene/scene-reader.d.ts
  web/src/routes/lidar/tracks/+page.svelte
  web/svelte.config.js
  web/vite.config.ts
Due: web

[go][docs] generalise the P11 ground-plane fit to independently-fitted regions
  cmd/tools/lidar-state-estimation-baseline/main.go
  docs/BACKLOG.md
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/l3grid/ground_surface.go
  internal/lidar/l3grid/ground_surface_test.go
  internal/lidar/l4perception/surface_filter.go
  internal/lidar/pipeline/tracking_pipeline.go
  internal/lidar/replayeval/replayeval.go
Due: go, go-cli

[ai][go][docs] measure Kalman gaps K1 and K2, and leave both defaults alone
  data/maths/paper-implementation-gap-analysis.md
  docs/BACKLOG.md
  docs/plans/lidar-single-site-shape-demo-sprint-plan.md
  internal/lidar/l5tracks/tracking_association.go
  internal/lidar/l5tracks/tracking_config.go
  internal/lidar/l5tracks/tracking_covariance.go
  internal/lidar/l5tracks/tracking_covariance_test.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][go][docs] solid-body numerical diagnostics: HW1, P1 and P2
  data/maths/paper-implementation-gap-analysis.md
  docs/BACKLOG.md
  internal/lidar/l3grid/background_closeness.go
  internal/lidar/l3grid/background_closeness_test.go
  internal/lidar/l3grid/background_manager.go
  internal/lidar/l4perception/obb.go
  internal/lidar/l4perception/obb_degenerate_test.go
  internal/lidar/l5tracks/heading_degenerate_test.go
  internal/lidar/l5tracks/tracking_update.go
Due: go

[ai][go][docs] measure the closeness threshold against deployed background grids
  cmd/tools/lidar-closeness-audit/main.go
  data/maths/paper-implementation-gap-analysis.md
  docs/BACKLOG.md
  internal/db/db_bg_snapshots.go
  internal/lidar/l3grid/background_closeness.go
  internal/lidar/l3grid/background_closeness_test.go
  internal/lidar/l3grid/background_manager.go
Due: go, go-cli

[ai][go][docs] correct the HW1 measurement: the closeness window is not the whole decision
  cmd/tools/lidar-closeness-audit/main.go
  data/maths/paper-implementation-gap-analysis.md
  docs/BACKLOG.md
  internal/lidar/l3grid/background_closeness.go
  internal/lidar/l3grid/background_closeness_test.go
  internal/lidar/l3grid/foreground.go
Due: go, go-cli

[ai][go][docs] attribute the L3 wide-spread tail by ring: not a feedback loop
  cmd/tools/lidar-closeness-audit/main.go
  cmd/tools/lidar-closeness-audit/ringanalysis.go
  cmd/tools/lidar-closeness-audit/ringanalysis_test.go
  data/maths/paper-implementation-gap-analysis.md
  docs/BACKLOG.md
Due: go-cli

[ai][go][docs] solid-body estimate contract
  docs/BACKLOG.md
  internal/lidar/l5tracks/solid_body.go
  internal/lidar/l5tracks/solid_body_lifecycle.go
  internal/lidar/l5tracks/solid_body_test.go
Due: go

[ai][docs] record the solid-body contract in the plan status
  docs/plans/lidar-state-estimation-plan.md
Due: none

[ai][go][docs] near-edge measurement model with variable-rank measurement
  docs/BACKLOG.md
  internal/lidar/l5tracks/measurement_model.go
  internal/lidar/l5tracks/measurement_model_test.go
Due: go

[ai][go][docs] promote the synthetic Pandar40P pass into l4perception
  docs/plans/lidar-state-estimation-plan.md
  internal/lidar/l4perception/synthetic_pass.go
  internal/lidar/l4perception/synthetic_pass_test.go
Due: go

[ai][go] E1.1 conditional-mean-by-aspect, the decisive test
  cmd/tools/lidar-e1-analysis/conditional.go
  cmd/tools/lidar-e1-analysis/conditional_test.go
  cmd/tools/lidar-e1-analysis/main.go
  internal/lidar/storage/sqlite/state_estimate_store.go
Due: go, go-cli

[ai][js][docs][cfg] fix the three CI failures and recapture the stale perf baselines
  docs/lidar/architecture/lidar-layer-alignment-refactor-review.md
  docs/lidar/troubleshooting/garbage-tracks-checklist.md
  docs/plans/data-sqlite-schema-v2-freeze-plan.md
  docs/plans/label-vocabulary-consolidation-plan.md
  docs/plans/lidar-track-labelling-auto-aware-tuning-plan.md
  internal/lidar/perf/baseline/baseline-kirk0-full-mac.json
  internal/lidar/perf/baseline/baseline-kirk0-l3-only-mac.json
  web/vite.config.ts
Due: go

[ai][go] E1 analysis tool: cross-measurement disagreement by aspect and range
  cmd/tools/lidar-e1-analysis/main.go
  cmd/tools/lidar-e1-analysis/main_test.go
Due: go-cli

[ai][go] drive the frame timer's tests from an injectable clock
  internal/lidar/pipeline/frame_timer.go
  internal/lidar/pipeline/frame_timer_test.go
Due: go

[ai][go][docs] E1 run on the three-site corpus: the medoid's bias is aspect-conditioned
  cmd/tools/lidar-e1-analysis/main.go
  docs/BACKLOG.md
  docs/lidar/operations/state-estimation-e1-20260916.json
  docs/lidar/operations/state-estimation-e1-lateral-error.md
  docs/plans/lidar-state-estimation-plan.md
Due: go-cli

[ai][docs] rewrite the quarter-block check in python so it ignores the caller's locale
  Makefile
  scripts/check-quarter-blocks.py
  scripts/check-quarter-blocks.sh
  scripts/test_check_quarter_blocks.py
Due: none

[ai][docs] note point-cloud annotation in the README's visualiser row
  README.md
Due: none

[ai][docs] log the branch's September 15 and 16 work in the DEVLOG
  docs/DEVLOG.md
Due: none

[ai][docs] record the offline-replay warm-up guidance and the kirk0 ladder
  docs/lidar/operations/settling-time-optimisation.md
  docs/lidar/operations/test-corpus.md
Due: none

[ai][cfg] show the real run paths in evidence-paths
  Makefile
Due: none

[ai][go][cfg] set the LiDAR capture, recording and evidence paths independently
  cmd/tools/lidar-state-estimation-baseline/case_filter_test.go
  cmd/tools/lidar-state-estimation-baseline/main.go
Due: go-cli

[ai][cfg] list the evidence targets in make help
  Makefile
Due: none

[ai][docs] record the Columbus re-run, and correct the E1 estimate counts
  docs/lidar/operations/state-estimation-e1-lateral-error.md
  docs/lidar/operations/state-estimation-phase01-corpus-baseline.md
Due: none

[ai][cfg] add LIDAR_ANNOTATION_DIR and EVIDENCE_DURATION to the Makefile
  Makefile
Due: none

Path conditions:
  go: any of: internal/
  go-cli: any of: cmd/
  python: any of: tools/pdf-generator/
  web: any of: web/src/
  mac: any of: tools/visualiser-macos/
