Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[mac] playback controls for optimistic updates and improve frame handling
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
Due: mac

[mac] implement seeking and replay handling in AppState; add slider editing state management in UI
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: mac

[go] add logging for playback control actions in replay mode
  internal/lidar/visualiser/replay.go
Due: go

[docs] update implementation plan: mark 3D camera controls and playback features as complete
  ARCHITECTURE.md
  README.md
  docs/lidar/visualiser/04-implementation-plan.md
  docs/lidar/visualiser/M1-FRONTEND-TODO.md
Due: none

[go] enhance replay server with seek state management and timing reset
  internal/lidar/visualiser/replay.go
Due: go

[go] add sendOneFrame flag to ReplayServer for single frame updates during pause
  internal/lidar/visualiser/replay.go
Due: go

[mac] add playback rate management: implement increase, decrease, and reset functions with UI display
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: mac

[mac] enhance playback rate management: update increaseRate and decreaseRate methods to support higher limits and add reset functionality
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
Due: mac

[go] enhance playback info: add current frame index and total frames to PlaybackInfo structure
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/model.go
  internal/lidar/visualiser/pb/visualiser.pb.go
  internal/lidar/visualiser/recorder/recorder.go
Due: go

[mac] enhance playback info: add current frame index and total frames to PlaybackInfo structure and update related components
  proto/velocity_visualiser/v1/visualiser.proto
  tools/visualiser-macos/VelocityVisualiser/App/AppState.swift
  tools/visualiser-macos/VelocityVisualiser/Models/Models.swift
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
  tools/visualiser-macos/VelocityVisualiserTests/VelocityVisualiserTests.swift
Due: mac

[docs] update macOS badge
  README.md
Due: none

[make] Update dev-go-lidar command to include lidar-forward-mode option
  Makefile
Due: none

[py][mac] format
  data/align/get_telraam.py
  data/align/get_unifi.py
  tools/pdf-generator/pdf_generator/cli/main.py
  tools/pdf-generator/pdf_generator/tests/test_zip_utils.py
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: python, mac

[go] ensure history length consistency in trail point allocation to prevent race conditions
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/adapter_test.go
Due: go

[mac] prevent compression of StatsDisplayView and OverlayTogglesView when viewport shrinks
  tools/visualiser-macos/VelocityVisualiser/UI/ContentView.swift
Due: mac

[docs] update CI badges
  README.md
Due: none

[docs] update architecture documentation to include gRPC server details and features for macOS visualiser
  ARCHITECTURE.md
Due: none

[docs] update implementation plan to reflect completion of M0-M3 milestones and add detailed implementation notes
  docs/lidar/visualiser/04-implementation-plan.md
Due: none

[docs] reorganize CI and coverage badges in README for clarity
  README.md
Due: none

[go][mac] increase max message size to 16MB for handling large point clouds in Publisher and VisualiserClient
  internal/lidar/visualiser/publisher.go
  tools/visualiser-macos/VelocityVisualiser/gRPC/VisualiserClient.swift
Due: go, mac

[mac] add unit tests for AppState, LabelAPIClient, Model, and VisualiserClient with full coverage
  tools/visualiser-macos/VelocityVisualiserTests/AppStateTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/LabelAPIClientTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/ModelExtendedTests.swift
  tools/visualiser-macos/VelocityVisualiserTests/VisualiserClientTests.swift
Due: mac

[go] use dynamic port for GRPC server in RegisterService and Publisher tests to avoid conflicts
  internal/lidar/visualiser/grpc_server_test.go
Due: go

[go] add performance tracking and logging for FrameAdapter and gRPC server
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/grpc_server.go
  internal/lidar/visualiser/publisher.go
Due: go

[make] add dev-go-lidar-grpc target to Makefile for gRPC lidar forwarding
  Makefile
Due: none

[go] enhance performance profiling with pprof integration and optimize memory usage in FrameAdapter
  internal/api/server.go
  internal/db/db.go
  internal/lidar/visualiser/adapter.go
  internal/lidar/visualiser/grpc_server.go
Due: go

[go] add lidar background flushing control and update Makefile targets
  .gitignore
  Makefile
  cmd/radar/radar.go
Due: go-cli

[go] add tests for lidar background flushing flags and their parsing logic
  cmd/radar/flags_test.go
Due: go-cli

[go] remove pprof registration and update comments for performance profiling
  internal/api/server.go
Due: go

[docs] perf investigation for lidar visualiser gRPC server
  docs/lidar/visualiser/performance-investigation.md
Due: none

[go] update busy_timeout expectation in pragmas tests to 30 seconds
  internal/db/db_extended_test.go
  internal/db/pragmas_test.go
Due: go

[docs] add M3.5 milestone for split streaming optimization and update performance investigation details
  docs/lidar/visualiser/04-implementation-plan.md
  docs/lidar/visualiser/performance-investigation.md
Due: none

[docs] format
  docs/lidar/visualiser/04-implementation-plan.md
Due: none

[mac] add app icon assets and update project configuration
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Contents.json
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-1024x1024@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-128x128@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-128x128@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-16x16@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-16x16@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-256x256@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-256x256@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-32x32@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-32x32@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Icon-iOS-Default-512x512@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/Contents.json
Due: mac

Update tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Contents.json
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Contents.json
Due: mac

[fs] rename app icons to match naming convention
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-1024x1024@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-128x128@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-128x128@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-16x16@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-16x16@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-256x256@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-256x256@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-32x32@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-32x32@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-512x512@1x.png
Due: mac

[mac] add app icon assets and update project configuration (#241)
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-1024x1024@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-128x128@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-128x128@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-16x16@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-16x16@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-256x256@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-256x256@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-32x32@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-32x32@2x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/AppIcon-512x512@1x.png
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/AppIcon.appiconset/Contents.json
  tools/visualiser-macos/VelocityVisualiser/Assets.xcassets/Contents.json
Due: mac

[docs] LiDAR settling time optimisation plan (#242)
  docs/lidar/future/settling-time-optimisation.md
Due: none

[ci] Add Git LFS validation to CI workflow
  .github/workflows/go-ci.yml
  scripts/validate-lfs-files.sh
Due: none
