Repository banshee-data/velocity.report: changes, and which Codecov flags are due for each by the changed paths.
All: go, go-cli, python, web, mac

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

# Define coverage flags for each component
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 1%
      - type: patch
        target: auto
        threshold: 1%

flags:
  go:
    paths:
      - internal/
    carryforward: true
  go-cli:
    paths:
      - cmd/
    carryforward: true
  python:
    paths:
      - tools/pdf-generator/
    carryforward: true
  web:
    paths:
      - web/src/
    carryforward: true
  mac:
    paths:
      - tools/visualiser-macos/
    carryforward: true

[go] Enhance PCAP handling with new replay frame builder interface and improve error management in path resolution
  internal/lidar/server/datasource_handlers.go
  internal/lidar/server/datasource_handlers_coverage_extra_test.go
  internal/lidar/server/datasource_handlers_test.go
Due: go

[go] refactor scene API handlers to use dedicated functions for PCAP start and analysis run ID retrieval, and add tests for fallback behavior in scene evaluations
  internal/lidar/server/scene_api.go
  internal/lidar/server/scene_api_coverage_test.go
Due: go

[go] Refactor analysis run record handling by introducing dedicated functions for record collection and capabilities retrieval
  internal/lidar/storage/sqlite/analysis_run_queries.go
  internal/lidar/storage/sqlite/analysis_run_schema.go
Due: go

[go] Refactor reprocess run handling by introducing dedicated functions for PCAP start and analysis run ID retrieval, and add tests for fallback behavior
  internal/lidar/server/run_track_api.go
  internal/lidar/server/run_track_api_coverage_test.go
Due: go

[go] Add tests for analysis mode response in handlePCAPStart and enhance error handling in analysis run queries
  internal/lidar/server/playback_handlers_coverage_extra_test.go
  internal/lidar/storage/sqlite/immutable_run_config_coverage_test.go
Due: go

[js] Add tests for cosine correction in radar stats and enhance error handling in site config periods and report generation
  web/src/lib/api.test.ts
Due: web

[ver] bump version to 0.5.0-pre24 in Makefile, package.json, pyproject.toml, and project.pbxproj
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
Due: python, mac

[go][js] capabilities API, hide lidar in UI (#427)
  Makefile
  cmd/radar/capabilities.go
  cmd/radar/capabilities_test.go
  cmd/radar/radar.go
  docs/plans/web-frontend-consolidation-plan.md
  internal/api/capabilities_test.go
  internal/api/server.go
  internal/api/server_admin.go
  internal/db/migrate.go
  internal/db/migrations/000034_schema_hardening_pre_v050.up.sql
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/lib/stores/capabilities.test.ts
  web/src/lib/stores/capabilities.ts
  web/src/routes/+layout.svelte
Due: go, go-cli, python, web, mac

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_30b8e6231acb183e_api_client_py.html
  htmlcov/z_30b8e6231acb183e_chart_builder_py.html
  htmlcov/z_30b8e6231acb183e_chart_saver_py.html
  htmlcov/z_30b8e6231acb183e_config_manager_py.html
  htmlcov/z_30b8e6231acb183e_data_transformers_py.html
  htmlcov/z_30b8e6231acb183e_date_parser_py.html
  htmlcov/z_30b8e6231acb183e_dependency_checker_py.html
  htmlcov/z_30b8e6231acb183e_document_builder_py.html
  htmlcov/z_30b8e6231acb183e_map_utils_py.html
  htmlcov/z_30b8e6231acb183e_pdf_generator_py.html
  htmlcov/z_30b8e6231acb183e_report_sections_py.html
  htmlcov/z_30b8e6231acb183e_stats_utils_py.html
  htmlcov/z_30b8e6231acb183e_table_builders_py.html
  htmlcov/z_30b8e6231acb183e_tex_environment_py.html
  htmlcov/z_30b8e6231acb183e_zip_utils_py.html
  htmlcov/z_6764f9fa4b783dff_create_config_py.html
  htmlcov/z_6764f9fa4b783dff_demo_py.html
  htmlcov/z_6764f9fa4b783dff_main_py.html
  htmlcov/z_f6bb6e2f0e933a02___init___py.html
Due: none

[docs] Refactor structural hygiene plan: update implementation status and fix JSON tag inconsistencies
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: none

[js] Refactor Event and RawRadarStats interfaces: update property names to camelCase for consistency
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: web

[go] Enhance error handling in radar and lidar processing: add error checks for setting ring elevations and background parameters
  internal/db/db_radar.go
  internal/lidar/l3grid/export_bg_snapshot.go
  internal/lidar/server/datasource_handlers.go
Due: go

[go] Fix metric key casing in cosine correction test: change "MaxSpeed" to "max_speed" for consistency
  internal/api/radar_stats_correction_test.go
Due: go

[go] Fix casing for radar event API keys: change "magnitude", "uptime", and "speed" to "Magnitude", "Uptime", and "Speed" for consistency
  internal/db/db_radar.go
Due: go

[docs][ai] backlog audit: PR refs, landed items, open PR links
  docs/BACKLOG.md
Due: none

Fix casing for EventAPI keys: change "Magnitude", "Uptime", and "Speed" to "magnitude", "uptime", and "speed" for consistency
  internal/db/db_radar.go
Due: go

[docs] Standardize JSON tags for EventAPI and RadarObjectsRollupRow to snake_case
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: none

[docs] sort backlog
  docs/BACKLOG.md
Due: none

[docs][ai] backlog 0.5.x merge update: move #420 to Complete and add #424 in Complete
  docs/BACKLOG.md
Due: none

[docs] backlog: reorder completed items for clarity and consistency
  docs/BACKLOG.md
Due: none

[docs] sort completed
  docs/BACKLOG.md
Due: none

[docs][ai] backlog PR ref audit: fix misattributed and dead PR tags
  docs/BACKLOG.md
Due: none

[ver] bump version to 0.5.0-pre25 across all relevant files
  Makefile
  public_html/package.json
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
Due: python, mac

[sh] add version-bump script and update Makefile for version management
  Makefile
  scripts/version-bump.sh
Due: none

[docs] add backlog item for displaying runtime version and git SHA in settings UI
  docs/BACKLOG.md
Due: none

[docs] update backlog item for v0.7.0 - unify frontend terminology
  docs/BACKLOG.md
Due: none

[docs] compelte backlog item
  docs/BACKLOG.md
Due: none

[docs] update implementation snapshot and findings in go codebase structural hygiene plan
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: none

[docs] update Go Codebase Structural Hygiene Plan to reflect current implementation status and outstanding tasks
  docs/plans/go-codebase-structural-hygiene-plan.md
Due: none

[docs] add template for project planning documentation
  docs/plans/TEMPLATE.md
Due: none

[docs] add binary size reduction plan to address excessive binary size
  docs/plans/binary-size-reduction-plan.md
Due: none

[js][make] enhance build environment setup to include versioning information
  Makefile
  web/scripts/set-build-env.js
  web/src/app.html
Due: web

[docs] add clean-web target to remove build artifacts
  Makefile
Due: none

[docs] update binary size reduction plan and add governance document
  docs/plans/binary-size-reduction-plan.md
  docs/platform/operations/binary-size-reduction.md
  scripts/check-plan-canonical-links.py
Due: none

[go] JSON tags, error drops, build meta (#421)
  Makefile
  docs/BACKLOG.md
  docs/plans/TEMPLATE.md
  docs/plans/binary-size-reduction-plan.md
  docs/plans/go-codebase-structural-hygiene-plan.md
  docs/platform/operations/binary-size-reduction.md
  internal/api/radar_stats_correction_test.go
  internal/db/db_radar.go
  internal/lidar/l3grid/export_bg_snapshot.go
  internal/lidar/server/datasource_handlers.go
  public_html/package.json
  scripts/check-plan-canonical-links.py
  scripts/version-bump.sh
  tools/pdf-generator/pyproject.toml
  tools/visualiser-macos/VelocityVisualiser.xcodeproj/project.pbxproj
  web/package.json
  web/scripts/set-build-env.js
  web/src/app.html
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: go, python, web, mac

[docs] update LiDAR immutable run config details and migration slots
  docs/BACKLOG.md
  docs/lidar/operations/immutable-run-config.md
  docs/plans/lidar-immutable-run-config-asset-plan.md
Due: none

[go] add initial implementation of LiDAR configuration asset management
  internal/lidar/configasset/configasset.go
  internal/lidar/storage/sqlite/analysis_run.go
  internal/lidar/storage/sqlite/analysis_run_schema.go
Due: go

[go] enhance analysis run management with immutable config support and improved database interactions
  internal/lidar/server/datasource.go
  internal/lidar/storage/sqlite/analysis_run_manager.go
  internal/lidar/storage/sqlite/analysis_run_mutations.go
  internal/lidar/storage/sqlite/analysis_run_queries.go
Due: go

[go] streamline PCAP replay configuration and enhance analysis run management
  internal/lidar/server/datasource_handlers.go
Due: go
